.left-part,
.right-part,
.form-container {
  background-color: #fff8ef !important;
}

.left-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-part {
  height: 873px !important;
}

.left-part,
.right-part,
.form-container {
  background-color: #fff8ef !important;
}
.form {
  /* margin-top: 3rem; */
}

.option-img-container {
  transform: translateY(100px) !important;
}

.logo-link img {
  transform: translateY(-45px) translateX(10px) !important;
}

.welcome-text {
  padding: 2rem !important;
}

.register-link-container {
  padding: 2rem 0 !important;
}

@media (max-width: 883px) {
}
