<div class="orange-line"></div>
<header>
  <div class="header">
    <div class="right-side flex-center">
      <div class="gray-btns-container">
        <button class="gray-btn flex-center">
          <i class="material-icons">close</i>יציאה
        </button>
        <button class="gray-btn">צור קשר</button>
      </div>
      <div class="user-area flex-center">
        @if (authSerrvice.user ) {
        <div
          *ngIf="authSerrvice.user | async as user"
          class=""
          (mouseover)="isUserAreaDropdownOpen(true)"
          (mouseleave)="isUserAreaDropdownOpen(false)"
        >
          <div routerLink="/profile" class="flex-center">
            <div class="user-name flex-center">
              {{ user.name }}
            </div>
            <div class="round flex-center">
              {{ user.email.slice(0, 1) | uppercase }}
            </div>
          </div>
          <div
            class="menu"
            *ngIf="this.isUserAreaDropdownVisible"
            (mouseover)="isUserAreaDropdownOpen(true)"
            (mouseleave)="isUserAreaDropdownOpen(false)"
          >
            <div routerLink="/profile">עריכת פרופיל</div>
            <div>המודעות שלי</div>
            <div>חפושים אחרונים</div>
            <div>חזרה לאתר הראשי</div>
            <div>התנתקות</div>
          </div>
        </div>
        }
      </div>
    </div>
    <div class="left-side flex-center">
      @if (this.authSerrvice.UserPageRender.value ==='create-new-advertisement')
      {

      <div>פרסום מודעה חדשה</div>
      } @if (this.authSerrvice.UserPageRender.value ==='user-area') {

      <div class="user-area-text flex-center">איזור אישי</div>
      }
      <div><img src="assets/images/logo-default.svg" alt="logo" /></div>
    </div>
  </div>
</header>
