.orange-line {
  background-color: rgb(255, 255, 255);
  border-top: 5px solid rgb(255, 113, 0);
  padding: 0px 20px;
  width: 1440px;
  height: 59px;

  display: flex;
  z-index: 110;
}

header {
  line-height: 16.1px;
  background-color: rgb(255, 255, 255);
  color: rgb(54, 54, 54);
  height: 54px;
  padding: 0px 20px;
  justify-content: space-between;
  z-index: 110;
  position: absolute;
  top: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 10px 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.round {
  line-height: 16.1px;
  background-color: rgb(171, 71, 188);
  height: 38px;
  width: 38px;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  margin-left: 6px;
  border: solid 1px #ff7100;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gray-btn {
  line-height: 16.1px;
  background-color: rgb(255, 255, 255);
  height: 36px;
  border: 1px solid rgb(153, 153, 153, 0.5);
  padding: 0px 18px;
  border-radius: 30px;
  cursor: pointer;
  gap: 5px;
}

.gray-btn:hover {
  border: 1px solid rgb(153, 153, 153);
}

.gray-btn i {
  font-size: 18px !important;
}

.gray-btns-container {
  line-height: 16.1px;
  height: 36px;
  display: flex;
  gap: 10px;
}

.user-area {
  height: 54px;
  width: 109.547px;
  padding: 0px 20px;
  cursor: pointer;
}

.left-side {
  font-size: 18px;
  gap: 1rem;
  margin-right: 2.5rem !important;
}

.user-area-text {
  font-family: Rubik, sans-serif;
  font-size: 24px;
  line-height: 27.6px;
  margin: 0px 5px 0px 0px;
  width: fit-content !important;
}

.menu {
  position: absolute;
  z-index: 200 !important;
  top: 54.44px;
  left: 150px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.menu-bar {
  background: rgb(255, 255, 255);
  text-align: right;
  height: 50px;
  width: 200.71px;
  font-weight: 300;
  padding: 20px 0 30px 0;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  padding: 0px 16px;
}

.menu-bar:hover {
  background: #f8f8f8;
}

.svg-icon {
  width: 20px;
  height: 45px;
}

.border-top {
  border-top: 1px solid rgb(180, 180, 180, 0.3);
}
