.image img {
  height: 140px;
  width: 200px;
  border-radius: 12px;
  overflow: hidden;
}

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: right;
  margin-left: auto;
  border-radius: 12px;
  width: 742px;
  height: 377;

  padding: 1rem;
  align-items: center;
  border: 1px solid rgb(238, 238, 238);
  justify-content: flex-end;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 5px 0px;
}

.like-button-selected {
  color: red !important;
}

.like-button {
  cursor: pointer;
  position: absolute;
  color: lightgray;
  top: 0;
  left: 0;
  padding: 0.5rem;
  background-color: white;
}

.list-group-item {
  direction: rtl;
  list-style: none;
  gap: 4px;
  text-align: right;
  display: flex;
  flex-direction: row;
  width: fit-content;
  justify-content: space-between;
}

.advertisement-details {
  padding-inline: 1rem;
  display: flex;
  align-items: flex-end;
  width: 100%;
  gap: 0.5rem;
  flex-direction: column;
}

.tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px !important;
}

.title {
  font-size: 16px;
  font-weight: bold;
  margin: 4px 0;
}

.result-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}

.like-button-red-color {
  color: red !important;
}

.list-tag {
  background-color: rgb(242, 242, 242) !important;
  padding: 0.2rem;
  list-style: none !important;
}

.list-tags {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-self: flex-end;
  align-items: center;
}

.last-row {
  display: grid;
  align-items: center;
  width: 100% !important;
}

.result {
  direction: rtl;
  margin: 1rem;
}

.sort-container {
  position: relative;
  display: flex;
  margin-left: auto;
  width: 742px;
  padding: 1rem;
  justify-content: space-between;
}
