.image img {
  height: 140px;
  width: 200px;
  border-radius: 12px;
  overflow: hidden;
}

.like-button-selected {
  color: red !important;
}

.like-button {
  position: absolute;
  color: lightgray;
  top: 0;
  left: 0;
  padding: 0.5rem;
  background-color: white;
}

.list-group-item {
  direction: rtl;
  list-style: none;
  gap: 4px;
  text-align: right;
  display: flex;
  flex-direction: row;
  width: fit-content;
  justify-content: space-between;
}

.advertisement-details {
  padding-inline: 1rem;
  display: flex;
  align-items: flex-end;
  width: 100%;
  gap: 0.5rem;
  flex-direction: column;
}

.tags,
.sort-dropdown div,
.price,
.container,
.list-tags,
.sort-container {
  display: flex;
  align-items: center;
}
.tags,
.sort-dropdown div,
.sort-container {
  justify-content: space-between;
}

.price,
.list-tag {
  justify-content: center;
}

.price {
  font-size: 20px;
  font-weight: bold;
  margin-right: 40px !important;
}

.title {
  font-weight: bold;
  margin: 4px 0;
}

.title,
.date,
.result,
.sort-dropdown div {
  font-size: 16px;
}

.result-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}

.list-tag {
  background-color: rgb(242, 242, 242) !important;
  padding: 0.2rem;
  list-style: none !important;
}

.list-tags {
  flex-direction: row;

  gap: 1rem;
  align-self: flex-end;
}

.last-row {
  display: grid;
  align-items: center;
  width: 100% !important;
}

.result {
  direction: rtl;
  margin-right: 1rem;

  font-weight: 400;
  line-height: 18.4px;
  text-decoration: none solid rgb(153, 153, 153);
  color: rgb(153, 153, 153) !important;
  height: 30px;
  width: 101.625px;
  padding-left: 0.25rem;
}

.sort-container {
  margin-right: 1rem;
}

.result {
  margin: 0 !important;
}

.sort-container,
.container {
  position: relative;
  width: 742px;
  /* padding: 1rem; */
  margin-left: auto;
}

.container {
  flex-direction: row;
  text-align: right;
  border-radius: 12px;
  height: 377;

  border: 1px solid rgb(238, 238, 238);
  justify-content: flex-end;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 5px 0px;
}

i {
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  text-decoration: none solid rgb(54, 54, 54);
  text-align: center;
  vertical-align: middle;
}

.date {
  font-weight: 400;
  line-height: 18.4px;
  text-decoration: none solid rgb(54, 54, 54);
}

.sort-btn,
i,
.like-button,
.container,
.sort-dropdown div {
  cursor: pointer;
}

.sort-btn {
  position: relative;
}

.sort-dropdown {
  position: absolute;
  transform: translateY(16px);
  z-index: 100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.svg-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.sort-option {
  height: 42.3906px;
  width: 192.094px;
  background-color: rgb(255, 255, 255);
}

.sort-option:hover {
  background-color: #f8f8f8 !important;
}

.sort-option span {
  padding: 0.5rem;
}

#date {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#location {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.material-icons {
  font-size: 20px;
  line-height: 23px;
  transform: scaleX(1.2) scaleY(1.2) translateY(-1px);
  opacity: 0.75;
}

.date {
  padding-left: 5px;
}

.rotate {
  transform: scaleX(1.2) scaleY(1.2) translateY(-1px) rotate(180deg);
}
