.image img {
  height: 102px;
  width: 180px;
  border-radius: 2px;
  transform: translateX(-6px) translateY(3px);
}

.like-button-selected {
  color: red !important;
}

.like-button {
  position: absolute;
  color: lightgray;
  top: 0;
  left: 0;
  padding: 0.5rem;
  transform: scale(0.9) translateY(5px) translateX(2px) !important;
}

.like-button:hover {
  color: red;
}

.list-group-item {
  list-style: none;
  gap: 4px;
  display: flex;
  justify-content: space-between;
}

.margin-left {
  margin-left: auto !important;
}

.advertisement-details {
  padding-inline: 18px;
  padding-top: 12px;
  align-items: flex-end;
  width: 100%;
}

.font18 {
  font-size: 18px;
}

.advise-text {
  padding-top: 1rem;
  gap: 2px;
}

.advertisement-details,
.ad-content-text,
.flex,
.flex-center {
  display: flex;
}
.advertisement-details,
.ad-content-text,
.column {
  flex-direction: column;
}

.ad-content-text {
  gap: 6px;
  word-spacing: 0;
}

.tags,
.sort-dropdown div,
.price,
.container,
.list-tags,
.sort-container {
  display: flex;
  align-items: center;
}
.tags,
.sort-dropdown div,
.sort-container {
  justify-content: space-between;
}

.price,
.list-tag,
.flex-center {
  justify-content: center;
}

.price {
  font-size: 20px;

  transform: translateY(-11px);
}
.price,
.font500 {
  font-weight: 500;
}

.price span {
  transform: translateX(-4px);
}

.title {
  font-weight: bold;
  margin: 4px 0;
}

.title,
.date,
.result,
.sort-dropdown div {
  font-size: 16px;
}

.result-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 30px 1rem 1rem 1rem;
}

.list-tag {
  background-color: rgb(242, 242, 242) !important;
  padding: 0.2rem;
  list-style: none !important;
}

.list-tags {
  flex-direction: row;

  gap: 1rem;
  align-self: flex-end;
}

.last-row {
  display: grid;
  width: 100% !important;
}

.flex-center,
.last-row {
  align-items: center;
}

.result {
  direction: rtl;
  margin-right: 1rem;

  line-height: 18.4px;
  color: rgb(153, 153, 153) !important;
  padding-left: 0.25rem;
}

.result {
  margin: 0 !important;
}

.sort-container,
.container,
.sort-btn,
.sort-container {
  position: relative;
}
.sort-container,
.container {
  width: min(663px, 100%);
}
.sort-container,
.container,
.not-found {
  margin-left: auto;
}
.not-found {
  padding-top: 44px;
  width: min(693px, 100%);
}

.page {
  min-height: 550px;
}

#no-results-img {
  height: 220px;
  width: 220px;
  padding-bottom: 35px;
}

.gap3 {
  gap: 0.75rem;
}

.container {
  text-align: right;
  border-radius: 12px;

  border: 1px solid rgb(238, 238, 238);
  justify-content: flex-end;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 5px 0px;
}

.font28 {
  font-size: 28px;
}

.advertisement-details,
.container {
  height: 116px;
}

i {
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  text-decoration: none solid rgb(54, 54, 54);
  text-align: center;
  vertical-align: middle;
}

.date {
  line-height: 18.4px;
}

.sort-btn,
i,
.like-button,
.container,
.sort-dropdown div {
  cursor: pointer;
}

.sort-dropdown {
  position: absolute;
  transform: translateY(16px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.svg-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.sort-option {
  height: 42.3906px;
  width: 192.094px;
}

.sort-option,
.sort-dropdown,
.sort-option span,
#location,
.sort-option,
.sort-option span {
  background-color: rgb(255, 255, 255) !important;
}

.sort-option span {
  padding: 0.5rem;
}

#date,
#location {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.material-icons {
  font-size: 20px;
  line-height: 23px;
  transform: scaleX(1.2) scaleY(1.2) translateY(-1px);
  opacity: 0.75;
}

.date {
  padding-left: 5px;
}

.rotate {
  transform: scaleX(1.2) scaleY(1.2) translateY(-1px) rotate(180deg);
}

.z100 {
  z-index: 100 !important;
}

.alert-btn {
  color: rgb(255, 255, 255);
  background-color: #ff7100;

  height: 48px;
  width: 173.344px;
  border-radius: 30px;
  gap: 2px;
  margin-top: 1.5rem;
}

#bell-img {
  height: 18px;
  width: 18px;
}
.alert-btn:hover {
  background-color: rgb(216, 96, 0);
}

.letter-spacing {
  letter-spacing: 0 !important;
  word-spacing: 0 !important;
}

.sort-option:hover,
.sort-option:hover,
.sort-option:hover,
.sort-option:hover,
#location:hover,
#price-asc:hover,
#price-desc:hover {
  background-color: #f8f8f8 !important;
}

.transparent-background {
  height: 42px !important;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

@media (width < 883px) {
  .price-mobile {
    font-size: 18px;
  }
  .title {
    font-weight: 400;
    margin: 0 0;
    font-size: 14px;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none !important;
  }

  .image img {
    width: 136px;
  }

  .sort-container {
    padding: 0 1rem;
  }

  .sort-container,
  .container {
    width: 100%;
  }

  .ad-content-text {
    gap: 2px;
  }
  .ad-content-text > :nth-child(3) {
    padding-bottom: 0.5rem;
  }
}
