.image img {
  height: 102px;
  width: 180px;
  border-radius: 2px;
  transform: translateX(-6px) translateY(3px);
}

.like-button-selected {
  color: red !important;
}

.like-button {
  position: absolute;
  color: lightgray;
  top: 0;
  left: 0;
  padding: 0.5rem;
  transform: scale(0.9) translateY(5px) translateX(2px) !important;
}

.like-button:hover {
  color: red;
}

.list-group-item {
  direction: rtl;
  list-style: none;
  gap: 4px;
  text-align: right;
  display: flex;
  flex-direction: row;
  width: fit-content;
  justify-content: space-between;
}

.margin-left {
  margin-left: auto !important;
}

.advertisement-details {
  padding-inline: 18px;
  padding-top: 12px;
  align-items: flex-end;
  width: 100%;
}

.advertisement-details,
.ad-content-text {
  display: flex;
}
.advertisement-details,
.ad-content-text {
  flex-direction: column;
}

.ad-content-text {
  gap: 6px;
  word-spacing: 0;
}

.tags,
.sort-dropdown div,
.price,
.container,
.list-tags,
.sort-container {
  display: flex;
  align-items: center;
}
.tags,
.sort-dropdown div,
.sort-container {
  justify-content: space-between;
}

.price,
.list-tag {
  justify-content: center;
}

.price {
  font-size: 20px;
  font-weight: 500;
  margin-right: 40px !important;
  transform: translateY(-11px);
}

.price span {
  transform: translateX(-4px);
}

.title {
  font-weight: bold;
  margin: 4px 0;
}

.title,
.date,
.result,
.sort-dropdown div {
  font-size: 16px;
}

.result-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 30px 1rem 1rem 1rem;
}

.list-tag {
  background-color: rgb(242, 242, 242) !important;
  padding: 0.2rem;
  list-style: none !important;
}

.list-tags {
  flex-direction: row;

  gap: 1rem;
  align-self: flex-end;
}

.last-row {
  display: grid;
  align-items: center;
  width: 100% !important;
}

.result {
  direction: rtl;
  margin-right: 1rem;

  line-height: 18.4px;
  color: rgb(153, 153, 153) !important;
  padding-left: 0.25rem;
}

.sort-container {
  margin-right: 1rem;
}
.sort-container {
  transform: translateY(3px);
}

.result {
  margin: 0 !important;
}

.sort-container,
.container,
.sort-btn,
.sort-container {
  position: relative;
}
.sort-container,
.container {
  width: 663px;
  margin-left: auto;
}

.container {
  flex-direction: row;
  text-align: right;
  border-radius: 12px;

  border: 1px solid rgb(238, 238, 238);
  justify-content: flex-end;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 5px 0px;
}

.advertisement-details,
.container {
  height: 116px;
}

i {
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  text-decoration: none solid rgb(54, 54, 54);
  text-align: center;
  vertical-align: middle;
}

.date {
  line-height: 18.4px;
}

.sort-btn,
i,
.like-button,
.container,
.sort-dropdown div {
  cursor: pointer;
  /* background-color: red !important; */
}

.sort-dropdown {
  position: absolute;
  transform: translateY(16px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.svg-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.sort-option {
  height: 42.3906px;
  width: 192.094px;
}

.sort-option,
.sort-dropdown,
.sort-option span,
#location,
.sort-option,
.sort-option span {
  background-color: rgb(255, 255, 255) !important;
}

.sort-option:hover {
  background-color: #f8f8f8 !important;
}

.sort-option span {
  padding: 0.5rem;
}

#date,
#location {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.material-icons {
  font-size: 20px;
  line-height: 23px;
  transform: scaleX(1.2) scaleY(1.2) translateY(-1px);
  opacity: 0.75;
}

.date {
  padding-left: 5px;
}

.rotate {
  transform: scaleX(1.2) scaleY(1.2) translateY(-1px) rotate(180deg);
}

.z100 {
  z-index: 100 !important;
}
