.image img {
  height: 140px;
  width: 200px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
  text-align: right;
}

.list-group-item {
  direction: rtl;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
