.header,
.left-side,
.right-side {
  display: flex;
  border-bottom: 1px solid lightgray;
  align-items: center;
  background-color: #ffffff;
  height: 64px !important;
}

.header {
  justify-content: space-between;
}

.right-side {
  margin-right: 0 !important;
}

.right-side .light {
  padding: 4.75px !important;
}

.left-side {
  width: 30vw !important;
  margin-left: 20px !important;
}

.logo-btn {
  width: 73;
  height: 37;
  transform: translateX(-16px);
  margin-left: 5px;
}

button {
  background-color: transparent;
  border: none;

  font-size: 16px !important;
  display: flex;
  align-items: center;
}

.round,
.round-gray {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  line-height: 16.1px;
  text-align: center;
  background-color: #fff1e6;
  height: 40px;
  width: 40px;
  margin: 12px 0 12px 0px;
}

.round {
  color: #fc8c31;
  border: 1px solid #fc8c31;
  text-decoration: none solid rgb(54, 54, 54);
}

.round-gray {
  background-color: rgb(239, 239, 239);
  border: 1px solid #cccccc;
}
.heart-button {
  color: transparent;
  -webkit-text-stroke: 1px black;
}
.menu-container {
  position: relative;
}
.menu {
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  right: -1rem;
  top: 100%;
  transform: translateY(10px);
  border-radius: 6px;
  min-width: max-content;
  overflow: auto;
  z-index: 40 !important;
  background-color: rgb(255, 255, 255);
}

.menu :hover {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 113, 0);
}
.menu button[mat-menu-item] {
  text-align: right;
  direction: rtl;
}

.menu button {
  padding-block: 16px;
  padding-inline: 20px;
}

.Post-Btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fc8c31;
  border-radius: 30px;
  line-height: 16.1px;
  height: 36px;
  width: 134.359px;
  padding: 0px 12px 0px 18px;
  white-space: nowrap;
  color: #fc8c31;
  font-size: 55px !important;
}

.Post-Btn button:hover {
  background-color: #fffaf5;
}

.Post-Btn button i {
  font-size: 20px !important;
  opacity: 0.8 !important;
  transform: translateY(1px) translateX(3px);
}

.user-name {
  padding-left: 1rem;
}

.light div,
.favorite-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.light div i {
  color: #363636;
  transform: translateY(2px);
}

.light {
  color: #363636;
  font-weight: 450 !important;
}

.favorite-btn {
  text-wrap: nowrap;
  font-weight: 400 !important;
}
.user-area-btn:hover,
.right-side div:hover,
.btn:hover,
.menu-bar2:hover {
  background-color: #f8f8f8 !important;
}

.btn {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 16px;
}

.menu-user-area-btn {
  position: absolute;
  z-index: 200;
  width: 202.719px;
  top: 64.3px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateX(-5rem);
}

button,
.user-name,
.btn,
.user-name-btn,
.svg-icon,
.user-area2,
.gray-btn2,
img,
.menu2 {
  cursor: pointer;
}

.user-name-btn {
  padding-right: 6px;
  padding-left: 6px;
}

.svg-icon {
  width: 24px;
  height: 24px;
}

.border-top,
.border-top2 {
  border-top: 1px solid rgb(180, 180, 180, 0.3);
}

.menu-user-area-btn button,
.user-name,
.Post-Btn button,
.round {
  font-size: 14px !important;
}

.menu-user-area-btn img,
.menu-user-area-btn mat-icon {
  width: 24px;
  height: 24px;
  margin-left: 0.5rem;
  font-size: 24px;
}

.menu-user-area-btn button div {
  opacity: 0.7;
}

.user-img {
  transform: scaleX(1.4) scaleY(1.2);
}

.bell-img {
  transform: scaleX(1) scaleY(0.8);
}

.user-area-btn {
  line-height: 50px;
  background-color: #fbfdfe;
  height: 50px;
  padding: 0px 20px 0px 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap !important;
}

.favorite-text-btn {
  width: 103px !important;
}

.orange-line {
  border-top: 5px solid rgb(255, 113, 0);
  height: 59px;
  width: 100vw;
  display: flex;
  z-index: 110;
}

.header2 {
  line-height: 16.1px;
  background-color: rgb(255, 255, 255);
  color: rgb(54, 54, 54);
  height: 54px;
  justify-content: space-between;
  z-index: 110;
  position: absolute;
  top: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 10px 0px;
}

.header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.round2 {
  line-height: 16.1px;
  background-color: rgb(171, 71, 188);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  margin-left: 6px;
  border: solid 1px #ff7100;
}

.flex-center2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gray-btn2 {
  line-height: 16.1px;
  background-color: rgb(255, 255, 255);
  height: 36px;
  border: 1px solid rgb(153, 153, 153, 0.5);
  padding: 0px 18px;
  border-radius: 30px;
  gap: 5px;
}

.gray-btn2:hover {
  border: 1px solid rgb(153, 153, 153);
}

.gray-btn2 i {
  font-size: 18px !important;
}

.gray-btns-container2 {
  line-height: 16.1px;
  height: 36px;
  display: flex;
  gap: 10px;
}

.gray-btns-container2 button {
  font-size: 14px !important;
  font-weight: 300 !important;
}

.user-area2 {
  height: 54px;
  width: 109.547px;
  padding: 0px 20px;
}

.right-side2 {
  font-size: 18px;
  gap: 1rem;
  margin-right: 2.5rem !important;
}

.left-side2 {
  margin-left: 20px !important;
}

.user-area-text2 {
  font-family: Rubik, sans-serif;
  font-size: 24px;
  line-height: 27.6px;
  margin: 0px 5px 0px 0px;
  width: fit-content !important;
}

.menu2 {
  position: absolute;
  z-index: 200 !important;
  top: 54.44px;
  left: 150px;
  background: rgb(255, 255, 255);

  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.menu-bar2 {
  background: rgb(255, 255, 255);
  text-align: right;
  height: 50px;
  width: 200.71px;
  font-weight: 300;
  padding: 20px 0 30px 0;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  padding: 0px 16px;
}

.svg-icon2 {
  width: 20px;
  height: 45px;
}
.move-left {
  transform: translateX(-25px);
}

.close-btn {
  gap: 5px;
  transform: translateX(-2px);
}

.close-btn-container {
  max-width: 86px;
}

.Post-Btn button {
  font-weight: 700 !important;
}

.increase-height {
  height: 60px !important;
}
