.mat-toolbar-row {
  justify-content: space-between;
  padding: 0 20px;
  background-color: rgb(255, 255, 255);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px !important;
  display: flex;
  align-items: center;
}

.heart-button {
  color: transparent;
  -webkit-text-stroke: 1px black;
}
.menu-container {
  position: relative;
}
.menu {
  position: absolute;
  z-index: 100 !important;
  background-color: rgb(255, 255, 255);
  width: 225px !important;
}

.menu :hover {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 113, 0);
}
.menu button[mat-menu-item] {
  text-align: right;
  direction: rtl;
}
