.header,
.left-side,
.right-side {
  display: flex;
  border-bottom: 1px solid lightgray;
  align-items: center;
  background-color: #ffffff;
  height: 64px !important;
}

.header {
  justify-content: space-between;
}

.right-side {
  margin-right: 0 !important;
}

.left-side {
  width: 30vw !important;
  margin-left: 1rem !important;
  /* gap: 1rem; */
}

.logo-btn {
  width: 73;
  height: 37;
  transform: translateX(-16px);
  margin-left: 5px;
}

button {
  background-color: transparent;
  border: none;

  font-size: 16px !important;
  display: flex;
  align-items: center;
}

.round {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fc8c31;
  border-radius: 50%;
  text-align: center;
  border: 1px solid #fc8c31;
  font-size: 14px;
  line-height: 16.1px;
  text-decoration: none solid rgb(54, 54, 54);
  text-align: center;
  background-color: #fff1e6;
  height: 40px;
  width: 40px;
  margin: 12px 0 12px 0px;
}
.heart-button {
  color: transparent;
  -webkit-text-stroke: 1px black;
}
.menu-container {
  position: relative;
}
.menu {
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  right: -1rem;
  top: 100%;
  transform: translateY(10px);
  border-radius: 6px;
  min-width: max-content;
  overflow: auto;
  z-index: 40 !important;
  background-color: rgb(255, 255, 255);
}

.menu :hover {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 113, 0);
}
.menu button[mat-menu-item] {
  text-align: right;
  direction: rtl;
}

.menu button {
  padding-block: 16px;
  padding-inline: 20px;
}

.Post-Btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px !important;
  border: 1px solid #fc8c31;
  border-radius: 30px;
  line-height: 16.1px;
  height: 36px;
  width: 134.359px;
  padding: 0px 12px 0px 18px;
  white-space: nowrap;
  color: #fc8c31;
  font-weight: bold !important;
}

.Post-Btn button i {
  font-size: 20px !important;
  opacity: 0.8 !important;
  transform: translateY(1px) translateX(3px);
}

.user-name {
  font-size: 14px !important;
  padding-left: 1rem;
}

.light div,
.favorite-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.light div i {
  color: #363636;
  transform: translateY(2px);
}

div {
  /* border: 1px solid red !important; */
}

.user-area-btn {
  line-height: 50px;
  background-color: #fbfdfe;
  height: 50px;
  padding: 0px 20px 0px 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-area-btn:hover,
.left-side div:hover,
.right-side div:hover,
.btn:hover {
  background-color: #f8f8f8 !important;
}

.btn {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 16px;
}

.menu-user-area-btn {
  position: absolute;
  z-index: 200;
  width: 202.719px;
  top: 64.3px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

button,
.user-name,
.btn,
.user-name-btn {
  cursor: pointer;
}

.user-name-btn {
  padding-right: 1rem;
}

.svg-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.border-top {
  border-top: 1px solid rgb(180, 180, 180, 0.3);
}
