.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: row-reverse; /* Reverse the order */
}

.navbar span {
  margin: 5px 10px;
  padding: 10px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar span:hover {
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
}

.navbar button {
  margin: 5px 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar button:hover {
  background-color: #0056b3;
}
