<mat-toolbar class="header" color="rgb(255,255,255)">
  <mat-toolbar-row>
    <div class="Post-Btn">
      <button class="light" mat-button>
        פרסום הודעה
        <i class="material-icons">add</i>
      </button>
    </div>
    <div
      *ngIf="authSerrvice.user | async as user"
      class="menu-container menu-button-trigger-area"
      (mouseover)="openMenu('menu_User')"
      (mouseleave)="closeMenu('menu_User')"
    >
      <div style="display: flex; gap: 2px">
        <button class="user-name">{{ user.name }}</button>
        <div class="round">{{ user.name.slice(0, 2) }}</div>
      </div>
      <div class="menu" *ngIf="menus['menu_User']">
        <button routerLink="/profile" mat-menu-item>אזור אישי</button>
        <button mat-menu-item>חיפושים אחרונים</button>
        <button mat-menu-item>התראות</button>
        <button mat-menu-item>התנתקות</button>
      </div>
    </div>

    <div
      class="menu-container menu-button-trigger-area"
      (mouseover)="openMenu('menu_FavoriteAds')"
      (mouseleave)="closeMenu('menu_FavoriteAds')"
    >
      <button class="light">מודעות שאהבתי</button>
      <div class="menu" *ngIf="menus['menu_FavoriteAds']"></div>
    </div>

    <div
      class="menu-container menu-button-trigger-area"
      (mouseover)="openMenu('menu_Yad2Magazine')"
      (mouseleave)="closeMenu('menu_Yad2Magazine')"
    >
      <button class="light">מגזין יד 2</button>
      <div class="menu" *ngIf="menus['menu_Yad2Magazine']"></div>
    </div>

    <div
      class="menu-container menu-button-trigger-area"
      (mouseover)="openMenu('menu_proffesionals')"
      (mouseleave)="closeMenu('menu_proffesionals')"
    >
      <button class="light">בעלי מקצוע</button>
      <div class="menu" *ngIf="menus['menu_proffesionals']">
        <button mat-menu-item>מכוני בדיקה ורישוי לרכב</button>
        <button mat-menu-item>רחיצת רכב</button>
        <button mat-menu-item>חומרי בניין</button>
        <button mat-menu-item>אינסטלטורים</button>
        <button mat-menu-item>חשמלאים</button>
        <button mat-menu-item>שמאי מקרקעין</button>
        <button mat-menu-item>שיפוצים</button>
        <button mat-menu-item>הובלות</button>
        <button mat-menu-item>רהיטים</button>
        <button mat-menu-item>חברות ניקיון ואחזקה</button>
        <button mat-menu-item>לכל בעלי המקצוע</button>
      </div>
    </div>

    <div
      class="menu-container menu-button-trigger-area"
      (mouseover)="openMenu('menu_Pets')"
      (mouseleave)="closeMenu('menu_Pets')"
    >
      <button class="light">חיות מחמד</button>
      <div class="menu" *ngIf="menus['menu_Pets']">
        <button mat-menu-item>כלבים</button>
        <button mat-menu-item>חתולים</button>
        <button mat-menu-item>תוכים ובעלי כנף</button>
        <button mat-menu-item>דגים</button>
        <button mat-menu-item>זוחלים</button>
        <button mat-menu-item>מכרסמים</button>
        <button mat-menu-item>סוסים</button>
        <button mat-menu-item>תרנגולים</button>
        <button mat-menu-item>חיות משק</button>
        <button mat-menu-item>חמוסים</button>
      </div>
    </div>

    <div
      class="menu-container menu-button-trigger-area"
      (mouseover)="openMenu('menu_BusinessesforSale')"
      (mouseleave)="closeMenu('menu_BusinessesforSale')"
    >
      <button class="light">עסקים למכירה</button>
      <div class="menu" *ngIf="menus['menu_BusinessesforSale']">
        <button mat-menu-item>בתי קפה ומסעדות</button>
        <button mat-menu-item>זכיינות</button>
        <button mat-menu-item>קווי חלוקה</button>
        <button mat-menu-item>הזדמנויות עסקיות</button>
        <button mat-menu-item>מינימרקטים וסופרמרקטים</button>
        <button mat-menu-item>קיוסקים ובפיצוציות</button>
        <button mat-menu-item>לכל העסקים</button>
      </div>
    </div>

    <div
      class="menu-container menu-button-trigger-area"
      (mouseover)="openMenu('menu_JobsIL')"
      (mouseleave)="closeMenu('menu_JobsIL')"
    >
      <button class="light">IL דרושים</button>
      <div class="menu" *ngIf="menus['menu_JobsIL']">
        <div>
          <button mat-menu-item>חיפוש עבודה</button>
          <button mat-menu-item>פרסום משרות</button>
          <button mat-menu-item>כתיבת קורות חיים</button>
          <button mat-menu-item>אודות החברות</button>
          <button mat-menu-item>דרושים הייטק</button>
          <button mat-menu-item>דרושים סטודנטים</button>
          <button mat-menu-item>מגזין הקריירה</button>
          <button mat-menu-item>כספים</button>
          <button mat-menu-item>מכירות</button>
          <button mat-menu-item>שירות לקוחות</button>
        </div>
        <div>
          <button mat-menu-item>מהנדסים</button>
          <button mat-menu-item>תחבורה</button>
          <button mat-menu-item>מסעדנות/תיירות</button>
          <button mat-menu-item>אבטחה</button>
          <button mat-menu-item>בריאות</button>
          <button mat-menu-item>בעלי מקצוע</button>
          <button mat-menu-item>הדרכה/הוראה</button>
          <button mat-menu-item>שיווק</button>
          <button mat-menu-item>לתחומים נוספים</button>
        </div>
      </div>
    </div>

    <div
      class="menu-container menu-button-trigger-area"
      (mouseover)="openMenu('menu_Yad2')"
      (mouseleave)="closeMenu('menu_Yad2')"
    >
      <button class="light">יד שניה</button>
      <div class="menu" *ngIf="menus['menu_Yad2']">
        <button mat-menu-item>כל המוצרים</button>
        <button mat-menu-item>מוצרי חשמל</button>
        <button mat-menu-item>ריהוט</button>
        <button mat-menu-item>ספורט</button>
        <button mat-menu-item>סלולרי</button>
        <button mat-menu-item>לתינוק ולילד</button>
        <button mat-menu-item>הכל בחינם!</button>
        <button mat-menu-item>קונסולות משחק</button>
        <button mat-menu-item>מחשבים וציוד נלווה</button>
        <button mat-menu-item>לגינה</button>
        <button mat-menu-item>אופנה וטיפוח</button>
      </div>
    </div>

    <div
      class="menu-container menu-button-trigger-area"
      (mouseover)="openMenu('menu_Cars')"
      (mouseleave)="closeMenu('menu_Cars')"
    >
      <button class="light">רכב</button>
      <div class="menu" *ngIf="menus['menu_Cars']">
        <button mat-menu-item>פרטיים ומסחריים</button>
        <button mat-menu-item>אופנועים</button>
        <button mat-menu-item>קטנועים</button>
        <button mat-menu-item>מיוחדים</button>
        <button mat-menu-item>אביזרים</button>
        <button mat-menu-item>משאיות</button>
        <button mat-menu-item>כלי שייט</button>
        <button mat-menu-item>מחירון רכב</button>
        <button mat-menu-item>מימון רכב</button>
      </div>
    </div>

    <div
      class="menu-container menu-button-trigger-area"
      (mouseover)="openMenu('menu_RealEstate')"
      (mouseleave)="closeMenu('menu_RealEstate')"
    >
      <button class="light">נדל"ן</button>
      <div class="menu" *ngIf="menus['menu_RealEstate']">
        <div>
          <button mat-menu-item>דירות למכירה</button>
          <button mat-menu-item>דירות להשכרה</button>
          <button mat-menu-item>נדלן מסחרי</button>
          <button mat-menu-item>עסקים למכירה</button>
        </div>
        <div>
          <button mat-menu-item>יד1 דירות חדשות</button>
          <button mat-menu-item>כונס נכסים</button>
          <button mat-menu-item>הערכת שווי נכס</button>
          <button mat-menu-item>משרדי תיווך בישראל</button>
        </div>
      </div>
    </div>

    <button routerLink="/" mat-button [matMenuTriggerFor]="menu12">
      <!-- <img src="assets\images\logo" alt="logo" /> -->
      <img src="{{ _LogoPic }}" alt="logo" />
    </button>
    <mat-menu #menu12="matMenu"> </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
