.mat-toolbar-row {
  justify-content: space-between;
  padding: 0 20px;
  background-color: rgb(255, 255, 255);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px !important;
  display: flex;
  align-items: center;
}

.heart-button {
  color: transparent;
  -webkit-text-stroke: 1px black;
}
