@if ((this.authService.IsMainHeaderISOpen | async)) {
@if(!(this.navigationService.IsalternativeHeaderISOpen())) {

<header
  [ngClass]="
    this.navigationService.IsFavoritesAdvertisementIsOpen()
      ? 'header shadow none-border'
      : 'header'
  "
>
  <div
    [ngClass]="
      this.navigationService.IsFavoritesAdvertisementIsOpen()
        ? 'header none-border'
        : 'header'
    "
  >
    <div class="left-side">
      @if(!(this.navigationService.IsFavoritesAdvertisementIsOpen())) {
      <div class="Post-Btn">
        <button class="light" routerLink="create-advertisement">
          פרסום הודעה
          <i class="material-icons">add</i>
        </button>
      </div>

      <div
        class="menu-container menu-button-trigger-area"
        (mouseover)="openMenu('menu_User')"
        (mouseleave)="closeMenu('menu_User')"
      >
        <div class="user-name-btn" style="display: flex">
          <button class="user-name">
            @if (this.isUserConnected) {

            <span style="color: #363636"> {{ this.userName }}</span>
            }@else { <span routerLink="login">התחברות</span> }
          </button>
          <div [ngClass]="getCircleClass()">
            @if (this.isUserConnected) {
            {{ this.userName.slice(0, 2) }}
            }@else {
            <img
              class="svg-icon user-img"
              src="assets/images/user.svg"
              alt="logo"
            />
            }
          </div>
        </div>
        <div class="menu-user-area-btn" *ngIf="menus['menu_User']">
          @if (this.isUserConnected) {
          <button class="user-area-btn" routerLink="/profile">
            <div>אזור אישי</div>

            <img
              class="svg-icon user-img"
              src="assets/images/user.svg"
              alt="logo"
            />
          </button>
          }

          <button class="user-area-btn">
            <div>חיפושים אחרונים</div>
            <mat-icon>history</mat-icon>
          </button>
          <button class="user-area-btn">
            <div>התראות</div>

            <img
              class="svg-icon bell-img"
              src="assets/images/bell1.svg"
              alt="logo"
            />
          </button>
          @if (this.isUserConnected) {
          <button
            (click)="this.authService.logout()"
            class="user-area-btn border-top"
          >
            <div>התנתקות</div>

            <img
              class="svg-icon"
              src="assets/images/door-svgrepo-com.svg"
              alt="logo"
            />
          </button>
          }
        </div>
      </div>

      <div
        class="menu-container menu-button-trigger-area btn"
        (mouseover)="
          openMenu('menu_FavoriteAds');
          this.HasFavoriteAdsDropdownVisible = true
        "
        (mouseleave)="
          closeMenu('menu_FavoriteAds');
          this.HasFavoriteAdsDropdownVisible = false
        "
      >
        <button
          class="light favorite-btn"
          [ngStyle]="{ gap: this.countFavoriteAds > 0 ? '0px' : '0.25rem' }"
        >
          <div
            (click)="this.HasFavoriteAdsDropdownVisible = false"
            routerLink="/favorites"
            class="favorite-text-btn"
          >
            מודעות שאהבתי
          </div>

          <div class="favorites-counter">
            @if(this.countFavoriteAds > 0) {
            <div class="favorite-counter">
              {{ this.countFavoriteAds }}
            </div>
            @if(HasFavoriteAdsDropdownVisible){
            <div class="favorite-ads-dropdown">
              <div
                class="favorite-ad"
                *ngFor="let favorite of this.favoriteAds.slice(0, 3)"
                (click)="this.HasFavoriteAdsDropdownVisible = false"
                routerLink="/advertisement/{{ favorite.id }}"
              >
                <div class="favorite-ad-text">
                  <div class="favorite-ad-price">
                    <span class="currency">₪</span
                    ><span>{{ favorite.price | number }}</span>
                  </div>
                </div>
                <div>
                  <div class="favorite-ad-text">
                    <div class="favorite-address">
                      <div>
                        <span>{{
                          favorite.number + " " + favorite.street
                        }}</span>
                      </div>
                      <div>
                        <span style="font-size: 14px">{{
                          favorite.assetType + ", " + favorite.city
                        }}</span>
                      </div>
                    </div>
                  </div>

                  <div class="favorite-ad-img">
                    <img
                      class="house-pic"
                      src="assets/images/feed_re_placeholder_small.png"
                      alt=""
                    />
                    <div class="favorite-symbol">
                      <img
                        class="house-pic"
                        src="assets/images/heart-svgrepo-com-orange.svg"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="favorite-link-btn">
                <button
                  (click)="this.HasFavoriteAdsDropdownVisible = false"
                  routerLink="/favorites"
                  class="favorite-link"
                >
                  לכל המודעות שסימנתי
                </button>
              </div>
            </div>
            } }
            <i class="material-icons">favorite_border</i>
          </div>
        </button>
      </div>

      } @else {
      <div class="Post-Btn-Favorite">
        <button class="green flex-center" routerLink="create-advertisement">
          <span> פרסום מודעה חדשה </span>
          <img
            id="plus-icon"
            src="assets/images/plus-svgrepo-com.svg"
            alt="Post-Btn"
          />
        </button>
        <div
          class="user-favorite-btn"
          style="height: 64px; width: 71px"
          (mouseover)="openMenu('menu_User')"
          (mouseleave)="closeMenu('menu_User')"
        >
          <div class="round none-border font16">
            {{ this.userName.slice(0, 2) }}
          </div>
          <div
            id="user-area-btn-dropdown"
            class="menu-user-area-btn"
            *ngIf="menus['menu_User']"
          >
            <button class="user-area-btn" routerLink="/profile">
              <div>אזור אישי</div>

              <img
                class="svg-icon user-img"
                src="assets/images/user-svgrepo-com (2).svg"
                alt="logo"
              />
            </button>

            <button id="last-searched-btn" class="user-area-btn">
              <div>חיפושים אחרונים</div>
              <img
                id="last-searched-icon"
                class="svg-icon"
                src="assets/images/history-svgrepo-com (1).svg"
                alt="history"
              />
            </button>

            <button
              (click)="this.authService.logout()"
              class="user-area-btn border-top"
            >
              <div>התנתקות</div>

              <img
                class="svg-icon"
                src="assets/images/door-svgrepo-com.svg"
                alt="logo"
              />
            </button>
          </div>
        </div>
        <div
          id="heart-btn"
          style="width: 51px; height: 64px"
          class="user-favorite-btn"
          (mouseenter)="this.HasFavoriteAdsDropdownVisible = true"
          (mouseleave)="this.HasFavoriteAdsDropdownVisible = false"
        >
          <div class="favorites-counter">
            @if(this.countFavoriteAds > 0) {
            <div id="counter" class="favorite-counter flex-center">
              {{ this.countFavoriteAds }}
            </div>
            @if(HasFavoriteAdsDropdownVisible){
            <div id="dropdown-favorite-ads" class="favorite-ads-dropdown">
              <div
                class="favorite-ad"
                *ngFor="
                  let favorite of this.favoriteAds.slice(0, 3);
                  let i = index
                "
                routerLink="/advertisement/{{ favorite.id }}"
                (click)="this.HasFavoriteAdsDropdownVisible = false"
              >
                <div class="favorite-ad-text">
                  <div class="favorite-ad-price">
                    <span class="currency">₪</span
                    ><span>{{ favorite.price | number }}</span>
                  </div>
                </div>
                <div class="favorite-ad-content">
                  <div class="favorite-ad-text">
                    <div class="favorite-address">
                      <div>
                        <span>{{
                          favorite.number + " " + favorite.street
                        }}</span>
                      </div>
                      <div>
                        <span style="font-size: 14px">{{
                          favorite.assetType + ", " + favorite.city
                        }}</span>
                      </div>
                    </div>
                  </div>

                  <div class="favorite-ad-img">
                    @if(favorite.pictures[0].url.length>0){

                    <img
                      id="ad-image"
                      class="house-pic"
                      src="assets/images/feed_re_placeholder_small.png"
                      [src]="favorite.pictures[0].url"
                      alt=""
                    />
                    }@else {
                    <img
                      id="ad-image"
                      class="house-pic"
                      src="assets/images/feed_re_placeholder_small (1).png"
                      alt=""
                    />
                    }
                    <div id="heart-icon" class="favorite-symbol">
                      <img
                        class="house-pic"
                        src="assets/images/heart-svgrepo-com-orange2.svg"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="favorite-link-btn">
                <button
                  (click)="this.HasFavoriteAdsDropdownVisible = false"
                  routerLink="/favorites"
                  class="favorite-link"
                >
                  לכל המודעות שסימנתי
                </button>
              </div>
            </div>
            } }
            <div id="heart-icon-link">
              <img src="assets/images/heart-alt-svgrepo-com.svg" alt="" />
            </div>
          </div>
        </div>
        <div
          class="flex-center bell-container"
          style="height: 63px; width: 52px"
        >
          <img
            id="bell-icon"
            class="svg-icon2"
            src="assets/images/bell-music-svgrepo-com.svg"
            alt="bell-music-svgrepo-com"
          />
        </div>
      </div>
      }
    </div>
  </div>
  <div
    [ngClass]="
      this.navigationService.IsFavoritesAdvertisementIsOpen()
        ? 'header none-border'
        : 'header'
    "
  >
    <div
      class="menu-container menu-button-trigger-area btn"
      (mouseover)="openMenu('menu_Yad2Magazine')"
      (mouseleave)="closeMenu('menu_Yad2Magazine')"
    >
      <button class="light">מגזין יד2</button>
      <div class="menu" *ngIf="menus['menu_Yad2Magazine']"></div>
    </div>

    <div
      class="menu-container menu-button-trigger-area btn"
      (mouseover)="openMenu('menu_proffesionals')"
      (mouseleave)="closeMenu('menu_proffesionals')"
    >
      <button class="light">בעלי מקצוע</button>
      <div class="menu" *ngIf="menus['menu_proffesionals']">
        <button mat-menu-item>מכוני בדיקה ורישוי לרכב</button>
        <button mat-menu-item>רחיצת רכב</button>
        <button mat-menu-item>חומרי בניין</button>
        <button mat-menu-item>אינסטלטורים</button>
        <button mat-menu-item>חשמלאים</button>
        <button mat-menu-item>שמאי מקרקעין</button>
        <button mat-menu-item>שיפוצים</button>
        <button mat-menu-item>הובלות</button>
        <button mat-menu-item>רהיטים</button>
        <button mat-menu-item>חברות ניקיון ואחזקה</button>
        <button mat-menu-item>לכל בעלי המקצוע</button>
      </div>
    </div>

    <div
      class="menu-container menu-button-trigger-area btn"
      (mouseover)="openMenu('menu_Pets')"
      (mouseleave)="closeMenu('menu_Pets')"
    >
      <button class="light">חיות מחמד</button>
      <div class="menu" *ngIf="menus['menu_Pets']">
        <button mat-menu-item>כלבים</button>
        <button mat-menu-item>חתולים</button>
        <button mat-menu-item>תוכים ובעלי כנף</button>
        <button mat-menu-item>דגים</button>
        <button mat-menu-item>זוחלים</button>
        <button mat-menu-item>מכרסמים</button>
        <button mat-menu-item>סוסים</button>
        <button mat-menu-item>תרנגולים</button>
        <button mat-menu-item>חיות משק</button>
        <button mat-menu-item>חמוסים</button>
      </div>
    </div>

    <div
      class="menu-container menu-button-trigger-area btn"
      (mouseover)="openMenu('menu_BusinessesforSale')"
      (mouseleave)="closeMenu('menu_BusinessesforSale')"
    >
      <button class="light">עסקים למכירה</button>
      <div class="menu" *ngIf="menus['menu_BusinessesforSale']">
        <button mat-menu-item>בתי קפה ומסעדות</button>
        <button mat-menu-item>זכיינות</button>
        <button mat-menu-item>קווי חלוקה</button>
        <button mat-menu-item>הזדמנויות עסקיות</button>
        <button mat-menu-item>מינימרקטים וסופרמרקטים</button>
        <button mat-menu-item>קיוסקים ובפיצוציות</button>
        <button mat-menu-item>לכל העסקים</button>
      </div>
    </div>

    <div
      class="menu-container menu-button-trigger-area btn"
      (mouseover)="openMenu('menu_JobsIL')"
      (mouseleave)="closeMenu('menu_JobsIL')"
    >
      <button class="light">IL דרושים</button>
      <div class="menu" *ngIf="menus['menu_JobsIL']">
        <div>
          <button mat-menu-item>חיפוש עבודה</button>
          <button mat-menu-item>פרסום משרות</button>
          <button mat-menu-item>כתיבת קורות חיים</button>
          <button mat-menu-item>אודות החברות</button>
          <button mat-menu-item>דרושים הייטק</button>
          <button mat-menu-item>דרושים סטודנטים</button>
          <button mat-menu-item>מגזין הקריירה</button>
          <button mat-menu-item>כספים</button>
          <button mat-menu-item>מכירות</button>
          <button mat-menu-item>שירות לקוחות</button>
        </div>
        <div>
          <button mat-menu-item>מהנדסים</button>
          <button mat-menu-item>תחבורה</button>
          <button mat-menu-item>מסעדנות/תיירות</button>
          <button mat-menu-item>אבטחה</button>
          <button mat-menu-item>בריאות</button>
          <button mat-menu-item>בעלי מקצוע</button>
          <button mat-menu-item>הדרכה/הוראה</button>
          <button mat-menu-item>שיווק</button>
          <button mat-menu-item>לתחומים נוספים</button>
        </div>
      </div>
    </div>

    <div
      class="menu-container menu-button-trigger-area btn"
      (mouseover)="openMenu('menu_Yad2')"
      (mouseleave)="closeMenu('menu_Yad2')"
    >
      <button class="light">יד שניה</button>
      <div class="menu" *ngIf="menus['menu_Yad2']">
        <button mat-menu-item>כל המוצרים</button>
        <button mat-menu-item>מוצרי חשמל</button>
        <button mat-menu-item>ריהוט</button>
        <button mat-menu-item>ספורט</button>
        <button mat-menu-item>סלולרי</button>
        <button mat-menu-item>לתינוק ולילד</button>
        <button mat-menu-item>הכל בחינם!</button>
        <button mat-menu-item>קונסולות משחק</button>
        <button mat-menu-item>מחשבים וציוד נלווה</button>
        <button mat-menu-item>לגינה</button>
        <button mat-menu-item>אופנה וטיפוח</button>
      </div>
    </div>

    <div
      class="menu-container menu-button-trigger-area btn"
      (mouseover)="openMenu('menu_Cars')"
      (mouseleave)="closeMenu('menu_Cars')"
    >
      <button class="light">רכב</button>
      <div class="menu" *ngIf="menus['menu_Cars']">
        <button mat-menu-item>פרטיים ומסחריים</button>
        <button mat-menu-item>אופנועים</button>
        <button mat-menu-item>קטנועים</button>
        <button mat-menu-item>מיוחדים</button>
        <button mat-menu-item>אביזרים</button>
        <button mat-menu-item>משאיות</button>
        <button mat-menu-item>כלי שייט</button>
        <button mat-menu-item>מחירון רכב</button>
        <button mat-menu-item>מימון רכב</button>
      </div>
    </div>

    <div
      class="menu-container menu-button-trigger-area btn"
      (mouseover)="openMenu('menu_RealEstate')"
      (mouseleave)="closeMenu('menu_RealEstate')"
    >
      <button class="light">נדל"ן</button>
      <div class="menu" *ngIf="menus['menu_RealEstate']">
        <div>
          <button mat-menu-item>דירות למכירה</button>
          <button mat-menu-item>דירות להשכרה</button>
          <button mat-menu-item>נדלן מסחרי</button>
          <button mat-menu-item>עסקים למכירה</button>
        </div>
        <div>
          <button mat-menu-item>יד1 דירות חדשות</button>
          <button mat-menu-item>כונס נכסים</button>
          <button mat-menu-item>הערכת שווי נכס</button>
          <button mat-menu-item>משרדי תיווך בישראל</button>
        </div>
      </div>
    </div>

    <button class="logo-btn" routerLink="/">
      <img src="{{ _LogoPic }}" alt="logo" />
    </button>
  </div>
</header>
} } @if((this.navigationService.IsalternativeHeaderISOpen())) {
@if(!(this.authService.ISEditAdvertisementISOpen | async)) {
<div class="orange-line"></div>
<header>
  <div [ngClass]="setHeaderHeight()">
    <div class="left-side2 flex-center2">
      <div class="gray-btns-container2">
        @if(!(this.navigationService.IsUserAreaISOpen())){
        <button
          class="gray-btn2 close-btn-container flex-center2"
          (click)="
            this.modalStateSerrvice.openOrCloseModal(true);
            this.modalStateSerrvice.setModalContent(0)
          "
        >
          <span class="flex-center2 close-btn"
            ><i class="material-icons">close</i>יציאה</span
          >
        </button>
        <button class="gray-btn2">צור קשר</button>
        }@else {

        <div class="Post-Btn">
          <button class="light" routerLink="create-advertisement">
            פרסום הודעה
            <i class="material-icons">add</i>
          </button>
        </div>
        }
      </div>
      <div
        class="user-area2 flex-center2"
        (mouseover)="isUserAreaDropdownOpen(true)"
        (mouseleave)="isUserAreaDropdownOpen(false)"
      >
        <div>
          <div routerLink="/profile" class="flex-center2">
            @if(!(this.navigationService.IsUserAreaISOpen())) {
            <div class="user-name2 flex-center2">
              {{ this.userName }}
            </div>

            <div class="round2 flex-center2">
              {{ this.firstLetterUserEmailAddress }}
            </div>
            }@else {
            <div class="round2 flex-center2 move-left">
              {{ this.firstLetterUserEmailAddress }}
            </div>

            }
          </div>
          <div
            class="menu2"
            *ngIf="
              this.isUserAreaDropdownVisible &&
              !this.navigationService.IsUserAreaISOpen()
            "
            (mouseover)="isUserAreaDropdownOpen(true)"
            (mouseleave)="isUserAreaDropdownOpen(false)"
          >
            <div class="menu-bar2" routerLink="/profile">
              <div>עריכת פרופיל</div>
              <div>
                <img
                  class="svg-icon2"
                  src="assets/images/edit-2-svgrepo-com.svg"
                  alt="logo"
                />
              </div>
            </div>
            <div class="menu-bar2">
              המודעות שלי<mat-icon>star_border</mat-icon>
            </div>
            <div class="menu-bar2">
              חפושים אחרונים <mat-icon>history</mat-icon>
            </div>
            <div class="menu-bar2">
              <div>חזרה לאתר הראשי</div>
              <img
                class="svg-icon2"
                src="assets/images/house-floor-svgrepo-com.svg"
                alt="logo"
              />
            </div>
            <div class="menu-bar2 border-top2">
              <div (click)="authService.logout()">התנתקות</div>

              <div>
                <img
                  class="svg-icon2"
                  src="assets/images/door-svgrepo-com.svg"
                  alt="logo"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="right-side2 flex-center2">
      @if (this.authService.UserPageRender.value ==='create-new-advertisement')
      {

      <div>פרסום מודעה חדשה</div>
      } @if (this.authService.UserPageRender.value ==='user-area') {

      <div class="user-area-text2 flex-center2">איזור אישי</div>
      }
      <div routerLink="/">
        <img src="assets/images/logo-default.svg" alt="logo" />
      </div>
    </div>
  </div>
</header>
} @if((this.authService.ISEditAdvertisementISOpen | async)) {
<div class="edit-ad-header">
  <div id="post-ad-title" class="flex-center2 post-ad-box">
    <div class="logo-img" routerLink="/">
      <img id="logo-pic" src="assets/images/logo-default.svg" alt="logo" />
    </div>
    <div class="post-ad">פרסום מודעה חדשה</div>
  </div>
  <div class="right-side2 flex-center2">
    <div class="user-name">
      <span>
        <img
          id="orange-user"
          src="assets/images/orange-user.svg"
          alt="orange-user"
      /></span>
      <span id="user-name"> {{ this.userName }} {{ this.userLastName }} </span>
    </div>
    <div class="contact">צור קשר</div>
  </div>
</div>

} }
