body,
body div,
body header {
  width: 695px;
  margin: auto;
  direction: rtl;
  font-size: 14px;
  word-spacing: 0 !important;
}

header {
  height: 70px;
  margin-top: 10px !important;
  word-spacing: 0 !important;
  letter-spacing: -0.2px !important;
}

button,
.flex,
.flex-center {
  display: flex;
}

.font18,
.print {
  font-size: 18px !important;
}

.column {
  flex-direction: column;
}

.print {
  height: 22px;
  width: 94.4688px;
}
.print:hover {
  background-color: rgba(0, 0, 0, 0);
}

.accessibility-btn img {
  width: 30px;
  height: 30px;
  transform: translateX(3px) translateY(1px);
}

.accessibility-btn {
  gap: 0.5rem !important;
}

.accessibility-btn span {
  transform: translateX(3px) translateY(-1px);
}

.accessibility-btn {
  padding: 0.125rem 0.75rem !important;
  margin: 6px 4px !important;
}

.accessibility-btn span {
  height: 100%;
}

button,
.print,
.share {
  cursor: pointer;
}

.share {
  justify-content: flex-end !important;
}

.sub-title div {
  width: 100%;
}
.accessibility-btn span,
.font500 {
  font-weight: 500;
}

.accessibility-btn {
  font-size: 13.3333px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #002f75;
  height: 35px;
  width: 100px;
  margin: 0px 0px 0px 3px;
  border-radius: 3px;
}

.accessibility-btn:hover {
  background-color: rgb(0, 33, 81);
}

button,
.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.accessibility-btn {
  align-items: flex-end;
}

.font24 {
  font-size: 24px !important;
}
