<div class="page">
  <body>
    <header class="flex-space-between">
      <div class="font24 favorite-title">מודעות שאהבתי</div>
      <button class="accessibility-btn">
        <img
          src="assets/images/accessibility-svgrepo-com (1).svg"
          alt="accessibility"
        />
        <span class="flex-center"> נגישות </span>
      </button>
    </header>

    <div class="flex-space-between sub-title">
      <div class="sub-title-right flex">
        <div class="font18 flex-center">מודעות נדל"ן</div>
        <div class="print flex-center">
          <img src="assets/images/print-svgrepo-com.svg" class="" alt="print" />
          <span> הדפסת הרשימה </span>
        </div>
      </div>
      <div class="share flex">
        <img
          id="share-icon"
          src="assets/images/share-svgrepo-com.svg"
          alt="share"
        />
        <span class="orange-font"> שיתוף </span>
      </div>
    </div>
  </body>
</div>
