body,
body header {
  width: 695px;
  margin: auto;
  direction: rtl;
  font-size: 14px;
  word-spacing: 0 !important;
  letter-spacing: -0.1px !important;

  cursor: default;
}

.align-items-center {
  align-items: center;
}

.column {
  flex-direction: column;
}

.ad-image {
  height: 66px;
  width: 110px;
  border-radius: 3px;
  object-fit: cover;
  transition: 0.1s linear;
}

.ad-image:hover,
.zoom {
  transform: scale(1.01);
}

.ad-image-container {
  overflow: hidden !important;
  border-radius: 3px !important;
}

.favorites-ads {
  /* padding-right: 9px !important; */
}

.favorites-ad {
  text-align: right;

  height: 87px;
  width: 695px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px 0 0 2px;
}

.page {
  background-color: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px 0px !important;
  /* box-shadow: rgba(0, 0, 0, 0.08) 0px -4px 12px 0px !important; */
}

.favorite-title {
  padding: 1.5rem 0rem;
}

header {
  height: 70px;
  margin-top: 10px !important;
}

button,
.flex,
.flex-center,
.align-items-center,
.justify-content-center {
  display: flex;
}

.ad-part1 {
  height: 85px;
  width: 346px;
  padding: 10px;
  gap: 1.5rem;
}
.ad-part1,
.ad-part2 {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.ad-part2,
.ad-part3 {
  height: 85px;
}
.ad-part2 {
  width: 185px;
  gap: 2rem;
}
.font18 {
  font-size: 18px !important;
}

.box {
  gap: 1px;
  transform: translateY(-1px);
}

.increace-number {
  font-size: 17px !important;
}

.ad-part3 {
  width: 162px;
}

.justify-content-center {
  justify-content: center;
}

.font18 {
  font-size: 18px !important;
}

.sub-title {
  padding: 44px 0px;
}

.column {
  flex-direction: column;
}

.sub-title-right {
  gap: 1rem;
}

.print:hover {
  background-color: rgba(0, 0, 0, 0);
}

.print {
  transform: translateY(1px) translateX(3px);
}
.print,
.share,
.ad-part1,
.ad-part2,
.ad-part3 {
  background-color: #ffffff !important;
}
.share {
  height: 27.0028px;
  width: 82.5284px;
  box-shadow: rgba(44, 44, 44, 0.12) 0px 1px 4px 0px;

  border-radius: 2px;
}
.print {
  height: 32px;
  width: 145px;
  border: 1px solid rgb(204, 204, 204);
  margin: 0px 5px;
  padding: 1px 10px;
  border-radius: 2px;
}

.print img {
  height: 24px;
  width: 24px;
}

.accessibility-btn img {
  width: 30px;
  height: 30px;
  transform: translateX(5px) translateY(1px);
}

.accessibility-btn {
  gap: 0.5rem !important;
}

.accessibility-btn span {
  transform: translateX(3px) translateY(-1px);
}

.accessibility-btn {
  margin: 5px 3px !important;
}

.accessibility-btn span {
  height: 100%;
}

button,
.print,
.share,
.favorites-ad,
.write-note {
  cursor: pointer;
}
.share {
  transform: translateY(1px);
}

.orange-font {
  color: #ff7100;
}

#share-icon {
  width: 16px;
  height: 16px;
}

.font16 {
  font-size: 16px !important;
}

.ad-sub-details {
  transform: translateY(-3px);
}

.print {
  gap: 0.25rem;
}

.share {
  justify-content: flex-end !important;
}

.accessibility-btn span,
.font500 {
  font-weight: 500;
}

.accessibility-btn {
  font-size: 13.3333px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #002f75;
  height: 35px;
  width: 100px;
  margin: 0px 0px 0px 3px;
  border-radius: 3px;
}

.accessibility-btn:hover {
  background-color: rgb(0, 33, 81);
}

button,
.flex-center {
  align-items: center !important;
  justify-content: center !important;
}

.share {
  gap: 3px;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.accessibility-btn {
  align-items: flex-end;
}

.font24 {
  font-size: 24px !important;
}

.favorites-ads {
  transform: translateY(-18px) !important;
}

.favorites-ad {
  margin-bottom: 6px;
}

.favorites-ad {
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 12px 12px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 0.5px; */
}
/* .favorites-ad:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 12px 12px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 2px;
} */

/* .favorites-ad:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 16px;
} */

.ad-part2 div span {
  line-height: 16px !important;
}

.decrease-opacity {
  opacity: 0.7;
}

.write-note {
  height: 40px;
  width: 695px;
  padding: 10px 15px 0px;

  border-radius: 3px;
}

.write-note {
  border: 1px solid #cccccc;
}
.write-note {
  background-color: #fffaea;
}

.write-note {
  margin: 0.25rem 0 1.5rem 0 !important;
}
