<div class="page flex-center">
  <body>
    <header class="flex-space-between">
      <div class="font24 favorite-title">מודעות שאהבתי</div>
      <button class="accessibility-btn">
        <img
          src="assets/images/accessibility-svgrepo-com (1).svg"
          alt="accessibility"
        />
        <span class="flex-center"> נגישות </span>
      </button>
    </header>

    <div class="flex-space-between sub-title">
      <div class="sub-title-right flex">
        <div class="font18 flex-center">מודעות נדל"ן</div>
        <div class="print flex-center">
          <img src="assets/images/print-svgrepo-com.svg" class="" alt="print" />
          <span> הדפסת הרשימה </span>
        </div>
      </div>
      <div class="share flex-center">
        <img
          id="share-icon"
          src="assets/images/share-svgrepo-com.svg"
          alt="share"
        />
        <span class="orange-font font500"> שיתוף </span>
      </div>
    </div>

    <div class="favorites-ads">
      @for (ad of this.authService.UserFavoriteAdvertisements |async; track
      $index) {

      <div class="favorites-ad flex column">
        <div class="flex-center">
          <div class="ad-part1 flex">
            <div>
              <img id="ad-image" [src]="ad.pictures[0].url" alt="" />
            </div>
            <div class="justify-content-center column">
              <div class="flex font16">
                <div>{{ ad.street + " " + ad.number }}</div>
              </div>
              <div class="flex ad-sub-details">
                <div>{{ ad.assetType + ", " + ad.city }}</div>
              </div>
            </div>
          </div>

          <div class="ad-part2 align-items-center">
            <div>
              <span>
                {{ ad.rooms }}
              </span>
              <span>חדרים</span>
            </div>
            <div class="">
              <div>
                <span>
                  <div class=""></div>
                  {{ ad.floor }}
                </span>
                <span>קומה</span>
              </div>
            </div>
            <div>
              <div>
                <span>
                  {{ ad.totalSquareMeters }}
                </span>
                <span>מ"ר</span>
              </div>
            </div>
          </div>

          <div class="ad-part3 flex-center">
            <div>
              <div>
                {{ ad.price }}
              </div>
              <div>
                <span></span>
                <span>פתיחה בטאב חדש</span>
              </div>
              <div>עודכן היום</div>
            </div>
          </div>
        </div>
      </div>
      <div>הוספת הערה</div>
      }
    </div>
  </body>
</div>
