<div class="page flex-center">
  <body>
    <header class="flex-space-between">
      <div class="font24 favorite-title">מודעות שאהבתי</div>
      <button class="accessibility-btn">
        <img
          src="assets/images/accessibility-svgrepo-com (1).svg"
          alt="accessibility"
        />
        <span class="flex-center"> נגישות </span>
      </button>
    </header>

    <div class="flex-space-between sub-title">
      <div class="sub-title-right flex">
        <div class="font18 flex-center">מודעות נדל"ן</div>
        <div class="print flex-center">
          <img src="assets/images/print-svgrepo-com.svg" class="" alt="print" />
          <span> הדפסת הרשימה </span>
        </div>
      </div>
      <div class="share flex-center">
        <img
          id="share-icon"
          src="assets/images/share-svgrepo-com.svg"
          alt="share"
        />
        <span class="orange-font font500"> שיתוף </span>
      </div>
    </div>

    <div class="favorites-ads">
      @if(this.hasPopupOpen){
      <div class="sm-triangle"></div>

      <div class="pop-up">
        <div class="align-items-center">
          <span> הידעת </span>
          <span style="font-size: 15px; transform: translateY(-1px)">?</span>
        </div>
        <div>מהיום תוכל לשתף את המודעות שאהבת</div>

        <button (click)="this.hasPopupOpen = false">מעולה, תודה</button>
      </div>
      } @for (ad of this.authService.UserFavoriteAdvertisements |async; track
      $index) {

      <div
        (mouseenter)="
          zoomInImage($event, $index); displayAdOptions($event, $index)
        "
        (mouseleave)="
          zoomOutImage($event, $index); displayAdOptions($event, $index)
        "
        class="favorites-ad flex column"
        (click)="openInNewWindow(ad.id.toString())"
      >
        <div class="flex-center">
          <div class="ad-part1 flex">
            <div class="ad-image-container">
              <img
                ngClass="ad-image"
                id="ad-image{{ $index }}"
                [src]="ad.pictures[0].url"
                alt=""
              />
            </div>
            <div class="justify-content-center column">
              <div class="flex font16">
                <div>
                  <span>
                    {{ ad.street + " " }}
                  </span>
                  <span class="increace-number">
                    {{ ad.number }}
                  </span>
                </div>
              </div>
              <div class="flex ad-sub-details">
                <div>{{ ad.assetType + ", " + ad.city }}</div>
              </div>
            </div>
          </div>

          <div class="ad-part2 flex-center">
            <div class="flex-center column box">
              <span class="font16 number">
                {{ ad.rooms }}
              </span>
              <span class="decrease-opacity">חדרים</span>
            </div>
            <div class="flex-center column box">
              <span class="font16 number">
                {{ ad.floor }}
              </span>
              <span class="decrease-opacity">קומה</span>
            </div>
            <div class="flex-center column box">
              <span class="font16 number">
                {{ ad.totalSquareMeters }}
              </span>
              <span class="decrease-opacity">מ"ר</span>
            </div>
          </div>

          <div class="ad-part3 flex-end column">
            <div>
              <div class="new-window-container flex-center">
                <span
                  (mouseenter)="increaseOpacity($event, $index)"
                  (mouseleave)="increaseOpacity($event, $index)"
                  id="new-window-content{{ $index }}"
                  class="font13 decrease-opacity"
                  >פתיחה בטאב חדש</span
                >

                <img
                  id="new-window-icon{{ $index }}"
                  class="new-window-icon"
                  src="assets/images/new-window-svgrepo-com.svg"
                  alt="new-window"
                />
              </div>
            </div>
            <div class="font16">{{ ad.price | number : "1.0-0" }} ₪</div>
            <div
              id="ad-date-update{{ $index }}"
              class="font13 decrease-opacity"
            >
              עודכן היום
            </div>
          </div>
        </div>
      </div>

      <div
        id="ad-note{{ $index }}"
        class="write-note font16 align-items-center"
        (click)="openOrCloseAdNote($index, true)"
      >
        <div class="flex-center">
          <img
            id="plus-icon"
            src="assets/images/plus-svgrepo-com-.svg"
            alt="plus"
          />
          <span class="font14"> הוספת הערה </span>
        </div>
        <div class="sqaure"></div>
        <div class="sqaure2"></div>
      </div>
      <div id="ad-note-open{{ $index }}" class="ad-comment-open hide">
        <div class="note-btns flex-center column">
          <div class="text-options flex">
            <div (click)="this.addTextToNoteAd($index, 'אין תשובה')">
              אין תשובה
            </div>
            <div (click)="this.addTextToNoteAd($index, 'טלפון שגוי')">
              טלפון שגוי
            </div>
            <div (click)="this.addTextToNoteAd($index, 'לא רלוונטי')">
              לא רלוונטי
            </div>
            <div (click)="this.addTextToNoteAd($index, 'להתקשר החל מהשעה')">
              להתקשר החל מהשעה
            </div>
            <div (click)="this.addTextToNoteAd($index, 'להתקשר מאוחר יותר')">
              להתקשר מאוחר יותר
            </div>
          </div>
          <textarea
            id="ad-note-area-text{{ $index }}"
            #note
            placeholder="כתיבת הערה..."
            [value]="retrieveNoteAd(ad.id)"
          ></textarea>
          <div class="note-area-btns flex-space-between">
            <div class="flex-center note-length">
              {{ note.value.length }}/200
            </div>
            <div class="flex-center">
              <button
                class="border-none cancel-btn"
                (click)="
                  openOrCloseAdNote($index, false);
                  this.clearTextFromNoteAd($index)
                "
              >
                ביטול
              </button>
              <button
                class="font13 save-btn"
                (click)="
                  openOrCloseAdNote($index, false);
                  updateNoteAd(ad.id, note.value)
                "
              >
                שמירה
              </button>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </body>
</div>
