body,
body div,
body header {
  width: 695px;
  margin: auto;
  direction: rtl;
  font-size: 14px;
}

header {
  height: 70px;
  margin-top: 10px !important;
  word-spacing: 0 !important;
  letter-spacing: -0.2px !important;
}

button,
.flex,
.flex-center {
  display: flex;
}

.accessibility-btn img {
  width: 28px;
  height: 28px;
}

.accessibility-btn {
  gap: 0.5rem !important;
}
.accessibility-btn {
  padding: 0.125rem 0.75rem !important;
}

.accessibility-btn span {
  height: 100%;
}
.accessibility-btn span,
.font500 {
  font-weight: 500;
}

.accessibility-btn {
  font-size: 13.3333px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #002f75;
  height: 35px;
  width: 100px;
  margin: 0px 0px 0px 3px;
  border-radius: 3px;
}

.accessibility-btn:hover {
  background-color: rgb(0, 33, 81);
}

button,
.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.accessibility-btn {
  align-items: flex-end;
}

.font24 {
  font-size: 24px !important;
}
