body,
body header {
  width: 695px;
  margin: auto;
  direction: rtl;
  font-size: 14px;
  word-spacing: 0 !important;
  cursor: default;
}

.page {
  height: 100vh;
  width: 100vw;
}

.page {
  background-color: #f9f9f9;
}

.favorite-title {
  padding: 1.5rem 0.5rem;
}

header {
  height: 70px;
  margin-top: 10px !important;
  word-spacing: 0 !important;
  letter-spacing: -0.2px !important;
}

button,
.flex,
.flex-center {
  display: flex;
}

.font18 {
  font-size: 18px !important;
}

.column {
  flex-direction: column;
}

.print:hover {
  background-color: rgba(0, 0, 0, 0);
}
.print {
  background-color: #ffffff !important;
}
.print {
  height: 32px;
  width: 145px;
  border: 1px solid rgb(204, 204, 204);
  margin: 0px 5px;
  padding: 1px 10px;
  border-radius: 2px;
}

.print img {
  height: 20px;
  width: 20px;
}

.accessibility-btn img {
  width: 30px;
  height: 30px;
  transform: translateX(3px) translateY(1px);
}

.accessibility-btn {
  gap: 0.5rem !important;
}

.accessibility-btn span {
  transform: translateX(3px) translateY(-1px);
}

.accessibility-btn {
  margin: 5px 0 !important;
  transform: translateX(-6px);
}

.accessibility-btn span {
  height: 100%;
}

button,
.print,
.share {
  cursor: pointer;
}

.share {
  justify-content: flex-end !important;
}

.accessibility-btn span,
.font500 {
  font-weight: 500;
}

.accessibility-btn {
  font-size: 13.3333px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #002f75;
  height: 35px;
  width: 100px;
  margin: 0px 0px 0px 3px;
  border-radius: 3px;
}

.accessibility-btn:hover {
  background-color: rgb(0, 33, 81);
}

button,
.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.accessibility-btn {
  align-items: flex-end;
}

.font24 {
  font-size: 24px !important;
}
