body,
body header {
  width: 695px;
  margin: auto;
  direction: rtl;
  font-size: 14px;
  word-spacing: 0 !important;
  letter-spacing: -0.1px !important;

  cursor: default;
}

.font14 {
  font-size: 14px !important;
}

.note-btns {
  padding: 0.5rem 0;
}

.align-items-center {
  align-items: center;
}

.column {
  flex-direction: column;
}

.ad-image {
  height: 66px;
  width: 110px;
  border-radius: 3px;
  object-fit: cover;
  transition: 0.1s linear;
}

.ad-image:hover,
.zoom {
  transform: scale(1.01);
}

.ad-image-container {
  overflow: hidden !important;
  border-radius: 3px !important;
}

.favorites-ad {
  text-align: right;

  height: 87px;
  width: 695px;
  border-radius: 2px 0 0 2px;
}

.write-note,
.favorites-ad {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.write-note,
.orange {
  position: relative;
}

.new-window-container,
.sqaure,
.sqaure2,
.pop-up,
.sm-triangle {
  position: absolute;
}

.pop-up {
  height: 76.5938px;
  width: 300px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px 0px;

  border-radius: 6px;
  transform: translateX(-395px) translateY(-8px);
  z-index: 2000 !important;
}

.pop-up div:first-child {
  transform: translateY(-2px);
}
.pop-up > :not(first-child) {
  word-spacing: 0.15px !important;
  transform: translateY(-5px);
}
.pop-up div {
  word-spacing: 0.15px !important;
}
.pop-up button {
  word-spacing: 0.15px;
  transform: translateY(-6px);
}

.pop-up button,
.new-window-container {
  white-space: nowrap;
}
.new-window-container {
  gap: 6px;
  transform: translateY(-22px) translateX(100px);
  color: transparent;
}

.sm-triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgb(53, 120, 229);
  transform: translateY(-14px) translateX(-672px);
}

.pop-up,
.accessibility-btn,
.pop-up button {
  color: rgb(255, 255, 255);
}
.pop-up,
.pop-up button {
  background-color: rgb(53, 120, 229);
}

.hide {
  display: none !important;
}

.text-options div {
  background-color: rgb(238, 238, 238);

  height: 25px;

  margin: 0px 3px;
  padding: 5px 20px;
  border-radius: 25px;
}

.pop-up button {
  height: 23px;
  width: 78.1719px;
  border: 1px solid rgb(255, 255, 255);

  padding: 3px 4px;

  border-radius: 2px;
  margin-right: auto;
}

.font13,
.pop-up button,
.accessibility-btn {
  font-size: 13.3333px !important;
}

.border-none {
  border: none !important;
}

.save-btn {
  font-weight: 500;
  color: rgb(255, 113, 0);

  height: 31px;
  width: 90px;
  border: 1px solid rgb(255, 113, 0);

  border-radius: 25px;
}

.accessibility-btn {
  text-align: center;
  background-color: #002f75;
  height: 35px;
  width: 100px;
  margin: 0px 0px 0px 3px;
  border-radius: 3px;
}

.black-color {
  color: #363636 !important;
}

.increase-opacity {
  opacity: 1 !important;
  color: #363636 !important;
}

.darker-icon {
  filter: brightness(0) saturate(200%);
}

.favorites-ad:hover {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 6px -2px;
}
.sqaure,
.sqaure2 {
  width: 20px;
  height: 20px;

  z-index: 1000;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.sqaure {
  background-color: #ffffff;
  top: 20px;
  width: 30px;
  left: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  transform: translateX(-1px);
}

.sqaure2 {
  left: 20px;
  top: 0;
  width: 34px;
  transform: rotate(45deg) translateX(0px) translateY(40px) rotate(-10deg);
  border-right: 1px solid transparent !important;
  background-color: #f9f9f9 !important;
}

.font13 {
  font-size: 13px !important;
}

.page {
  background-color: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px 0px !important;
}

.favorite-title {
  padding: 1.5rem 0rem;
}

header {
  height: 70px;
  margin-top: 10px !important;
}

button,
.flex,
.flex-center,
.align-items-center,
.justify-content-center,
.flex-end,
.text-options div {
  display: flex;
}

.text-options {
  height: 50px;
  width: 683px;
  margin: 5px;
  padding: 6px;
}

.flex-end {
  align-items: end !important;
}

.ad-part3 {
  padding: 1.75rem 1.25rem !important;
}
#plus-icon {
  width: 18px;
  height: 17px;
}

.write-note .flex-center {
  transform: translateY(-3px);
  gap: 9px;
  padding: 0 1px;
}

.ad-part1 {
  height: 85px;
  width: 346px;
  padding: 10px;
  gap: 1.5rem;
}
.ad-part1,
.ad-part2 {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.ad-part2,
.ad-part3 {
  height: 85px;
}
.ad-part2 {
  width: 185px;
  gap: 2rem;
}
.font18 {
  font-size: 18px !important;
}

.box {
  gap: 1px;
  transform: translateY(-1px);
}

.increace-number {
  font-size: 17px !important;
}

.ad-part3 {
  width: 162px;
}

.justify-content-center {
  justify-content: center;
}

.font18 {
  font-size: 18px !important;
}

.sub-title {
  padding: 44px 0px;
}

.column {
  flex-direction: column;
}

.sub-title-right {
  gap: 1rem;
}

.print:hover {
  background-color: #dbdbdb !important;
}

.print {
  transition: all 0.1s ease-in-out;
}

.print {
  transform: translateY(1px) translateX(3px);
}
.print,
.share,
.ad-part1,
.ad-part2,
.ad-part3,
.save-btn,
.cancel-btn {
  background-color: #ffffff !important;
}

.cancel-btn {
  color: rgb(204, 204, 204);

  height: 17px;
  width: 40.4219px;
  margin: 0px 5px;
  padding: 0px 5px;
}
.share {
  height: 27.0028px;
  width: 82.5284px;
  box-shadow: rgba(44, 44, 44, 0.12) 0px 1px 4px 0px;

  border-radius: 2px;
}
.print {
  height: 32px;
  width: 145px;
  border: 1px solid rgb(204, 204, 204);
  margin: 0px 5px;
  padding: 1px 10px;
  border-radius: 2px;
}

.print img {
  height: 24px;
  width: 24px;
}

.accessibility-btn img {
  width: 30px;
  height: 30px;
  transform: translateX(5px) translateY(1px);
}

.accessibility-btn {
  gap: 0.5rem !important;
}

.accessibility-btn span {
  transform: translateX(3px) translateY(-1px);
}

.accessibility-btn {
  margin: 5px 3px !important;
}

.accessibility-btn span {
  height: 100%;
}

button,
.print,
.share,
.favorites-ad,
.ad-comment-open {
  cursor: pointer;
}
.share {
  transform: translateY(1px);
}

.orange-font {
  color: #ff7100;
}

#share-icon {
  width: 16px;
  height: 16px;
}

.font16 {
  font-size: 16px !important;
}

.ad-sub-details {
  transform: translateY(-3px);
}

.print {
  gap: 0.25rem;
}

.share {
  justify-content: flex-end !important;
}

.new-window-icon {
  width: 10px;
  height: 10px;
}

.accessibility-btn span,
.font500 {
  font-weight: 500;
}

.accessibility-btn:hover {
  background-color: rgb(0, 33, 81);
}

button,
.flex-center,
.text-options div {
  align-items: center !important;
  justify-content: center !important;
}

textarea {
  resize: none;

  height: 74px;
  border: 1px solid rgb(204, 204, 204);
  padding: 7px;

  text-shadow: rgba(0, 0, 0, 0.87) 0px 0px 0px;
  outline: none;

  border-radius: 4px;
}

.note-area-btns,
textarea {
  width: 663px;
}

.note-area-btns {
  margin-top: 12px;
}

.ad-comment-open {
  margin-bottom: 12px;
}

textarea::placeholder {
  color: #363636;
  opacity: 0.3;
  font-size: 14px;
}

textarea {
  transform: translateY(2px);
}

textarea,
.ad-comment-open {
  background-color: rgb(255, 255, 255);
}

.ad-comment-open {
  color: rgb(54, 54, 54);

  height: 196px;
  width: 695px;
  border: 1px solid rgb(230, 230, 230);

  box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 2px 0px;

  border-radius: 2px;
}

.share {
  gap: 3px;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.accessibility-btn {
  align-items: flex-end;
}

.font24 {
  font-size: 24px !important;
}

.favorites-ads {
  transform: translateY(-18px) !important;
}

.favorites-ad {
  margin-bottom: 6px;
}

.ad-part2 div span {
  line-height: 16px !important;
}

.decrease-opacity {
  opacity: 0.7;
}

.write-note {
  height: 40px;
  width: 695px;
  padding: 10px 15px 0px;
  cursor: text;

  border-radius: 3px;
}

.write-note {
  background-color: #fffaea;
}

.write-note {
  margin: 0.25rem 0 1.5rem 0 !important;
}
