<div
  class="modal-overlay"
  *ngIf="modalstate.isModalVisible.getValue()"
  (click)="closeModal()"
></div>

<div
  ngClass="{{ modalContent.class }}"
  *ngIf="modalstate.isModalVisible.getValue()"
>
  <div ngClass="{{ modalContent.innerBoxClass }}">
    <i (click)="closeModal()" class="material-icons">close</i>
    <h2
      ngClass="{{ modalContent.titleClass }}"
      (click)="modalstate.setModalContent(1)"
    >
      {{ modalContent.title }}
    </h2>
    <div>{{ modalContent.line1 }}</div>
    <div>{{ modalContent.line2 }}</div>
    <div class="modal-actions">
      <button
        ngClass="{{ modalContent.leftButtonClass }}"
        (click)="closeModal()"
      >
        {{ modalContent.leftButtonContent }}
      </button>
      <button
        (click)="closeModal(); this.authSerrvice.navigateTo('/')"
        ngClass="{{ modalContent.rightButtonClass }}"
      >
        {{ modalContent.rightButtonContent }}
      </button>
    </div>
  </div>
</div>
