<div class="edit-container">
  <div class="space-block">.</div>
  <form id="edit-advertisement" class="advertisement-selection">
    <span class="title">עריכת פרטי הנכס </span>
    <div class="edit-inputs">
      <div class="input-container">
        <label class="small-text light-grey-text" for="assetType"
          >סוג הנכס*
        </label>
        <div id="assetType" class="data-input fill-block large light-grey-text">
          {{ advertisement.assetType }}
        </div>
      </div>
      <div class="input-container">
        <label class="small-text" for="number">מס' דירה</label>
        <input class="data" id="" />
      </div>

      <div class="input-container">
        <label class="small-text" for="number">מצב הנכס*</label>
        <button
          id="assetState"
          class="data large dropdown-btn"
          type="button"
          [ngStyle]="{
            border: this.isAssetAssetstateDropdownHidden
              ? 'solid 1px #cccccc '
              : 'solid 2px #363636 '
          }"
          (click)="
            this.isAssetAssetstateDropdownHidden =
              !this.isAssetAssetstateDropdownHidden
          "
        >
          {{ this.asset_State }}

          <img class="arrow-down" src="assets/images/arrow-down.svg" alt="" />
        </button>
        <ul
          *ngIf="!this.isAssetAssetstateDropdownHidden"
          class="dropdown-select"
        >
          <li
            class="dropdown-option"
            *ngFor="let option of assetConditions"
            (click)="selectOption(option, 'assetState')"
          >
            {{ option }}
          </li>
        </ul>
      </div>
      <div class="input-container">
        <label class="small-text" for="view">כיווני אוויר</label>
        <div class="Select-options">
          <div
            *ngFor="let number of AirDirections; let i = index"
            [ngClass]="optionClass(i, false)"
            [class.selected]="advertisement.airDirections.valueOf() === number"
            (click)="selectBtnOption(number, 'airDirections', 'none')"
          >
            {{ number }}
          </div>
        </div>
      </div>
      <div class="input-container">
        <label class="small-text" for="view"> נוף פתוח</label>
        <div class="Select-options">
          <div
            *ngFor="let view of viewOptions; let i = index"
            [ngClass]="optionClass(i, false)"
            [class.selected]="advertisementForm.get('view').value === view"
            (click)="selectBtnOption(0, 'view', view)"
          >
            {{ view }}
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
