* {
  direction: rtl;
  font-size: 14px !important;
  font-weight: unset !important;
}

li {
  list-style-type: none !important;
}

.edit-container,
.advertisement-selection {
  border-radius: 10px;
  border: transparent !important;
  box-shadow: rgba(12, 0, 51, 0.1) 0px 2px 4px 0px;
  background-color: rgb(245, 245, 245);
}
.edit-container {
  width: 100%;
}

.loading-bar {
  font-size: 16px !important;
}

.data-input,
.edit-inputs,
.dropdown-option,
.dropdown-select,
.address-info-box,
.squre,
.loading-bar,
.text-length-box,
.description-box,
.upload-img-card,
.option {
  display: flex;
}

.dropdown-select {
  align-items: end !important;
}
.dropdown-select {
  transform: translateY(-18px);
}

.dropdown-option {
  height: 400px !important;
}

.edit-inputs,
.dropdown-select,
.address-info-box,
.text-length-box,
.upload-img-card {
  flex-direction: column;
}

.text-length-box {
  gap: 0.5rem;
}
.text-length-box {
  padding: 0.5rem;
}

.data-input,
.squre,
.loading-bar,
.description-box,
.upload-img-card,
.option {
  align-items: center !important;
}

.edit-inputs {
  margin: 22px 0 !important;
}

.edit-inputs {
  gap: 1rem !important;
}

.input-container {
  padding: 0 !important;
}

#edit-advertisement {
  padding: 30px 40px !important;
}

.space-block {
  color: transparent !important;
  height: 70px !important;
}

.title {
  font-size: 24px !important;
}
.title {
  font-weight: 300 !important;
}
.title {
  margin-bottom: 1rem;
  margin-top: 4px;
}

.advertisement-selection {
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

form,
.WeCheck-ad {
  background-color: #f8f8f8 !important;
}

.data-input,
.data {
  height: 40px !important;
}
.data-input,
.data,
.dropdown-option,
.dropdown-select,
.address-info {
  width: 261.359px !important;
}

.dropdown-option {
  height: fit-content !important;
  padding: unset !important;
  margin: unset !important;
}
.dropdown-option:hover {
  background-color: #0078d7;
  color: white;
}

.not-allowed,
.dropdown-option:hover {
  cursor: default !important;
}

.fill-block {
  text-indent: 8px;
  background-color: rgb(255, 255, 255, 0.3);
  border: 1px solid rgb(238, 238, 238, 0.7) !important;
  padding: 0.25rem;
  color: rgb(204, 204, 204, 0.75) !important;
}

.data,
.fill-block {
  border-radius: 4px;
}

.data {
  border: solid 1px #cccccc;
}

.edit-inputs {
  margin-top: -2px;
}

.dropdown-select {
  box-shadow: none !important;
  border: solid 1px black !important;
}

.dropdown-select {
  height: max-content !important;
}

.arrow-down {
  height: 14px;
  width: 14px;
}

#assetState {
  padding: 0.5rem !important;
}

.selected,
.option:hover {
  border: 1px solid #cccccc !important;
}

.option:hover,
.option {
  background-color: rgb(255, 255, 255);
}

.selected:hover,
.option:hover,
.option {
  border: 1px solid rgb(172, 172, 172) !important;
}

.option {
  line-height: 16.1px;
  height: 40px !important;
  width: 63.3281px !important;
  border: 1px solid #cccccc;
  padding: 0px 12px;
}

.loading-bar,
.option,
.upload-img-card {
  justify-content: center !important;
}
.description-box {
  justify-content: space-between;
}
.description-box {
  padding-left: 0.25rem;
}

.erase-btn,
.option,
.erase-furnituredescription-btn,
.erase-input-btn,
#main-image {
  cursor: pointer;
}

.selected:hover {
  background-color: rgb(204, 204, 204) !important;
}

.checkbox {
  border-radius: 2px !important;
  padding: 0 !important;
  margin: 0 !important;
}

.checkbox:checked::after {
  width: 10px;
  height: 10px !important;
  border: solid white;
  left: 6px !important;
}

.address-info {
  font-size: 11px !important;
}
.address-info,
.fill-info {
  word-spacing: -0.05rem !important;
  line-height: 1.2 !important;
}

.medium-size {
  width: 130.766px !important;
}

.large-size {
  width: 176.766px !important;
  height: 38px !important;
}

.data::placeholder {
  text-align: start !important;
  padding: 0 !important;
}

.data {
  padding: 0.5rem;
}

.erase-btn,
.erase-furnituredescription-btn,
.erase-input-btn {
  width: 34px;
  height: 22px;
}
.data,
.checkbox,
.loading-bar,
.textarea,
.input-container {
  position: relative;
}

.erase-btn,
.erase-furnituredescription-btn,
.currency,
.erase-input-btn {
  position: absolute !important;
}
.erase-btn {
  transform: translateX(-430%) translateY(150%);
}
.erase-furnituredescription-btn {
  transform: translateX(-1070%) translateY(100%);
}

.small-option {
  width: 47.5px !important;
}

.sub-title- {
  font-weight: 550 !important;
}
.sub-title- {
  font-size: 16.8px !important;
}

.Feature {
  height: 36px !important;
  width: 138px !important;
}
.Feature {
  border-radius: 17px !important;
}
.Feature:hover,
.textarea {
  border: 1px solid rgb(204, 204, 204) !important;
}

.property-Features {
  gap: 1rem !important;
  width: fit-content !important;
  height: fit-content !important;
}

.feature-pic {
  width: 18px !important;
  height: 18px !important;
}

#drawers-svgrepo-com {
  transform: scale(2) translateY(1px);
}

.feature-pic {
  transform: translateY(2px);
}

.selected2:hover {
  background-color: #cccccc !important;
}

#tap-faucet-svgrepo-com {
  transform: translateY(-1px) !important;
}

.Feature:hover img {
  filter: invert(32%) sepia(82%) saturate(2842%) hue-rotate(10deg)
    brightness(95%) contrast(95%) !important;
}

.selected2:hover img {
  filter: grayscale(100%) brightness(0%) !important;
}

textarea {
  border: none !important;
  margin: 1rem 0;
  width: 304px !important;
  background-color: transparent !important;
}
textarea:focus,
textarea:hover,
textarea {
  outline: none !important;
  border: none !important;
}

.textarea {
  width: 398px !important;
}
.textarea {
  margin: 0.5rem 0;
}

.fill-info {
  font-size: 12px !important;
}

.loading-bar {
  width: 290.672px;
  height: 30px;
}
.fill-loading-bar,
.loading-bar {
  background-color: rgb(243, 240, 240);

  color: rgb(85, 85, 85);
  border-bottom: 1px solid rgb(221, 221, 221);
  margin: 0px 0px 0px 6px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px 0px inset,
    rgb(255, 255, 255) 0px -1px 1px 0px, rgb(255, 255, 255) 0px 1px 0px 0px;
  border-radius: 15px;
}

.fill-loading-bar {
  max-width: 290.672px !important;
}

.descriptionMessage {
  z-index: 100;
}
.descriptionMessage,
.fill-loading-bar {
  position: absolute;
}

.red-gradient {
  background: repeating-linear-gradient(
    -45deg,
    #f14913,
    #f14913 10px,
    #f36436 10px,
    #f36436 20px
  );
}
.yellow-gradient {
  background: repeating-linear-gradient(
    -45deg,
    #fbaf00,
    #fbaf00 10px,
    #fcbb26 10px,
    #fcbb26 20px
  );
}
.dark-yellow-gradient {
  background: repeating-linear-gradient(
    -45deg,
    #f3ac36,
    #f3ac36 10px,
    #f19e13 10px,
    #f19e13 20px
  );
}
.light-yellow-gradient {
  background: repeating-linear-gradient(
    -45deg,
    #d4df63,
    #d4df63 10px,
    #ccd948 10px,
    #ccd948 20px
  );
}
.green-gradient {
  background: repeating-linear-gradient(
    -45deg,
    #43c770,
    #43c770 10px,
    #5fcf85 10px,
    #5fcf85 20px
  );
}

.red-gradient,
.yellow-gradient,
.light-yellow-gradient,
.green-gradient,
.dark-yellow-gradient {
  background-size: 200% 100%;
  animation: gradient-animation-right 10s linear infinite;
}

@keyframes gradient-animation-right {
  0% {
    background-position: 100%;
  }
  25% {
    background-position: 10% 30% 10%;
  }
  50% {
    background-position: 30% 25% 10%;
  }
  75% {
    background-position: 10% 10% 30%;
  }
  100% {
    background-position: 0%;
  }
}

.sub-title- {
  margin-top: 20px;
}

.content-chars {
  font-size: 19.2px !important;
}
.content-chars {
  color: #555555 !important;
}

.selected3,
.selected2,
.selected {
  background-color: rgb(238, 238, 238) !important;
}

.selected3:hover {
  background-color: #cccccc !important;
}
.selected3:hover,
.selected3,
.selected,
.selected2,
.selected2:hover {
  color: #000000 !important;
}

.dropdown-option {
  padding: 3px 6px !important;
}

.payment-option {
  font-size: 15px !important;
}

#builtSquareMeters {
  width: 205.906px !important;
}

.display-none {
  display: none !important;
}

.currency {
  color: #999999;
}

.currency {
  transform: translateX(-2050%) translateY(170%) scale(1.4);
}
.erase-input-btn {
  transform: translateX(-680%) translateY(155%);
}

.medium-input {
  transform: translateX(-520%) translateY(155%);
}

.move-right {
  transform: translateX(-1900%) translateY(170%) scale(1.4);
}

#entryDate {
  width: 209px !important;
  height: 38px !important;
}

.WeCheck-ad {
  height: 193px !important;
  width: 793px !important;
}

.WeCheck-container {
  width: 100%;
  margin: auto;
}

#main-image,
#main-image-frame,
.upload-img-card {
  height: 160.5px;
  width: 214px;
  border-radius: 4px !important;
}

.upload-text {
  color: #9d9d9d;
  font-size: 13.333px;
  padding: 1rem;
  /* margin-top: 0.75rem !important; */
}

.upload-container {
  height: 198.5px !important;
  width: 234px !important;
}

.upload-pictures {
  background-image: url("../../../assets/images/add-svgrepo-com.svg") !important;
}
.checkbox {
  height: 20px !important;
  width: 20px !important;
}
.upload-pictures {
  height: 36px !important;
  width: 36px !important;
}

#pictures {
  margin: 0 !important;
  padding: 0 !important;
}

.upload-img-card {
  margin: 0 auto 0.75rem auto !important;
  background-color: #ffffff;
}
