<div class="edit-container">
  <div class="space-block">.</div>
  <form
    id="edit-advertisement"
    class="advertisement-selection"
    (ngSubmit)="handleSubmit()"
  >
    <span class="title">עריכת פרטי הנכס </span>
    <div class="edit-inputs">
      <div class="input-container">
        <label class="small-text light-grey-text" for="assetType"
          >סוג הנכס*
        </label>
        <div id="assetType" class="data-input fill-block large light-grey-text">
          {{ advertisement.assetType }}
        </div>
      </div>
      <div class="input-container">
        <label class="small-text" for="number">מס' דירה</label>
        <input
          #HouseNumber
          class="data"
          id="houseNumber"
          [value]="this.houseNumber"
          (input)="
            this.houseNumber = HouseNumber.value;
            this.isHouseNumberEraseBtnHidden = false
          "
        />
        @if(!this.isHouseNumberEraseBtnHidden && HouseNumber.value.length > 0){
        <img
          (click)="clearInputValue('houseNumber'); HouseNumber.value = ''"
          class="erase-input-btn"
          src="assets/images/close-sm.svg"
          alt=""
        />
        }
      </div>
      <div class="input-container">
        <label class="small-text" for="number">מצב הנכס*</label>
        <button
          id="assetState"
          class="data large dropdown-btn"
          type="button"
          [ngStyle]="{
            border: this.isAssetAssetstateDropdownHidden
              ? 'solid 1px #cccccc '
              : 'solid 2px #363636 '
          }"
          (click)="
            this.openAndCloseDropdown(
              'assetState',
              this.isAssetAssetstateDropdownHidden
            )
          "
        >
          {{ this.advertisement.assetState }}

          <img class="arrow-down" src="assets/images/arrow-down.svg" alt="" />
        </button>
        <ul
          *ngIf="!this.isAssetAssetstateDropdownHidden"
          class="dropdown-select"
        >
          <li
            class="dropdown-option"
            *ngFor="let option of advertisementService.assetConditions"
            (click)="selectOption(option, 'assetState')"
          >
            {{ option }}
          </li>
        </ul>
      </div>
      <div class="input-container">
        <label class="small-text" for="view">כיווני אוויר</label>
        <div class="Select-options">
          <div
            *ngFor="
              let number of advertisementService.AirDirections;
              let i = index
            "
            [ngClass]="optionClass(i, false)"
            [class.selected3]="advertisement.airDirections === number"
            (click)="selectBtnOption(number, 'airDirections', 'none')"
          >
            {{ number }}
          </div>
        </div>
      </div>

      <div class="input-container">
        <label class="small-text" for="view"> נוף פתוח</label>
        <div class="Select-options">
          <div
            *ngFor="let view of advertisementService.viewOptions; let i = index"
            [ngClass]="optionClass(i, false)"
            [class.selected3]="this.advertisement.view === view"
            (click)="selectBtnOption(0, 'view', view)"
          >
            {{ view }}
          </div>
        </div>
      </div>
      <label class="checkbox-input">
        <input
          class="checkbox"
          type="checkbox"
          #frontProperty
          [checked]="this.advertisement.rearProperty.valueOf()"
          (input)="this.advertisement.rearProperty = frontProperty.checked"
        />
        נכס עורפי
      </label>

      <div class="input-container">
        <label class="small-text light-grey-text" for="city">ישוב* </label>
        <div id="city" class="data-input fill-block large light-grey-text">
          {{ advertisement.city }}
        </div>
      </div>
      <div class="input-container">
        <label class="small-text light-grey-text" for="street">רחוב* </label>
        <div id="street" class="data-input fill-block large light-grey-text">
          {{ advertisement.street }}
        </div>
        <div class="address-info-box address-info">
          המידע הזה מגיע מגוף ממשלתי, אם הרחוב שלך לא מופיע, מומלץ לבחור רחוב
          קרוב אליך
        </div>
      </div>

      <div class="input-container">
        <label class="small-text light-grey-text" for="number">מס' בית* </label>
        <div
          id="number"
          class="data-input fill-block medium-size light-grey-text"
        >
          {{ advertisement.number }}
        </div>
      </div>

      <div class="floor-description">
        <div class="input-container">
          <div class="input-container">
            <label class="small-text light-grey-text" for="floor">קומה*</label>
            <div
              id="floor"
              class="data-input fill-block medium-size light-grey-text large-size"
            >
              {{ advertisement.floor }}
            </div>
          </div>
          <div id="floor-error" class="error-text">שדה חובה</div>
        </div>

        <div class="input-container">
          <label class="small-text" for="totalFloors">סה״כ קומות בבניין*</label>
          <input
            #TotalFloorInput
            class="data medium large-size"
            id="totalFloors"
            placeholder="הכנסת סה״כ קומות "
            [value]="
              advertisement.totalFloors.toString() === 'NaN' ||
              advertisement.totalFloors === 0
                ? ''
                : advertisement.totalFloors.toString()
            "
            (input)="
              advertisement.totalFloors = removeCommasFromNumberAndParseInt(
                TotalFloorInput.value
              );
              this.isTotalFloorsEraseBtnHidden = false
            "
          />

          @if(!this.isTotalFloorsEraseBtnHidden && TotalFloorInput.value.length
          > 0){
          <img
            (click)="clearInputValue('totalFloors'); TotalFloorInput.value = ''"
            class="erase-btn"
            src="assets/images/close-sm.svg"
            alt=""
          />
          }
          <div id="totalFloors-error" class="error-text">
            זהו שדה חובה - סה"כ קומות בבניין
          </div>
        </div>
        <div class="check-input margin-bottom">
          <input
            #onPillars
            class="checkbox"
            type="checkbox"
            (input)="this.advertisement.onPillars = onPillars.checked"
          />
          <label> על עמודים </label>
        </div>
      </div>

      <div class="input-container">
        <label class="small-text light-grey-text" for="number"
          >מספר חדרים*
        </label>
        <div
          id="number"
          class="data-input fill-block medium-size light-grey-text"
        >
          {{ this.advertisement.rooms }}
        </div>
      </div>

      <div class="input-container">
        <label class="small-text" for="privateParking">חניה</label>
        <div class="Select-options">
          <div
            *ngFor="
              let number of advertisementService.privateParking;
              let i = index
            "
            [ngClass]="[optionClass(i, false), 'small-option']"
            [class.selected3]="advertisement.privateParking === number"
            (click)="selectBtnOption(number, 'privateParking', 'none')"
          >
            @if(number==0){ {{ "ללא" }}} @else{{{ number }}}
          </div>
        </div>
      </div>
      <div class="input-container">
        <label class="small-text" for="balconiesNumber">מרפסת</label>
        <div class="Select-options">
          <div
            *ngFor="
              let number of advertisementService.balconiesNumber;
              let i = index
            "
            [ngClass]="[optionClass(i, false), 'small-option']"
            [class.selected3]="advertisement.balconiesNumber === number"
            (click)="selectBtnOption(number, 'balconiesNumber', 'none')"
          >
            @if(number==0){ {{ "ללא" }}} @else{{{ number }}}
          </div>
        </div>
      </div>

      <div class="sub-title-">מאפייני הנכס</div>

      <div class="property-Features">
        <div
          class="Feature"
          *ngFor="let item of propertyFeatures; let i = index"
          (click)="selectPropertyFeatures(i)"
          [class.selected2]="this.findPropertyFeature(i) === true"
        >
          <img
            id="{{ propertyFeaturesImages[i] }}"
            [src]="'assets/images/' + propertyFeaturesImages[i] + '.svg'"
            class="feature-pic"
            alt="feature"
          />
          <span>
            {{ item }}
          </span>
        </div>
      </div>
      <div class="sub-title-">מה חשוב לך שידעו על הנכס?</div>

      <div class="description-box" *ngIf="advertisement.furnished">
        <div class="text-length-box">
          <label class="small-text" for=""> פרוט הריהוט: (עד 200 תוים) </label>
          <div class="description-title description-box">
            <div class="loading-bar">
              <span class="descriptionMessage">
                {{ this.changeText(advertisement.furnituredescription.length) }}
              </span>
            </div>
            <div
              [ngClass]="
                changeColor(advertisement.furnituredescription.length || 0)
              "
              [ngStyle]="{
                width: changeWidth(
                  advertisement.furnituredescription.length || 0
                ),
                height: changeHieght(
                  advertisement.furnituredescription.length || 0
                )
              }"
            ></div>

            <div class="content-chars">
              {{ advertisement.furnituredescription.length || 0 }}/200
            </div>
          </div>
        </div>
        <div class="textarea">
          @if(!this.isFurnitureDescriptionEraseBtnHidden &&
          furnitureDescription.value.length > 0){
          <img
            (click)="clearInputValue('furnituredescription')"
            class="erase-furnituredescription-btn"
            src="assets/images/close-sm.svg"
            alt=""
          />
          }
          <textarea
            maxlength="200"
            id="furnituredescription"
            #furnitureDescription
            (input)="
              this.advertisement.furnituredescription =
                furnitureDescription.value;
              this.isFurnitureDescriptionEraseBtnHidden = false
            "
            [value]="advertisement.furnituredescription"
          ></textarea>
        </div>
      </div>
      <div class="description-box">
        <div class="text-length-box">
          <label class="small-text" for=""> פרוט הנכס </label>
          <div class="description-title description-box">
            <div class="loading-bar">
              <span class="descriptionMessage">
                {{ this.changeText(advertisement.description.length) }}
              </span>
            </div>
            <div
              [ngClass]="changeColor(advertisement.description.length || 0)"
              [ngStyle]="{
                width: changeWidth(advertisement.description.length || 0),
                height: changeHieght(advertisement.description.length || 0)
              }"
            ></div>

            <div class="content-chars">
              {{ advertisement.description.length || 0 }}/400
            </div>
          </div>
        </div>
        <div class="textarea">
          @if(!this.isDescriptionEraseBtnHidden && assetDescription.value.length
          > 0){
          <img
            (click)="clearInputValue('description')"
            class="erase-furnituredescription-btn"
            src="assets/images/close-sm.svg"
            alt=""
          />
          }
          <textarea
            maxlength="400"
            id="assetDescription"
            #assetDescription
            (input)="
              this.advertisement.description = assetDescription.value;
              this.isDescriptionEraseBtnHidden = false
            "
            [value]="advertisement.description"
          ></textarea>
        </div>
        <div class="fill-info">
          אין צורך להוסיף מספר טלפון כחלק מהתיאור, בהמשך התהליך יש אזור מסודר
          לזה
        </div>
      </div>
      <div class="input-container">
        <label class="small-text" for="number">מספר תשלומים *</label>
        <button
          id="assetState"
          class="data large dropdown-btn"
          type="button"
          [ngStyle]="{
            border: this.isNumberOfPaymentsDropdownHidden
              ? 'solid 1px #cccccc '
              : 'solid 2px #363636 '
          }"
          (click)="
            this.openAndCloseDropdown(
              'numberOfPayments',
              this.isNumberOfPaymentsDropdownHidden
            )
          "
        >
          {{ this.advertisement.numberOfPayments }}

          <img class="arrow-down" src="assets/images/arrow-down.svg" alt="" />
        </button>
        <ul
          *ngIf="!this.isNumberOfPaymentsDropdownHidden"
          class="dropdown-select"
        >
          <li
            class="dropdown-option payment-option"
            *ngFor="let option of advertisementService.numberOfPayments"
            (click)="selectOption(option, 'numberOfPayments')"
          >
            {{ option }}
          </li>
        </ul>
      </div>
      <div class="input-container">
        <label class="small-text" for="number">ועד בית </label>
        <input
          placeholder="הכנסת סכום תשלום לועד בית"
          #houseCommitteePayment
          class="data number-input"
          id="houseCommitteePayment"
          [value]="
            advertisement.houseCommitteePayment.toString() === 'NaN' ||
            advertisement.houseCommitteePayment === 0
              ? ''
              : advertisement.houseCommitteePayment.toString()
          "
          (input)="
            advertisement.houseCommitteePayment =
              removeCommasFromNumberAndParseInt(houseCommitteePayment.value);
            this.isHouseCommitteePaymentEraseBtnHidden = false
          "
        />
        @if(!this.isHouseCommitteePaymentEraseBtnHidden &&
        houseCommitteePayment.value.length > 0){
        <img
          (click)="
            clearInputValue('houseCommitteePayment');
            houseCommitteePayment.value = ''
          "
          class="erase-input-btn"
          src="assets/images/close-sm.svg"
          alt=""
        />
        }
      </div>
      <div class="input-container">
        <label class="small-text" for="number"> ארנונה לחודשיים </label>
        <input
          placeholder="סכום הארנונה לתשלום"
          #municipalityMonthlyPropertyTax
          class="data number-input"
          id="municipalityMonthlyPropertyTax"
          [value]="
            advertisement.municipalityMonthlyPropertyTax.toString() === 'NaN' ||
            advertisement.municipalityMonthlyPropertyTax === 0
              ? ''
              : advertisement.municipalityMonthlyPropertyTax.toString()
          "
          (input)="
            advertisement.municipalityMonthlyPropertyTax =
              removeCommasFromNumberAndParseInt(
                municipalityMonthlyPropertyTax.value
              );
            this.isMunicipalityMonthlyPropertyTaxEraseBtnHidden = false
          "
        />
        @if(!this.isMunicipalityMonthlyPropertyTaxEraseBtnHidden &&
        municipalityMonthlyPropertyTax.value.length > 0){
        <img
          (click)="
            clearInputValue('municipalityMonthlyPropertyTax');
            municipalityMonthlyPropertyTax.value = ''
          "
          class="erase-input-btn"
          src="assets/images/close-sm.svg"
          alt=""
        />
        }
      </div>
      <div class="input-container">
        <label class="small-text" for="number"> מ"ר בנוי </label>
        <input
          placeholder="כמה מ{{ this.apostrophe }}ר בנוי יש בנכס"
          #builtSquareMeters
          class="data number-input"
          id="builtSquareMeters"
          [value]="
            advertisement.builtSquareMeters.toString() === 'NaN' ||
            advertisement.builtSquareMeters === 0
              ? ''
              : advertisement.builtSquareMeters.toString()
          "
          (input)="
            advertisement.builtSquareMeters = removeCommasFromNumberAndParseInt(
              builtSquareMeters.value
            );
            this.isBuiltSquareMetersEraseBtnHidden = false
          "
        />
        @if(!this.isBuiltSquareMetersEraseBtnHidden &&
        builtSquareMeters.value.length > 0){
        <img
          (click)="
            clearInputValue('builtSquareMeters'); builtSquareMeters.value = ''
          "
          class="erase-input-btn medium-input"
          src="assets/images/close-sm.svg"
          alt=""
        />
        }
      </div>
      <div class="input-container">
        <label class="small-text" for="number"> גודל במ"ר סך הכל* </label>
        <input
          #totalSquareMeters
          class="data number-input"
          id="totalSquareMeters"
          [value]="
            advertisement.totalSquareMeters.toString() === 'NaN' ||
            advertisement.totalSquareMeters === 0
              ? ''
              : advertisement.totalSquareMeters.toString()
          "
          (input)="
            advertisement.totalSquareMeters = removeCommasFromNumberAndParseInt(
              totalSquareMeters.value
            );
            this.isTotalSquareMetersEraseBtnHidden = false
          "
        />
        @if(!this.isTotalSquareMetersEraseBtnHidden &&
        totalSquareMeters.value.length > 0){
        <img
          (click)="
            clearInputValue('totalSquareMeters'); totalSquareMeters.value = ''
          "
          class="erase-input-btn"
          src="assets/images/close-sm.svg"
          alt=""
        />
        }
      </div>
      <div class="input-container price-box">
        <label class="small-text" for="number"> מחיר </label>
        <input
          #price
          class="data number-input"
          type="text"
          id="price"
          [value]="
            advertisement.price.toString() === 'NaN' ||
            advertisement.price === 0
              ? ''
              : advertisement.price.toString()
          "
          (input)="
            advertisement.price = removeCommasFromNumberAndParseInt(
              price.value
            );
            this.isPriceEraseBtnHidden = false
          "
          placeholder="{{
            advertisement.tradeType === 'השכרה'
              ? 'סכום מינימלי 100'
              : 'סכום מינימלי 10,000'
          }}"
        />
        @if(!this.isPriceEraseBtnHidden && price.value.length > 0){
        <div class="currency move-right">&#x20AA;</div>
        <img
          (click)="clearInputValue('price'); price.value = ''"
          class="erase-input-btn"
          src="assets/images/close-sm.svg"
          alt=""
        />
        }@else {
        <div class="currency">&#x20AA;</div>
        }
      </div>
      <label class="small-text" for="entryDate"> תאריך כניסה*</label>

      <div class="date-container">
        <div class="">
          <input
            id="entryDate"
            class="date-input"
            type="date"
            placeholder="dd/mm/2024"
            #entryDate
            [value]="formatDateString(advertisement.entryDate)"
            (input)="
              advertisement.entryDate = this.toDateString(entryDate.value)
            "
          />
        </div>

        <div class="date-checkbox">
          <div>
            <input
              (change)="setDateForToday('immediate')"
              class="checkbox"
              type="checkbox"
              #immediate
              (input)="
                flexible.checked = false;
                disableCalendar(flexible.checked, immediate.checked)
              "
            />
            מיידי
          </div>
          <div>
            <input
              (change)="setDateForToday('flexible')"
              class="checkbox"
              type="checkbox"
              #flexible
              (input)="
                immediate.checked = false;
                disableCalendar(flexible.checked, immediate.checked)
              "
            />
            גמיש
          </div>
        </div>
      </div>
      <div id="entryDate-error" class="error-text">תאריך שהוזן לא תקין.</div>

      <label class="checkbox-input">
        <input
          class="checkbox"
          type="checkbox"
          #LongTerm
          [checked]="this.advertisement.rearProperty.valueOf()"
          (input)="this.advertisement.longTerm = LongTerm.checked"
        />
        לטווח ארוך
      </label>

      <div class="WeCheck-container">
        <div class="WeCheck-ad"></div>
      </div>
      <div class="main-images-container">
        <div class="video-upload">
          <div class="card-content" (click)="openFileUploading('video')">
            <div class="camara-image-container">
              <div>
                <img
                  id="video-pic"
                  src="assets/images/video-svgrepo-com.svg"
                  alt=""
                />
              </div>
              <div class="upload-video-box">העלאת סרטון</div>
            </div>
            <input
              type="file"
              id="video"
              class="file-input"
              formControlName="video"
              accept="video/*"
            />
          </div>
          <video #videoPlayer controls *ngIf="false">
            <source [src]="" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
        <div
          class="upload-container"
          (mouseleave)="
            hideImageOnHover(
              0,
              this.advertisement.pictures[0].url,
              this.imagesURlWasDeleted[0]
            )
          "
        >
          @if((!this.imagesURlWasDeleted[0]) ){
          <div
            class="image-btns"
            (click)="openFileUploading('pictures')"
            (mouseenter)="hideImageOnHover(0, '', this.imagesURlWasDeleted[0])"
          >
            <div class="image-btn-circle">
              <img
                id="delete-image"
                class="image-btn"
                src="assets/images/recycle-bin-garbage.svg"
                alt=""
                (click)="deleteImage(0)"
              />
            </div>
            <div class="image-btn-circle">
              <img
                class="image-btn"
                src="assets/images/refresh-svgrepo-com.svg"
                alt=""
              />
            </div>
          </div>
          }
          <div
            class="card-header"
            (mouseenter)="
              hideImageOnHover(
                0,
                this.advertisement.pictures[0].url,
                this.imagesURlWasDeleted[0]
              )
            "
          >
            תמונות ראשית
          </div>

          <div
            id="main-image-frame"
            class="upload-img-card"
            (click)="openFileUploading('pictures')"
          >
            @if(this.imagesURLs[0] === '' ){
            <div class="camara-image-container">
              <div>
                <input
                  #image
                  class="file-input upload-pictures"
                  type="file"
                  id="picture{{ 0 }}"
                  (change)="changeImage($event, 0)"
                />
              </div>
              <div class="upload-box">העלאת תמונות</div>
            </div>

            } @else {
            <img
              id="main-image"
              class=""
              [src]="this.imagesURLs[0]"
              (mouseleave)="
                hideImageOnHover(
                  0,
                  this.advertisement.pictures[0].url,
                  this.imagesURlWasDeleted[0]
                )
              "
              (mouseenter)="
                hideImageOnHover(0, '', this.imagesURlWasDeleted[0])
              "
            />
            }
          </div>
        </div>
      </div>
      <div class="images-headline-wrapper">
        <div class="images-headline">תמונות שיופיעו בגוף המודעה</div>
      </div>
      <div class="ad-images">
        <div
          class="image-card"
          *ngFor="let i of [].constructor(9); let index = index"
        >
          <div
            class="image-card"
            (mouseleave)="
              hideImageOnHover(
                index + 1,
                this.advertisement.pictures[index + 1].url,
                this.imagesURlWasDeleted[index + 1]
              )
            "
          >
            @if((!this.imagesURlWasDeleted[index + 1]) ){
            <div
              class="image-btns image-card-container"
              (click)="openFileUploading('pictures')"
              (mouseenter)="
                hideImageOnHover(
                  index + 1,
                  '',
                  this.imagesURlWasDeleted[index + 1]
                )
              "
            >
              <div class="image-btn-circle">
                <img
                  id="delete-image"
                  class="image-btn"
                  src="assets/images/recycle-bin-garbage.svg"
                  alt=""
                  (click)="deleteImage(index + 1)"
                />
              </div>
              <div class="image-btn-circle">
                <img
                  class="image-btn"
                  src="assets/images/refresh-svgrepo-com.svg"
                  alt=""
                />
              </div>
            </div>
            }
            <div
              class=""
              (mouseenter)="
                hideImageOnHover(
                  index + 1,
                  this.advertisement.pictures[index + 1].url,
                  this.imagesURlWasDeleted[index + 1]
                )
              "
            ></div>

            <div
              id=""
              class="upload-img-card ad-card-container dashed-frame"
              (click)="openFileUploading('pictures')"
            >
              @if(this.imagesURLs[index + 1] === '' ){
              <div class="camara-image-container">
                <div>
                  <input
                    #image
                    class="file-input upload-pictures"
                    type="file"
                    id="pictures{{ index + 1 }}"
                    (change)="changeImage($event, index + 1)"
                  />
                </div>
                <div class="upload-box">העלאת תמונות</div>
              </div>

              } @else {
              <img
                id="card-image"
                class="ad-card"
                [src]="this.imagesURLs[index + 1]"
                (mouseleave)="
                  hideImageOnHover(
                    index + 1,
                    this.advertisement.pictures[index + 1].url,
                    this.imagesURlWasDeleted[index + 1]
                  )
                "
                (mouseenter)="
                  hideImageOnHover(
                    index + 1,
                    '',
                    this.imagesURlWasDeleted[index + 1]
                  )
                "
              />
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div id="contact-form" class="contact-part advertisement-selection">
    <div class="right-div">
      <div class="title-part">
        <div class="contact-form-title">סיום עריכה</div>
        <div class="contact-form-ad">
          רגע לפני שמפרסמים את המודעה, נרצה להכיר אותך
        </div>
      </div>
      <div class="input-container">
        <label class="small-text" for="number"> בעלות הנכס</label>
        <button
          id="assetOwner"
          class="data large dropdown-btn"
          type="button"
          [ngStyle]="{
            border: this.isassetOwnerDropdownHidden
              ? 'solid 1px #cccccc '
              : 'solid 2px #363636 '
          }"
          (click)="
            this.openAndCloseDropdown(
              'assetOwner',
              this.isassetOwnerDropdownHidden
            )
          "
        >
          {{ this.asset_Owner }}

          <img class="arrow-down" src="assets/images/arrow-down.svg" alt="" />
        </button>
        <ul *ngIf="!this.isassetOwnerDropdownHidden" class="dropdown-select">
          <li
            class="dropdown-option"
            *ngFor="let option of assetOwner"
            (click)="selectOption(option, 'assetOwner')"
          >
            {{ option }}
          </li>
        </ul>
      </div>
      <div class="phone-Number-Box">
        <div class="input-container">
          <label class="small-text" for="number">שם איש קשר*</label>
          <input
            #contactName
            class="data number-input"
            id="contactName"
            [value]="advertisement.contactName"
            (input)="
              advertisement.contactName = contactName.value;
              this.iscontactNameEraseBtnHidden = false
            "
          />
          @if(!this.iscontactNameEraseBtnHidden && contactName.value.length >
          0){
          <img
            (click)="
              clearInputValue('contactName'); advertisement.contactName = ''
            "
            id="erase-contactName"
            class="erase-input-btn"
            src="assets/images/close-sm.svg"
            alt=""
          />
          }
        </div>
        <div id="contactPhoneNumberBox" class="input-container">
          <label class="small-text" for="number"> טלפון ראשי*</label>
          <button
            id="contactPhoneNumber"
            class="data large dropdown-btn"
            type="button"
          >
            {{ this.advertisement.contactPhone }}

            <img
              class="plus-circle"
              src="assets/images/plus-circle-svgrepo-com.svg"
              alt=""
            />
          </button>
        </div>
      </div>
      <div class="input-container">
        @if(!this.has2Contacts){
        <div
          class="remove-add-contact"
          style="color: #ff7f30"
          (click)="Definecontacts(2)"
        >
          <mat-icon>control_point</mat-icon>

          <span>הוספת איש קשר נוסף</span>
        </div>
        } @if(this.has2Contacts){
        <div class="phone-Number-Box">
          <div class="input-container">
            <label class="small-text" for="number"> איש קשר נוסף </label>
            <input
              #SecondContactName
              class="data number-input"
              id="secondContactName"
              [value]="this.secondContactName"
              (input)="
                this.secondContactName = SecondContactName.value;
                this.isSecondcontactNameEraseBtnHidden = false
              "
            />
            @if(!this.isSecondcontactNameEraseBtnHidden &&
            SecondContactName.value.length > 0){
            <img
              (click)="
                clearInputValue('secondContactName');
                this.secondContactName = ''
              "
              id="erase-contactName"
              class="erase-input-btn"
              src="assets/images/close-sm.svg"
              alt=""
            />
            }
          </div>
          <div id="SecondcontactPhoneNumberBox" class="input-container">
            <label class="small-text" for="number"> טלפון נוסף</label>
            <button
              id="contactPhoneNumber"
              class="data large dropdown-btn"
              type="button"
              [ngStyle]="{
                color:
                  this.secondContactPhone === '' ? 'transparent' : '#0000000'
              }"
            >
              {{
                this.secondContactPhone === ""
                  ? "empty"
                  : this.secondContactPhone
              }}

              <img
                class="plus-circle"
                src="assets/images/plus-circle-svgrepo-com.svg"
                alt=""
              />
            </button>
          </div>
        </div>
        <div class="remove-add-contact" (click)="Definecontacts(1)">
          <img
            id="delete-image"
            class="image-btn"
            src="assets/images/recycle-bin-garbage.svg"
            alt=""
          />

          ביטול
        </div>
        }
      </div>
      <div class="input-container">
        <label class="small-text" for="number">דוא"ל</label>
        <input
          #UserEmailAddress
          class="data number-input"
          id="contactName"
          [value]="this.userEmailAddress"
          (input)="this.userEmailAddress = UserEmailAddress.value"
        />
      </div>
    </div>
    <div class="left-div">
      <div>
        <div><img src="assets/images/miniSpot.svg" alt="" /></div>
        <div><img src="assets/images/checkIcon.svg" alt="" /></div>
        <div><img src="assets/images/checkIcon.svg" alt="" /></div>
      </div>
      <button (click)="this.handleSubmit()" class="post-ad-btn">
        עדכון הודעה
      </button>
    </div>
  </div>
</div>
