* {
  direction: rtl;
  font-size: 14px !important;
  font-weight: unset !important;
}

li {
  list-style-type: none !important;
}

.edit-container,
.advertisement-selection {
  border-radius: 10px;
  border: transparent !important;
  box-shadow: rgba(12, 0, 51, 0.1) 0px 2px 4px 0px;
  background-color: rgb(245, 245, 245);
}
.edit-container {
  width: 100%;
}

.loading-bar,
.contact-form-ad,
#furnituredescription,
#assetDescription,
.descriptionMessage {
  font-size: 16px !important;
}

.ad-pics,
#contact-form,
.note {
  display: grid !important;
}

.note {
  grid-template-columns: 1fr 5fr;
}

#contact-form {
  grid-template-columns: 1fr 1fr !important;
}
.ad-pics {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.ad-pics {
  row-gap: 26px !important;
}

.ad-pics {
  width: 780px !important;
}

#contact-form {
  min-height: 617.594px !important;
}

.data-input,
.edit-inputs,
.dropdown-option,
.dropdown-select,
.address-info-box,
.squre,
.loading-bar,
.text-length-box,
.description-box,
.upload-img-card,
.option,
.image-btn-circle,
.image-btns,
.main-images-container,
.camara-image-container,
.card-content,
.contact-part,
.right-div,
.title-part,
.phone-Number-Box,
.miniSpot-img,
.flex,
.note-text,
.left-div,
.score-container,
.score-content,
.double-input-box,
.descriptionMessage {
  display: flex;
}

.property-Features,
.checkbox {
  margin: 0 !important;
  padding: 0 !important;
}

.flex {
  gap: 2px;
}

.dropdown-select {
  align-items: end !important;
}
.dropdown-select {
  transform: translateY(-18px);
}

.dropdown-option {
  height: 400px !important;
}

.edit-inputs,
.dropdown-select,
.address-info-box,
.text-length-box,
.upload-img-card,
.camara-image-container,
.right-div,
.title-part,
.phone-Number-Box,
.note-text,
.left-div,
.score-container,
.double-input-box {
  flex-direction: column;
}

.double-input-box {
  gap: 2rem !important;
}

.score-container {
  gap: 24px;
}

.note-text {
  gap: 0.5rem;
}

.text-length-box {
  gap: 0.5rem;
}

.data-input,
.squre,
.loading-bar,
.description-box,
.upload-img-card,
.option,
.image-btn-circle,
.image-btns,
.camara-image-container,
.card-content,
.miniSpot-img {
  align-items: center !important;
}

.edit-inputs,
.contact-part {
  margin: 19px 0 !important;
}

.main-images-container,
.contact-part {
  gap: 1rem !important;
}

.edit-inputs {
  gap: 1.5rem;
}
.edit-inputs {
  transform: translateX(4px);
}

.right-div,
.title-part {
  gap: 1.5rem !important;
}
.phone-Number-Box {
  gap: 22px !important;
}
.phone-Number-Box {
  margin-top: 1rem !important;
}

.main-images-container {
  height: 241px !important;
  margin: 30px 0px 0px;
  border-bottom: rgb(157, 157, 157) 1px solid;
}

.input-container {
  padding: 0 !important;
}

#edit-advertisement {
  padding: 30px 48px !important;
}
#edit-advertisement {
  border-radius: 6px !important;
}

.space-block {
  color: transparent !important;
  height: 70px !important;
}

.title,
.contact-form-title {
  font-weight: 300 !important;
}
.title {
  margin-bottom: 1rem;
  margin-top: 4px;
}

.advertisement-selection {
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

form,
.WeCheck-ad {
  background-color: #f8f8f8 !important;
}

.data-input,
.data {
  height: 40px !important;
}
.data-input,
.data,
.dropdown-option,
.dropdown-select,
.address-info {
  width: 261.359px !important;
}

.dropdown-option {
  height: fit-content !important;
  padding: unset !important;
  margin: unset !important;
}
.dropdown-option:hover {
  background-color: #0078d7;
  color: white;
}

.not-allowed,
.dropdown-option:hover {
  cursor: default !important;
}

.fill-block {
  text-indent: 8px;
  background-color: rgb(255, 255, 255, 0.3);
  border: 1px solid rgb(238, 238, 238, 0.7) !important;
  padding: 0.25rem;
  color: rgb(204, 204, 204, 0.75) !important;
}

.data {
  border: solid 1px #cccccc;
}

.edit-inputs {
  margin-top: -2px;
}

.dropdown-select {
  box-shadow: none !important;
  border: solid 1px black !important;
}

.dropdown-select {
  height: max-content !important;
}

.arrow-down {
  height: 14px;
  width: 14px;
}

.selected,
.option:hover {
  border: 1px solid #cccccc !important;
}

.option:hover,
.option,
.post-ad-btn {
  background-color: rgb(255, 255, 255);
}

.selected:hover,
.option:hover,
.option {
  border: 1px solid rgb(172, 172, 172) !important;
}

.option {
  line-height: 16.1px;
  height: 40px !important;
  width: 63.3281px !important;
  border: 1px solid #cccccc;
  padding: 0px 12px;
}

.loading-bar,
.option,
.upload-img-card,
.image-btn-circle,
.camara-image-container,
.card-content,
.miniSpot-img {
  justify-content: center !important;
}
.description-box,
.image-btns,
.left-div,
.score-content {
  justify-content: space-between;
}

.left-div,
.right-div {
  height: 100%;
}
.left-div {
  align-items: flex-end;
}

.description-box {
  padding-left: 0.25rem;
}

.erase-btn,
.option,
.erase-furnituredescription-btn,
.erase-input-btn,
#main-image,
.image-btn,
.upload-container,
.card-content,
.ad-card-container,
.input-container button,
.Feature {
  cursor: pointer;
}

.selected:hover {
  background-color: rgb(204, 204, 204) !important;
}

.checkbox:checked::after {
  width: 10px;
  height: 10px !important;
  border: solid white;
  left: 6px !important;
}

.address-info {
  font-size: 11px !important;
}
.address-info,
.fill-info {
  word-spacing: -0.05rem !important;
  line-height: 1.2 !important;
}

.medium-size {
  width: 130.766px !important;
}

.large-size {
  width: 176.766px !important;
}

#entryDate {
  width: 209px !important;
}

.large-size,
#entryDate,
#contactName {
  height: 38px !important;
}
#contactName,
#contactPhoneNumber,
#contactPhoneNumberBox,
#secondContactName {
  width: 240px !important;
}

.data::placeholder {
  text-align: start !important;
  padding: 0 !important;
}

.erase-btn,
.erase-furnituredescription-btn,
.erase-input-btn {
  width: 34px;
  height: 22px;
}
.data,
.checkbox,
.loading-bar,
.textarea,
.input-container,
.upload-container,
.card-content {
  position: relative;
}

.erase-btn {
  transform: translateX(-430%) translateY(150%);
}
.erase-furnituredescription-btn {
  transform: translateX(-1070%) translateY(100%);
}

.small-option {
  width: 47.5px !important;
}

.sub-title- {
  font-weight: 500 !important;
}
.sub-title- {
  font-size: 16.8px !important;
}

.Feature {
  height: 36px !important;
  width: 138px !important;
}
.Feature {
  border-radius: 17px !important;
}
.Feature:hover,
.textarea {
  border: 1px solid rgb(204, 204, 204) !important;
}

.property-Features {
  gap: 1rem !important;
  width: fit-content !important;
  height: fit-content !important;
}

.feature-pic {
  width: 18px !important;
  height: 18px !important;
}

#drawers-svgrepo-com {
  transform: scale(2) translateY(1px);
}

.feature-pic {
  transform: translateY(2px);
}

.selected2:hover {
  background-color: #cccccc !important;
}

#tap-faucet-svgrepo-com {
  transform: translateY(-1px) !important;
}

.Feature:hover img {
  filter: invert(32%) sepia(82%) saturate(2842%) hue-rotate(10deg)
    brightness(95%) contrast(95%) !important;
}

.selected2:hover img {
  filter: grayscale(100%) brightness(0%) !important;
}

textarea {
  border: none !important;
  margin: 1rem 0;
  width: 330px !important;
  background-color: transparent !important;
}

textarea:focus,
textarea:hover,
textarea {
  outline: none !important;
  border: none !important;
}

.textarea {
  width: 398px !important;
}
.textarea {
  margin: 0.5rem 0;
}

.fill-info {
  font-size: 12px !important;
}
.fill-info,
.ad-tip {
  word-spacing: -0.1rem !important;
}

.loading-bar {
  width: 290.672px;
  height: 30px;
}
.fill-loading-bar,
.loading-bar {
  background-color: rgb(243, 240, 240);

  color: rgb(85, 85, 85);
  border-bottom: 1px solid rgb(221, 221, 221);
  margin: 0px 0px 0px 6px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px 0px inset,
    rgb(255, 255, 255) 0px -1px 1px 0px, rgb(255, 255, 255) 0px 1px 0px 0px;
}

#score-bar,
.loading-bar,
.fill-loading-bar,
#score-bar-fill {
  border-radius: 15px;
}

.fill-loading-bar {
  max-width: 290.672px !important;
}

.descriptionMessage {
  z-index: 100;
}
.descriptionMessage,
.fill-loading-bar,
#score-bar,
.image-btns,
#score-bar-fill,
.erase-btn,
.erase-furnituredescription-btn,
.currency,
.erase-input-btn,
.camara-image-container,
.image-card-container {
  position: absolute;
}

.red-gradient {
  background: repeating-linear-gradient(
    -45deg,
    #f14913,
    #f14913 10px,
    #f36436 10px,
    #f36436 20px
  );
}
.yellow-gradient {
  background: repeating-linear-gradient(
    -45deg,
    #fbaf00,
    #fbaf00 10px,
    #fcbb26 10px,
    #fcbb26 20px
  );
}
.dark-yellow-gradient {
  background: repeating-linear-gradient(
    -45deg,
    #f3ac36,
    #f3ac36 10px,
    #f19e13 10px,
    #f19e13 20px
  );
}
.light-yellow-gradient {
  background: repeating-linear-gradient(
    -45deg,
    #d4df63,
    #d4df63 10px,
    #ccd948 10px,
    #ccd948 20px
  );
}
.green-gradient {
  background: repeating-linear-gradient(
    -45deg,
    #43c770,
    #43c770 10px,
    #5fcf85 10px,
    #5fcf85 20px
  );
}
.ad-score-yellow-gradient {
  background: repeating-linear-gradient(
    -45deg,
    #ffab00,
    #ffab00 10px,
    #ffab00 10px,
    #ffab00 20px
  );
}
.ad-score-pink-gradient {
  background: repeating-linear-gradient(
    -45deg,
    #ef7287,
    #ef7287 10px,
    #ec5972 10px,
    #ec5972 20px
  );
}
.ad-score-green-gradient {
  background: repeating-linear-gradient(
    -45deg,
    #43caaf,
    #43caaf 10px,
    #22c1a1 10px,
    #22c1a1 20px
  );
}

.red-gradient,
.yellow-gradient,
.light-yellow-gradient,
.green-gradient,
.dark-yellow-gradient,
.ad-score-green-gradient,
.ad-score-pink-gradient,
.ad-score-yellow-gradient {
  background-size: 200% 100%;
  animation: gradient-animation-right 10s linear infinite;
  border: transparent !important;
  outline: none !important;
}

.ad-score-green-gradient,
.ad-score-pink-gradient,
.ad-score-yellow-gradient {
  animation: gradient-animation-right 20s linear infinite;
}

@keyframes gradient-animation-right {
  0% {
    background-position: 100%;
  }
  25% {
    background-position: 10% 30% 10%;
  }
  50% {
    background-position: 30% 25% 10%;
  }
  75% {
    background-position: 10% 10% 30%;
  }
  100% {
    background-position: 0%;
  }
}

.sub-title- {
  margin-top: 20px;
}

.content-chars {
  font-size: 19.2px !important;
}
.content-chars {
  color: #555555 !important;
}

.selected3,
.selected2,
.selected {
  background-color: rgb(238, 238, 238) !important;
}

.selected3:hover {
  background-color: #cccccc !important;
}

.selected3 {
  outline: none !important;
}

.selected3:hover,
.selected3,
.selected,
.selected2,
.selected2:hover {
  color: #000000 !important;
}

.dropdown-option {
  padding: 3px 6px !important;
}

.payment-option {
  font-size: 15px !important;
}

#builtSquareMeters {
  width: 205.906px !important;
}

.display-none {
  display: none !important;
}

.currency,
.card-content {
  color: #999999;
}

.currency {
  transform: translateX(-2050%) translateY(170%) scale(1.4);
}
.erase-input-btn {
  transform: translateX(-680%) translateY(155%);
}

.medium-input {
  transform: translateX(-520%) translateY(155%);
}

.move-right {
  transform: translateX(-1900%) translateY(170%) scale(1.4);
}

.WeCheck-ad {
  height: 193px !important;
  width: 793px !important;
}

.WeCheck-container,
.descriptionMessage {
  width: 100%;
}

.descriptionMessage {
  padding: 0 1rem !important;
}

#main-image,
#main-image-frame,
.upload-img-card,
.image-btns {
  width: 214px;
}

.upload-box,
.upload-video-box {
  color: #9d9d9d;
  font-size: 13.333px;
}
.upload-box {
  transform: translateY(-45%);
}
.upload-video-box {
  transform: translateY(-80%);
}

.upload-container {
  height: 198.5px !important;
  width: 234px !important;
}

.upload-pictures {
  background-image: url("../../../assets/images/add-svgrepo-com.svg") !important;
}
.checkbox,
.image-btn {
  height: 20px !important;
  width: 20px !important;
}
.upload-pictures {
  height: 36px !important;
  width: 36px !important;
}

.image-btn-circle {
  height: 27px;
  width: 27px;
}
.image-btn-circle {
  border-radius: 50%;
}
.image-btn-circle {
  background-color: #eeeeee;
}

.image-btns {
  padding: 0 0.5rem;
  transform: translateX(-5%) translateY(120%);
}

#delete-image {
  transform: scaleY(1.1);
}

.card-content,
.dashed-frame {
  border: 2px dashed #999 !important;
}
.card-content,
#video {
  height: 192px !important;
  width: 234px !important;
}

#video-pic {
  height: 40px !important;
  width: 60px !important;
  transform: scaleY(0.85) scaleX(1.05);
}

.camara-image-container {
  height: 50px !important;
}

.images-headline {
  font-size: 22.4px !important;
  margin: 13.44px 0px 8.96px !important;
}

.images-headline-wrapper {
  height: 56.9531px;
  margin: 0px 0px 0px 40px;
  padding: 1rem 0px 0 0;
}

#card-image,
.ad-card-container {
  height: 166px !important;
  width: 220px !important;
  padding: 0 !important;
  margin: 0 !important;
}

#main-image,
#main-image-frame,
.upload-img-card {
  height: 160.5px;
}

.data,
.fill-block,
#main-image,
#main-image-frame,
.upload-img-card,
#card-image,
.ad-card-container {
  border-radius: 4px !important;
}

.image-card-container {
  transform: translateY(15%) !important;
  padding: 0 0.5rem 0 0 !important;
}

.image-card {
  width: 220px !important;
}

.left-div {
  padding: 30px 30px 48px !important;
}

.right-div {
  padding: 2.5rem 2.75rem 0 0 !important;
  margin: 0 !important;
}

#erase-contactName {
  transform: translateX(-620%) translateY(150%);
}

.plus-circle {
  width: 25px;
  height: 25px;
}
.plus-circle {
  transform: scale(1.08);
}

#contactPhoneNumber,
.data,
#assetState,
.text-length-box {
  padding: 0.5rem !important;
}

#contactPhoneNumberBox {
  border-bottom: 1px solid #cccccc;
}
#contactPhoneNumberBox {
  padding-bottom: 2.25rem !important;
}

#contact-form {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.post-ad-btn {
  border-radius: 17.5px;
  font-weight: 600 !important;
  line-height: 32px;
  color: rgb(255, 113, 0);
  height: 35px;
  width: 156px;
  padding: 1px 6px;
  margin: 1.5rem;
}

.note {
  background-color: rgb(255, 250, 245);
  height: 136px;
  width: 366px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 4px;
}

.note,
.post-ad-btn {
  border: 1px solid rgb(255, 113, 0);
}

.miniSpot-pic {
  width: 33px;
  height: 24.5px;
}

.note-text div {
  height: 34px;
}
.note-text div {
  color: #333333;
}

.checkIcon-img {
  width: 11.3438px;
  height: 8.09375px;
  transform: translateY(4px);
}

.remove-add-contact {
  padding: 0 !important;
  margin: 0 !important;
}

#user-email {
  transform: translateY(-1.5rem) !important;
}

#contact-email {
  width: 235px !important;
  height: 36px !important;
}

#remove-contact-btn {
  margin-top: 18px !important;
  margin-bottom: 18px !important;
}

.ad-score {
  background-color: rgb(54, 56, 65);
  color: rgb(51, 51, 51);
  margin: 20px auto 0;
  height: 241px;
  width: 880px;
  max-width: 880px;
  border-radius: 8px;
}

.end-space {
  height: 60px;
}

.tropy-img {
  height: 90.3438px;
  width: 91.1875px;
}

.tropy-img {
  transform: translateY(-0.5rem);
}

.score-container,
#score-bar-container,
#score-bar {
  width: 760px !important;
}

.WeCheck-container,
.score-container,
#score-bar-container,
#score-bar,
#score-bar-fill {
  margin: auto;
}
.score-container {
  padding-top: 3.125rem;
}

.score-container div {
  word-spacing: 0 !important;
}
.score-container,
.upload-img-card {
  color: #ffffff;
}
.score-container div {
  font-size: 18px !important;
}

.upload-img-card {
  margin: 0 auto 0.75rem auto !important;
}

.title,
.contact-form-title,
#score-text {
  font-size: 24px !important;
}

.contact-form-title {
  padding: 0 6px;
}
#score-text,
.ad-reward {
  font-weight: 500 !important;
}

.note-text-title {
  font-weight: 600 !important;
}

#score-text {
  line-height: 20px;
}

::-webkit-scrollbar {
  width: 9px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: #a9a9a9;
  border: solid 1px rgb(85, 85, 85, 0.7);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#first-checkbox {
  padding-top: 2px;
}

.space-block-2 {
  height: 2px !important;
}

#first-checkbox-input,
#second-checkbox-input,
#third-checkbox-input {
  border: 2px solid rgba(0, 0, 0, 0.54) !important;
}

.space-block-3 {
  height: 14px !important;
}

.double-input-box {
  padding-top: 1rem !important;
}

#second-checkbox-input-div {
  transform: translateY(-12px) !important;
}

.small-option,
.small-option:hover {
  border: transparent !important;
  outline: 1px solid #acacac !important;
}

.checkbox {
  border-radius: 2px !important;
}

#score-bar {
  background-color: rgb(84, 86, 93);
}

#score-bar-container {
  width: 700px !important;
  border-color: #22c1a1 !important;
}

#score-bar,
#score-bar-fill {
  height: 10px !important;
}

#score-bar-container {
  transform: translateX(4%);
}

.contact-form-ad,
.note div,
.note span,
.ad-reward,
.score-text,
.ad-tip {
  letter-spacing: 0 !important;
}

.note span {
  max-width: 269px !important;
}
