* {
  direction: rtl;
  font-size: 14px !important;
  font-weight: unset !important;
}

li {
  list-style-type: none !important;
}

.edit-container,
.advertisement-selection {
  border-radius: 10px;
  border: transparent !important;
  box-shadow: rgba(12, 0, 51, 0.1) 0px 2px 4px 0px;
  background-color: rgb(245, 245, 245);
}
.edit-container {
  width: 100%;
}

.data-input,
.edit-inputs,
.dropdown-option,
.dropdown-select {
  display: flex;
}

.dropdown-select {
  align-items: end !important;
}
.dropdown-select {
  transform: translateY(-18px);
}

.dropdown-option {
  padding: 1rem;
}
.dropdown-option {
  height: 400px !important;
}

.edit-inputs,
.dropdown-select {
  flex-direction: column;
}
.data-input {
  align-items: center;
}

#edit-advertisement {
  padding: 30px 40px !important;
}

.space-block {
  color: transparent !important;
  height: 70px !important;
}

.title {
  font-size: 24px !important;
}
.title {
  font-weight: 300 !important;
}
.title {
  margin-bottom: 1rem;
  margin-top: 4px;
}

.advertisement-selection {
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

form {
  background-color: #f8f8f8 !important;
}

.data-input,
.data {
  height: 40px !important;
}
.data-input,
.data,
.dropdown-option,
.dropdown-select {
  width: 261.359px !important;
}

.dropdown-option {
  height: fit-content !important;
  padding: unset !important;
  margin: unset !important;
}
.dropdown-option:hover {
  background-color: #0078d7;
}

.not-allowed,
.dropdown-option:hover {
  cursor: default !important;
}

.fill-block {
  text-indent: 8px;
  background-color: rgb(255, 255, 255, 0.3);
  border: 1px solid rgb(238, 238, 238, 0.7) !important;
  padding: 0.25rem;
  color: rgb(204, 204, 204, 0.75) !important;
}

.data,
.fill-block {
  border-radius: 4px;
}

.data {
  border: solid 1px #cccccc;
}

.edit-inputs {
  margin-top: -2px;
}

.data:focus {
  padding: 0.5rem;
}

.dropdown-select {
  box-shadow: none !important;
  border: solid 1px black !important;
}

.dropdown-select {
  height: max-content !important;
}

.arrow-down {
  height: 14px;
  width: 14px;
}

#assetState {
  padding: 0.5rem !important;
}
