* {
  direction: rtl;
  font-size: 14px !important;
  font-weight: unset !important;
}

li {
  list-style-type: none !important;
}

.edit-container,
.advertisement-selection {
  border-radius: 10px;
  border: transparent !important;
  box-shadow: rgba(12, 0, 51, 0.1) 0px 2px 4px 0px;
  background-color: rgb(245, 245, 245);
}
.edit-container {
  width: 100%;
}

.data-input,
.edit-inputs,
.dropdown-option,
.dropdown-select,
.address-info-box,
.squre {
  display: flex;
}

.dropdown-select {
  align-items: end !important;
}
.dropdown-select {
  transform: translateY(-18px);
}

.dropdown-option {
  padding: 1rem;
}
.dropdown-option {
  height: 400px !important;
}

.edit-inputs,
.dropdown-select,
.address-info-box {
  flex-direction: column;
}

.data-input,
.squre {
  align-items: center;
}

.edit-inputs {
  margin: 22px 0 !important;
}

.edit-inputs {
  gap: 1rem !important;
}

.input-container {
  padding: 0 !important;
}

#edit-advertisement {
  padding: 30px 40px !important;
}

.space-block {
  color: transparent !important;
  height: 70px !important;
}

.title {
  font-size: 24px !important;
}
.title {
  font-weight: 300 !important;
}
.title {
  margin-bottom: 1rem;
  margin-top: 4px;
}

.advertisement-selection {
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

form {
  background-color: #f8f8f8 !important;
}

.data-input,
.data {
  height: 40px !important;
}
.data-input,
.data,
.dropdown-option,
.dropdown-select,
.address-info {
  width: 261.359px !important;
}

.dropdown-option {
  height: fit-content !important;
  padding: unset !important;
  margin: unset !important;
}
.dropdown-option:hover {
  background-color: #0078d7;
}

.not-allowed,
.dropdown-option:hover {
  cursor: default !important;
}

.fill-block {
  text-indent: 8px;
  background-color: rgb(255, 255, 255, 0.3);
  border: 1px solid rgb(238, 238, 238, 0.7) !important;
  padding: 0.25rem;
  color: rgb(204, 204, 204, 0.75) !important;
}

.data,
.fill-block {
  border-radius: 4px;
}

.data {
  border: solid 1px #cccccc;
}

.edit-inputs {
  margin-top: -2px;
}

.dropdown-select {
  box-shadow: none !important;
  border: solid 1px black !important;
}

.dropdown-select {
  height: max-content !important;
}

.arrow-down {
  height: 14px;
  width: 14px;
}

#assetState {
  padding: 0.5rem !important;
}

.selected,
.option:hover {
  border: 1px solid #cccccc !important;
}

.option:hover,
.option {
  background-color: rgb(255, 255, 255);
}

.selected:hover,
.option:hover,
.option {
  border: 1px solid rgb(172, 172, 172) !important;
}

.option {
  line-height: 16.1px;
  height: 40px !important;
  width: 63.3281px !important;
  border: 1px solid #cccccc;
  padding: 0px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.erase-btn,
.option {
  cursor: pointer;
}

.selected {
  background-color: rgb(238, 238, 238) !important;
  color: #000000 !important;
}

.selected:hover {
  background-color: rgb(204, 204, 204) !important;
}

.checkbox {
  height: 20px !important;
  width: 20px !important;
}

.checkbox {
  border-radius: 2px !important;
  position: relative;
  padding: 0 !important;
  margin: 0 !important;
}

.checkbox:checked::after {
  width: 10px;
  height: 10px !important;
  border: solid white;
  left: 6px !important;
}

.address-info {
  font-size: 11px !important;
  word-spacing: -0.05rem !important;
  line-height: 1.2 !important;
}

.medium-size {
  width: 130.766px !important;
}

.large-size {
  width: 176.766px !important;
  height: 38px !important;
}

.data::placeholder {
  text-align: start !important;
  padding: 0 !important;
}

.data {
  padding: 0.5rem;
}

.erase-btn {
  width: 34px;
  height: 22px;
}
.data {
  position: relative;
}

.erase-btn {
  position: absolute !important;
}
.erase-btn {
  transform: translateX(-430%) translateY(150%);
}
