* {
  direction: rtl;
  font-size: 14px !important;
  font-weight: unset !important;
}

.edit-container {
  height: 100vh;
  width: 100vw;
  background-color: rgb(245, 245, 245);
}

.data-input {
  display: flex;
}
.data-input {
  align-items: center;
}

#edit-advertisement {
  /* margin-top: 70px !important; */
  padding: 30px 40px !important;
}

.title {
  font-size: 24px !important;
}
.title {
  font-weight: 300 !important;
}
.title {
  margin-bottom: 1rem;
}

.section-title-container,
form,
.section-title-container {
  /* padding: unset !important; */
  /* margin: unset !important; */
}

.advertisement-selection {
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

form {
  background-color: #f8f8f8 !important;
}

.data-input {
  height: 40px !important;
  width: 261.359px !important;
}

.not-allowed {
  cursor: default !important;
}

.fill-block {
  text-indent: 8px;
  background-color: rgb(255, 255, 255, 0.3);
  border: 1px solid rgb(238, 238, 238, 0.7) !important;
  border-radius: 4px;
  padding: 0.25rem;
  color: rgb(204, 204, 204, 0.75) !important;
}
