<div class="page">
  <div class="body">
    <div class="title justify-content-space-between">
      <div class="font500 font24">חיפושים אחרונים</div>
      <div
        (click)="searchService.removeAllLastSearches()"
        class="grayfont underline pointer"
      >
        מחק הכל
      </div>
    </div>
    <div class="btns">
      <button class="font500 orange-border all">הכל</button>
      <button class="border-none gray pointer real-estate">נדל"ן</button>
    </div>
    <div class="date font500 font18">12 דצמבר</div>
    <div class="searches">
      @for (search of (searchService.UserLastSearches | async) ; track $index) {

      <div class="search pointer">
        <img
          (click)="searchService.removeLastSearch(search.id)"
          id="close-icon"
          src="assets/images/close-sm.svg"
          alt=""
        />
        <div class="search-title font500 font18">
          <span>נדל"ן - </span>
          <span>{{ search.forSale ? "מכירה" : "השכרה" }}</span>
        </div>
        <div class="search-body">
          <div *ngIf="search.assetType !== ''">
            <span class="grayfont"> סוג נכס : </span>

            <span>
              {{ search.assetType }}
            </span>
            <span class="grayfont"> | </span>
          </div>
          <div *ngIf="search.assetType !== ''">
            <span class="grayfont"> סוג נכס : </span>

            <span>
              {{ search.assetType }}
            </span>
            <span class="grayfont"> | </span>
          </div>
        </div>
      </div>
      }

      <!-- <div class="search">frewergre</div> -->
    </div>
  </div>
</div>
