.body {
  width: 770px;
  direction: rtl;
  min-height: 675px;
  cursor: default;
}
.body {
  margin: auto;
}

.search {
  position: relative;
}

#close-icon {
  position: absolute;
}
#close-icon {
  width: 30px;
  height: 30px;
}
#close-icon {
  top: 10px;
  left: 10px;
}

.page {
  height: 100%;
  width: 100%;
  background-color: #f9f9f9;
}

.search-title {
  padding: 0 0 12px 0;
}

.date {
  padding-bottom: 10px;
}

.pointer {
  cursor: pointer;
}

.flex,
.flex-center,
.justify-content-space-between,
.btns,
.btns button,
body {
  display: flex;
}
.flex,
.flex-center,
.btns button {
  justify-content: center;
  align-items: center;
}

.body {
  flex-direction: column;
}

.justify-content-space-between {
  justify-content: space-between;
}

.font500 {
  font-weight: 500;
}

.font24 {
  font-size: 24px;
}

.grayfont {
  color: #999999;
}

.underline {
  text-decoration: underline;
}

.title {
  padding-top: 44px;
}

.btns button {
  background-color: rgb(255, 255, 255);

  height: 27px;

  padding: 5px 25px;

  border-radius: 15px;
  line-height: 17px !important;
}

.orange-border {
  border: 1px solid #ff7f00;
}

.border-none {
  border: none;
}

.gray {
  background-color: #eeeeee !important;
}
.gray:hover {
  background-color: #cccccc !important;
  font-weight: 500 !important;
}

.btns {
  margin-top: 14px;
  gap: 12px;
}

.all {
  max-width: 74.0156px !important;
  min-width: 74.0156px !important;
}

.real-estate {
  max-width: 80.7031px !important;
  font-size: 14px;
}

.search {
  background-color: rgb(255, 255, 255) !important;
  width: 768px;
  border: 1px solid rgb(219, 219, 219) !important;

  padding: 13.5px 15.5px 0px;
  border-radius: 6px;
}

.font18 {
  font-size: 18px;
}

.search-body {
  padding-bottom: 3rem;
}

.btns {
  margin-bottom: 44px;
}

.font18 {
  font-size: 18px;
}

.font500 {
  font-weight: 500;
}
