.body {
  width: 770px;
  direction: rtl;
  min-height: 622px;
  cursor: default;
}
.body {
  margin: auto;
}

.search {
  position: relative;
}

#close-icon,
.time,
.modal,
.not-found-box {
  position: absolute;
}
.time {
  bottom: 20px;
  left: 14px;
}

#close-icon {
  width: 30px;
  height: 30px;
}
#close-icon {
  top: 10px;
  left: 10px;
}

.page {
  height: 100%;
  height: fit-content !important;
  width: 100%;
  background-color: #f9f9f9 !important;
  padding-bottom: 42px;
}

.search-title {
  padding: 0 0 12px 0;
}

.date {
  width: 100%;
  justify-content: start !important;
  gap: 4px;
  margin-bottom: -5px;
}

.pointer {
  cursor: pointer;
}

.flex,
.flex-center,
.justify-content-space-between,
.btns,
.btns button,
body,
.search-body,
.search-body div {
  display: flex;
}

.search-body {
  flex-wrap: wrap;
}

.search-body div {
  flex-wrap: nowrap;
}
.search-body {
  gap: 4px;
}

.search-body div {
  gap: 6px;
}
.search-body div,
.letter-spacing {
  letter-spacing: 0 !important;
}
.modal-title {
  letter-spacing: 0px !important;
  word-spacing: 0px !important;
  transform: translateX(4px);
}

.search-body div span,
.nowrap {
  white-space: nowrap;
}
.flex,
.flex-center,
.btns button {
  justify-content: center;
  align-items: center;
}

.body,
.column {
  flex-direction: column;
}

.searches {
  gap: 1rem;
}

.justify-content-space-between {
  justify-content: space-between;
}

.font500 {
  font-weight: 500;
}

.font24 {
  font-size: 24px;
}

.grayfont {
  color: #999999;
}

.underline {
  text-decoration: underline;
}

.title {
  padding-top: 44px;
}

.btns button {
  background-color: rgb(255, 255, 255);

  height: 27px;

  padding: 5px 25px;

  border-radius: 15px;
  line-height: 17px !important;
}

.orange-border {
  border: 1px solid #ff7f00;
  transform: scale(1.05) !important;
}

.border-none {
  border: none;
}

.gray {
  background-color: #eeeeee !important;
}
.gray:hover {
  background-color: #cccccc !important;
  font-weight: 500 !important;
}

.btns {
  margin-top: 14px;
  gap: 12px;
}

.all {
  max-width: 74.0156px !important;
  min-width: 74.0156px !important;
}

.real-estate {
  max-width: 80.7031px !important;
  font-size: 14px;
}

.search {
  background-color: rgb(255, 255, 255) !important;
  width: 768px;
  border: 1px solid rgb(219, 219, 219) !important;

  padding: 13.5px 15.5px 0px;
  border-radius: 6px;
}
.search:hover {
  background-color: rgb(242, 242, 242) !important;
}

.font18 {
  font-size: 18px;
}

.search-body {
  padding-bottom: 3rem;
}

.btns {
  margin-bottom: 44px;
}

.font18 {
  font-size: 18px;
}

.font500 {
  font-weight: 500;
}

.Notification-For-Other-Words {
  background-color: rgb(255, 241, 229);
  color: rgb(255, 113, 0) !important;

  margin: 0px 4px 0px 0px;
  border-radius: 17px;
  padding: 2px 2px;
  font-size: 12px;
  transform: translateY(-2px);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45) !important;
  z-index: 1000 !important;
}

.modal {
  background-color: rgb(255, 255, 255);
  height: 140px;
  width: 300px;
  border: 1px solid rgb(204, 204, 204);
  gap: 36px;
  padding: 18px 20px 20px;
  border-radius: 4px;
  top: 300px;
  left: 561px;
}

.font16 {
  font-size: 16px;
}

.modal-btn {
  height: 40px;
  width: 124px;
  border-bottom-right-radius: 2px;
  border: none;
}

.modal-btns {
  gap: 10px;
  transform: translateY(2px);
}

.remove-btn:hover {
  background-color: rgb(216, 96, 0);
}

.save-btn {
  color: #ff7100;
  border: 1px solid #ff7100;
  background-color: #ffffff;
}
.save-btn,
.font14 {
  font-size: 14px;
}

.remove-btn,
.save-btn:hover {
  background-color: #ff7100;
}
.remove-btn,
.save-btn:hover {
  color: #ffffff;
}

.translateY {
  transform: translateY(5px);
}

.not-found-box {
  background-color: rgb(255, 255, 255);
  height: 122px;
  width: 770px;

  padding: 20px 15px 20px 15px;

  border-radius: 4px;
  transform: translateY(61px);
  justify-content: space-between;
}

#search-img {
  width: 68px;
  height: 68px;
  transform: translateX(10px);
}
