<div class="price-slider-select">
  <div class="price-container">
    <input
      class="price"
      (input)="manualSelectMaxPrice($event)"
      [value]="formatPrice(rangeValuesBuy[1])"
    />
    <span>-</span>
    <input
      (input)="manualSelectMinPrice($event)"
      class="price"
      [value]="formatPrice(rangeValuesBuy[0])"
    />
  </div>

  <div class="slider">
    <p-slider
      (onChange)="emit()"
      [(ngModel)]="rangeValuesBuy"
      [range]="true"
      [min]="rangeValuesBuyMinMax[0]"
      [max]="rangeValuesBuyMinMax[1]"
    />
  </div>
</div>
