.price-slider-select {
  display: flex;
  width: 400px;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 5px 0px;
  border-radius: 5px;
}

.price-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.price {
  width: 150px;
  font-size: 18px;
  padding-block: 0.75rem;
}

:host ::ng-deep .p-slider-handle {
  width: 30px;
  height: 30px;
  border: 1px solid lightgray;
  transform: translateY(-20%);
}
:host ::ng-deep .p-slider-handle:focus {
  box-shadow: none;
}
:host ::ng-deep .p-slider-handle {
  background-color: white !important;
}
:host ::ng-deep .p-slider-handle:hover {
  background-color: white;
  border-color: gray;
}

:host ::ng-deep .p-slider * {
  background-color: black;
  color: black;
}

:host ::ng-deep .p-slider-handle::after {
  content: "";
  height: 50%;
  width: 0.1rem;
  border-left: 1px solid #b17091;
  position: absolute;
  right: 0;
  transform: translateX(-300%) translateY(50%);
  top: 0;
}
:host ::ng-deep .p-slider-handle::before {
  content: "";
  height: 50%;
  border-right: 1px solid #b17091;
  position: absolute;
  left: 0;
  transform: translateX(10px) translateY(50%);
  top: 0;
}
.slider {
  padding: 2rem;
  width: 100%;
  transform: translateX(-5px);
}

.slide-front {
  content: "";
  display: block;
  margin-inline: 2.5rem;
  position: absolute;
  right: 0;
  align-self: center;
  left: 0;
  height: 2px;
  background-color: black;
}

.slider-back {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 50%;
  color: lightgray;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.slider-handle {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 50%;
  color: lightgray;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.a {
  display: flex;
  flex-direction: row;
  gap: 2px;
}
