<div class="price-slider-select">
  <div class="price-container">
    <input class="price" />
    <span>-</span>
    <input class="price" />
  </div>

  <div class="slider">
    <div class="slider-handle">
      <div class="a">
        <div>|</div>
        <div>|</div>
      </div>
    </div>
    <div #sliderfront class="slide-front"></div>
    <div #sliderback class="slide-back"></div>

    <div class="slider-handle">
      <div class="a">
        <div>|</div>
        <div>|</div>
      </div>
    </div>
  </div>
</div>
