.upload-image-modal {
  height: 460px;
  width: 480px;
  margin: 139.5px 480px;

  padding: 12px;

  z-index: 150;

  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

  border-radius: 10px;
}

div {
  word-spacing: -0.1em;
}

.cancel-btn,
.upload-image-modal {
  background-color: rgb(255, 255, 255) !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.7);

  z-index: 1000;
}

.overlay,
.upload-image,
.upload-image div,
.select-new-image-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-image div {
  gap: 0.5rem;
}

.btns {
  display: flex;
  justify-content: space-between;
}

.upload-image div,
.select-new-image-body {
  flex-direction: column;
}
.select-new-image-body {
  gap: 2.5rem;
}

.select-new-image-body {
  transform: translateY(-4px);
}

button {
  line-height: 21px;
  font-size: 14px !important;
  height: 42px;
  width: 182px;
  border: none;
  padding: 0px 18px;
  min-height: 36px;
  border-radius: 30px;
}

#exit-btn {
  height: 26px;
  width: 26px;
}

.select-new-image {
  height: 436px;
  width: 456px;
}

.select-new-image-body div {
  width: 386px;
}

.upload-image {
  background-color: rgba(0, 0, 0, 0);

  height: 228px;
  width: 386px !important;
  border: 2px dashed rgb(204, 204, 204);
  border-radius: 10px;
}

.cancel-btn {
  border: solid 1px #cccccc;
}
.cancel-btn:hover {
  border: solid 1px #999999;
}

button,
#exit-btn {
  cursor: pointer;
}

#file {
  transform: translateX(-200px);
}
