<div class="overlay">
  @if(!this.DeleteImageModal){
  <div id="upload-image" class="upload-image-modal">
    <div class="select-new-image">
      <img
        (click)="this.closeModal()"
        id="exit-btn"
        src="assets/images/close--svgrepo-com.svg"
        alt=""
      />
      <div class="select-new-image-body">
        <div style="font-size: 24px; font-weight: 500; text-align: right">
          בחירת תמונה חדשה
        </div>
        <div class="upload-image">
          <div>
            <img
              id="image-input"
              (click)="openImageUpload()"
              src="assets/images/media_uploads.svg"
              alt=""
            />
            <div style="color: #999999">גרירה או לחיצה להעלאת תמונות</div>
          </div>
        </div>

        <div class="btns">
          <button
            class="update-btn"
            style="background-color: #eeeeee; color: #cccccc; font-weight: 500"
            disabled="true"
          >
            עדכון
          </button>
          <button class="cancel-btn">ביטול</button>
        </div>
      </div>
    </div>
  </div>
  } @else {
  <div class="delete-image-modal">
    <img
      (click)="this.closeModal()"
      id="exit-btn"
      src="assets/images/close--svgrepo-com.svg"
      alt=""
    />
    <div style="direction: rtl" class="delete-image-body">
      <div class="delete-image-content">
        <div style="font-size: 20px; font-weight: 500; padding-top: 0.25rem">
          מחיקת תמונה
        </div>
        <div style="font-size: 16px">בטוחים שאתם רוצים למחוק את התמונה?</div>
      </div>
      <div class="delete-btns">
        <button class="cancel-btn" (click)="this.closeModal()">ביטול</button>
        <button
          class="delete-btn"
          (click)="this.deleteProfileImage(); this.closeModal()"
        >
          מחיקה
        </button>
      </div>
    </div>
  </div>

  }
</div>

<input
  #imsge
  (change)="uploadProfileImage($event)"
  placeholder=""
  id="file"
  type="file"
/>
