.upload-image-modal {
  background-color: rgb(255, 255, 255);

  height: 460px;
  width: 480px;
  margin: 139.5px 480px;

  padding: 12px;

  z-index: 150;

  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

  border-radius: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.7);

  z-index: 1000;
}

.overlay,
.upload-image,
.upload-image div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-image div {
  flex-direction: column;
}

button {
  line-height: 21px;

  height: 42px;
  width: 182px;
  border: none;
  padding: 0px 18px;
  min-height: 36px;
  border-radius: 30px;
}

#exit-btn {
  height: 26px;
  width: 26px;
}

.select-new-image {
  height: 436px;
  width: 456px;
}

.select-new-image div {
  width: 100%;
}

.upload-image {
  background-color: rgba(0, 0, 0, 0);

  height: 228px;
  width: 386px !important;
  border: 2px dashed rgb(204, 204, 204);
  border-radius: 10px;
}
