<div class="modal-overlay"></div>

<div class="post-ad-box">
  <div><img src="assets/images/success-logo.svg" alt="" /></div>
  <div class="tnx-sentence">תודה שבחרתם בלוח יד 2</div>
  <div>נעבור על המודעה זריז ומיד נפרסם אותה והיא תעלה במדור נדל"ן</div>
  <div class="text-line">
    בינתיים אם צריך לערוך או להוסיף משהו, היא נמצאת
    <span class="orange-link">באזור האישי</span>
  </div>
  <div class="post-add-btn-container">
    <div class="add-question">?מה תרצו לפרסם היום</div>
    <div class="post-add-btn-box">
      <button>יד-שניה</button>
      <button>רכב</button>
      <button routerLink="">נדל"ן</button>
    </div>
  </div>
  <span>חשוב לדעת ששימוש במידע הפרטי שלך ללא רשות הוא לא חוקי.</span>
  <span class="move-up">
    אנחנו ממליצים לך לסרב לגורמים שונים שמבקשים להפיץ את פרטייך האישיים, ואין
    להם קשר ליד 2.
  </span>

  <div class="routing-btn-box">
    <div routerLink="">דף הבית</div>
    <div routerLink="/profile" class="user-area-link">אזור אישי</div>
    <div routerLink="/create-advertisement">פרסום מודעה</div>
  </div>
</div>
