@if (this.navigationService.isNotPages(["user-images", "login", "register"])) {
  <span class="desktop">
    <app-header></app-header>
  </span>
  <span class="mobile">
    <app-mobile-header />
  </span>
}

<div class="router-content">
  <router-outlet></router-outlet>
</div>

@if (
  !this.navigationService.IsSearchFilterOpen() &&
  this.navigationService.isNotPages([
    "user-images",
    "profile",
    "create-advertisement",
    "login",
    "register",
  ])
) {
  <app-footer></app-footer>
}

<app-interactive-modal></app-interactive-modal>
