* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #363636 !important;
  direction: rtl;
}

/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 9px; /* Adjust the width of the scrollbar */
  height: 7px; /* Adjust the height for horizontal scrollbar */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Optional: change the background color */
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #a9a9a9; /* Optional: change the scrollbar handle color */
  border: solid 1px rgb(85, 85, 85, 0.7);
}

/* Scrollbar handle hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
