* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #363636 !important;
  direction: rtl;
}

@media (min-width: 863px) {
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }
}

@media (max-width: 883px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}
