/* Style the toolbar */
.mat-toolbar {
  color: #fff; /* Change the text color */
}

/* Style the toolbar row */
.mat-toolbar-row {
  justify-content: space-between; /* Align items evenly */
  padding: 0 20px; /* Add some padding */
}

/* Style the menu button */
.mat-button {
  color: #fff; /* Change the text color */
  font-weight: bold; /* Make the text bold */
  text-transform: uppercase; /* Convert text to uppercase */
  border-color: rgb(255, 255, 255) !important; /* Change the border color */
}

/* Style the menu items */
.mat-menu-content {
  background-color: #f8f9fa; /* Change the background color */
}

.mat-menu-item {
  color: #212529; /* Change the text color */
  padding: 8px 20px; /* Add padding to menu items */
}

.mat-menu-item:hover {
  background-color: #007bff; /* Change background color on hover */
  color: #fff; /* Change text color on hover */
}
