.input-search,
.input-search:focus {
  border: 1px solid #cccccc;
}
.input-search,
.input-search:focus,
.sub-search,
.sub-search:focus {
  outline: none !important;
}

.sub-search,
.sub-search:focus {
  border: transparent;
}

.svg-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.input-search::placeholder,
.type-btn,
.select-btn,
.reset-btn,
.sub-search {
  font-size: 16px !important;
}
.input-search::placeholder,
.sub-search::placeholder {
  color: rgb(153, 153, 153, 0.8) !important;
}

.input-box {
  height: 44.4px;
  border-left: 1px solid #dcdcdc;
  padding: 0 0.5rem 0 1rem;
}
.input-box {
  display: flex;
  justify-content: center;
}

.dropdown-menu {
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.09);
  border-radius: 12px !important;
  transform: translateX(-30px) translateY(10px);
  z-index: 10000;
}
.dropdown-menu,
#locationSuggestion:hover,
.gray-color,
#street-option:hover,
#neighborhood-option:hover,
#city-option:hover,
#area-option:hover,
#selected-street:hover,
.type-btn:hover {
  background-color: #f8f8f8 !important;
}

.dropdown-menu button:hover {
  background-color: #f1f1f1;
}
.project-title {
  word-spacing: 0;
  line-height: 18.6px;
  letter-spacing: -0px;
}

.arrow_left {
  height: 14px;
  width: 14px;
  transform: translateX(5px) translateY(1px);
}

.hidden {
  display: none;
}
.menu-container {
  display: inline-block;
  background-color: white;
  z-index: 20;
}
.menu-container,
.input-box,
:host,
.ad {
  position: relative;
}

.menu {
  right: -2rem;
}
.menu,
.search-suggestions,
.like-button,
.like-button-sm,
.like-button-sm-selected,
.like-button-selected,
.new-poject-text {
  position: absolute;
}

.search-suggestion {
  padding: 20px 16px !important;
}

.title-locationSuggestions {
  padding: 0 20px !important;
}

.suggestion-location {
  padding: 0 4px;
}

.search-suggestions {
  height: fit-content !important;
}

.search-suggestions {
  top: 54px;
  right: 8px;
  z-index: 100;
}
.search-suggestions {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.search-suggestions {
  border-radius: 12px;
}

#locationSuggestion {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.search-suggestions,
.Search-bar,
.type-btn {
  background-color: #ffffff !important;
}

.search-suggestions {
  z-index: 200 !important;
}

.type-btn {
  font-weight: 400;
  line-height: 18.4px;
  color: rgb(54, 54, 54);
  height: 44px;
  width: 154px;
  padding: 10px 20px;
  min-width: 154px;
  display: flex;
  text-align: start !important;
}

.search-button,
#locationSuggestion,
.search-suggestion,
.search-button-orange,
.type-btn,
.option,
.reset-btn,
.select-btn,
.remove-btn,
.ad {
  cursor: pointer;
}

.Search-bar {
  display: flex;
  direction: rtl;
  height: 81.3px;
  width: 100%;
  padding: 18px 0;
  border-bottom: 1px solid #dcdcdc;
  gap: 17px;
}

.dropdown-menu button {
  display: block;
  width: 100%;
  padding: 8px;
  border: none;
  background: none;
  text-align: left;
}

.price-btn .flex-center,
.search-button {
  display: flex;
  justify-content: center;
}

#additionalFiltersArrow {
  height: 16px;
  width: 16px;
  margin: 0;
}

i,
#propertyRoomArrow {
  height: 20px;
  width: 20px;
  margin-right: 4px;
}

.material-icons {
  transform: translateY(3px) rotate(0deg);
}

.not-Rotate {
  transform: translateY(3px) rotate(0deg) !important;
}

.arrow-up {
  transform: translateY(-1px) rotate(180deg);
}
.arrow-up1 {
  transform: translateY(-1px) rotate(180deg) !important;
}

.reset-btn:hover,
i {
  color: #363636;
}

.sub-search,
.search-button-orange,
.sub-search:focus {
  border: transparent;
}

.search-button-orange,
.location-list {
  justify-content: center;
}

#locationSuggestion,
.project-div,
.search-suggestion,
.input-box,
.title-locationSuggestions,
.price-btn .flex-center,
.search-button,
.search-button-orange,
.filters-btns,
.location-list {
  align-items: center;
}

.search-button-orange:hover {
  background-color: #d86000;
}

.title {
  font-size: 24px;
  line-height: 27.6px;
  text-align: end;
  padding: 0.25rem;
  padding: 1.25rem 14px 0 0;
  word-spacing: 0 !important;
}

.select-btn,
#selected-street,
.instruction-title {
  font-weight: bold;
}

.instruction-title {
  line-height: 16.1px !important;
  margin: 1rem;
  color: rgb(130, 130, 130);
}

.location-arrow-img,
.history-img {
  width: 24px;
  height: 24px;
}
.history-img {
  transform: rotate(-15deg);
}

.history-img {
  margin: 8px 0 0 0 0 !important;
}

.ads-container {
  display: grid;
}
.ads-container,
.title,
.padding-right {
  padding-right: 1rem;
}
.ads-container {
  justify-content: flex-end;
}

.project-container {
  line-height: 27.6px;
}

.project-container,
.filters-btns,
.project-title {
  justify-content: space-between;
}

#locationSuggestion,
.project-container,
.project-div,
.search-suggestion,
.title-locationSuggestions,
.filters-btns,
#subSearchQuery,
#subSearchQueryBox,
.location-list,
.project-title,
.flex,
.type-btn,
.project-div {
  display: flex;
}
.project-div {
  gap: 0.5rem;
}

.locations {
  display: grid;
  gap: 0.25rem;
  grid-template-columns: repeat(2, auto);
  direction: rtl;
  justify-content: flex-start;
  width: 280px;
  margin: 1rem;
}

#subSearchQuery,
#subSearchQueryBox {
  flex-direction: column;
}
#subSearchQuery {
  gap: 0.5rem;
}

.project-div {
  padding: 10px 0 14px 0;
}

.logo-img {
  width: 42px;
  height: 21px;
}

.ads {
  line-height: 16.1px;
  gap: 1rem;
  padding-bottom: 12px;
}

.ads {
  display: flex;
}
.project-div {
  justify-content: center;
}

.ads {
  align-items: flex-end;
  justify-content: flex-end;
}

.ad {
  text-align: end;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.09);
  height: 250px;
  width: 206px;
}

.ad,
.content {
  border-radius: 12px;
}

.content {
  padding-inline: 0.5rem;
  padding-bottom: 1rem !important;
}

.ad img {
  height: 158.719px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.ad-title {
  font-size: 16px;
  font-weight: 800;
  line-height: 18.4px;
}

.ad-project {
  font-weight: 700;
  line-height: 16.1px;
  text-decoration: none solid rgb(54, 54, 54);
  direction: rtl;
  text-align: start;
  margin-top: 1rem;
}

.alert-btn {
  border: transparent !important;
  color: #ff7100 !important;
  font-weight: 550;
  padding: 0 !important;
  transform: translateX(10px);
}

.space {
  width: 2px;
}

.bell-img {
  width: 20px;
  height: 17px;
  font-weight: 700;
  transform: translatey(2px) translateX(-4px);
}

.remove-btn {
  width: 14px;
  height: 14px;
  transform: scale(1.5);
}

.title-locationSuggestion {
  font-size: 16px;
  height: 38.3906px;
  padding: 10px 20px;
}

.title-locationSuggestions {
  background-color: #eeeeee;
}

.search-suggestions,
.search-suggestion,
.title-locationSuggestion,
.title-locationSuggestions {
  width: 320px;
}

#locationSuggestion,
.title-locationSuggestion,
.title-locationSuggestions {
  font-weight: 600;
}

.search-suggestion,
.search-button,
i,
.search-button-orange,
.project-container,
.title-locationSuggestions,
#searchQuery {
  font-size: 16px;
}

.comma,
.word-space {
  margin-left: 0.25rem;
}

#street-option,
#area-option,
#city-option,
#neighborhood-option,
#selected-street {
  background-color: #ffffff !important;
}
#street-option,
#area-option,
#city-option,
#neighborhood-option {
  font-weight: 300 !important;
}

#selected-street {
  height: 42.358px !important;
}

.select-btn:hover {
  color: #d86000;
}
.select-btn {
  color: #ff7e17;
}
.reset-btn {
  color: #999999;
}

.reset-btn,
.select-btn {
  padding: 4px 8px;
  margin: 4px 10px;
}

.filters-btns {
  height: 47px;
}
.filters-btns {
  border-top: solid 1px #eeeeee;
}

.fit-hieght {
  height: unset !important;
  height: fit-content !important;
}

.location-list {
  background-color: rgb(238, 238, 238);
}

.ad-city {
  line-height: 16.1px;
  padding-top: 2px;
}
.ad-city,
.location-list {
  font-weight: 400;
}

.location-list,
.search-button-orange,
.input-search {
  border-radius: 30px;
}

.search-button {
  line-height: 16px;
  background-color: #ffffff !important;
  text-align: center;
  height: 42px;
  padding: 12px;
  border-radius: 32px;
  border: 1px solid #cccccc;
  opacity: 0.8;
}
.search-button,
.location-list {
  width: fit-content;
}

#additionalFiltersButton {
  padding: 15px;
}

.search-button-orange {
  display: inline-flex;
  line-height: 24px;
  padding: 18px 0 18px 0;
  height: 42px;
  width: 108px;
  min-height: 36px;
  color: #ffffff;
  background-color: #ff7100;
}

.title,
.font500,
.project-container,
.search-button-orange {
  font-weight: 500;
}

.like-button,
.like-button-sm-selected,
.like-button-sm,
.like-button-selected {
  top: 0.25rem;
  left: 0.5rem;
  transform: scale(0.9);
}

.like-button,
.like-button-selected {
  text-shadow: 0px 0px 2px gray;
  color: #ffffff !important;
  z-index: 20 !important;
}

.like-button-sm,
.like-button-sm-selected {
  z-index: 10 !important;
  color: rgb(125, 122, 119, 0.5) !important;
}

.like-button:hover {
  color: red !important;
  text-shadow: none !important;
}
.like-button-selected:hover {
  color: #ffffff !important;
  text-shadow: none !important;
}

.like-button-sm-selected {
  color: red !important;
  transform: scale(0.8) !important;
}

.hover-btn-background:hover {
  background-color: #f8f8f8 !important;
}

.search-button-selected {
  border: 1px solid #828282;
}

.new-poject-text {
  font-size: 12px;
  background-color: rgb(4, 149, 255);

  color: rgb(255, 255, 255);

  padding: 3px 6px;

  border-radius: 4px;
  z-index: 10;
}
.new-poject-text {
  top: 2px;
  right: 8px;
  letter-spacing: 0;
}

.type-btn {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding-right: 1rem !important;
  gap: 4rem !important;
}

.input-search {
  max-width: 280px;
  width: 20vw;
  height: 44.4px;
  padding: 12px;
}

.project-title {
  width: 663px;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}
@media (width < 1200px) {
  .price-range {
    font-size: 12px;

    padding: 2px !important;
  }
}

@media (width < 1000px) {
  .alert-btn {
    display: none;
  }
  .search-suggestion,
  .search-button,
  i,
  .search-button-orange,
  .project-container,
  .title-locationSuggestions,
  #searchQuery {
    font-size: 14px !important;
  }
}

@media (width < 883px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .ads-container > span,
  .ads-container,
  .project-title,
  .project-container {
    width: 100% !important;
  }

  .menu-container,
  #subSearchQueryBox,
  .search-button-orange {
    display: none;
  }

  .Search-bar {
    border: none !important;
    height: 0px;
    padding: 0;
    margin: 0;
  }

  .new-poject-text,
  .content,
  .ad-title {
    font-size: 14px !important;
    text-wrap: nowrap;
  }
  .ad-city {
    font-size: 12.33px;
    padding: 0;
  }

  .title {
    font-size: 20px;
  }

  .ad {
    width: 150px;
    height: 194px;
  }
  .ad > img {
    height: 115px;
    height: 125px;
  }

  .ads {
    justify-content: flex-end;
  }

  .ad-project {
    font-weight: 700;
    margin-top: 0rem;
    font-size: 12.25px;
  }
}

@media (width < 883px) {
  .mobile-search-header {
    height: 44px;
    width: calc(100%-2rem);
    background: #f2f2f2;
    border: 1px solid #e6e6e6;
    border-radius: 999px;
    display: flex;
    align-items: center;
    margin: 1rem;
    cursor: pointer;
  }

  .icon-btn {
    border: none;
    background: transparent;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
  }

  .svg-icon-history {
    width: 20px;
    height: 20px;
  }
  .svg-icon-sort-filter {
    width: 24px;
    height: 24px;
  }

  .history-btn {
    border-left: rgb(220, 220, 220) 1px solid;
  }

  .history-btn,
  .title-wrap,
  .title,
  .left {
    padding: 0 0.5rem;
  }

  .title-wrap {
    flex: 1 1 auto;
    min-width: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 6px;
  }

  .title {
    color: #111;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (width < 553px) {
  .ad > img {
    height: 100px;
  }

  .ads {
    gap: 0.5rem;
  }
}
