div,
input,
button,
span {
  font-family: Rubik !important;
}

.Search-bar {
  display: flex;
  direction: rtl;
  background-color: #ffffff;
  height: 81.3px;
  width: 100%;
  padding: 18px 0;
  border-bottom: 1px solid #dcdcdc;
  gap: 1rem;
}

.input-search {
  width: 280px;
  height: 44.4px;
  border-radius: 30px;
  padding: 12px;
}
.input-search,
.input-search:focus {
  border: 1px solid #cccccc !important;
}
.input-search,
.input-search:focus {
  outline: none !important;
}

.input-search::placeholder,
.type-btn {
  font-size: 16px !important;
}
.input-search::placeholder {
  color: rgb(153, 153, 153, 0.8) !important;
}

.input-box {
  height: 44.4px;
  border-left: 1px solid #dcdcdc;
  padding: 0 0.5rem 0;
}
.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-menu {
  background-color: #f8f8f8 !important;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.09);
  border-radius: 12px !important;
  transform: translateX(-30px) translateY(10px);
  z-index: 10000;
}

.type-btn {
  font-weight: 400;
  line-height: 18.4px;
  background-color: #ffffff;
  color: rgb(54, 54, 54);
  height: 44px;
  width: 154px;
  padding: 10px 20px;
  min-width: 154px;
  display: flex;
  text-align: start !important;
  cursor: pointer;
}
.dropdown-menu button:hover {
  background-color: #f1f1f1;
}

.hidden {
  display: none;
}
.menu-container {
  position: relative;
  display: inline-block;
  background-color: white;
  z-index: 20;
}
.menu {
  position: absolute;
  right: -2rem;
}
.dropdown-menu button {
  display: block;
  width: 100%;
  padding: 8px;
  border: none;
  background: none;
  text-align: left;
}

.price-btn .flex-center,
.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-button {
  line-height: 16px;
  background-color: #ffffff !important;
  text-align: center;
  height: 42px;
  width: fit-content;
  padding: 13px;
  border-radius: 32px;
  border: 1px solid #cccccc;
  font-size: 16px;
}

.search-button {
  cursor: pointer;
}
img {
  margin: 5px;
}

i {
  color: #363636;
  font-size: 16px;
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

.arrow-up {
  transform: rotate(180deg);
}

.search-button-orange {
  display: inline-flex;
  line-height: 24px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 18px 0 18px 0;
  background-color: #d86000;
  height: 42px;
  width: 108px;
  min-height: 36px;
  border-radius: 30px;
  color: #ffffff;
  border: transparent;
  font-weight: 500;
  cursor: pointer;
}

.title {
  font-size: 24px;
  line-height: 27.6px;
  font-weight: bold;
  text-align: end;
  width: 98.5vw;
  padding: 0.25rem;
  margin-top: 2.2rem;
}

.project-container {
  font-size: 16px;
  font-weight: 500;
  line-height: 27.6px;
  text-decoration: none solid rgb(54, 54, 54);
  text-align: end;
  display: flex;
  justify-content: space-between;
  height: 84px;
  width: 742px;
  align-items: end;
  direction: ltl !important;
  margin-left: auto;
}

.project-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.logo-img {
  width: 42px;
  height: 21px;
}

.adds {
  margin-left: auto;
  line-height: 16.1px;
  height: 260px;
  width: 663px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  margin: 0px 40px 50px auto;
}

.ad {
  justify-content: center;
  text-align: end;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.09);
  height: 266px;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 12px;
}

.content {
  border-bottom-left-radius: 12px;
  border-top-right-radius: 12px;
  padding-inline: 0.5rem;
  padding-bottom: 1rem !important;
}

.ad img {
  height: 158.719px;
  width: 100%;
  object-fit: cover;
  transform: translateX(-5px) translateY(-10px);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.ad-title {
  font-size: 16px;
  font-weight: 800;
  line-height: 18.4px;
}

.ad-city {
  font-weight: 400;
  line-height: 16.1px;
  padding-top: 2px;
}
.ad-project {
  font-weight: 700;
  line-height: 16.1px;
  text-decoration: none solid rgb(54, 54, 54);
  direction: rtl;
  text-align: start;
  margin-top: 1rem;
}

.alert-btn {
  border: transparent !important;
  color: #ff7100 !important;
  font-weight: 550;
  padding: 0 !important;
  transform: translateX(10px);
}

.space {
  width: 4px;
}

.bell-img {
  width: 20px;
  height: 17px;
  font-weight: 700;
  transform: translatey(2px) translateX(-4px);
}
