.Search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  direction: rtl;
}

.dropdown-menu {
  border: 1px solid #ccc;
  background-color: white;
  position: absolute;
  z-index: 1000;
}

.dropdown-menu button {
  display: block;
  width: 100%;
  padding: 8px;
  border: none;
  background: none;
  text-align: left;
}

.dropdown-menu button:hover {
  background-color: #f1f1f1;
}
