.Search-bar {
  display: flex;
  direction: rtl;
  background-color: #ffffff;
  height: 81.3px;
  width: 100%;
  padding: 18px;
  border-bottom: 1px solid #dcdcdc;
}

.input-search {
  width: 280px;
  height: 44.4px;
  border-radius: 30px;
  padding: 12px;
  border: 1px solid #cccccc;
}

.input-search::placeholder {
  font-size: 16px;
}

.input-box {
  width: 313px;
  height: 44.4px;
  border-left: 1px solid #dcdcdc;
  padding: 16px 0 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-menu {
  border: 1px solid #ccc;
  background-color: white;
  position: absolute;
  z-index: 1000;
}

.hidden {
  display: none;
}
.menu-container {
  position: relative;
  display: inline-block;
  background-color: white;
  z-index: 99999;
}
.menu {
  position: absolute;
  right: -2rem;
}
.dropdown-menu button {
  display: block;
  width: 100%;
  padding: 8px;
  border: none;
  background: none;
  text-align: left;
}

.dropdown-menu button:hover {
  background-color: #f1f1f1;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 16px;
  background-color: #f8f8f8;
  text-align: center;
  height: 42px;
  width: 88.6;
  padding: 12px;
  border-radius: 32px;
  cursor: pointer;
  border: 1px solid #cccccc;
}

.search-button-orange {
  display: inline-flex;
  line-height: 24px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 18px 0 18px 0;
  background-color: #d86000;
  height: 42px;
  width: 108px;
  min-height: 36px;
  border-radius: 30px;
  color: #ffffff;
  border: transparent;
  font-weight: 500;
  cursor: pointer;
  /* outline: rgb(255, 0, 0) dashed 1px; */
}
