div,
input,
button,
span {
  font-family: Rubik !important;
}

.input-search,
.input-search:focus {
  border: 1px solid #cccccc;
}
.input-search,
.input-search:focus,
.sub-search,
.sub-search:focus {
  outline: none !important;
}

.sub-search,
.sub-search:focus {
  border: transparent;
}

.input-search::placeholder,
.type-btn,
.select-btn,
.reset-btn,
.sub-search {
  font-size: 16px !important;
}
.input-search::placeholder,
.sub-search::placeholder {
  color: rgb(153, 153, 153, 0.8) !important;
}

.input-box {
  height: 44.4px;
  border-left: 1px solid #dcdcdc;
  padding: 0 0.5rem 0 1rem;
}
.input-box {
  display: flex;
  justify-content: center;
}

.dropdown-menu {
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.09);
  border-radius: 12px !important;
  transform: translateX(-30px) translateY(10px);
  z-index: 10000;
}
.dropdown-menu,
#locationSuggestion:hover,
.gray-color,
#street-option:hover,
#neighborhood-option:hover,
#city-option:hover,
#area-option:hover,
#selected-street:hover {
  background-color: #f8f8f8 !important;
}

.dropdown-menu button:hover {
  background-color: #f1f1f1;
}

.hidden {
  display: none;
}
.menu-container {
  display: inline-block;
  background-color: white;
  z-index: 20;
}
.menu-container,
.input-box {
  position: relative;
}
.menu {
  right: -2rem;
}
.menu,
.search-suggestions {
  position: absolute;
}

.search-suggestion {
  padding: 20px 16px !important;
  /* display: none !important; */
}

.title-locationSuggestions {
  padding: 0 20px !important;
  /* display: none !important; */
}

.suggestion-location {
  padding: 0 4px;
}

.search-suggestions {
  height: fit-content !important;
}

.search-suggestions {
  top: 54px;
  right: 8px;
  z-index: 100;
}
.search-suggestions {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.search-suggestions {
  border-radius: 12px;
}

#locationSuggestion {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.search-suggestions,
.Search-bar,
.type-btn {
  background-color: #ffffff;
}

.type-btn {
  font-weight: 400;
  line-height: 18.4px;
  color: rgb(54, 54, 54);
  height: 44px;
  width: 154px;
  padding: 10px 20px;
  min-width: 154px;
  display: flex;
  text-align: start !important;
}

.search-button,
#locationSuggestion,
.search-suggestion,
.search-button-orange,
.type-btn,
.option,
.reset-btn,
.select-btn,
.remove-btn {
  cursor: pointer;
}

.Search-bar {
  display: flex;
  direction: rtl;
  height: 81.3px;
  width: 100%;
  padding: 18px 0;
  border-bottom: 1px solid #dcdcdc;
  gap: 17px;
}

.dropdown-menu button {
  display: block;
  width: 100%;
  padding: 8px;
  border: none;
  background: none;
  text-align: left;
}

.price-btn .flex-center,
.search-button {
  display: flex;
  justify-content: center;
}

img {
  margin: 5px;
}

i {
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

.reset-btn:hover,
i {
  color: #363636;
}

.arrow-up {
  transform: rotate(180deg);
}

.sub-search,
.search-button-orange,
.sub-search:focus {
  border: transparent;
}

.search-button-orange,
.location-list {
  justify-content: center;
}

#locationSuggestion,
.project-div,
.search-suggestion,
.adds,
.input-box,
.title-locationSuggestions,
.price-btn .flex-center,
.search-button,
.search-button-orange,
.filters-btns,
.location-list {
  align-items: center;
}

.search-button-orange:hover {
  background-color: #d86000;
}

.title {
  font-size: 24px;
  line-height: 27.6px;
  text-align: end;
  width: 98.5vw;
  padding: 0.25rem;
  margin-top: 2.2rem;
}

.select-btn,
.title,
#selected-street,
.instruction-title {
  font-weight: bold;
}

.instruction-title {
  line-height: 16.1px !important;
  margin: 1rem;
  color: rgb(130, 130, 130);
}

.location-arrow-img,
.history-img {
  width: 24px;
  height: 24px;
}
.history-img {
  transform: rotate(-15deg);
}

.history-img {
  margin: 8px 0 0 0 0 !important;
}

.project-container {
  font-weight: 500;
  line-height: 27.6px;
  text-decoration: none solid rgb(54, 54, 54);
  text-align: end;
  height: 84px;
  width: 742px;
  align-items: end;
  direction: ltl !important;
  margin-left: auto;
}

.project-container,
.filters-btns {
  justify-content: space-between;
}

#locationSuggestion,
.project-container,
.project-div,
.search-suggestion,
.title-locationSuggestions,
.filters-btns,
#subSearchQuery,
#subSearchQueryBox,
.location-list {
  display: flex;
}

.locations {
  display: grid;
  gap: 0.25rem;
  grid-template-columns: repeat(2, auto);
  /* align-items: flex-start; */
  direction: rtl;
  justify-content: flex-start;
  width: 280px;
  margin: 1rem;
}

#subSearchQuery,
#subSearchQueryBox {
  flex-direction: column;
}
#subSearchQuery {
  gap: 0.5rem;
}

.project-div {
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}

.logo-img {
  width: 42px;
  height: 21px;
}

.adds {
  margin-left: auto;
  line-height: 16.1px;
  height: 260px;
  width: 663px;
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  margin: 0px 40px 50px auto;
}

.ad {
  justify-content: center;
  text-align: end;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.09);
  height: 266px;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 12px;
}

.content {
  border-bottom-left-radius: 12px;
  border-top-right-radius: 12px;
  padding-inline: 0.5rem;
  padding-bottom: 1rem !important;
}

.ad img {
  height: 158.719px;
  width: 100%;
  object-fit: cover;
  transform: translateX(-5px) translateY(-10px);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.ad-title {
  font-size: 16px;
  font-weight: 800;
  line-height: 18.4px;
}

.ad-project {
  font-weight: 700;
  line-height: 16.1px;
  text-decoration: none solid rgb(54, 54, 54);
  direction: rtl;
  text-align: start;
  margin-top: 1rem;
}

.alert-btn {
  border: transparent !important;
  color: #ff7100 !important;
  font-weight: 550;
  padding: 0 !important;
  transform: translateX(10px);
}

.space {
  width: 2px;
}

.bell-img {
  width: 20px;
  height: 17px;
  font-weight: 700;
  transform: translatey(2px) translateX(-4px);
}

.remove-btn {
  width: 14px;
  height: 14px;
  transform: scale(1.5);
}

.title-locationSuggestion {
  font-size: 16px;
  height: 38.3906px;
  padding: 10px 20px;
}

.title-locationSuggestions {
  background-color: #eeeeee;
}

.search-suggestions,
.search-suggestion,
.title-locationSuggestion,
.title-locationSuggestions {
  width: 320px;
}

#locationSuggestion,
.title-locationSuggestion,
.title-locationSuggestions {
  font-weight: 600;
}

.search-suggestion,
.search-button,
i,
.search-button-orange,
.project-container,
.title-locationSuggestions,
#searchQuery {
  font-size: 16px;
}

.comma,
.word-space {
  margin-left: 0.25rem;
}

#street-option,
#area-option,
#city-option,
#neighborhood-option,
#selected-street {
  background-color: #ffffff !important;
}
#street-option,
#area-option,
#city-option,
#neighborhood-option {
  font-weight: 300 !important;
}

#selected-street {
  height: 42.358px !important;
}

.select-btn:hover {
  color: #d86000;
}
.select-btn {
  color: #ff7e17;
}
.reset-btn {
  color: #999999;
}

.reset-btn,
.select-btn {
  padding: 4px 8px;
  margin: 4px 10px;
}

.filters-btns {
  height: 47px;
}
.filters-btns {
  border-top: solid 1px #eeeeee;
}

.fit-hieght {
  height: unset !important;
  height: fit-content !important;
}

.location-list {
  background-color: rgb(238, 238, 238);
  /* padding: 0px 8px 0px 0px; */
  /* max-width: 130px; */
}

.ad-city {
  line-height: 16.1px;
  padding-top: 2px;
}
.ad-city,
.location-list {
  font-weight: 400;
}

.location-list,
.search-button-orange,
.input-search {
  border-radius: 30px;
}

.search-button {
  line-height: 16px;
  background-color: #ffffff !important;
  text-align: center;
  height: 42px;
  padding: 13px;
  border-radius: 32px;
  border: 1px solid #cccccc;
}
.search-button,
.location-list {
  width: fit-content;
}

.search-button-orange {
  display: inline-flex;
  line-height: 24px;
  padding: 18px 0 18px 0;
  height: 42px;
  width: 108px;
  min-height: 36px;
  color: #ffffff;
  font-weight: 500;
  background-color: #ff7100;
}
.input-search {
  width: 280px;
  height: 44.4px;
  padding: 12px;
}
