<div class="search-container">
  <form (submit)="onSearch()">
    <div class="Search-bar">
      <div class="input-box">
        <input
          type="text"
          name="searchQuery"
          placeholder="איזור, עיר שכונה או רחוב"
          class="input-search"
        />
      </div>
      <div>
        <button class="search-button" type="button" (click)="toggleDropdown()">
          {{ advertisementTypebuttonText }}
        </button>
        <div *ngIf="dropdownOpen" class="dropdown-menu">
          <button type="button" (click)="applyFilter('מכירה')">מכירה</button>
          <button type="button" (click)="applyFilter('השכרה')">השכרה</button>
        </div>
      </div>
      <div class="menu-container search-button" #propertyTypeMenu>
        <button type="button" (click)="togglePropertyTypeDropdown()">
          סוג הנכס
        </button>
        <div class="menu hidden">
          <app-real-estate-property-type
            (propertyTypeSelected)="onPropertyTypeSelected($event)"
          ></app-real-estate-property-type>
        </div>
      </div>
      <button class="search-button" type="button">מחיר</button>
      <button class="search-button" type="button">חדרים</button>
      <button class="search-button" type="button">סינונים נוספים</button>

      <button class="search-button-orange" type="submit">חיפוש</button>
      <button class="search-button" type="button">יצירת התראה</button>
    </div>
  </form>
</div>

<app-real-estate-results></app-real-estate-results>
