<div class="search-container">
  <h2>חיפוש נדל"ן</h2>
  <form (submit)="onSearch()">
    <div class="Search-bar">
      <input
        type="text"
        name="searchQuery"
        placeholder="איזור, עיר שכונה או רחוב"
        class="input-search"
      />
      <div>
        <button type="button" (click)="toggleDropdown()">
          {{ advertisementTypebuttonText }}
        </button>
        <div *ngIf="dropdownOpen" class="dropdown-menu">
          <button type="button" (click)="applyFilter('מכירה')">מכירה</button>
          <button type="button" (click)="applyFilter('השכרה')">השכרה</button>
        </div>
      </div>
      <div class="menu-container" #propertyTypeMenu>
        <button type="button" (click)="togglePropertyTypeDropdown()">
          סוג הנכס
        </button>
        <div class="menu hidden">
          <app-real-estate-property-type
            (propertyTypeSelected)="onPropertyTypeSelected($event)"
          ></app-real-estate-property-type>
        </div>
      </div>
      <button type="button">מחיר</button>
      <button type="button">חדרים</button>
      <button type="button">סינונים נוספים</button>

      <button type="submit">חיפוש</button>
      <button type="button">יצירת התראה</button>
    </div>
  </form>
</div>

<app-real-estate-results></app-real-estate-results>
