.Search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  direction: rtl;
}

.input-search {
  width: 280px;
  height: 44.4px;
  border-radius: 30px;
  padding: 12px;
  border: 1px solid #cccccc;
}

.input-search::placeholder {
  font-size: 16px;
}

.dropdown-menu {
  border: 1px solid #ccc;
  background-color: white;
  position: absolute;
  z-index: 1000;
}

.hidden {
  display: none;
}
.menu-container {
  position: relative;
  display: inline-block;
  background-color: white;
  z-index: 99999;
}
.menu {
  position: absolute;
  right: -2rem;
}
.dropdown-menu button {
  display: block;
  width: 100%;
  padding: 8px;
  border: none;
  background: none;
  text-align: left;
}

.dropdown-menu button:hover {
  background-color: #f1f1f1;
}
