<div class="search-container">
  <form (submit)="onSearch()">
    <div class="Search-bar">
      <div class="input-box">
        <input
          type="text"
          name="searchQuery"
          placeholder="איזור, עיר שכונה או רחוב"
          class="input-search"
        />
      </div>
      <div>
        <button class="search-button" type="button" (click)="toggleDropdown()">
          {{ advertisementTypebuttonText }}
          <i class="material-icons">keyboard_arrow_down</i>
        </button>
        <div *ngIf="dropdownOpen" class="dropdown-menu">
          <button class="type-btn" type="button" (click)="applyFilter('מכירה')">
            מכירה
          </button>
          <button class="type-btn" type="button" (click)="applyFilter('השכרה')">
            השכרה
          </button>
        </div>
      </div>
      <div class="menu-container" #propertyTypeMenu>
        <button
          class="search-button"
          type="button"
          (click)="toggleMenu('propertyTypeMenu')"
        >
          סוג הנכס

          <i class="material-icons">keyboard_arrow_down</i>
        </button>
        <div class="menu hidden">
          <app-real-estate-property-type
            (propertyTypeSelected)="onPropertyTypeSelected($event)"
          ></app-real-estate-property-type>
        </div>
      </div>
      <div class="menu-container" #priceSlider>
        <button
          #priceSliderButton
          (click)="toggleMenu('priceSlider')"
          class="search-button price-btn"
          type="button"
        >
          מחיר
          <i class="material-icons">keyboard_arrow_down</i>
        </button>
        <div class="menu hidden">
          <app-real-estate-price-slider
            (selectedPriceRange)="onPriceRangeSelected($event)"
          ></app-real-estate-price-slider>
        </div>
      </div>

      <div class="menu-container" #roomsAmountMenu>
        <button
          (click)="toggleMenu('roomsAmountMenu')"
          class="search-button"
          type="button"
        >
          חדרים

          <i class="material-icons">keyboard_arrow_down</i>
        </button>
        <div class="menu hidden">
          <!-- <app-real-estate-rooms-amount

            (roomsAmountSelected)="onRoomsAmountSelected($event)"
            
          ></app-real-estate-rooms-amount> -->
          <app-real-estate-rooms-amount></app-real-estate-rooms-amount>
        </div>
      </div>
      <!-- <button class="search-button rtl" type="button">
        סינונים נוספים
        <i class="material-icons">tune</i>
        <div class="menu hidden"></div>
      </button> -->

      <div class="menu-container" #roomsAmountMenu>
        <button
          (click)="toggleMenu('roomsAmountMenu')"
          class="search-button"
          type="button"
        >
          <i class="material-icons">tune</i>
          <div class="space"></div>

          סינונים נוספים
        </button>
        <div class="menu hidden"></div>
      </div>

      <button class="search-button-orange" type="submit">חיפוש</button>
      <button class="search-button alert-btn" type="button">יצירת התראה</button>
    </div>
  </form>
</div>
<h1 class="title">{{ title }}</h1>

<div class="project-container">
  <div class="project-div">
    <i class="material-icons">keyboard_arrow_left</i>לכל הפרויקטים
  </div>
  <div class="project-div">
    פרויקטים חדשים
    <img class="logo-img" src="assets/images/logo-yad-blue.svg" alt="" />
  </div>
</div>
<div class="adds">
  <div class="ad" *ngFor="let ad of searchService.adds">
    <img [src]="ad.pic" alt="" />
    <div class="content">
      <div class="ad-title">{{ ad.title }}</div>
      <div class="ad-city">{{ ad.city }}</div>
      <div class="ad-project">{{ ad.program }}</div>
    </div>
  </div>
</div>

<app-real-estate-results></app-real-estate-results>
<!-- <app-real-estate-additional-filters></app-real-estate-additional-filters> -->
