.page,
.flex-center,
.flex,
.stats-data,
.massage div {
  display: flex;
}
.page,
.flex-center,
.stats-data {
  align-items: center;
  justify-content: center;
}

.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}

.massages {
  padding: 0 0.5rem;
}

.page {
  width: 100%;
  direction: rtl;
}

.right-side,
.stats-numbers {
  width: 715px;
}
.left-side {
  width: 300px;
}
.left-side {
  gap: 22px;
}

.right-side {
  gap: 24px;
}

.massages {
  height: 70px;
}

#chat-img {
  width: 50px;
  height: 50px;
}
.title,
.body {
  width: 1038px;
}

.body {
  gap: 30px;
}

.title {
  margin-bottom: 22px;
}

.stats-numbers {
  height: 140px;
}

.wrap-text,
.number {
  transform: translateY(10px) !important;
}

.title {
  font-size: 1.5rem;
  margin-top: 65px;
}

.number,
.title {
  font-weight: 500;
}

.page,
.column,
.first-column,
.stats-data {
  flex-direction: column;
}

.stats-numbers,
.massages,
.ad-insight,
.general-data {
  background-color: rgb(255, 255, 255);

  border: 1px solid rgb(238, 238, 238);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px 0px;
  border-radius: 10px;
  width: 100%;
}

.stats-numbers {
  grid-template-columns: 1.2fr 1fr 1fr 1fr;
  padding: 0 1rem;
}

.massages,
.stats-numbers {
  display: grid;
}
.massages {
  grid-template-columns: 2fr 8fr 1fr;
}

.general-data {
  height: 424px;
}
.ad-insight {
  height: 400px;
}

.left-border {
  border-left: 1px solid rgb(238, 238, 238);
}

.stats-data {
  height: 90px;
}

.wrap-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-spacing: 0 !important;
}

.font32,
.number {
  font-size: 32px;
}

.font16 {
  font-size: 16px;
}

.stats-data,
.first-column {
  gap: 16px;
  padding: 0 1.5rem;
}

.first-column {
  padding-left: 2rem !important;
  width: 165px !important;
}
