<div class="page">
  <div class="title">הנתונים שלי</div>
  <div class="body flex">
    <div class="right-side flex-center column">
      <div class="stats-numbers flex-center">
        <div class="stats-data left-border first-column">
          <div class="number">0</div>
          <div class="font16 wrap-text">מודעות פעילות</div>
        </div>
        <!-- <div class="line-separator"></div> -->

        <div class="stats-data left-border">
          <div class="number">0</div>
          <div class="font16 wrap-text">מודעות לא פעילות</div>
        </div>
        <!-- <div class="line-separator"></div> -->
        <div class="stats-data left-border">
          <div class="number">0</div>
          <div class="font16 wrap-text">מודעות שלא בתוקף</div>
        </div>
        <!-- <div class="line-separator"></div> -->

        <div class="stats-data">
          <div class="number">0</div>
          <div class="font16 wrap-text">מודעות שעלו עד היום</div>
        </div>
      </div>
      <div class="general-data"></div>
    </div>
    <div class="left-side flex column">
      <div class="massages">
        <img id="chat-img" src="assets/images/chat.svg" class="" alt="chat" />
      </div>
      <div class="ad-insight"></div>
    </div>
  </div>
</div>
