.page,
.flex-center,
.flex {
  display: flex;
}
.page,
.flex-center {
  align-items: center;
  justify-content: center;
}

.page {
  width: 100%;
  direction: rtl;
}

.right-side,
.stats-numbers {
  width: 715px;
}
.left-side {
  width: 300px;
}

.massages {
  height: 70px;
}

#chat-img {
  width: 50px;
  height: 50px;
}
.title,
.body {
  width: 1038px;
}

.stats-numbers {
  height: 140px;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 65px;
}

.page,
.column {
  flex-direction: column;
}

.stats-numbers,
.massages,
.ad-insight,
.general-data {
  background-color: rgb(255, 255, 255);

  border: 1px solid rgb(238, 238, 238);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px 0px;
  border-radius: 10px;
  width: 100%;
}

.general-data {
  height: 424px;
}
.ad-insight {
  height: 300px;
}
