.page,
.flex-center,
.flex,
.stats-data {
  display: flex;
}
.page,
.flex-center,
.stats-data {
  align-items: center;
  justify-content: center;
}

.page {
  width: 100%;
  direction: rtl;
}

.right-side,
.stats-numbers {
  width: 715px;
}
.left-side {
  width: 300px;
}
.left-side {
  gap: 22px;
}

.massages {
  height: 70px;
}

#chat-img {
  width: 50px;
  height: 50px;
}
.title,
.body {
  width: 1038px;
}

.body {
  gap: 30px;
}

.title {
  margin-bottom: 22px;
}

.stats-numbers {
  height: 140px;
}
.stats-numbers {
  gap: 22px;
}

.title {
  font-size: 1.5rem;
  margin-top: 65px;
}

.number,
.title {
  font-weight: 500;
}

.page,
.column,
.stats-data {
  flex-direction: column;
}

.stats-numbers,
.massages,
.ad-insight,
.general-data {
  background-color: rgb(255, 255, 255);

  border: 1px solid rgb(238, 238, 238);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px 0px;
  border-radius: 10px;
  width: 100%;
}

.general-data {
  height: 424px;
}
.ad-insight {
  height: 400px;
}

.line-separator {
  width: 1px;

  border-left: 1px solid rgb(238, 238, 238);
}

.stats-data,
.line-separator {
  height: 90px;
}

.font32,
.number {
  font-size: 32px;
}

.font16 {
  font-size: 16px;
}
