.page,
.flex-center,
.flex,
.stats-data,
.massage div {
  display: flex;
}
.page,
.flex-center,
.stats-data {
  align-items: center;
  justify-content: center;
}

.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}

.massages {
  padding: 0 0.5rem;
}

.page {
  width: 100%;
  direction: rtl;
}

.massages-number {
  border-radius: 50%;
  background-color: #ff7100;
  color: #ffffff;
  height: 18px;
  width: 18px;
  font-size: 13px;
}

.massages-number {
  transform: translateX(-2px) translateY(25px);
}

.chat-img-container {
  margin-left: 0.5rem;
}

.massages-number span {
  transform: translateY(0.4px);
}

.right-side,
.stats-numbers {
  width: 715px;
}
.left-side,
.massages {
  width: 300px !important;
}
.left-side {
  gap: 22px;
}

#box-img,
.box-img-container {
  height: 146px;
  width: 260px;
}

.right-side {
  gap: 24px;
}

.massages {
  height: 70px;
}

#chat-img {
  width: 50px;
  height: 50px;
}
.title,
.body {
  width: 1038px;
}

.body {
  gap: 30px;
}

.title {
  margin-bottom: 22px;
}

.stats-numbers {
  height: 140px;
}

.wrap-text,
.number {
  transform: translateY(10px) !important;
}

.title {
  font-size: 1.5rem;
  margin-top: 65px;
}

.number,
.title,
.font500 {
  font-weight: 500;
}

.page,
.column,
.first-column,
.stats-data {
  flex-direction: column;
}

.stats-numbers,
.massages,
.ad-insight,
.general-data {
  background-color: rgb(255, 255, 255);

  border: 1px solid rgb(238, 238, 238);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px 0px;
  border-radius: 10px;
  width: 100%;
}

.stats-numbers {
  grid-template-columns: 1.2fr 1fr 1fr 1fr;
  padding: 0 1rem;
}

.massages,
.stats-numbers {
  display: grid;
}
.massages {
  grid-template-columns: 2fr 8fr 1fr;
}

.general-data {
  height: 424px;
}
.ad-insight {
  height: 400px;
}

.left-border {
  border-left: 1px solid rgb(238, 238, 238);
}

.stats-data {
  height: 90px;
}

.wrap-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-spacing: 0 !important;
}

.word-spacing0 {
  /* word-spacing: -2px !important; */
  letter-spacing: -0.02px !important;
}

.font32,
.number {
  font-size: 32px;
}

.font16 {
  font-size: 16px;
}

.ad-insight-title {
  padding-right: 1rem;
  padding-top: 1rem;
  padding: 0.5rem 1rem 1.25rem 1rem;
}

.stats-data,
.first-column {
  gap: 16px;
  padding: 0 1.5rem;
}

.first-column {
  padding-left: 2rem !important;
  width: 165px !important;
}

.form-frame {
  height: 320px;
  width: 675px;
  border: 1px solid rgb(226, 232, 240);

  padding: 6px 30px 0px;

  border-radius: 10px;
}

.box-img-container {
  margin: auto;
  background-color: #eeeeee;
}
.box-img-container,
.form-frame {
  margin: auto;
}

.actions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  direction: rtl; /* For right-to-left layout */
}

.action-item label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.action-item span {
  font-size: 14px;
  color: #333;
}

/* Style for the checkboxes */
.check-input {
  appearance: none;
  width: 16px;
  height: 16px;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.check-input::after {
  content: "✔";
  font-size: 12px;
  color: white;
  display: none;
}

.check-input:checked::after {
  display: block;
}

.purple {
  background-color: purple;
}

.red {
  background-color: red;
}

.green {
  background-color: teal;
}
