<div
  (click)="closeDropDown($event); removeBlueFrameFromCheckedInputs($event)"
  class="page"
>
  <div class="title">הנתונים שלי</div>
  <div class="body flex">
    <div class="right-side flex-center column">
      <div class="stats-numbers flex-center">
        <div class="stats-data left-border first-column">
          <div class="number">
            {{ userStatistics.activeAdvertisement }}
          </div>
          <div class="font16 wrap-text">מודעות פעילות</div>
        </div>

        <div class="stats-data left-border">
          <div class="number">0</div>
          <div class="font16 wrap-text">מודעות לא פעילות</div>
        </div>
        <div class="stats-data left-border">
          <div class="number">0</div>
          <div class="font16 wrap-text">מודעות שלא בתוקף</div>
        </div>

        <div class="stats-data">
          <div class="number">
            {{ userStatistics.advertismentPublishedUntilNow }}
          </div>
          <div class="font16 wrap-text">מודעות שעלו עד היום</div>
        </div>
      </div>
      <div class="general-data">
        <div class="flex-space-between title-form">
          <div class="font16 font500 flex-center">נתונים כלליים</div>
          <div class="dropdown-container">
            <div
              id="dropdown-btn"
              (click)="
                dropDownIsVisible = !dropDownIsVisible;
                blueDecorationIsVisible = true
              "
              class="dropdown font16 flex-space-between"
            >
              <span id="dropdown-btn-text" class="flex-center">
                <span id="dropdown-btn-text-value" class="extra-padding">
                  {{ dropDownValue }}
                </span>
              </span>
              <span>
                <img
                  id="arrow-down"
                  [ngStyle]="{
                    transform: dropDownIsVisible
                      ? 'rotate(180deg)'
                      : 'rotate(0deg)',
                  }"
                  src="assets/images/down-arrow2-svgrepo-com.svg"
                  alt="arrow-down"
                />
              </span>
            </div>
            @if (blueDecorationIsVisible) {
              <div
                (click)="dropDownIsVisible = !dropDownIsVisible"
                id="blue-decoration"
                class="blue-decoration"
              ></div>
            }
            @if (dropDownIsVisible) {
              <div
                (click)="blueDecorationIsVisible = false"
                class="dropdown-content"
              >
                <div
                  [ngClass]="
                    dropDownValue === item
                      ? 'dropdown-item-active font16'
                      : 'dropdown-item font16'
                  "
                  *ngFor="let item of dropDownOptions"
                  (click)="
                    dropDownValue = item;
                    dropDownIsVisible = false;
                    blueDecorationIsVisible = false
                  "
                >
                  <span class="flex-center">
                    {{ item }}
                  </span>
                  @if (dropDownValue === item) {
                    <span class="flex-center">
                      <img
                        id="check-img"
                        src="assets/images/check-svgrepo-com.svg"
                        alt="check"
                      />
                    </span>
                  }
                </div>
              </div>
            }
          </div>
        </div>
        <div class="form-frame">
          <div class="actions-container flex-space-between">
            <div class="action-item">
              <label>
                @if (!watchedAdisCheckedFrame) {
                  <input
                    [(ngModel)]="watchedAdisChecked"
                    type="checkbox"
                    [ngClass]="
                      !watchedAdisChecked
                        ? 'check-input border'
                        : 'check-input purple'
                    "
                    (click)="
                      setBlueFrameToCheckedInput(false, false, true);
                      watchedAdisChecked = !watchedAdisChecked
                    "
                  />
                } @else {
                  <div class="blue-frame flex-center">
                    <input
                      [(ngModel)]="watchedAdisChecked"
                      type="checkbox"
                      style="width: 16px; height: 16px"
                      [ngClass]="
                        !watchedAdisChecked
                          ? 'check-input-marked border flex-center'
                          : 'check-input-marked purple flex-center'
                      "
                    />
                  </div>
                }
                <span class="flex-center">צפו במודעה</span>
              </label>
            </div>
            <div class="action-item">
              <label>
                @if (!saveAdisCheckedFrame) {
                  <input
                    [(ngModel)]="saveAdisChecked"
                    type="checkbox"
                    [ngClass]="
                      !saveAdisChecked
                        ? 'check-input border'
                        : 'check-input red'
                    "
                    (click)="
                      setBlueFrameToCheckedInput(false, true, false);
                      saveAdisChecked = !saveAdisChecked
                    "
                  />
                } @else {
                  <div class="blue-frame flex-center">
                    <input
                      [(ngModel)]="saveAdisChecked"
                      type="checkbox"
                      style="width: 16px; height: 16px"
                      [ngClass]="
                        !saveAdisChecked
                          ? 'check-input-marked border'
                          : 'check-input-marked red'
                      "
                    />
                  </div>
                }

                <span>שמרו את המודעה</span>
              </label>
            </div>
            <div class="action-item">
              <label>
                @if (!clickedAdisCheckedFrame) {
                  <input
                    [(ngModel)]="clickedAdisChecked"
                    type="checkbox"
                    [ngClass]="
                      !clickedAdisChecked
                        ? 'check-input border'
                        : 'check-input green'
                    "
                    (click)="
                      setBlueFrameToCheckedInput(true, false, false);
                      clickedAdisChecked = !clickedAdisChecked
                    "
                  />
                } @else {
                  <div class="blue-frame flex-center">
                    <input
                      [(ngModel)]="clickedAdisChecked"
                      type="checkbox"
                      style="width: 16px; height: 16px"
                      [ngClass]="
                        !clickedAdisChecked
                          ? 'check-input-marked border'
                          : 'check-input-marked green'
                      "
                    />
                  </div>
                }
                <span> לחצו על מס׳ הטלפון</span>
              </label>
            </div>
          </div>

          <div
            class="decoration-box"
            (mouseenter)="vaerticalLineIsVisible = true"
          >
            @if (vaerticalLineIsVisible) {
              <div
                (mouseenter)="vaerticalLineIsVisible = false"
                class="vertical-line"
              ></div>
            }
          </div>
        </div>
        <div></div>
      </div>
    </div>
    <div class="left-side flex column">
      <div class="massages">
        <div class="flex-center chat-img-container">
          <img
            id="chat-img"
            class="flex-center"
            src="assets/images/chat.svg"
            class=""
            alt="chat"
          />
        </div>
        <div class="flex column justify-content-center">
          <div class="word-spacing0">אין לך הודעות חדשות בצ׳אט.</div>
          <div class="word-spacing0">ההודעות מחכות לך במובייל.</div>
        </div>
        <div class="flex-center massages-number">
          <span class="flex-center">0</span>
        </div>
      </div>
      <div class="ad-insight">
        <div class="ad-insight-title font500 font16">תובנות על מודעה שלך</div>
        <div class="box-img-container">
          <img
            id="box-img"
            class="flex-center"
            src="assets/images/box-new.JPG"
            class=""
            alt="box"
          />
        </div>
      </div>
    </div>
  </div>
</div>
