<div class="page">
  <div class="title">הנתונים שלי</div>
  <div class="body flex">
    <div class="right-side flex-center column">
      <div class="stats-numbers flex">
        <div class="">
          <div>0</div>
          <div>מודעות פעילות</div>
        </div>
        <div>
          <div>0</div>
          <div>מודעות לא פעילות</div>
        </div>
        <div>
          <div>0</div>
          <div>מודעות שלא בתוקף</div>
        </div>
        <div>
          <div>0</div>
          <div>מודעות שעלו עד היום</div>
        </div>
      </div>
      <div class="general-data"></div>
    </div>
    <div class="left-side flex column">
      <div class="massages">
        <img id="chat-img" src="assets/images/chat.svg" class="" alt="chat" />
      </div>
      <div class="ad-insight"></div>
    </div>
  </div>
</div>
