<div class="page">
  <body class="infomation flex-center column">
    <div class="flex-center column title">
      <div class="font36">טיפים ומידע</div>
      <div class="flex-center column">
        <div>ברוכים הבאים למרכז הטיפים ומידע של יד2 אזור האישי.</div>
        <div>
          אספנו את מיטב הטרנדים ותובנות לקונים ומוכרים ואיגדנו את כולם במקום אחד
          עבורכם.
        </div>
      </div>
    </div>
    <div class="infomation-squares flex-center">
      <div class="infomation-square">
        <img src="assets/images/chat.svg" class="" alt="chat" />
        <div>טיפים למודעה אטרקטיבית</div>
      </div>
      <div class="infomation-square">
        <img
          src="assets/images/lightbolb_idea.svg"
          class=""
          alt="lightbolb_idea"
        />

        <div>איך לענות על שאלות</div>
      </div>
      <div class="infomation-square">
        <img src="assets/images/protection.svg" class="" alt="protection" />

        <div>רמאויות</div>
      </div>
    </div>
  </body>
</div>
