.user-area-container {
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
}

.user-content {
  flex-grow: 1;
  height: max-content;
  /* padding: 20px; */
}

.sidebar {
  width: 235px;
  background-color: rgb(48, 49, 63);
  padding: 10px;
  border-left: 1px solid #dee2e6;
  /* position: absolute; */
  top: 59px;
  bottom: 0;
  right: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  text-decoration: none;
  color: #ffffff !important;
}

.sidebar a.active {
  font-weight: bold;
}

.user-profile-box {
  background-color: aqua !important;
}

.round {
  line-height: 16.1px;
  background-color: rgb(171, 71, 188);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  margin-left: 6px;
  border: solid 1px #ff7100;
}
