.user-area-container {
  display: flex;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.sidebar {
  width: 235px;
  background-color: rgb(48, 49, 63);
  padding: 10px;
  border-left: 1px solid #dee2e6;
  position: fixed;
  top: 59px;
  bottom: 0;
  right: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  text-decoration: none;
  color: #ffffff !important;
}

.sidebar a.active {
  font-weight: bold;
}

.user-area-container .content {
  margin-right: 200px;
}

.outlined-heart-icon {
  color: #ff0000;
  font-size: 24px;
}
