.user-area-container {
  display: flex;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.sidebar {
  width: 200px;
  background-color: #f8f9fa;
  padding: 10px;
  border-left: 1px solid #dee2e6;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  text-decoration: none;
  color: #007bff;
}

.sidebar a.active {
  font-weight: bold;
  color: #0056b3;
}

.user-area-container .content {
  margin-right: 200px; /* Same width as sidebar to avoid overlap */
}

.outlined-heart-icon {
  color: #ff0000;
  font-size: 24px;
}
