.user-area-container {
  background-color: #f8f8f8;
}

.round,
.sidebar,
.user-area-container,
.user-profile-box,
.sidebar li,
.user-accessibility-btns-container,
.user-loguot-btns,
.user-accessibility-btns,
.user-logout-container {
  display: flex;
}
.round,
.sidebar li,
.user-loguot-btns,
.user-accessibility-btns {
  justify-content: center;
  align-items: center;
}

.sidebar li,
.user-accessibility-btns-container {
  justify-content: flex-end;
}

.sidebar li {
  gap: 5px;
  height: 48.39px;
  line-height: 18.1px;
}

.user-accessibility-btns {
  gap: 0.75rem;
}

.user-profile-box {
  justify-content: center;
}

.sidebar,
.user-profile-box,
.user-accessibility-btns-container,
.user-logout-container {
  flex-direction: column;
}

.sidebar,
.user-profile-box {
  align-items: end;
}

.sidebar {
  color: #ffffff;
}

.user-content {
  flex-grow: 1;
  height: max-content;
}

.user-content {
  height: calc(100vh - 59px);
  /* width: calc(100vw - 234px); */
  overflow-y: auto;
}

.user-content::-webkit-scrollbar {
  display: none;
}

.sidebar {
  min-width: 235px;
  background-color: rgb(48, 49, 63);
  border-left: 1px solid #dee2e6;
  top: 59px;
  height: calc(100vh - 59px);
}

.sidebar {
  max-width: 245px !important;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  font-size: 16px;
}

.sidebar a {
  text-decoration: none;
  color: #ffffff !important;
}

.user-profile-box {
  height: 155.094px;
}

.links,
.user-profile-box,
.user-accessibility-btns-container {
  width: 100%;
}

.user-profile-box,
.sidebar li {
  padding-right: calc(22px);
  margin: 0 10px;
}

.round {
  padding: 1rem;
}

.user-name {
  font-size: 20px;
  font-weight: 600;
}

.user-email {
  color: #cccccc;
}
.user-email,
.round {
  line-height: 16.1px;
}

.user-email {
  padding: 3px 0;
  font-weight: 500;
  transform: scaleY(1.1);
}

.icons,
.material-icons,
.svg-icon {
  width: 24px;
  height: 24px;
}

.svg-icon {
  height: 16px;
  transform: translateY(-2px);
}

.user-accessibility-btns-container {
  flex: 1;
}

.user-accessibility-btns button {
  font-size: 16px;
  text-align: center;
  padding: 8px 0px;
  border: 1px solid rgb(0, 0, 0);
  height: 42px;
  width: 84.5px;
  min-width: 78px;
  border-radius: 30px;
  background-color: #eeeeee;
}
.user-accessibility-btns button,
.user-loguot-btns,
.sidebar li {
  cursor: pointer;
}

.sidebar li:hover,
.sidebar li:active {
  background-color: #23242c !important;
}

.sidebar-active {
  background-color: #23242c !important;
}

.contact-btn:hover {
  background-color: rgb(209, 209, 209);
}

.accessibility-btn {
  background-color: #012f75 !important;
  border: 1px solid #ffffff !important;
}

.material-icons {
  color: #ffffff;
}

.user-logout-container {
  gap: 0.75rem;
  padding-bottom: 24px;
}

.user-loguot-btns {
  font-weight: 300;
}

.links {
  transform: translateY(-8px);
}

.key-img {
  transform: scaleY(0.8);
}

.round {
  height: 46px;
  width: 46px;
  border-radius: 50%;
  font-size: 26px;
  margin-left: 6px;
  margin: 1rem;
  transform: translateY(8px) translateX(16px);
  font-weight: 350 !important;
}

.round {
  background-color: #ef6c00 !important;
  border: none !important;
}

@media (max-width: 883px) {
  .sidebar {
    display: none;
  }
  .user-content {
    /* width: 100vw; */
  }
}
