<div class="user-area-container">
  <div class="user-content">
    <router-outlet></router-outlet>
  </div>
  <div class="sidebar">
    <div class="user-profile-box">
      <div>
        <div class="round">
          {{ this.UserEmailAddress[0] }}
        </div>
      </div>
      <div>{{ this.userName }} {{ this.userLastname }}</div>
      <div>{{ this.UserEmailAddress }}</div>
    </div>
    <div class="links">
      <ul>
        <li>
          <a routerLink="user-advertisement" routerLinkActive="active"
            >המודעות שלי</a
          >
          <img class="svg-icon" src="assets/images/key.svg" alt="adds" />
        </li>
        <li>
          <a routerLink="edit-details" routerLinkActive="active">עדכון פרטים</a>
          <img class="svg-icon" src="assets/images/pencil.svg" alt="adds" />
        </li>
        <li>
          <a routerLink="statistic" routerLinkActive="active">סטיסטיקה</a>
          <img
            class="svg-icon"
            src="assets/images/stats-svgrepo-com.svg"
            alt="adds"
          />
        </li>
        <li>
          <a routerLink="favorite-advertisements" routerLinkActive="active"
            >מודעות שמורות
          </a>
          <img class="svg-icon" src="assets/images/heart-dark.svg" alt="adds" />
        </li>
        <li>
          <a routerLink="last-searches" routerLinkActive="active"
            >חיפושים אחורונים</a
          >
          <img
            class="svg-icon"
            src="assets/images/search-dark.svg"
            alt="adds"
          />
        </li>
        <li>
          <a routerLink="tips-information" routerLinkActive="active"
            >טיפים ומידע</a
          >
          <img class="svg-icon" src="assets/images/idea.svg" alt="adds" />
        </li>
      </ul>
    </div>
  </div>
</div>
