.user-area-container {
  background-color: #f8f8f8;
}

.round,
.sidebar,
.user-area-container,
.user-profile-box,
.sidebar li,
.user-accessibility-btns-container {
  display: flex;
}
.round,
.sidebar li {
  justify-content: center;
  align-items: center;
}

.sidebar li,
.user-accessibility-btns-container {
  justify-content: flex-end;
}

.sidebar li {
  gap: 5px;
  height: 48.39px;
}

.user-profile-box {
  justify-content: center;
}

.sidebar,
.user-profile-box,
.user-accessibility-btns-container {
  flex-direction: column;
}

.sidebar,
.user-profile-box {
  align-items: end;
}

.sidebar {
  color: #ffffff;
}

.user-content {
  flex-grow: 1;
  height: max-content;
}

.user-content {
  height: calc(100vh - 59px);
  overflow-y: auto;
}

.user-content::-webkit-scrollbar {
  display: none;
}

.sidebar {
  min-width: 235px;
  background-color: rgb(48, 49, 63);
  border-left: 1px solid #dee2e6;
  top: 59px;
  height: calc(100vh - 59px);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  font-size: 16px;
}

.sidebar a {
  text-decoration: none;
  color: #ffffff !important;
}

.user-profile-box {
  height: 155.094px;
}

.links,
.user-profile-box,
.user-accessibility-btns-container {
  width: 100%;
  padding: 0 2rem;
}

.round {
  background-color: #ab47bc;
  height: 46px;
  width: 46px;
  border-radius: 50%;
  font-size: 26px;
  margin-left: 6px;
  border: solid 1px #ff7100;
  margin: 1rem;
  transform: translateY(8px) translateX(16px);
  padding: 1rem;
  font-weight: 350 !important;
}

.user-name {
  font-size: 20px;
  font-weight: 600;
}

.user-email {
  color: #cccccc;
}
.user-email,
.round {
  line-height: 16.1px;
}

.user-email {
  padding: 3px 0;
  font-weight: 500;
  transform: scaleY(1.1);
}

.icons {
  width: 24px;
  height: 24px;
  border: transparent;
}

.user-accessibility-btns-container {
  flex: 1;
  background-color: #ff7100 !important;
}

.user-accessibility-btns button {
  font-size: 16px;
  text-align: center;
  padding: 8px 0px;
  border: 1px solid rgb(0, 0, 0);
  height: 42px;
  width: 84.5px;
  min-width: 78px;
  border-radius: 30px;
  background-color: #eeeeee;
}

.contact-btn :hover {
  background-color: rgb(209, 209, 209);
}

.accessibility-btn {
  background-color: #012f75 !important;
}
