.round,
.sidebar,
.user-area-container,
.user-profile-box {
  display: flex;
}
.round {
  justify-content: center;
  align-items: center;
}

.user-profile-box {
  justify-content: center;
}

.sidebar,
.user-profile-box {
  flex-direction: column;
}

.sidebar,
.user-profile-box {
  align-items: end;
}

.user-profile-box div {
}
.sidebar {
  color: #ffffff;
}

.user-content {
  flex-grow: 1;
  height: max-content;
}

.sidebar {
  width: 235px;
  background-color: rgb(48, 49, 63);
  border-left: 1px solid #dee2e6;
  top: 59px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  text-decoration: none;
  color: #ffffff !important;
}

.user-profile-box {
  background-color: aqua !important;
  height: 155.094px;
  width: 100%;
}

.round {
  line-height: 16.1px;
  background-color: rgb(171, 71, 188);
  height: 46px;
  width: 46px;
  border-radius: 50%;
  font-size: 20px;
  margin-left: 6px;
  border: solid 1px #ff7100;
}
