<div class="user-area-container">
  <div class="user-content">
    <router-outlet></router-outlet>
  </div>
  <div class="sidebar">
    <div class="user-profile-box">
      <div>
        <div class="round">
          {{ this.UserEmailAddress[0] }}
        </div>
      </div>
      <div>{{ this.userName }} {{ this.userLastname }}</div>
      <div>{{ this.UserEmailAddress }}</div>
    </div>
    <ul>
      <li>
        <a routerLink="user-advertisement" routerLinkActive="active"
          >המודעות שלי</a
        >
      </li>
      <li>
        <a routerLink="edit-details" routerLinkActive="active">עדכון פרטים</a>
      </li>
      <li>
        <a routerLink="statistic" routerLinkActive="active">סטיסטיקה</a>
      </li>
      <li>
        <a routerLink="favorite-advertisements" routerLinkActive="active"
          >מודעות שמורות
        </a>
      </li>
      <li>
        <a routerLink="last-searches" routerLinkActive="active"
          >חיפושים אחורונים</a
        >
      </li>
      <li>
        <a routerLink="tips-information" routerLinkActive="active"
          >טיפים ומידע</a
        >
      </li>
    </ul>
  </div>
</div>
