<!-- <div class="user-area-container">
  <div class="user-content">
    <router-outlet></router-outlet>
  </div>
  <div class="sidebar">
    <div class="user-profile-box">
      <div>
        <div class="round">
          {{ this.UserEmailAddress[0] | uppercase }}
        </div>
      </div>
      <div class="user-name">{{ this.userName }} {{ this.userLastname }}</div>
      <div class="user-email">
        {{ this.UserEmailAddress }}
      </div>
    </div>
    <div class="links">
      <ul>
        <li routerLink="user-advertisement">
          <a routerLink="user-advertisement" routerLinkActive="active"
            >המודעות שלי</a
          >
          <img
            class="svg-icon key-img"
            src="assets/images/key.svg"
            alt="adds"
          />
        </li>
        <li routerLink="edit-details">
          <a routerLink="edit-details" routerLinkActive="active">עדכון פרטים</a>
          <img class="svg-icon" src="assets/images/pencil.svg" alt="adds" />
        </li>
        <li routerLink="statistic">
          <a routerLink="statistic" routerLinkActive="active">סטטיסטיקות</a>
          <img
            class="svg-icon"
            src="assets/images/stats-svgrepo-com.svg"
            alt="adds"
          />
        </li>
        <li routerLink="favorite-advertisements">
          <a routerLink="favorite-advertisements" routerLinkActive="active"
            >מודעות שמורות
          </a>
          <img class="svg-icon" src="assets/images/heart-dark.svg" alt="adds" />
        </li>
        <li routerLink="last-searches">
          <a routerLink="last-searches" routerLinkActive="active"
            >חיפושים אחורונים</a
          >
          <img
            class="svg-icon"
            src="assets/images/search-dark.svg"
            alt="adds"
          />
        </li>
        <li routerLink="tips-information">
          <a routerLink="tips-information" routerLinkActive="active"
            >טיפים ומידע</a
          >
          <img class="svg-icon" src="assets/images/idea.svg" alt="adds" />
        </li>
      </ul>
    </div>
    <div class="user-accessibility-btns-container">
      <div class="user-logout-container">
        <div class="user-accessibility-btns">
          <button class="contact-btn">
            <img class="icons" src="assets/images/phone.svg" alt="adds" />
          </button>
          <button class="accessibility-btn">
            <i class="material-icons">accessibility</i>
          </button>
        </div>
        <div class="user-loguot-btns" (click)="this.authService.logout()">
          התנתקות
        </div>
      </div>
    </div>
  </div>
</div> -->

<app-upload-profile-image></app-upload-profile-image>
