.input-search,
.input-search:focus {
  border: 1px solid #cccccc;
}

.input-search,
.input-search:focus,
.sub-search,
.sub-search:focus {
  outline: none !important;
}

.sub-search,
.sub-search:focus {
  border: transparent;
}

.input-search::placeholder,
.select-btn,
.reset-btn,
.sub-search {
  font-size: 16px !important;
}
.input-search::placeholder,
.sub-search::placeholder {
  color: rgb(153, 153, 153, 0.8) !important;
}

.input-box {
  height: 44.4px;
  border-left: 1px solid #dcdcdc;
  padding: 0 0.5rem 0 1rem;
}
.input-box {
  display: flex;
  justify-content: center;
}

#locationSuggestion:hover,
.gray-color,
#street-option:hover,
#neighborhood-option:hover,
#city-option:hover,
#area-option:hover,
#selected-street:hover {
  background-color: #f8f8f8 !important;
}

.input-box,
:host {
  position: relative;
}

.search-suggestions {
  position: absolute;
}

.search-suggestion {
  padding: 20px 16px !important;
}

.title-locationSuggestions {
  padding: 0 20px !important;
}

.suggestion-location {
  padding: 0 4px;
}

.search-suggestions {
  height: fit-content !important;
}

.search-suggestions {
  top: 54px;
  right: 8px;
  z-index: 100;
}
.search-suggestions {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.search-suggestions {
  border-radius: 12px;
}

#locationSuggestion {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.search-suggestions {
  background-color: #ffffff !important;
}

.search-suggestions {
  z-index: 200 !important;
}

#locationSuggestion,
.search-suggestion,
.option,
.reset-btn,
.select-btn,
.remove-btn {
  cursor: pointer;
}

.reset-btn:hover {
  color: #363636;
}

.sub-search,
.sub-search:focus {
  border: transparent;
}

.location-list {
  justify-content: center;
}

#locationSuggestion,
.search-suggestion,
.input-box,
.title-locationSuggestions,
.filters-btns,
.location-list {
  align-items: center;
}

.title {
  font-size: 24px;
  line-height: 27.6px;
  text-align: end;
  padding: 0.25rem;
  padding: 1.25rem 14px 0 0;
  word-spacing: 0 !important;
}

.select-btn,
#selected-street,
.instruction-title {
  font-weight: bold;
}

.instruction-title {
  line-height: 16.1px !important;
  margin: 1rem;
  color: rgb(130, 130, 130);
}

.location-arrow-img,
.history-img {
  width: 24px;
  height: 24px;
}
.history-img {
  transform: rotate(-15deg);
}

.history-img {
  margin: 8px 0 0 0 0 !important;
}

.title {
  padding-right: 1rem;
}

.filters-btns {
  justify-content: space-between;
}

#locationSuggestion,
.search-suggestion,
.title-locationSuggestions,
.filters-btns,
#subSearchQuery,
#subSearchQueryBox,
.location-list,
.flex {
  display: flex;
}

.locations {
  display: grid;
  gap: 0.25rem;
  grid-template-columns: repeat(2, auto);
  direction: rtl;
  justify-content: flex-start;
  margin: 1rem;
}

#subSearchQuery,
#subSearchQueryBox {
  flex-direction: column;
}
#subSearchQuery {
  gap: 0.5rem;
}

.remove-btn {
  width: 21px;
  height: 21px;
}

.title-locationSuggestion {
  font-size: 16px;
  height: 38.3906px;
  padding: 10px 20px;
}

.title-locationSuggestions {
  background-color: #eeeeee;
}

.search-suggestions,
.search-suggestion,
.title-locationSuggestion,
.title-locationSuggestions {
  width: 320px;
}

#locationSuggestion,
.title-locationSuggestion,
.title-locationSuggestions {
  font-weight: 600;
}

.search-suggestion,
.title-locationSuggestions,
#searchQuery {
  font-size: 16px;
}

.comma,
.word-space {
  margin-left: 0.25rem;
}

#street-option,
#area-option,
#city-option,
#neighborhood-option,
#selected-street {
  background-color: #ffffff !important;
}
#street-option,
#area-option,
#city-option,
#neighborhood-option {
  font-weight: 300 !important;
}

#selected-street {
  height: 42.358px !important;
}

.select-btn:hover {
  color: #d86000;
}
.select-btn {
  color: #ff7e17;
}
.reset-btn {
  color: #999999;
}

.reset-btn,
.select-btn {
  padding: 4px 8px;
  margin: 4px 10px;
}

.filters-btns {
  height: 47px;
}
.filters-btns {
  border-top: solid 1px #eeeeee;
}

.fit-hieght {
  height: unset !important;
  height: fit-content !important;
}

.location-list {
  background-color: rgb(238, 238, 238);
}

.location-list > span {
  width: fit-content !important;
}

.location-list {
  font-weight: 400;
}

.location-list,
.location-list > *,
.input-search {
  border-radius: 30px;
}

.location-list {
  width: fit-content;
}

.title {
  font-weight: 500;
}

.input-search {
  max-width: 280px;
  width: 20vw;
  height: 44.4px;
  padding: 12px;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}
@media (width < 1200px) {
}

@media (width < 1000px) {
  .search-suggestion,
  .title-locationSuggestions,
  #searchQuery {
    font-size: 14px !important;
  }
}

@media (width < 883px) {
  .mobile {
    display: block;
  }

  .input-search {
    border-radius: 7px;
  }

  .search-suggestions {
    top: 50px;
    right: -1px;
  }

  #subSearchQueryBox,
  #subSearchQueryBox > *,
  #subSearchQueryBox > * > * {
    width: calc(100vw - 3rem);
  }

  .search-suggestions {
    right: 0px;
  }

  .input-search {
    max-width: 98vw;
    height: 46px;
  }
  #subSearchQueryBox {
    margin: 1rem 0;
  }

  .input-box {
    border: none;
  }

  .desktop {
    display: none;
  }

  .title {
    font-size: 20px;
  }
}

@media (max-width: 528px) {
  .trade-type-tabs {
    width: calc(100vw - 4rem);
  }

  #subSearchQueryBox,
  #subSearchQueryBox > *,
  #subSearchQueryBox > * > * {
    width: calc(100vw - 4rem);
  }
}
