body {
  overflow-x: hidden !important;
}

.dropdown-menu,
.select-options {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  transform: translateY(70px);
  border: transparent !important;
  border-radius: 4px;
}
.dropdown-menu,
.select-options,
.checkbox-input input[type="checkbox"]:checked::after,
.check-input input[type="checkbox"]:checked::after,
input[type="checkbox"]:checked::after,
.recommend-pic,
.insight-pic,
.upgrade-add-pic,
.ad-images,
.main-image,
.img-edit-btns,
.shekel,
.img-edit-btns-main-img,
.upload-btn,
#plus-circle-icon,
.remove-video {
  position: absolute;
}

.remove-video {
  top: 32px;
  left: 14px;
}

#plus-circle-icon {
  top: 50%;
  left: 50%;
  z-index: 100 !important;
}

#image-photo-icon {
  z-index: 10 !important;
}

.ad-images,
.main-image {
  border-radius: 10px;
  left: 5px;
}
.ad-images,
.main-image {
  width: 249.328px;
}
.img-edit-btns,
.img-edit-btns-main-img {
  width: 238px;
}
.img-edit-btns,
.img-edit-btns-main-img {
  left: 8px;
}
.img-edit-btns-main-img {
  top: 46px;
}
.img-edit-btns {
  top: 39px;
}

.remove-img,
.edit-img,
.remove-video {
  background-color: rgb(0, 0, 0, 0.5);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  z-index: 100 !important;
}

.svg-icon-edit {
  width: 14px;
  height: 14px;
}

.ad-images {
  height: 198.125px;
  top: 55px;
}
.main-image {
  height: 186.984px;
  top: 58px;
}

.shekel {
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20 !important;
}

.insight-pic {
  top: 10px !important;
  left: 10px !important;
}

.recommend-pic {
  top: 32px;
  left: 32px;
}

.dropdown-menu,
.select-options,
#city-option,
#street-option,
#city-option:hover,
#street-option:hover {
  z-index: 100 !important;
}
#city-option:hover,
#street-option:hover,
.dropdown-item:hover {
  background-color: #f8f8f8 !important;
}

.dropdown-menu,
.select-options,
#city-option,
.dropdown-item,
#street-option,
.advertisement-selection,
.asset-type,
.continue-btn,
.return-btn,
.input,
.Feature,
textarea,
.upload-card,
.ad-images-box,
.choice-note {
  background-color: rgb(255, 255, 255) !important;
}

.option {
  background-color: rgb(255, 255, 255);
}

.dropdown-menu li,
.select-options li {
  padding: 8px 12px;
}
.dropdown-menu li,
.select-options li,
.svg-icon.post-btn,
.remove-add-contact,
.file-input,
.Feature,
.checkbox-input,
input[type="checkbox"],
.check-input,
input[type="checkbox"],
input[type="checkbox"],
.option,
button,
#city-option,
#street-option,
.svg-icon,
.pointer {
  cursor: pointer;
}

input[matAutocomplete] {
  display: none;
}

.hide {
  display: none;
}

.type-pic {
  width: 120px;
  height: 120px;
}

.asset-type-buttons {
  display: flex;
  margin: auto;
  gap: 30px;
}

.asset-type {
  height: 188.484px;
  width: 177px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 10px;
}

.close-section,
.advertisement-selection {
  margin: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid rgb(230, 230, 230);
}
.advertisement-selection,
.close-section {
  width: 880px !important;
}

.gray-border {
  border: 1px solid rgb(54, 54, 54, 0.5) !important;
}

#Selection-1 {
  height: 359.484px;
}

#Selection-2,
#Selection-3,
#Selection-4,
#Selection-6 {
  display: flex;
  direction: rtl;
  justify-content: space-between;
  padding-bottom: 2rem;
}
#Selection-2,
#Selection-3,
#Selection-4,
#Selection-6,
.column {
  flex-direction: column;
}

form {
  background-color: rgb(248, 248, 248);
  min-height: calc(100vh - 71px);
  transform: translateY(5px);
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid rgb(34, 206, 138);
  color: rgb(34, 206, 138);
  font-weight: bold;
  padding: 0.25rem;
  width: 30px;
  height: 30px;
  font-size: 18px !important;
}

.section-title-container,
.section-title-container-close {
  display: flex;
  gap: 0.5rem;
  font-size: 24px;
  margin-left: auto;
}

.section-title-container-close {
  width: 100%;
  justify-content: space-between;
  padding: 14px 16px 14px 16px !important;
}

.section-title-container-close div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.space1 {
  height: 50px !important;
}

.space {
  height: 12px;
}

.continue-btn {
  color: rgb(255, 113, 0, 0.8);
  border: 1px solid rgb(255, 113, 0);
}
.orange-small-text,
.light-opacity-orange,
.section-title,
.continue-btn {
  font-weight: 600 !important;
}

.return-btn {
  background-repeat: repeat;
  border: 1px solid rgb(153, 153, 153, 0.5);
}
.continue-btn:hover {
  background-color: rgb(255, 250, 245) !important;
}

.input-label {
  margin-bottom: 5px;
}

.return-btn:hover {
  border: 1px solid rgb(153, 153, 153);
  transition: border-color 0.3s ease-in-out;
}
.return-btn,
.continue-btn {
  line-height: 16.1px;
  font-size: 14px;
  padding: 0px 18px;
  border-radius: 30px;
  height: 36px;
}

.date-input {
  line-height: 18.4px;
  height: 42px;
  padding: 10px;
  border: 1px solid rgb(153, 153, 153, 0.5);
  border-radius: 4px;
  -webkit-appearance: none;
  appearance: none;
}

.dropdown-item,
#city-option,
.date-input,
.input,
.btn-text1,
.date-input,
.dropdown-btn,
input::placeholder,
#street-option,
.input {
  font-size: 16px;
}

.input {
  line-height: 18.4px;
  color: rgb(54, 54, 54);
  height: 42px;
  border-radius: 4px;
  direction: rtl;
  padding-right: 1rem !important;
}

.btn-text1 {
  color: #363636;
}

.btn-text1,
.btn-text2 {
  transform: translateY(-10px);
}
.type-pic {
  transform: translateY(-4px);
}
.translateY2 {
  transform: translateY(-12px);
}

.translateY {
  transform: translateY(-20px);
}

.asset-type {
  transform: translateY(-14px) !important;
}

.btn-text2 {
  line-height: 16.1px;
  font-size: 14px;
  color: rgb(153, 153, 153);
  padding-top: 0.25rem;
}

.dropdown-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: #fff;
  border: 1px solid #ccc;
}

input::placeholder {
  color: rgb(136, 136, 136, 0.7);
  padding: 0.5rem;
}

.input::placeholder {
  text-align: start !important;
  transform: translateX(20px) !important;
  padding: 10px !important;
}

.center-placeholder::placeholder {
  text-align: center !important;
}

.left-Placeholder::placeholder {
  transform: translateX(10px) !important;
}

.input:focus {
  border: 1px solid rgb(54, 54, 54) !important;
}
.input:focus,
.outline-none:focus {
  outline: none !important;
}

.not-allowed:focus,
.input {
  border: 1px solid rgb(153, 153, 153, 0.7) !important;
}

.price-input {
  width: fit-content !important;
}

.medium {
  width: 120px;
}

.small {
  width: 65.62px;
}

.price-input-text::placeholder {
  transform: translateX(22px) !important;
}

.section-title-container {
  display: flex;
  align-items: center;
}

.average-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(248, 248, 248) !important;
}

.not-allowed,
.average-price {
  cursor: not-allowed !important;
}
.not-allowed {
  background-color: rgb(248, 248, 248) !important;
}

.average-price div {
  padding: 10px;
  line-height: 18.4px !important;
}

.light-gray {
  color: #b2b2b2 !important;
  font-size: 14px !important;
}

.ultra-light-gray {
  color: RGB(178, 178, 178, 0.7) !important;
}

.light-black {
  color: #545454 !important;
}

.right-side {
  transform: translatex(12px) !important;
}

.spaceship-icon {
  transform: translateX(65px) !important;
}

.rooms {
  max-width: 260px !important;
}

.asset_State-value {
  text-wrap: nowrap !important;
  letter-spacing: -0.05px !important;
  overflow: hidden !important;
  padding-right: 0.5rem !important;
}

.date-input,
.assetState,
.large,
#city-option,
#street-option,
.date-input {
  width: 260px !important;
}

i.material-icons {
  height: 18px;
  width: 18px;
  opacity: 0.5;
}
.rotate-icon {
  transform: rotate(180deg) translateX(-13px) translateY(-4px) !important;
}
.arrow-down {
  transform: translateX(8px) !important;
}

.small-text {
  font-weight: 520;
  line-height: 20px;
  color: #363636;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.space2 {
  height: 13px;
}

.light-grey-text {
  color: #cccccc;
}

.nano-text {
  font-size: 11px;
  line-height: 13px;
  margin: 4px 0px 0px;
}

.light-opacity-orange {
  color: #ff7f30 !important;
}

.orange-small-text {
  color: rgb(255, 113, 0);
  height: 23px;
  margin: 14px 0px 10px 0;
}

.floor-description,
.check-input {
  display: flex;
  gap: 1rem;
}

.check-input {
  justify-content: center;
  align-items: center;
  line-height: 16.1px;
  gap: 0.2rem;
  transform: translateY(20px);
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

.center input::placeholder {
  text-align: center !important;
}

.nano-gray-text {
  color: #999999;
}

.line2 {
  margin: 20px 40px !important;
}

.dropdown-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 2px;
}

.section-title-container {
  padding: 24px 16px !important;
}

#section-title-container3 {
  transform: translateX(40px);

  padding: 24px 16px 10px 16px !important;
}

.dropdown-item {
  line-height: 18.4px;
  width: 240px;
}
.dropdown-item,
#city-option,
#street-option {
  height: 42px;
}
.dropdown-item,
#city-option,
#street-option {
  padding: 5px 12px;
}

.asset {
  max-height: 420px !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

.dropdown-assetState,
.stages,
.select-options {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Feature.selected1 img {
  filter: invert(46%) sepia(96%) saturate(2239%) hue-rotate(0deg)
    brightness(140%) contrast(102%);
}

.Select-options,
.flex,
.space-between,
.img-edit-btns,
.img-edit-btns-main-img {
  display: flex;
}
.space-between,
.img-edit-btns,
.img-edit-btns-main-img {
  justify-content: space-between;
  align-items: center;
}

.checkbox-input {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-top: 1rem !important;
}

.stages {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 1rem 0;
  border: 1px solid rgb(204, 204, 204, 0.3);
  margin-top: 2rem;
  margin-bottom: 3rem;
  width: 800px;
}
.stages-pic {
  height: 173px;
  width: 800px;
}

.checkbox-input input[type="checkbox"],
.check-input input[type="checkbox"],
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid lightgray;
  border-radius: 2px;
}

.checkbox {
  border: 1px solid rgb(0, 0, 0, 0.4) !important;
}

.checkbox-input input[type="checkbox"]:checked,
.check-input input[type="checkbox"]:checked,
input[type="checkbox"]:checked {
  background-color: #ff7100;
}

.clicked {
  color: #ff7100;
  border: 1px solid #ff7100 !important;
}

.checkbox-input input[type="checkbox"]:checked::after,
.check-input input[type="checkbox"]:checked::after,
input[type="checkbox"]:checked::after {
  content: "";
  top: 1px;
  left: 4px;
  width: 4px;
  height: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.asset-stete-checkBox input[type="checkbox"] {
  transform: translateY(7px);
}

.navigation-btn {
  line-height: 16.1px;
  height: 36px;
  width: 800px;
  display: flex;
  justify-content: space-between;
  direction: ltr;
  margin-top: 50px;
}

.Selection-2-content {
  transform: translateX(-40px);
}

.Selection-6-content,
.Selection-7-content {
  margin-left: auto !important;
  margin-right: 40px !important;
}

.sub-title {
  font-size: 18px;
  line-height: 20.7px;
  margin: 20px 0px 24px;
}

.Feature {
  line-height: 16.1px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  height: 42px;
  width: 189px;
  padding: 12px 12px;
  vertical-align: middle !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 70px;
  vertical-align: middle !important;
  justify-content: flex-start;
  white-space: nowrap;
}

.property-Features {
  width: 798px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
  gap: 1rem;
  line-height: 20px;
}

.feature-pic {
  margin-left: 5px;
  margin-bottom: 4px;
  vertical-align: middle;
}

.Feature:hover img {
  filter: invert(46%) sepia(96%) saturate(2239%) hue-rotate(0deg)
    brightness(140%) contrast(102%);
}

.property-description {
  margin-top: 2.5rem;
}

.font-17 {
  font-size: 17.6px !important;
}

.description-box {
  width: 400px;
  display: flex;
  flex-direction: column;
}

textarea {
  line-height: 18.4px;
  font-size: 16px !important;
  text-align: start;
  color: rgb(0, 0, 0);
  height: 157.906px;
  width: 398px;
  padding: 12px;
  border: transparent;
  border-top: 5px solid rgb(238, 238, 238);
  border-radius: 4px;
  outline: 1px solid rgb(204, 204, 204, 0.7);
  resize: none !important;
}

textarea:hover {
  outline: 0.5px solid rgb(0, 0, 0, 0.5);
}
textarea::placeholder {
  color: rgb(0, 0, 0, 0.3);
  font-size: 18px;
  font-family: "rubik" sans-serif;
  letter-spacing: -0.8px;
  line-height: 1.1;
}

.description-title {
  flex-direction: row !important;
  justify-content: space-between !important;
}

.content-chars {
  color: #cccccc;
}

.process-bar {
  top: -158px;
  right: 0px;
  width: 0px;
  height: 5px;
  z-index: 100 !important;
  border-top-right-radius: 5px;
}

.checkbox-input input[type="checkbox"],
.check-input input[type="checkbox"],
input[type="checkbox"],
.process-bar,
#Selection-2,
#Selection-3,
#Selection-4,
.upload-container-main-pic,
.upload-container,
.upload-card2,
.upload-icons,
.card-content {
  position: relative;
}

.upgrade-add-pic {
  top: 18px;
  left: 22px;
}

.date-container div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-container {
  margin-left: auto !important;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: fit-content !important;
  margin-top: 6px !important;
}

.date-input {
  line-height: 18.4px;
  height: 42px;
  padding: 0px 1px 0px 0px;
}

.date-input:hover {
  border: 1px solid rgb(54, 54, 54);
}

.date-checkbox {
  gap: 1rem !important;
}

.average-price-div {
  margin-bottom: 1rem !important;
}

.Selection-5-content {
  margin-left: auto !important;
  width: fit-content;
  display: flex;
  align-items: end;
  flex-direction: column;
}

.text-content {
  text-align: end !important;
  padding: 0 2rem !important;
  margin-right: 11px !important;
}

.line6 {
  transform: translateX(-8px) !important;
  max-width: 800px !important;
}

.card-header {
  font-weight: 500;
  width: 100%;

  height: 28px;
}

.hidden {
  display: none;
}

.upload-container,
.upload-container-main-pic {
  display: flex;
  flex-direction: column;
  height: 266.266px;
  border-radius: 8px;
}

.gray,
.line,
.line3 {
  background-color: rgb(238, 238, 238);
}

.line {
  width: 800px;
  height: 1px;
  margin: 40px !important;
  margin-bottom: 10px !important;
  transform: translateX(5%);
}

.line3 {
  width: 800px;
  height: 1px;
  margin-bottom: 35px !important;
  margin-top: 35px !important;
}

.upload-container-main-pic {
  width: 259.328px;
}

.upload-container {
  width: 255.344px;
}

.card-content {
  display: flex;

  align-items: center;
}
.card-content,
.column,
.asset-type {
  flex-direction: column;
}

.flex-center,
.upload-part,
.asset-type,
.check-circle,
.option,
.card-header,
.edit-img,
.remove-img,
.remove-video {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-card,
.upload-card2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 5px;

  border-radius: 10px;
}
.upload-card,
.upload-card2 {
  border: 2px dashed #cccccc;
}

.upload-card,
.file-input-video {
  width: 245.344px;
  height: 233px !important;
}

.file-input-video {
  transform: translateY(20px);
  border-radius: 10px !important;
}

.upload-card2 {
  height: 237.062px;
  width: 249.344px;
}

.image-photo {
  width: 50px;
  height: 50px;
}

.gap {
  gap: 0.5rem;
}

#balconiesNumber {
  width: 51.8281px !important;
}

.option {
  line-height: 16.1px;
  height: 42px;
  width: 64.7969px;
  border: 1px solid #cccccc;
  padding: 0px 12px;
}

.option:hover,
.Feature:hover {
  border: 1px solid rgb(255, 113, 0);
  color: #ff7100;
}

.selected,
.selected1 {
  border: 1px solid rgb(255, 113, 0) !important;
  background-color: rgb(255, 250, 245) !important;
  color: #ff7100 !important;
}

.border-option-right {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.border-option-left {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.border-left-none {
  border-left: none;
}

.border-right-none {
  border-right: none;
}
.border-left-none1 {
  border-left: none !important;
}

.border-right-none1 {
  border-right: none !important;
}

.check-circle {
  color: #ffffff;
  background-color: rgb(13, 172, 108);
  border-radius: 50%;
  font-size: 36px;
  width: 36px;
  height: 36px;
}

.upload-part {
  margin-left: auto !important;
  margin-right: 40px !important;
  margin-top: 25px !important;
  gap: 20px;
}

.file-input {
  background-size: cover;
  background-position: center;
  z-index: 100;
  color: transparent;
  margin: 20% auto;
}

.file-input-video {
  /* background-size: cover; */
  /* background-position: center; */
  z-index: 200;
  /* color: transparent; */
  margin: 20% auto;
}
.file-input {
  width: 240px;
  height: 150px;
}

.file-input-video {
  height: 140px !important;
  width: 245.344px !important;
}

#video {
  margin-top: 22%;
}

.upload-video {
  background-image: url("../../../assets/images/upload-video.JPG");
}
.upload-pictures {
  background-image: url("../../../assets/images/upload-image.JPG");
}

.file-input::file-selector-button {
  display: none;
}

.none-border,
.file-input,
.light-green-circle,
.none-border-focus:focus {
  border: none !important;
}
.light-green-circle {
  background-color: rgb(15, 202, 128, 0.25) !important;
}

.ad-images-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  direction: rtl;
  max-width: 900px !important;
  flex-wrap: wrap !important;
}

mat-icon {
  font-size: 13px;
  width: 13px;
  height: 13px;
  margin-left: 3px;
  margin-top: 3px;
}

.remove-add-contact {
  display: flex;
  direction: rtl;
  margin-top: 1rem;
  margin-bottom: 1rem !important;
}
#area,
#neighborhood,
.right-text,
.date-input,
textarea::placeholder,
.date-input,
.remove-add-contact {
  text-align: right !important;
}

#line-page6 {
  margin: 2rem 0 !important;
}

#line-page7 {
  margin-right: 7.6rem !important;
  margin-top: 0.5rem !important;
  margin-bottom: 1rem !important;
}

.choice-note {
  height: 76px;
  width: 798px;
  border: 1px solid rgb(238, 238, 238);
  margin: 20px 0px 0px;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-note {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.weCheck-img {
  width: 100% !important;
  transform: translateX(2px) !important;
}

.align-right {
  margin-left: 160px !important;
  padding-right: 12px !important;
}

.page7 {
  margin: unset !important;
  margin-left: auto !important;
  margin-right: 2.5rem !important;
  margin-bottom: 2rem !important;
}

.course-to-post {
  height: 530.93px !important;
  width: 276px !important;
}

.course-to-post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 95% !important;
  margin: auto !important;

  margin-bottom: 2rem !important;
}

#premium-course {
  border: 2px solid #22c1a1 !important;
  border-radius: 10px;
  height: 530.93px;
  width: 246px !important;
  display: flex;
  flex-direction: column;
  margin: auto;
}

#premium-course-pic,
#upgrad-course-pic {
  width: 100% !important;
  padding: 2px !important;
}

#premium-course-pic {
  height: 446px !important;
}

.post-btn-box {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  height: 70px !important;
}

.post-btn {
  font-size: 18px;
  line-height: 20.7px;
  height: 48px;
  padding: 24px 0px 24px 0px;
  border-radius: 30px;
  width: 155.266px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem !important;
}

.green-btn {
  background-color: rgb(15, 202, 128) !important;
  color: rgb(255, 255, 255) !important;
  border: 0px none rgb(255, 255, 255) !important;
  width: 168.906px !important;
}

.btn-text1,
.font500,
.green-btn,
.sub-title {
  font-weight: 500 !important;
}

.nano-text1 {
  font-size: 12px;
}

#plus-circle-icon {
  width: 24px;
  height: 24px;
}

.translateY3 {
  transform: translateY(-7px);
}

.close-section span,
.close-section div {
  font-size: 20px !important;
  color: rgb(150, 148, 148);
}
.close-section span,
.close-section div,
.sub-title,
.nano-text1 {
  letter-spacing: 0 !important;
}

.title-div {
  padding-right: 0.25rem;
}

.green-btn:hover {
  background-color: #0e9c64 !important;
  transition: background-color 0.2s ease-in-out;
}

.course-to-post-inner-box {
  background-color: rgb(250, 250, 250);
  color: rgb(54, 54, 54);
  height: 505.953px;
  width: 246px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 10px;
  margin: auto;
  margin-top: 27px !important;
}

.margin-extra {
  margin-right: 2.3rem !important;
}

.last-btn {
  margin-top: 3rem !important;
}

.svg-icon {
  width: 24px;
  height: 24px;
}
.svg-icon {
  transform: translateY(-2px);
}

.border-invalid {
  border: 1px solid red !important;
}

.border-invalid::placeholder {
  color: #363636 !important;
}

.error-text {
  color: red;
  display: none;
}

.display-block {
  display: block;
}

.margin-bottom {
  margin-bottom: 20px;
}

#standardizationAccepted-error {
  transform: translateX(-16px) !important;
}

.feature-pic {
  width: 18px !important;
  height: 18px !important;
}
