<form [formGroup]="advertisementForm" (ngSubmit)="handleSubmit()">
  <div class="space1"></div>

  <div class="advertisement-selection" id="Selection-1" *ngIf="true">
    <div class="section-title-container">
      {{ this.changeTradeTypeTitle() }} <span class="section-title">1</span>
    </div>

    <div class="asset-type-buttons">
      <button
        class="asset-type"
        type="button"
        [class.active]="isActive('עסקים למכירה')"
        (click)="setAdvertisementType('עסקים למכירה')"
      >
        <div class="part-1">
          <img src="assets/images/4type.JPG" class="type-pic" alt="ad2" />
        </div>
        <div class="btn-text1">עסקים למכירה</div>
        <div class="btn-text2">הייטק, בתי קפה וכו׳</div>
      </button>
      <button
        class="asset-type"
        type="button"
        [class.active]="isActive('נכס מסחרי')"
        (click)="setAdvertisementType('נכס מסחרי')"
      >
        <div class="part-1">
          <img src="assets/images/3type.JPG" class="type-pic" alt="ad2" />
        </div>
        <div class="btn-text1">מסחרי</div>
        <div class="btn-text2">מחסנים, קליניקות, משרדים</div>
      </button>
      <button
        class="asset-type"
        type="button"
        [class.active]="isActive('השכרה')"
        (click)="setAdvertisementType('השכרה')"
      >
        <div class="part-1">
          <img src="assets/images/2type.JPG" class="type-pic" alt="ad2" />
        </div>
        <div class="btn-text1">השכרה</div>
        <div class="btn-text2"></div>
      </button>
      <button
        class="asset-type"
        type="button"
        [class.active]="isActive('מכירה')"
        (click)="setAdvertisementType('מכירה')"
      >
        <div class="part-1">
          <img src="assets/images/1type.JPG" class="type-pic" alt="ad2" />
        </div>
        <div class="btn-text1">מכירה</div>
        <div class="btn-text2"></div>
      </button>
    </div>
  </div>
  <div class="space"></div>
  <div class="close-section" *ngIf="false">
    <div class="section-title-container">
      <span class="section-title">2</span> <span>כתובת הנכס</span>
    </div>
  </div>

  <div class="advertisement-selection" id="Selection-2" *ngIf="true">
    <div>
      <img src="assets/images/recommend.JPG" class="recommend-pic" alt="ad2" />
    </div>
    <div class="section-title-container">
      <span class="section-title">2</span> <span>כתובת הנכס</span>
    </div>
    <div class="Selection-2-content">
      <div class="part1">
        <div>סימנו עבורך את שדות החובה, שלא נפספס פרט חשוב</div>
      </div>
      <div class="space2"></div>
      <div class="input-container">
        <label class="small-text" for="city">ישוב*</label>
        <input
          class="input large"
          id="city"
          [value]="authService.user.getValue()?.city"
          formControlName="city"
          placeholder="  איפה נמצא הנכס?"
        />
      </div>
      <div class="input-container">
        <label class="small-text" for="street">רחוב*</label>
        <input
          class="input large"
          id="street"
          [value]="authService.user.getValue()?.street"
          formControlName="street"
          placeholder="  הכנס שם הרחוב"
        />
        <div class="nano-text">
          לא ניתן יהיה לעדכן את שם הרחוב לאחר פרסום המודעה
        </div>
      </div>

      <div class="orange-small-text">לא מצאת את הרחוב?</div>
      <div class="floor-description">
        <div class="input-container">
          <label class="small-text" for="number">מס׳ בית*</label>
          <input
            class="input medium center"
            id="number"
            [value]="authService.user.getValue()?.houseNumber"
            formControlName="number"
            placeholder="  מספר בית"
          />
        </div>
        <div class="input-container">
          <label class="small-text" for="number">מספר דירה</label>
          <input class="input medium center" placeholder="  מספר דירה" />
        </div>
      </div>
      <div class="floor-description">
        <div class="input-container">
          <label class="small-text" for="floor">קומה*</label>
          <input
            class="input medium"
            id="floor"
            formControlName="floor"
            placeholder="מספר קומה"
          />
        </div>

        <div class="input-container">
          <label class="small-text" for="totalFloors">סה״כ קומות בבניין*</label>
          <input
            class="input medium"
            id="totalFloors"
            formControlName="totalFloors"
            placeholder="סה״כ קומות "
          />
        </div>
        <div class="check-input">
          <input class="input" type="checkbox" formControlName="onPillars" />
          <label> על עמודים </label>
        </div>
      </div>

      <div class="input-container">
        <label class="small-text light-grey-text" for="neighborhood"
          >שכונה</label
        >
        <input
          class="input large not-allowed"
          id="neighborhood"
          formControlName="neighborhood"
        />
        <div class="nano-gray-text">
          המידע הזה מגיע מגוף ממשלתי ולא ניתן לשינוי
        </div>
      </div>
      <div class="input-container">
        <label class="small-text light-grey-text" for="area">אזור</label>
        <input
          class="input large not-allowed"
          id="area"
          formControlName="area"
        />
        <div class="nano-gray-text">
          המידע הזה מגיע מגוף ממשלתי ולא ניתן לשינוי
        </div>
      </div>

      <div class="line"></div>

      <div class="input-container">
        <label class="small-text" for="assetType">סוג הנכס*</label>
        <button
          class="input large dropdown-btn"
          type="button"
          (click)="toggleDropdown('assetType')"
        >
          {{ asset_type ?? "דירה או אולי פנטהאוז?" }}
          <i #dropdownIconAsset_type class="material-icons"
            >keyboard_arrow_down</i
          >
        </button>
        <ul *ngIf="this.isAssetTypeDropdownHidden" class="dropdown-menu asset">
          <li
            class="dropdown-item"
            *ngFor="let option of assetTypes"
            (click)="selectAssetType(option, 'assetType')"
          >
            {{ option }}
          </li>
        </ul>
      </div>

      <div class="input-container">
        <label class="small-text" for="assetState">מצב הנכס*</label>
        <button
          class="input large dropdown-btn"
          type="button"
          (click)="toggleDropdown('assetState')"
        >
          {{ asset_State ?? "משופץ? חדש מקבלן" }}
          <i #dropdownIconAsset_State class="material-icons"
            >keyboard_arrow_down</i
          >
        </button>
        <ul
          *ngIf="this.isAssetAssetstateDropdownHidden"
          class="dropdown-menu asset dropdown-assetState"
        >
          <li
            class="dropdown-item assetState"
            *ngFor="let option of assetConditions"
            (click)="selectAssetType(option, 'assetState')"
          >
            {{ option }}
          </li>
        </ul>
      </div>

      <div class="input-container">
        <label class="small-text" for="view">כיווני אוויר</label>
        <div class="Select-options">
          <div
            *ngFor="let number of AirDirections; let i = index"
            [ngClass]="optionClass(i)"
            [class.selected]="
              advertisementForm.get('airDirections').value === number
            "
            (click)="selectAirDirections(number)"
          >
            {{ number }}
          </div>
        </div>
      </div>

      <div class="input-container">
        <label class="small-text" for="view"> נוף פתוח</label>
        <div class="Select-options">
          <div
            *ngFor="let view of viewOptions; let i = index"
            [ngClass]="optionClass(i)"
            [class.selected]="advertisementForm.get('view').value === view"
            (click)="selectAirView(view)"
          >
            {{ view }}
          </div>
        </div>
      </div>
      <label class="checkbox-input">
        <input class="input" type="checkbox" formControlName="rearProperty" />
        נכס עורפי
      </label>

      <div class="line line2"></div>

      <div>
        <label class="checkbox-input">
          <input type="checkbox" />
          אני רוצה לקבל עדכון חודשי במייל עם הערכת שווי מעודכנת עבור הנכס,
          עסקאות באיזור והצעות מקצועיות מיועצי נדל״ן
        </label>
      </div>

      <div class="stages">
        <img src="assets/images/stages.JPG" class="stages-pic" alt="stages" />
      </div>

      <div class="navigation-btn">
        <button class="continue-btn">המשך לשלב הבא</button>
        <button class="return-btn">חזרה</button>
      </div>
    </div>
  </div>

  <div class="space"></div>

  <div class="close-section" *ngIf="false">
    <div><span class="section-title">3</span> <span> מאפייני הנכס</span></div>
  </div>

  <div class="advertisement-selection" id="Selection-3" *ngIf="true">
    <div><span class="section-title">3</span> <span> מאפייני הנכס</span></div>
    <div>
      <label for="rooms">מספר חדרים*</label>
      <input id="rooms" formControlName="rooms" />
    </div>
    <div>
      <label for="showerRooms"> חדרי מקלחת*</label>
      <input id="showerRooms" formControlName="showerRooms" />
    </div>
    <div>
      <label for="showerRooms"> חניה*</label>
      <input id="showerRooms" formControlName="privateParking" />
    </div>
    <div>
      <label for="showerRooms"> מרפסת*</label>
      <input id="showerRooms" formControlName="balconiesNumber" />
    </div>

    <div>
      <label>
        <input type="checkbox" formControlName="accessibleForDisabled" />
        נגיש לנכים
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" formControlName="airConditioning" />
        מיזוג
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" formControlName="windowBars" />
        סורגים
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" formControlName="solarWaterHeater" />
        דוד שמש
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" formControlName="elevator" />
        מעלית
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" formControlName="forRoommates" />
        לשותפים
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" formControlName="furnished" />
        ריהוט
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" formControlName="separateUnit" />
        יחידת דיור
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" formControlName="kosherKitchen" />
        מטבח כשר
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" formControlName="petsAllowed" />
        חיות מחמד
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" formControlName="renovated" />
        משופצת
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" formControlName="safeRoom" />
        ממ"ד
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" formControlName="multiLockDoors" />
        דלתות רב בריח
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" formControlName="storageRoom" />
        מחסן
      </label>
    </div>
    <div>
      <label for="">מה חשוב לך שידעו על הנכס?</label>

      <div>
        <label for=""> פרוט הריהוט: (עד 200 תוים) </label>

        <label for="description">תיאור*</label>
        <textarea
          id="description"
          formControlName="furnituredescription"
        ></textarea>
      </div>
      <div>
        <label for="description">פרוט הנכס*</label>
        <textarea id="description" formControlName="description"></textarea>
      </div>
    </div>
    <div class="navigation-btn">
      <button class="continue-btn">המשך לשלב הבא</button>
      <button class="return-btn">חזרה</button>
    </div>
  </div>
  <div class="space"></div>

  <div class="close-section" *ngIf="false">
    <span class="section-title">4</span> <span> תשלומים, תאריכים ועוד</span>
  </div>

  <div class="advertisement-selection" id="Selection-4" *ngIf="true">
    <div>
      <span class="section-title">4</span> <span> תשלומים, תאריכים ועוד</span>
      <div>
        <label for="price">מספר תשלומים</label>
        <input id="price" formControlName="numberOfPayments" />
      </div>
      <div>
        <label for="price">ועד בית</label>
        <input
          placeholder="תשלום לועד בית"
          id="price"
          formControlName="houseCommitteePayment"
        />
      </div>
      <div>
        <label for="price">ארנונה לחודשים</label>
        <input
          placeholder="  סכום ארנונה לתשלום"
          id="price"
          formControlName="municipalityMonthlyPropertyTax"
        />
      </div>
      <div>
        <label for="price"> מ״ר בנוי</label>
        <input
          placeholder="כמה מר יש בנכס"
          id="price"
          formControlName="builtSquareMeters"
        />
      </div>
      <div>
        <label for="price"> מ״ר גינה</label>
        <input id="price" formControlName="gardenSquareMeters" />
      </div>
      <div>
        <label for="price"> גודל במ״ר סך הכל*</label>
        <input id="price" formControlName="totalSquareMeters" />
      </div>
      <div>
        <label for="price">מחיר*</label>
        <input id="price" formControlName="price" />
      </div>
      <div>
        <label for="price">מחיר למטר</label>
        <div></div>
      </div>

      <div class="title">תאריך כניסה</div>
      <div class="date">
        <input
          id="entryDate"
          formControlName="entryDate"
          class="date-input"
          type="date"
          placeholder="dd/mm/yyyy"
        />
        <label class="date-checkbox">
          <div>
            <input type="checkbox" formControlName="immediate" />כניסה מיידית
          </div>
          <div><input type="checkbox" formControlName="flexible" /> גמיש</div>
          <div>
            <input type="checkbox" formControlName="longTerm" /> לטווח ארוך
          </div>
        </label>
      </div>
    </div>
    <div class="navigation-btn">
      <button class="continue-btn">המשך לשלב הבא</button>
      <button class="return-btn">חזרה</button>
    </div>
  </div>
  <div class="space"></div>

  <div class="close-section" *ngIf="false">
    <span class="section-title">5</span> <span>תמונות וסרטונים </span>
  </div>

  <div class="advertisement-selection" id="Selection-5" *ngIf="true">
    <div>
      <span class="section-title">5</span> <span>תמונות וסרטונים </span>
      <div>
        <label for="pictures">תמונות</label>
        <input type="file" id="pictures" (change)="onFileChange($event)" />
      </div>
      <div>
        <img
          *ngFor="let image of images"
          [src]="src(image)"
          height="100"
          width="100"
        />
      </div>

      <div>
        <label for="video">וידאו</label>
        <input
          id="video"
          type="file"
          formControlName="video"
          (change)="onFileVideoChange($event)"
        />
      </div>
    </div>
    <div class="navigation-btn">
      <button class="continue-btn">המשך לשלב הבא</button>
      <button class="return-btn">חזרה</button>
    </div>
  </div>
  <div class="space"></div>

  <div class="close-section" *ngIf="false">
    <div><span class="section-title">6</span> <span>פרטי התקשרות </span></div>
  </div>

  <div class="advertisement-selection" id="Selection-6" *ngIf="true">
    <div><span class="section-title">6</span> <span>פרטי התקשרות </span></div>
    <div>
      <label for="contactName">שם איש קשר*</label>
      <input
        id="contactName"
        formControlName="contactName"
        [value]="authService.user.getValue()?.name"
      />
    </div>
    <div>
      <label for="contactPhone">טלפון איש קשר*</label>
      <input id="contactPhone" formControlName="contactPhone" />
    </div>
    <input type="checkbox" formControlName="standardizationAccepted" />

    רק לקרוא ולאשר את התקנון*
    <div class="navigation-btn">
      <button class="continue-btn">המשך לשלב הבא</button>
      <button class="return-btn">חזרה</button>
    </div>
  </div>
  <div class="space"></div>

  <div class="close-section" *ngIf="false">
    <div><span class="section-title">7</span> <span> בחירת מסלול</span></div>
  </div>
  <div class="advertisement-selection" id="Selection" *ngIf="true">
    <div><span class="section-title">7</span> <span> בחירת מסלול</span></div>
    <button type="submit">בחירת מסלול</button>
  </div>
</form>
