button.active {
  color: #ff7100;
}

.dropdown-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  position: absolute;
  background-color: white;
  z-index: 1000;
  transform: translateY(70px);
  border: transparent !important;
  border-radius: 4px;
}

.dropdown-menu li {
  padding: 8px 12px;
  cursor: pointer;
}

/* .dropdown-menu li:hover {
  background-color: #f0f0f0;
} */

.hide {
  display: none;
}

.asset-type {
  margin: 0px;
  padding: 12px 0px 22px;
  height: 188.484px;
  width: 177px;
  border: 1px solid rgb(204, 204, 204);
  font-weight: 400;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  cursor: pointer;
}

.type-pic {
  width: 100px;
  height: 100px;
}

.btn-text1 {
  line-height: 18.4px;
  font-weight: 600;
  font-size: 16px;
  opacity: 0.65 !important;
}

.btn-text2 {
  line-height: 16.1px;
  font-weight: 400;
  font-size: 14px;
  color: rgb(153, 153, 153);
}

.asset-type-buttons {
  display: flex;
  margin: auto;
  gap: 2rem;
}

.advertisement-selection {
  border-radius: 10px;
  border: 1px solid rgb(230, 230, 230);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255) !important;
  margin: auto !important;
  width: 880px;

  /* margin-top: 1rem !important; */
}

#Selection-1 {
  height: 360px;
}

#Selection-2 {
  display: flex;
  flex-direction: column;
  direction: rtl;
  justify-content: space-between;
}

form {
  background-color: rgb(248, 248, 248);
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid rgb(34, 206, 138);
  color: rgb(34, 206, 138);
  font-weight: bold;
  padding: 0.25rem;
  width: 30px;
  height: 30px;
  font-size: 18px !important;
  font-weight: 600 !important;
}

.section-title-container {
  display: flex;
  gap: 0.5rem;
  font-size: 24px;
  margin-left: auto;
  padding: 1.5rem;
}

.space1 {
  height: 50px !important;
}

.space {
  height: 10px;
}

.continue-btn {
  font-weight: 600 !important;
  background-color: rgb(255, 250, 245);
  color: rgb(255, 113, 0, 0.8);
  border: 1px solid rgb(255, 113, 0);
}

.return-btn {
  background-color: rgb(255, 255, 255);
  background-repeat: repeat;
  border: 1px solid rgb(153, 153, 153);
}
.return-btn,
.continue-btn {
  line-height: 16.1px;
  font-size: 14px;
  padding: 0px 18px;
  border-radius: 30px;
  height: 36px;
}

.input {
  font-size: 16px;
  line-height: 18.4px;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
  color: rgb(54, 54, 54);
  height: 42px;
  border: 1px solid rgb(153, 153, 153, 0.7);
  border-radius: 4px;
  padding: 1px 2px;
  direction: rtl;
}

.large {
  width: 270px;
}

.medium {
  width: 125px;
}

.small {
  width: 65.62px;
}

.section-title-container {
  display: flex;
  align-items: center;
}

.recommend-pic {
  position: absolute;
  top: 71%;
}

.Selection-2-content {
  transform: translateX(40px);
}

.small-text {
  font-weight: 520;
  line-height: 20px;
  color: #363636;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding-top: 1rem;
}

.space2 {
  height: 13px;
}

.light-grey-text {
  color: #cccccc;
}

button {
  cursor: pointer;
}

.nano-text {
  font-size: 11px;
  line-height: 13px;
  margin: 4px 0px 0px;
}

.orange-small-text {
  color: rgb(255, 113, 0);
  height: 23px;
  margin: 24px 0px;
  font-weight: 600 !important;
}

.floor-description,
.check-input {
  display: flex;
  gap: 1rem;
}

.check-input {
  justify-content: center;
  align-items: center;
  line-height: 16.1px;
  gap: 0.2rem;
  transform: translateY(20px);
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

input::placeholder {
  color: rgb(136, 136, 136, 0.7);
  padding: 0.5rem;
  font-size: 16px;
}

.not-allowed {
  cursor: not-allowed !important;
}

.center input::placeholder {
  text-align: center !important;
}

.nano-gray-text {
  color: #999999;
}

.line {
  width: 112%;
  height: 1px;
  background-color: rgb(238, 238, 238, 0.8);
  margin: 40px !important;
  margin-bottom: 10px !important;
  transform: translateX(5%);
}

.line2 {
  margin: 20px 40px !important;
}

.dropdown-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 2px;
}
.dropdown-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 16px;
}

i.material-icons {
  height: 20px;
  width: 20px;
  opacity: 0.5;
}

.dropdown-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.4px;
  background-color: rgb(255, 255, 255);
  width: 250px;
  height: 42px;
  padding: 5px 12px;
  min-height: 42px;
}

.asset {
  max-height: 420px !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}
.assetState {
  width: 270px !important;
}

.dropdown-assetState {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rotate-icon {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}
