.dropdown-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  position: absolute;
  background-color: white;
  z-index: 1000;
  transform: translateY(70px);
  border: transparent !important;
  border-radius: 4px;
}

.check-circle {
  color: #ffffff;
  background-color: rgb(13, 172, 108);
  border-radius: 50%;
  font-size: 36px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.light-green-circle {
  border: none !important;
  background-color: rgb(15, 202, 128, 0.25) !important;
}

.dropdown-menu li {
  padding: 8px 12px;
  cursor: pointer;
}

.hide {
  display: none;
}

.asset-type {
  margin: 0px;
  padding: 12px 0px 22px;
  height: 188.484px;
  width: 177px;
  border: 1px solid rgb(204, 204, 204);
  font-weight: 400;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  cursor: pointer;
}

.type-pic {
  width: 100px;
  height: 100px;
}

.btn-text1 {
  line-height: 18.4px;
  font-weight: 600;
  font-size: 16px;
  opacity: 0.65 !important;
}

.btn-text2 {
  line-height: 16.1px;
  font-weight: 400;
  font-size: 14px;
  color: rgb(153, 153, 153);
}

.asset-type-buttons {
  display: flex;
  margin: auto;
  gap: 2rem;
}

.advertisement-selection {
  background-color: rgb(255, 255, 255) !important;
}

.close-section,
.advertisement-selection {
  width: 880px !important;
  margin: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid rgb(230, 230, 230);
}

.close-section span,
.close-section div {
  font-size: 20px !important;
  color: rgb(54, 54, 54, 0.5);
  font-weight: 500 !important;
}

.gray-border {
  border: 1px solid rgb(54, 54, 54, 0.5) !important;
}

#Selection-1 {
  height: 360px;
}

#Selection-2,
#Selection-3,
#Selection-4,
#Selection-6 {
  display: flex;
  flex-direction: column;
  direction: rtl;
  justify-content: space-between;
  padding-bottom: 2rem;
}

form {
  background-color: rgb(248, 248, 248);
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid rgb(34, 206, 138);
  color: rgb(34, 206, 138);
  font-weight: bold;
  padding: 0.25rem;
  width: 30px;
  height: 30px;
  font-size: 18px !important;
  font-weight: 600 !important;
}

.section-title-container,
.section-title-container-close {
  display: flex;
  gap: 0.5rem;
  font-size: 24px;
  margin-left: auto;
}

.section-title-container {
  padding: 24px 16px !important;
}

.section-title-container-close {
  width: 100%;
  justify-content: space-between;
  padding: 14px 16px 14px 16px !important;
}

.section-title-container-close div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.space1 {
  height: 50px !important;
}

.space {
  height: 12px;
}

.continue-btn {
  font-weight: 600 !important;
  color: rgb(255, 113, 0, 0.8);
  border: 1px solid rgb(255, 113, 0);
  background-color: rgb(255, 255, 255);
}

.return-btn {
  background-color: rgb(255, 255, 255);
  background-repeat: repeat;
  border: 1px solid rgb(153, 153, 153, 0.5);
}
.continue-btn:hover {
  background-color: rgb(255, 250, 245);
  transition: background-color 0.3s ease-in-out;
}

.input-label {
  margin-bottom: 5px;
}

.return-btn:hover {
  border: 1px solid rgb(153, 153, 153);
  transition: border-color 0.3s ease-in-out;
}
.return-btn,
.continue-btn {
  line-height: 16.1px;
  font-size: 14px;
  padding: 0px 18px;
  border-radius: 30px;
  height: 36px;
}

.input {
  font-size: 16px;
  line-height: 18.4px;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
  color: rgb(54, 54, 54);
  height: 42px;
  border: 1px solid rgb(153, 153, 153, 0.7);
  border-radius: 4px;
  direction: rtl;
  padding-right: 20px !important;
}

.input::placeholder {
  text-align: start !important;
  transform: translateX(20px) !important;
  padding: 10px !important;
}

.center-placeholder::placeholder {
  text-align: center !important;
}

.left-Placeholder::placeholder {
  transform: translateX(10px) !important;
}

.input:focus {
  border: 1px solid rgb(54, 54, 54) !important;
  outline: none !important;
}

.large {
  width: 270px;
}

.price-input {
  width: fit-content !important;
}

.shekel {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20 !important;
}

.medium {
  width: 125px;
}

.small {
  width: 65.62px;
}

.price-input-text::placeholder {
  transform: translateX(22px) !important;
}

.section-title-container {
  display: flex;
  align-items: center;
}

.average-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: not-allowed;
  background-color: rgb(248, 248, 248) !important;
}

.average-price div {
  padding: 10px;
  line-height: 18.4px !important;
}

.light-gray {
  color: #b2b2b2 !important;
  font-size: 14px !important;
}

.ultra-light-gray {
  color: RGB(178, 178, 178, 0.7) !important;
}

.light-black {
  color: #545454 !important;
}

.right-side {
  transform: translatex(12px) !important;
}

.recommend-pic {
  position: absolute;
  top: 30%;
}

.insight-pic {
  position: absolute;
  top: 46%;
  right: 51%;
}

.spaceship-icon {
  transform: translateX(65px) !important;
}

.rooms {
  max-width: 270px !important;
}

.upgrade-add-pic {
  position: absolute;
  top: 38%;
  right: 51%;
}

.small-text {
  font-weight: 520;
  line-height: 20px;
  color: #363636;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.space2 {
  height: 13px;
}

.light-grey-text {
  color: #cccccc;
}

button {
  cursor: pointer;
}

.nano-text {
  font-size: 11px;
  line-height: 13px;
  margin: 4px 0px 0px;
}

.orange-small-text {
  color: rgb(255, 113, 0);
  height: 23px;
  margin: 24px 0px;
  font-weight: 600 !important;
}

.light-opacity-orange {
  color: #ff7f30 !important;
  font-weight: 600 !important;
}

.floor-description,
.check-input {
  display: flex;
  gap: 1rem;
}

.check-input {
  justify-content: center;
  align-items: center;
  line-height: 16.1px;
  gap: 0.2rem;
  transform: translateY(20px);
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

input::placeholder {
  color: rgb(136, 136, 136, 0.7);
  padding: 0.5rem;
  font-size: 16px;
}

.not-allowed {
  cursor: not-allowed !important;
}

.center input::placeholder {
  text-align: center !important;
}

.nano-gray-text {
  color: #999999;
}

.line {
  width: 800px;
  height: 1px;
  background-color: rgb(238, 238, 238);
  margin: 40px !important;
  margin-bottom: 10px !important;
  transform: translateX(5%);
}

.line3 {
  width: 800px;
  height: 1px;
  background-color: rgb(238, 238, 238);
  margin-bottom: 40px !important;
  margin-top: 45px !important;
}

.line2 {
  margin: 20px 40px !important;
}

.dropdown-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 2px;
}
.dropdown-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 16px;
}

#section-title-container3 {
  transform: translateX(40px);
}

i.material-icons {
  height: 20px;
  width: 20px;
  opacity: 0.5;
}

.dropdown-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.4px;
  background-color: rgb(255, 255, 255);
  width: 250px;
  height: 42px;
  padding: 5px 12px;
  min-height: 42px;
}

.asset {
  max-height: 420px !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}
.assetState {
  width: 270px !important;
}

.dropdown-assetState {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rotate-icon {
  transform: rotate(180deg) !important;
}

.option {
  line-height: 16.1px;
  background-color: rgb(255, 255, 255);
  height: 42px;
  width: 67px;
  border: 1px solid #cccccc;
  padding: 0px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.option:hover,
.Feature:hover {
  border: 1px solid rgb(255, 113, 0);
  color: #ff7100;
}

.border-option-right {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.border-option-left {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.selected,
.selected1 {
  border: 1px solid rgb(255, 113, 0);
  background-color: rgb(255, 250, 245);
  color: #ff7100;
}

.Feature.selected1 img {
  filter: invert(46%) sepia(96%) saturate(2239%) hue-rotate(0deg)
    brightness(140%) contrast(102%);
}

.Select-options {
  display: flex;
}

.checkbox-input {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-top: 1rem !important;
}

#balconiesNumber {
  width: 54px !important;
}

.stages {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 1rem 0;
  border: 1px solid rgb(204, 204, 204, 0.3);
  margin-top: 2rem;
  margin-bottom: 3rem;
  width: 800px;
}
.stages-pic {
  height: 173px;
  width: 800px;
}

.checkbox-input input[type="checkbox"],
.check-input input[type="checkbox"],
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid lightgray;
  border-radius: 2px;
  position: relative;
  cursor: pointer;
}

.checkbox {
  border: 1px solid rgb(0, 0, 0, 0.4) !important;
}

.checkbox-input input[type="checkbox"]:checked,
.check-input input[type="checkbox"]:checked,
input[type="checkbox"]:checked {
  background-color: #ff7100;
}

.checkbox-input input[type="checkbox"]:checked::after,
.check-input input[type="checkbox"]:checked::after,
input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 4px;
  width: 4px;
  height: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.asset-stete-checkBox input[type="checkbox"] {
  transform: translateY(7px);
}

.navigation-btn {
  line-height: 16.1px;
  height: 36px;
  width: 800px;
  display: flex;
  justify-content: space-between;
  direction: ltr;
  margin-top: 50px;
}

.Selection-2-content {
  transform: translateX(-50px);
}

.Selection-6-content,
.Selection-7-content {
  margin-left: auto !important;
  margin-right: 40px !important;
}

.sub-title {
  font-size: 18px;
  font-weight: 600 !important;
  line-height: 20.7px;
  margin: 20px 0px 24px;
}

.Feature {
  line-height: 16.1px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  height: 42px;
  width: 189px;
  padding: 12px 12px;
  vertical-align: middle !important;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 70px;
  vertical-align: middle !important;
  justify-content: flex-start;
  white-space: nowrap;
}

.property-Features {
  width: 798px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
  gap: 1rem;
  line-height: 20px;
}

.feature-pic {
  margin-left: 5px;
  margin-bottom: 4px;
  vertical-align: middle;
}

.Feature:hover img {
  filter: invert(46%) sepia(96%) saturate(2239%) hue-rotate(0deg)
    brightness(140%) contrast(102%);
}

.property-description {
  margin-top: 2.5rem;
}

.font-17 {
  font-size: 17.6px !important;
}

.description-box {
  width: 400px;
  display: flex;
  flex-direction: column;
}

textarea {
  line-height: 18.4px;
  text-align: start;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: 157.906px;
  width: 398px;
  padding: 12px;
  border: transparent;
  border-top: 5px solid rgb(238, 238, 238);
  border-radius: 4px;
  outline: 1px solid rgb(204, 204, 204, 0.7);
}

textarea:hover {
  outline: 0.5px solid rgb(0, 0, 0, 0.5);
}
textarea::placeholder {
  color: rgb(0, 0, 0, 0.3);
  font-size: 18px;
  font-weight: 400;
  text-align: right;
  font-family: "rubik" sans-serif;
  letter-spacing: -0.8px;
  line-height: 1.1;
}

.description-title {
  flex-direction: row !important;
  justify-content: space-between !important;
}

.content-chars {
  color: #cccccc;
}

.nano-text1 {
  font-size: 11.5px;
  text-align: start;
  line-height: 13.8px;
  height: 13.7969px;
  margin: 10px 0px 0px;
  font-weight: 500;
}

.process-bar {
  position: relative;
  top: -158px;
  right: 0px;
  width: 0px;
  height: 5px;
  z-index: 100 !important;
  border-top-right-radius: 5px;
}

.date-container div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-container {
  margin-left: auto !important;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: fit-content !important;
  margin-top: 6px !important;
}

.date-input {
  text-align: right;
  line-height: 18.4px;
  font-weight: 400;
  font-size: 16px;
  height: 42px;
  width: 270px !important;
  padding: 0px 1px 0px 0px;
}

.date-input {
  text-align: right;
  line-height: 18.4px;
  font-weight: 400;
  font-size: 16px;
  height: 42px;
  width: 270px;
  padding: 10px;
  border: 1px solid rgb(153, 153, 153, 0.5);
  border-radius: 4px;
  -webkit-appearance: none;
  appearance: none;
}

.date-input:hover {
  border: 1px solid rgb(54, 54, 54);
}

.date-checkbox {
  gap: 1rem !important;
}

.average-price-div {
  margin-bottom: 1rem !important;
}

.Selection-5-content {
  margin-left: auto !important;
  width: fit-content;
  display: flex;
  align-items: end;
  flex-direction: column;
}

.text-content {
  text-align: end !important;
  padding: 0 2rem !important;
  margin-right: 11px !important;
}

.line6 {
  transform: translateX(-8px) !important;
  max-width: 800px !important;
}

.upload-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 238, 238);
  height: 266.266px;
  width: 255.344px;
  border-radius: 8px;
}

.upload-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 5px;
  border: 2px dashed #cccccc;
  border-radius: 10px;
  width: 245.344px;
  height: 233px !important;
  background-color: rgb(255, 255, 255);
}

.card-header {
  font-weight: 510;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-part {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto !important;
  margin-right: 40px !important;
  margin-top: 25px !important;
  gap: 20px;
}

.file-input {
  width: 240px;
  height: 150px;
  background-size: cover;
  background-position: center;
  border: none;
  outline: none;
  z-index: 100;
  color: transparent;
  opacity: 1;
  cursor: pointer;
  display: block;
  margin: 20% auto;
}

#video {
  margin-top: 22%;
}

.upload-video {
  background-image: url("../../../assets/images/upload-video.JPG");
}
.upload-pictures {
  background-image: url("../../../assets/images/upload-image.JPG");
}

.file-input::file-selector-button {
  display: none;
}

.none-border {
  border: none !important;
}

.add-images {
  border-radius: 10px !important;
}

.add-images-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  direction: rtl;
  max-width: 900px !important;
  flex-wrap: wrap !important;
  background-color: rgb(255, 255, 255) !important;
}

mat-icon {
  font-size: 13px;
  width: 13px;
  height: 13px;
  margin-left: 3px;
  margin-top: 3px;
}

.remove-add-contact {
  cursor: pointer;
  display: flex;
  text-align: right;
  direction: rtl;
  margin-top: 1rem;
  margin-bottom: 1rem !important;
}

#line-page6 {
  margin: 2rem 0 !important;
}

#line-page7 {
  margin-right: 7.6rem !important;
  margin-top: 0.5rem !important;
  margin-bottom: 1rem !important;
}

.choice-note {
  font-weight: 400;
  background-color: rgb(255, 255, 255);
  height: 76px;
  width: 798px;
  border: 1px solid rgb(238, 238, 238);
  margin: 20px 0px 0px;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-note {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.weCheck-img {
  width: 100% !important;
  transform: translateX(2px) !important;
}

.right-text {
  text-align: right !important;
}

.align-right {
  margin-left: 160px !important;
  padding-right: 12px !important;
}

.page7 {
  margin: unset !important;
  margin-left: auto !important;
  margin-right: 2.5rem !important;
  margin-bottom: 2rem !important;
}

.course-to-post {
  height: 530.93px !important;
  width: 276px !important;
}

.course-to-post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 95% !important;
  margin: auto !important;

  margin-bottom: 2rem !important;
}

#premium-course {
  border: 2px solid #22c1a1 !important;
  border-radius: 10px;
  height: 530.93px;
  width: 246px !important;
  display: flex;
  flex-direction: column;
  margin: auto;
}

#premium-course-pic,
#upgrad-course-pic {
  width: 100% !important;
  padding: 2px !important;
}

#premium-course-pic {
  height: 446px !important;
}

.post-btn-box {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  height: 70px !important;
}

.post-btn {
  font-size: 18px;
  line-height: 20.7px;
  height: 48px;
  padding: 24px 0px 24px 0px;
  cursor: pointer;
  border-radius: 30px;
  width: 155.266px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem !important;
}

.green-btn {
  background-color: rgb(15, 202, 128) !important;
  font-weight: 500;
  color: rgb(255, 255, 255) !important;
  border: 0px none rgb(255, 255, 255) !important;
  width: 168.906px !important;
}

.green-btn:hover {
  background-color: #0e9c64 !important;
  transition: background-color 0.2s ease-in-out;
}

.course-to-post-inner-box {
  background-color: rgb(250, 250, 250);
  color: rgb(54, 54, 54);
  height: 505.953px;
  width: 246px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 10px;
  margin: auto;
  margin-top: 27px !important;
}

.margin-extra {
  margin-right: 2.3rem !important;
}

.last-btn {
  margin-top: 3rem !important;
}

.svg-icon {
  width: 24px;
  height: 24px;
}

div,
form {
  /* border: 1px solid red !important; */
}
