.pics-container {
  display: flex;
  gap: 10px;
  margin: 20px;
  width: 83vw;
  margin: 2rem auto;
}

.main-pic {
  flex: 2;
  height: 440px;
  max-width: 796.688px;
  background-size: cover;
  background-position: center;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.main-img {
  flex: 2;
  height: 440px;
  background-size: cover;
  background-position: center;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  max-width: 790px !important;
}

.pics {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.small-pic {
  flex: 1;
  background-size: cover;
  background-position: center;
  max-height: 215px;
  max-width: 393.3px;
}

.pic2 {
  border-bottom-left-radius: 12px;
}

.pic1 {
  border-top-left-radius: 12px;
}

.contact-card {
  position: sticky !important;
  top: 2rem !important;
  height: 140px;
  background-color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.1px;
  height: 214.797px;
  width: 385px;
  border: 1px solid rgb(238, 238, 238);
  margin: 0px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 12px 0px;
}

.card-content {
  text-align: center;
}

.price {
  font-weight: 600 !important;
  opacity: 0.95;
  margin-bottom: 10px !important;
  font-size: 32px;
  line-height: 36.8px;
  text-align: right;
}

.call-button {
  font-size: 18px;
  font-weight: 500;
  line-height: 16.1px;
  text-align: center;
  background-color: rgb(16, 173, 111);
  color: rgb(255, 255, 255);
  height: 48px;
  width: 323px;
  border: 0px none rgb(255, 255, 255);
  padding: 0px 18px;
  min-height: 36px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0px 6px 0px;
}
.call-button i {
  margin-left: 8px;
  font-size: 24px;
}

.call-button,
img {
  cursor: pointer;
}

.call-button:hover {
  background-color: rgb(14, 156, 100);
}
.material-icons phone {
  background-color: rgb(206, 40, 40) !important;
}

.advertisement-page {
  display: flex;
  width: 83vw;
  flex-direction: column !important;
  margin: auto;
}

.price-box {
  height: 60px;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.add-id {
  display: flex;
  justify-content: space-between;
  width: 120%;
  margin-left: -10%;
  margin-top: 2rem;
}

.add-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: fit-content;
  margin-left: auto !important;
  margin-right: 2rem !important;
  justify-content: end !important;
  margin-top: -12.5rem;
  margin-right: 0rem !important;
  text-align: right;
}

.size-details {
  gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-around;
  height: 62px;
  width: 391.75px;
  border: 1px solid rgb(238, 238, 238);
  margin: 34px 0px 0px;
  padding: 18px 0px;
  border-radius: 12px;
  font-size: 18px !important;
  direction: rtl !important;
  margin-right: auto !important;
  margin-bottom: 40px !important;
}

.size-details span {
  padding: 0.1rem;
}

.size-details div {
  padding: 0 1.5rem;
}

.size-details span {
  font-weight: 500;
}

.add-title {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 32.2px;
}

.location-details {
  margin: 10px 0px 0px;
  font-size: 18px;
  font-weight: 400;
}

.description {
  height: 100px;
  width: 770px;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 25px;
  margin: 34px 0px 0px;
}
.map {
  color: rgb(216, 96, 0);
  font-size: 16px;
  margin: 32px 0px 0px;
  height: 24px;
  padding-bottom: 64px !important;
  border-bottom: 1px solid lightgray;
  margin-bottom: 2rem;
}

.additional-details {
  height: fit-content !important;
  width: 770px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 2rem;
}

.additional-details-title {
  font-size: 20px;
  font-weight: 550;
  line-height: 23px;
  margin: 0px 0px 20px !important;
  width: 770px;
}

.add-block {
  display: flex;
  direction: rtl;
  width: fit-content !important;
  margin: 0 !important;
  font-size: 16px;
}

.add-block div {
  width: 200.2px;
  font-size: 16px;
  margin: 20px 0px 0px 0px;
}

.additional-details-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  direction: rtl;
  gap: 1rem;
}

.gray-text {
  color: rgb(153, 153, 153);
  width: 154px !important;
}

.text .light-text {
  width: 192.5px !important;
}

.space {
  height: 41px !important;
}

.light-text {
  color: #cccccc;
}
