.flex-center,
.pics-container,
.flex,
.pics {
  display: flex;
}

.pics-container {
  gap: 10px;
  margin: 20px;
  /* width: 83vw; */
  margin: 2rem auto;
}

.main-pic {
  width: 796.688px;
}

.main-pic {
  /* flex: 2; */
  background-size: cover;
  background-position: center;
  height: 440px;

  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.pics {
  gap: 10px;
}

.column,
.pics {
  flex-direction: column;
}
.flex-center {
  justify-content: center;
  align-items: center;
}

.pics-container,
.card-content {
  position: relative;
}

.gap1 {
  gap: 0.25rem;
  padding-right: 12px;
}

#information-icon {
  width: 18px;
  height: 18px;
}
#information-icon {
  opacity: 0.8;
}

.contact-card {
  position: sticky !important;
  top: 2rem !important;
  height: 140px;
  background-color: white;
  font-size: 14px;
  line-height: 16.1px;
  height: 214.797px;
  width: 385px;
  border: 1px solid rgb(238, 238, 238);
  margin: 0px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 12px 0px;
}
.white-btns,
.all-pics-link-btn {
  z-index: 10 !important;
}
.white-btns {
  top: 19px;
  right: 14px;
  gap: 13px;
}

.white-btns div {
  background-color: rgb(255, 255, 255);
  height: 36px;
  width: 95.7969px;
  border-radius: 30px;
}

.white-btns div:hover {
  border: 1px solid rgb(153, 153, 153);
}

.small-pic {
  flex: 1;
  background-size: cover;
  background-position: center;
  max-height: 215px;
  width: 393.297px;
}

.pic2 {
  border-bottom-left-radius: 12px;
}

.pic1 {
  border-top-left-radius: 12px;
}

.card-content {
  text-align: center;
}

.call-button {
  line-height: 16.1px;
  background-color: rgb(16, 173, 111);
  height: 48px;
  width: 323px;

  padding: 0px 18px;
  min-height: 36px;
  border-radius: 30px;
  gap: 0.25rem;
  transform: translateY(35px);
}
.call-button {
  border: none;
}

.white-btns,
.all-pics-link-btn,
.add-id {
  position: absolute;
}

.add-id {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  transform: translateX(-25px) translateY(67px);
  width: 385px;
}

.all-pics-link-btn {
  bottom: 11px;
  left: 11px;
  line-height: 18.4px;

  background-color: rgba(0, 0, 0, 0.6);

  height: 28px;
  width: 148.609px;
  padding: 4px 6px 4px 10px;

  border-radius: 5px;
}
.all-pics-link-btn,
.call-button {
  color: rgb(255, 255, 255);
}

.location-details {
  margin: 10px 0px 0px;
}

.call-button i {
  margin-left: 8px;
  font-size: 24px;
}

.call-button,
img,
.white-btns div {
  cursor: pointer;
}

.gap {
  gap: 0.25rem;
}

#favorite-icon,
#share-icon,
#favorite-icon-red,
#img-box-icon,
#door-icon,
#stairs-icon,
#bricks-icon {
  width: 20px;
  height: 20px;
}
#door-icon,
#stairs-icon,
#bricks-icon {
  opacity: 0.6 !important;
}

.all-pics-link span,
.wrap {
  white-space: nowrap !important;
  overflow: hidden !important;
  transform: translateX(-2px);
}

#favorite-icon {
  transform: scale(0.9);
}

#favorite-icon:hover {
  filter: brightness(0) saturate(100%) invert(30%) sepia(90%) saturate(700%)
    hue-rotate(-10deg) brightness(1.2);
}

#share-icon {
  transform: scale(1.05);
}

.call-button:hover {
  background-color: rgb(14, 156, 100);
}
.material-icons phone {
  background-color: rgb(206, 40, 40) !important;
}

.advertisement-page {
  display: flex;
  width: 83vw;
  flex-direction: column !important;
  margin: auto;
}

.price-box {
  height: 60px;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.size-details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-around;
  height: 62px;
  border: 1px solid rgb(238, 238, 238);
  margin: 34px 0px 0px;
  padding: 18px 0px;
  border-radius: 12px;
  width: fit-content;
  margin-bottom: 40px !important;
}

.add-info {
  justify-content: end !important;
  margin-top: -13.75rem;
  transform: translateX(3px);
  gap: 2.5rem !important;
}

.price {
  font-weight: 600 !important;
  opacity: 0.95;
  margin-bottom: 10px !important;
  font-size: 32px;
  line-height: 36.8px;
}
.price,
.add-info {
  text-align: right;
}

.size-details,
.add-info {
  margin-left: auto !important;
}

.ad-details {
  height: 339.875 !important;
}

.map {
  color: rgb(216, 96, 0);
  height: 24px;
  padding: 45px 4px 54px 0 !important;

  gap: 0.5rem;
}

.location-details,
.call-button,
.font18,
.size-details {
  font-size: 18px;
}

.size-details {
  direction: rtl !important;
}

.size-details div {
  gap: 2px;
}

.size-details span {
  padding: 0.1rem;
}

.size-details div {
  padding: 0 1.5rem;
}

.font500,
.call-button,
.add-title {
  font-weight: 500;
}

.add-title {
  font-size: 28px;
  letter-spacing: 0.25px;
  line-height: 32.2px;
}

#phone-icon {
  width: 24px;
  height: 24px;
}
#phone-icon {
  transform: rotate(10deg) translateY(2px) scale(0.9);
}

.font16,
.description,
.map,
.add-block {
  font-size: 16px;
}

#location-icon {
  width: 18px;
  height: 18px;
}

.add-block {
  display: flex;
  direction: rtl;
  width: fit-content !important;
  margin: 0 !important;
}

/* .additional-details,
.map {
  border-bottom: 1px solid #eeeeee;
} */

.add-info > div {
  border-bottom: 1px solid #eeeeee;
}

.map {
  display: flex;
  align-items: center;
  justify-content: flex-end !important;
}

.additional-details-title {
  font-size: 20px;
  font-weight: 550;
  line-height: 23px;
  margin: 0px 0px 20px !important;
}

.additional-details,
.additional-details-title {
  width: 770px;
}

.description {
  line-height: 25px;
  max-width: 770px;
  text-wrap: wrap;
}
.additional-details {
  height: fit-content !important;
}

.add-block div {
  width: 200.2px;
  font-size: 16px;
  margin: 20px 0px 0px 0px;
}

.additional-details-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  direction: rtl;
  gap: 1rem;
}

.gray-text {
  color: rgb(153, 153, 153);
  width: 154px !important;
}

.text .light-text {
  width: 192.5px !important;
}

.space {
  height: 41px !important;
}

.light-text {
  color: #cccccc;
}
