.pics-container {
  display: flex;
  gap: 10px;
  margin: 20px;
}

.main-pic {
  flex: 2;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.pics {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.small-pic {
  flex: 1;
  height: 140px;
  background-size: cover;
  background-position: center;
}
