.align-items,
.flex,
.flex-center,
.pics,
.add-id,
.contact-container {
  display: flex;
}

.column,
.pics {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
}

.align-items,
.flex-center {
  align-items: center;
}

.card-content,
.pics-container {
  position: relative;
}
.card-content {
  display: flex;
  flex-direction: column;
}

.pics-container {
  width: 100%;
}

.pics-container {
  gap: 10px;
  margin: 2rem auto;
}

.main-pic {
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  height: 440px;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.pics {
  justify-content: space-between;
  gap: 10px;
}

.gap1 {
  gap: 0.25rem;
  padding-right: 12px;
}

#information-icon {
  width: 18px;
  height: 18px;
  opacity: 0.8;
}

.all-pics-link-btn,
.video-pics-link-btn,
.white-btns {
  z-index: 10 !important;
}

.small-pic {
  flex: 1;
  background-size: cover;
  background-position: center;
  max-height: 215px;
  width: 100%;
}

.pic2 {
  border-bottom-left-radius: 12px;
}

.pic1 {
  border-top-left-radius: 12px;
}

.card-content {
  text-align: center;
}

.call-button {
  line-height: 16.1px;
  border: 0;
  gap: 0.25rem;
  border-radius: 30px;
  min-height: 36px;
  padding: 0 18px;
  max-width: 323px;
  height: 48px;
  background-color: #10ad6f;
}

.all-pics-link-btn,
.video-pics-link-btn,
.white-btns {
  position: absolute;
}

.all-pics-link-btn,
.video-pics-link-btn {
  line-height: 18.4px;
  bottom: 11px;
  border-radius: 5px;
  padding: 4px 6px 4px 10px;
  height: 28px;
  background-color: rgba(0, 0, 0, 0.6);
}

.all-pics-link-btn {
  left: 11px;
  width: 148.609px;
  color: #fff;
}

.call-button,
.video-pics-link-btn {
  color: #fff;
}

.video-pics-link-btn {
  width: 73.6406px;
  left: 168px;
}

.location-details {
  margin: 10px 0 0;
}

.call-button i {
  margin-left: 8px;
  font-size: 24px;
}

.all-pics-link-btn,
.call-button,
.video-pics-link-btn,
.white-btns div,
img {
  cursor: pointer;
}

.gap {
  gap: 0.25rem;
}

#bricks-icon,
#door-icon,
#favorite-icon,
#favorite-icon-red,
#img-box-icon,
#share-icon,
#stairs-icon {
  width: 20px;
  height: 20px;
}

#bricks-icon,
#door-icon,
#stairs-icon {
  opacity: 0.6 !important;
}

.all-pics-link span,
.wrap {
  white-space: nowrap !important;
  overflow: hidden !important;
  transform: translateX(-2px);
}

#favorite-icon {
  transform: scale(0.9);
}

#favorite-icon:hover {
  filter: brightness(0) saturate(100%) invert(30%) sepia(90%) saturate(700%)
    hue-rotate(-10deg) brightness(1.2);
}

#share-icon {
  transform: scale(1.05);
}

.call-button:hover {
  background-color: #0e9c64;
}

.material-icons phone {
  background-color: #ce2828 !important;
}

.advertisement-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advertisement-page {
  display: flex;

  padding-bottom: 4rem;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
}

.icons {
  width: 20px;
  height: 20px;
}

.price-box {
  height: 60px;
  border-bottom: 1px solid #eee;
}

.size-details,
.nav-icons {
  margin-bottom: 40px !important;
  width: fit-content;
  border-radius: 12px;
  margin: 34px 0 0;
  border: 1px solid #eee;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  margin-left: auto;
}

.size-details {
  padding: 18px 0;
}

.price {
  opacity: 0.95;
  margin-bottom: 10px !important;
  font-size: 32px;
  line-height: 36.8px;
}

.font600 {
  font-weight: 600 !important;
}

.ad-info,
.price {
  text-align: right;
}

.ad-details {
  height: 339.875;
}

.map {
  color: #d86000;
  height: 24px;
  padding: 45px 4px 54px 0 !important;
  gap: 0.5rem;
}

.call-button,
.font18,
.location-details,
.size-details,
.nav-icons {
  font-size: 18px;
}

.size-details,
.nav-icons {
  direction: rtl !important;
}

.size-details div,
.nav-icons div {
  gap: 2px;
  padding: 0 1.5rem;
}

.size-details span,
.nav-icons span {
  padding: 0.1rem;
}

.add-title,
.call-button,
.font500 {
  font-weight: 500;
}

.translateY2 {
  transform: translateY(-4px);
}

.add-title {
  font-size: 28px;
  letter-spacing: 0.25px;
  line-height: 32.2px;
}

.letter-spacing {
  letter-spacing: 0 !important;
  word-spacing: 0 !important;
}

#phone-icon {
  width: 24px;
  height: 24px;
  transform: rotate(10deg) translateY(2px) scale(0.9);
}

.ad-block,
.ad-block div,
.description,
.font16,
.map {
  font-size: 16px;
}

#location-icon {
  height: 18px;
  width: 18px;
}

.icons-div div {
  gap: 6px;
}

#elevator-icon,
#paint-roller-icon {
  transform: scale(1.3);
}

#air-conditioning-icon {
  transform: scale(1.4);
}

#solar-energy-icon {
  transform: scale(1.2);
}

.ad-info > div {
  border-bottom: 1px solid #eee;
}

.map {
  display: flex;
  align-items: center;
  justify-content: flex-end !important;
}

.additional-details-title {
  font-size: 20px;
  font-weight: 550;
  line-height: 23px;
  margin: 0 0 20px !important;
}

.additional-details,
.additional-details-title,
.description,
.additional-details-title1,
.ad-info {
  max-width: 770px;
}

.description {
  line-height: 25px;
  text-wrap: wrap;
}

.additional-details-table1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 50%;
}

.grid-right {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.ad-block,
.additional-details-table1,
.additional-details-table2 {
  direction: rtl;
}

.additional-details-table2 {
  display: grid;

  transform: translateX(-6px) !important;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 4rem;
}

.additional-details-table1 {
  row-gap: 1rem;
  margin: 0 !important;
}

.additional-details-table2 {
  row-gap: 2rem;
}

.additional-details-table2 > .ad-block div {
  max-width: 192.5px;
}

.ad-data-text {
  width: 200.188px;
}

.ad-block {
  display: flex;
  width: fit-content !important;
  margin: 0 !important;
}

.gray-text {
  width: 154px !important;
  color: #999;
}

.text .light-text {
  width: 192.5px !important;
}

.light-text {
  opacity: 0.3;
}

.space {
  height: 41px !important;
}

.ad-content,
.pics-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  gap: 10px;
  padding: 0 0.25rem;
}

.ad-content {
  justify-content: space-between;
}

.contact-card {
  background-color: #fff;
  font-size: 14px;
  height: 214.797px;
  max-width: 385px;
  border: 1px solid #eee;
  margin: 0;
  padding: 30px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 4px 12px 0;
}

.contact-container {
  position: sticky !important;
  top: 2rem !important;
  flex-direction: column;
  gap: 1rem;
  max-height: 375px;
  width: 100%;
}

.ad-info {
  gap: 2.5rem !important;
}

.add-id {
  justify-content: space-between;
  width: 100%;
}

.white-btns {
  top: 19px;
  right: 14px;
  gap: 13px;
}

.white-btns div {
  background-color: #fff;
  height: 36px;
  width: 95.7969px;
  border-radius: 30px;
}

.white-btns div:hover {
  border: 1px solid #999;
}

.nav-icons {
  display: none;
}

@media (width < 856px) {
  .pics-container {
    margin: 0;
  }
  .nav-icons {
    display: block;
    margin-left: unset;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .size-details,
  .advertisement-page,
  .nav-icons {
    max-width: 100%;
  }

  .nav-icons > .col {
    color: #ff7100;
    height: 56px;
  }
  .nav-icons > .col,
  .additional-details-table1 {
    display: flex;
  }
  .nav-icons > .col {
    align-items: center;
    justify-content: center;
  }
  .nav-icons > .col {
    gap: 0.25rem;
  }

  .nav-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .nav-icons > :first-child {
    border-left: 1px solid #eee;
  }

  .additional-details-table1 {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .pics,
  .all-pics-link-btn,
  .white-btns > .flex-center > span,
  .contact-container,
  .map {
    display: none;
  }

  .size-details,
  .additional-details-table2,
  .additional-details-table1,
  .advertisement-page,
  .additional-details-table1 > .ad-block,
  .additional-details-table1,
  .grid-right,
  .nav-icons {
    width: 100%;
  }

  .additional-details-table2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .additional-details-table1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .additional-details,
  .additional-details-table1 {
    width: 100%;
    max-width: 100%;
  }

  .additional-details-table1 > .ad-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .additional-details-table1 > .ad-block > .gray-text {
    max-width: 100vw;
    width: 50vw !important;
  }

  .additional-details-table2 > div {
    gap: 0.75rem;
  }

  .white-btns div {
    padding: 8px;
  }

  .white-btns {
    top: 8px;
    left: 14px !important;
    display: flex;
    justify-content: start;
  }

  .white-btns div {
    width: fit-content;
  }

  .pics-container,
  .ad-content {
    grid-template-columns: 1fr;
  }

  .main-pic {
    max-height: 260px;
  }
}
