.align-items,
.flex,
.flex-center,
.pics,
.pics-container {
  display: flex;
}

.column,
.pics {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
}

.align-items,
.flex-center {
  align-items: center;
}

.card-content,
.pics-container {
  position: relative;
}

.pics-container {
  gap: 10px;
  margin: 20px;
  margin: 2rem auto;
}

.main-pic {
  width: 796.688px;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  height: 440px;
  background-position: center;
  background-size: cover;
}

.pics {
  gap: 10px;
}

.gap1 {
  gap: 0.25rem;
  padding-right: 12px;
}

#information-icon {
  width: 18px;
  height: 18px;
  opacity: 0.8;
}

.contact-card {
  position: sticky !important;
  top: 2rem !important;
  background-color: #fff;
  font-size: 14px;
  height: 214.797px;
  width: 385px;
  border: 1px solid #eee;
  margin: 0;
  padding: 30px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 4px 12px 0;
}

.all-pics-link-btn,
.video-pics-link-btn,
.white-btns {
  z-index: 10 !important;
}

.white-btns {
  top: 19px;
  right: 14px;
  gap: 13px;
}

.white-btns div {
  background-color: #fff;
  height: 36px;
  width: 95.7969px;
  border-radius: 30px;
}

.white-btns div:hover {
  border: 1px solid #999;
}

.small-pic {
  flex: 1;
  background-size: cover;
  background-position: center;
  max-height: 215px;
  width: 393.297px;
}

.pic2 {
  border-bottom-left-radius: 12px;
}

.pic1 {
  border-top-left-radius: 12px;
}

.card-content {
  text-align: center;
}

.call-button {
  line-height: 16.1px;
  border: 0;
  transform: translateY(35px);
  gap: 0.25rem;
  border-radius: 30px;
  min-height: 36px;
  padding: 0 18px;
  width: 323px;
  height: 48px;
  background-color: #10ad6f;
}

.add-id,
.all-pics-link-btn,
.video-pics-link-btn,
.white-btns {
  position: absolute;
}

.add-id {
  display: flex;
  width: 385px;
  transform: translateX(-25px) translateY(67px);
  margin-top: 2rem;
  justify-content: space-between;
}

.all-pics-link-btn,
.video-pics-link-btn {
  line-height: 18.4px;
  bottom: 11px;
  border-radius: 5px;
  padding: 4px 6px 4px 10px;
  height: 28px;
  background-color: rgba(0, 0, 0, 0.6);
}

.all-pics-link-btn {
  left: 11px;
  width: 148.609px;
  color: #fff;
}

.call-button,
.video-pics-link-btn {
  color: #fff;
}

.video-pics-link-btn {
  width: 73.6406px;
  left: 168px;
}

.location-details {
  margin: 10px 0 0;
}

.call-button i {
  margin-left: 8px;
  font-size: 24px;
}

.all-pics-link-btn,
.call-button,
.video-pics-link-btn,
.white-btns div,
img {
  cursor: pointer;
}

.gap {
  gap: 0.25rem;
}

#bricks-icon,
#door-icon,
#favorite-icon,
#favorite-icon-red,
#img-box-icon,
#share-icon,
#stairs-icon {
  width: 20px;
  height: 20px;
}

#bricks-icon,
#door-icon,
#stairs-icon {
  opacity: 0.6 !important;
}

.all-pics-link span,
.wrap {
  white-space: nowrap !important;
  overflow: hidden !important;
  transform: translateX(-2px);
}

#favorite-icon {
  transform: scale(0.9);
}

#favorite-icon:hover {
  filter: brightness(0) saturate(100%) invert(30%) sepia(90%) saturate(700%)
    hue-rotate(-10deg) brightness(1.2);
}

#share-icon {
  transform: scale(1.05);
}

.call-button:hover {
  background-color: #0e9c64;
}

.material-icons phone {
  background-color: #ce2828 !important;
}

.advertisement-page {
  display: flex;
  padding-bottom: 4rem;
  margin: auto;
  flex-direction: column !important;
  width: 83vw;
}

.icons {
  width: 20px;
  height: 20px;
}

.price-box {
  height: 60px;
  border-bottom: 1px solid #eee;
}

.size-details {
  display: grid;
  margin-bottom: 40px !important;
  width: fit-content;
  border-radius: 12px;
  padding: 18px 0;
  margin: 34px 0 0;
  border: 1px solid #eee;
  height: 62px;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.add-info {
  justify-content: end !important;
  margin-top: -13.75rem;
  transform: translateX(3px);
  gap: 2.5rem !important;
}

.price {
  opacity: 0.95;
  margin-bottom: 10px !important;
  font-size: 32px;
  line-height: 36.8px;
}

.font600 {
  font-weight: 600 !important;
}

.add-info,
.price {
  text-align: right;
}

.add-info,
.size-details {
  margin-left: auto !important;
}

.ad-details {
  height: 339.875 !important;
}

.map {
  color: #d86000;
  height: 24px;
  padding: 45px 4px 54px 0 !important;
  gap: 0.5rem;
}

.call-button,
.font18,
.location-details,
.size-details {
  font-size: 18px;
}

.size-details {
  direction: rtl !important;
}

.size-details div {
  gap: 2px;
  padding: 0 1.5rem;
}

.size-details span {
  padding: 0.1rem;
}

.add-title,
.call-button,
.font500 {
  font-weight: 500;
}

.translateY2 {
  transform: translateY(-4px);
}

.add-title {
  font-size: 28px;
  letter-spacing: 0.25px;
  line-height: 32.2px;
}

.letter-spacing {
  letter-spacing: 0 !important;
  word-spacing: 0 !important;
}

#phone-icon {
  width: 24px;
  height: 24px;
  transform: rotate(10deg) translateY(2px) scale(0.9);
}

.add-block,
.add-block div,
.description,
.font16,
.map {
  font-size: 16px;
}

#location-icon {
  height: 18px;
  width: 18px;
}

.icons-div div {
  gap: 6px;
}

#elevator-icon,
#paint-roller-icon {
  transform: scale(1.3);
}

#air-conditioning-icon {
  transform: scale(1.4);
}

#solar-energy-icon {
  transform: scale(1.2);
}

.add-info > div {
  border-bottom: 1px solid #eee;
}

.map {
  display: flex;
  align-items: center;
  justify-content: flex-end !important;
}

.additional-details-title {
  font-size: 20px;
  font-weight: 550;
  line-height: 23px;
  margin: 0 0 20px !important;
}

.additional-details,
.additional-details-title {
  width: 770px;
}

.description {
  line-height: 25px;
  max-width: 770px;
  text-wrap: wrap;
}

.additional-details {
  height: fit-content !important;
}

.additional-details-table1 {
  display: flex;
  flex-wrap: wrap;
}

.add-block,
.additional-details-table1,
.additional-details-table2 {
  direction: rtl;
}

.additional-details-table2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  transform: translateX(-6px) !important;
}

.additional-details-title1 {
  width: 770px;
}

.additional-details-table1 {
  row-gap: 1rem;
  margin: 0 !important;
}

.additional-details-table2 {
  row-gap: 2rem;
}

.additional-details-table2 > .add-block div {
  width: 192.5px;
}

.ad-data-text {
  width: 200.188px;
}

.add-block {
  display: flex;
  width: fit-content !important;
  margin: 0 !important;
}

.gray-text {
  width: 154px !important;
  color: #999;
}

.text .light-text {
  width: 192.5px !important;
}

.light-text {
  opacity: 0.3;
}

.space {
  height: 41px !important;
}
