<div class="advertisement-page">
  <div class="pics-container">
    @if(advertisement.pictures[0].url.length>0){

    <div class="pics">
      <img
        *ngIf="advertisement.pictures && advertisement.pictures.length > 0"
        [src]="advertisement.pictures[1].url"
        class="small-pic pic1"
        alt="Advertisement Image"
      />
      <img
        *ngIf="advertisement.pictures && advertisement.pictures.length > 0"
        [src]="advertisement.pictures[2].url"
        class="small-pic pic2"
        alt="Advertisement Image"
      />
    </div>

    <img
      *ngIf="advertisement.pictures && advertisement.pictures.length > 0"
      [src]="advertisement.pictures[0].url"
      class="main-pic"
      alt="Advertisement Image"
    />
    <div class="white-btns flex-center">
      <div class="flex-center gap">
        <span>שיתוף</span>
        <img
          id="share-icon"
          src="assets/images/share-svgrepo-com (2).svg"
          class="type-pic"
          alt="share"
        />
      </div>
      <div
        (click)="authSerivce.updateAdvertisementToFavorites(adID)"
        class="flex-center gap"
      >
        <span>שמירה</span>
        @if(!this.isFavorite(adID)){
        <img
          id="favorite-icon"
          src="assets/images/heart-svgrepo-com (5).svg"
          class="type-pic"
          alt="favorite"
        />

        }@else {
        <img
          id="favorite-icon-red"
          src="assets/images/heart-svgrepo-com-red.svg"
          class="type-pic"
          alt="share"
        />
        }
      </div>
    </div>
    } @else{
    <img
      id="ad-image"
      class="house-pic"
      src="assets/images/image_placeholder_.svg"
      alt="Advertisement Image"
    />
    }
  </div>

  <div class="contact-card">
    <div cclass="card-content">
      <div class="price-box">
        <p class="price">₪{{ advertisement.price | number }}</p>
      </div>
      <button class="call-button">
        הצגת מספר טלפון
        <i class="material-icons">local_phone</i>
      </button>
    </div>
    <div class="add-id">
      <div class="id-text">{{ advertisement.id }} :מס' מודעה</div>
      <div class="id-text">דווח על מודעה</div>
    </div>
  </div>
  <div class="add-info">
    <div class="add-title">
      {{ advertisement.street }} {{ advertisement.number }}
    </div>
    <div class="location-details">
      <span>{{ advertisement.assetType }}, </span>
      {{ advertisement.neighborhood }},<span> {{ advertisement.city }}</span>
    </div>
    <div class="size-details">
      <div>
        <span>{{ advertisement.rooms }}</span>
        <span>חדרים</span>
      </div>
      <div>
        <span>קומה</span>
        <span>{{ advertisement.floor }}</span>
      </div>
      <div>
        <span>{{ advertisement.totalFloors }}</span
        ><span>מ"ר</span>
      </div>
    </div>
    <div class="description">{{ advertisement.description }}</div>
    <div class="map">מפה</div>
    <div class="additional-details">
      <div class="additional-details-title">פרטים נוספים</div>
      <div class="additional-details-table">
        <div class="add-block">
          <div class="gray-text">סוג העסקה</div>
          <div>{{ advertisement.tradeType }}</div>
        </div>
        <div class="add-block">
          <div class="gray-text">מצב הנכס</div>
          <div>{{ advertisement.assetState }}</div>
        </div>
        <div class="add-block">
          <div class="gray-text">קומות בבניין</div>
          <div>{{ advertisement.floor }}</div>
        </div>
        <div class="add-block">
          <div class="gray-text">מספר תשלומים</div>
          <div>{{ advertisement.numberOfPayments }}</div>
        </div>
        <div class="add-block">
          <div class="gray-text">מ"ר בנוי</div>
          <div>{{ advertisement.totalSquareMeters }}</div>
        </div>
        <div class="add-block">
          <div class="gray-text">חניות</div>
          <div>{{ advertisement.privateParking }}</div>
        </div>
        <div class="add-block">
          <div class="gray-text">תאריך כניסה</div>
          <div>{{ entryDate }}</div>
        </div>
        <div class="space"></div>
        <div class="space"></div>
      </div>
    </div>
    <div class="additional-details">
      <div class="additional-details-title">מה יש בנכס</div>
      <div class="additional-details-table">
        <div class="add-block">
          <div [ngClass]="fillApartmentCondition(advertisement.longTerm)">
            מעלית
          </div>
          <div [ngClass]="fillApartmentCondition(advertisement.longTerm)">
            גישה לנכים
          </div>
        </div>
        <div class="add-block">
          <div
            [ngClass]="fillApartmentCondition(advertisement.airConditioning)"
          >
            מזגן טורנדו
          </div>
          <div [ngClass]="fillApartmentCondition(advertisement.multiLockDoors)">
            דלתות רב-בריח
          </div>
        </div>
        <div class="add-block">
          <div
            [ngClass]="fillApartmentCondition(advertisement.airConditioning)"
          >
            מיזוג
          </div>
          <div [ngClass]="fillApartmentCondition(advertisement.windowBars)">
            סורגים
          </div>
        </div>
        <div class="add-block">
          <div [ngClass]="fillApartmentCondition(advertisement.storageRoom)">
            מחסן
          </div>
          <div
            [ngClass]="fillApartmentCondition(advertisement.solarWaterHeater)"
          >
            דוד שמש
          </div>
        </div>
        <div class="add-block">
          <div [ngClass]="fillApartmentCondition(advertisement.renovated)">
            משופצת
          </div>
          <div [ngClass]="fillApartmentCondition(advertisement.safeRoom)">
            ממ"ד
          </div>
        </div>
        <div class="add-block">
          @if (advertisement.longTerm) {
          <div>לטווח ארוך</div>
          }

          <div [ngClass]="fillApartmentCondition(false)">מרפסת</div>
        </div>
        <div class="space"></div>
        <div class="space"></div>
      </div>
    </div>
  </div>
</div>
