.pics-container {
  display: flex;
  gap: 10px;
  margin: 20px;
  width: 83vw;
  margin: 2rem auto;
}

.main-pic {
  flex: 2;
  height: 440px;
  background-size: cover;
  background-position: center;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.pics {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.small-pic {
  flex: 1;
  height: 140px;
  background-size: cover;
  background-position: center;
}

.pic2 {
  border-bottom-left-radius: 12px;
}

.pic1 {
  border-top-left-radius: 12px;
}

.contact-card {
  position: sticky !important;
  top: 0;
  height: 140px;
  background-color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.1px;
  height: 214.797px;
  width: 385px;
  border: 1px solid rgb(238, 238, 238);
  margin: 0px;
  padding: 30px;
  border-radius: 12px;
}

.card-content {
  text-align: center;
}

.price {
  font-weight: 600 !important;
  opacity: 0.95;
  margin-bottom: 10px !important;
  font-size: 32px;
  line-height: 36.8px;
  text-align: right;
}

.call-button {
  font-size: 18px;
  font-weight: 500;
  line-height: 16.1px;
  text-align: center;
  background-color: rgb(16, 173, 111);
  color: rgb(255, 255, 255);
  height: 48px;
  width: 323px;
  border: 0px none rgb(255, 255, 255);
  padding: 0px 18px;
  min-height: 36px;
  cursor: pointer;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0px 6px 0px;
}
.call-button i {
  margin-left: 8px;
  font-size: 24px;
}

.call-button:hover {
  background-color: rgb(14, 156, 100);
}
.material-icons phone {
  background-color: rgb(206, 40, 40) !important;
}

.advertisement-page {
  display: flex;
  width: 83vw;
  flex-direction: column !important;
  margin: auto;
}

.price-box {
  height: 60px;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.add-id {
  display: flex;
  justify-content: space-between;
  width: 120%;
  margin-left: -10%;
  margin-top: 2rem;
}

.add-info {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  margin-left: auto !important;
  margin-right: 2rem !important;
  background-color: red;
  justify-content: end !important;
  margin-top: -10rem;
}

.add-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5rem;
  width: fit-content;
  margin-left: auto !important;
  margin-right: 2rem !important;
  background-color: red;
  justify-content: end !important;
  margin-top: -10rem;
}

.size-details {
  display: flex;
  gap: 1rem;
}
