<div class="advertisement-page">
  <div class="pics-container">
    <div class="pics">
      <div
        class="small-pic pic1"
        [style.background-image]="'url(' + advertisement.pictures[1].url + ')'"
      ></div>
      <div
        class="small-pic pic2"
        [style.background-image]="'url(' + advertisement.pictures[2].url + ')'"
      ></div>
    </div>
    <div
      class="main-pic"
      [style.background-image]="'url(' + advertisement.pictures[0].url + ')'"
    ></div>
  </div>

  <div class="contact-card">
    <div cclass="card-content">
      <div class="price-box">
        <p class="price">₪{{ advertisement.price | number }}</p>
      </div>
      <button class="call-button">
        הצגת מספר טלפון
        <i class="material-icons">local_phone</i>
      </button>
    </div>
    <div class="add-id">
      <div class="id-text">{{ advertisement.id }} :מס' מודעה</div>
      <div class="id-text">דווח על מודעה</div>
    </div>
  </div>
  <div class="add-info">
    <div class="add-title">
      {{ advertisement.street }} {{ advertisement.number }}
    </div>
    <div class="">
      {{ advertisement.assetType }}, {{ advertisement.neighborhood }},
      {{ advertisement.city }}
    </div>
    <div class="size-details">
      <div>{{ advertisement.rooms }} חדרים</div>
      <div>{{ advertisement.floor }} קומה</div>
      <div>{{ advertisement.totalFloors }} מ"ר</div>
    </div>
  </div>
  <div>ddd</div>
  <div>ddd</div>
  <div>ddd</div>
  <div>ddd</div>
  <div>ddd</div>
  <div>ddd</div>
  <div>ddd</div>
  <div>ddd</div>
  <div>ddd</div>
  <div>ddd</div>
  <div>ddd</div>
  <div>ddd</div>
  <div>ddd</div>
  <div>ddd</div>
  <div>ddd</div>
  <div>ddd</div>
  <div>ddd</div>
  <div>ddd</div>
  <div>ddd</div>
  <div>ddd</div>
  <div>ddd</div>
  <div>ddd</div>
  <div>ddd</div>
  <div>ddd</div>
  <div>ddd</div>
  <div>ddd</div>
  <div>ddd</div>
  <div>ddd</div>
  <div>ddd</div>
  <div>ddd</div>
  <div>ddd</div>
  <div>ddd</div>
  <div>ddd</div>
  <div>ddd</div>
  <div>ddd</div>
  <div>ddd</div>
  <div>ddd</div>
</div>
