<header class="flex-space-between">
  <div class="header-btn">
    <img
      id="close-icon"
      src="assets/images/close--svgrepo-com.svg"
      alt="close"
    />
    <span class="font16"> סגירת גלריה </span>
  </div>

  <div class="flex-center gap">
    <div class="header-btn hover-border view-street-btn">
      <span class="nowrap"> תצוגת רחוב </span>
      <img id="nearby-icon" src="assets/images/Nearby.JPG" alt="close" />
    </div>

    <div class="header-btn hover-border map-btn">
      <span> מפה </span>
      <img id="map-icon" src="assets/images/map-svgrepo-com.svg" alt="close" />
    </div>
  </div>
</header>
