.flex,
.align-items-center,
.flex-center,
.flex-space-between,
.header-btn {
  display: flex;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-center,
.header-btn {
  justify-content: center;
}
.flex-center,
.align-items-center,
.header-btn {
  align-items: center;
}

.promotion-gallery,
.like-button-sm,
.like-button-sm-selected,
.like-button,
.like-button-selected,
.new-poject-text {
  position: absolute;
}
.promotion-gallery {
  background-color: rgb(248, 248, 248);
  height: 763.391px;
  width: 232px;
  height: 763.391px;
  width: 232px;
  padding: 16px;
  border-radius: 10px;
}
.promotion-gallery {
  top: 80px;
  left: 25px;
}

.font16 {
  font-size: 16px;
}
.font500 {
  font-weight: 500;
}
.header-btn,
header,
.ad {
  background-color: rgb(255, 255, 255) !important;
}

header {
  height: 78px;
  width: 100%;
  padding: 24px 24px 18px;
}

.header-btn {
  border: 1px solid rgb(204, 204, 204);
  padding: 0px 18px 0px 12px;
  border-radius: 30px;
  height: 36px;
}
.hover-border:hover {
  border: 1px solid #999999;
}

.header-btn,
.pointer,
.ad {
  cursor: pointer;
}

.gap {
  gap: 0.5rem;
}

#close-icon {
  width: 29px;
  height: 29px;
}
#map-icon {
  width: 18px;
  height: 18px;
}

.view-street-btn > img,
.view-street-btn > span {
  transform: translateX(8px);
}

.view-street-btn {
  width: 121.906px;
}

.nowrap {
  white-space: nowrap;
}

.map-btn {
  gap: 5px;
  width: 81.25px;
}

.map-btn > img,
.map-btn > span {
  transform: translateX(6px);
}

.ad > img {
  height: 142.719px;
  width: 198px;
}
.ad > img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.text-start {
  text-align: end;
}

.promotion-gallery-title {
  padding-bottom: 10px;
}

.like-button,
.like-button-sm-selected,
.like-button-sm,
.like-button-selected {
  top: 0.25rem;
  left: 0.5rem;
  transform: scale(0.9);
}

.like-button,
.like-button-selected {
  text-shadow: 0px 0px 2px gray;
  color: #ffffff !important;
  z-index: 20 !important;
}

.like-button-sm,
.like-button-sm-selected {
  z-index: 10 !important;
  color: rgb(125, 122, 119, 0.5) !important;
}

.like-button:hover {
  color: red !important;
  text-shadow: none !important;
}
.like-button-selected:hover {
  color: #ffffff !important;
  text-shadow: none !important;
}

.like-button-sm-selected {
  color: red !important;
  transform: scale(0.8) !important;
}

.ad {
  height: 225px;
  width: 200px;
  border: 1px solid rgb(238, 238, 238);

  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 9px 0px;

  border-radius: 12px;
}

.colunm {
  flex-direction: column;
}

header {
  position: fixed !important;
  z-index: 10;
}

.adds {
  gap: 1rem;
}

.ad {
  position: relative;
}
.content {
  padding: 4px 6px;
}

.image-container {
  gap: 0.75rem;
}

.ad-images::-webkit-scrollbar {
  display: none;
}

.flex-wrap-wrap {
  display: flex;
  flex-wrap: wrap;
}

.large-img {
  height: 540px;
  width: min(960px, 68.5714vw);
}

.small-img {
  width: min(474px, 33.85714vw);

  height: 268px;
}

.new-poject-text {
  font-size: 12px;
  background-color: rgb(4, 149, 255);

  color: rgb(255, 255, 255);

  padding: 0px 6px;

  border-radius: 4px;
}
.new-poject-text {
  top: 8px;
  right: 8px;
  letter-spacing: 0;
}

.ad-images {
  width: min(1000px, 71.4285vw);
  position: absolute;
  top: 80px;
  right: 0;
  padding-bottom: 5rem !important;
}

@media (max-width: 960px) {
  .ad-images {
    width: min(1000px, calc(71.4285vw - 24px));
  }

  .image-container {
    gap: 0.5rem;
  }
}
@media (max-width: 883px) {
  .promotion-gallery {
    display: none !important;
  }

  .small-img,
  .large-img {
    height: 431px;
    width: calc(100%);
  }

  .ad-images {
    width: calc(100vw) !important;
  }
}
