.flex,
.align-items-center,
.flex-center,
.flex-space-between,
.header-btn {
  display: flex;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-center,
.header-btn {
  justify-content: center;
}
.flex-center,
.align-items-center,
.header-btn {
  align-items: center;
}

.promotion-gallery {
  position: absolute;
}
.promotion-gallery {
  background-color: rgb(248, 248, 248);
  height: 763.391px;
  width: 232px;
  height: 763.391px;
  width: 232px;
  padding: 16px;
  border-radius: 10px;
}
.promotion-gallery {
  left: 25px;
}

.font16 {
  font-size: 16px;
}
.font500 {
  font-weight: 500;
}
.header-btn,
header,
.ad {
  background-color: rgb(255, 255, 255) !important;
}

header {
  height: 78px;
  width: 100%;
  padding: 24px 24px 18px;
}

.header-btn {
  border: 1px solid rgb(204, 204, 204);
  padding: 0px 18px 0px 12px;

  border-radius: 30px;
  height: 36px;
}
.hover-border:hover {
  border: 1px solid #999999;
}

.header-btn,
.pointer {
  cursor: pointer;
}

.gap {
  gap: 0.5rem;
}

#close-icon {
  width: 29px;
  height: 29px;
}
#map-icon {
  width: 18px;
  height: 18px;
}

.view-street-btn > img,
.view-street-btn > span {
  transform: translateX(8px);
}

.view-street-btn {
  width: 121.906px;
}

.nowrap {
  white-space: nowrap;
}

.map-btn {
  gap: 5px;
  width: 81.25px;
}

.map-btn > img,
.map-btn > span {
  transform: translateX(6px);
}

.ad > img {
  height: 142.719px;
  width: 198px;
}
.ad > img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.text-start {
  text-align: end;
}

.promotion-gallery-title {
  padding-bottom: 10px;
}

.like-button,
.like-button-sm-selected,
.like-button-sm,
.like-button-selected {
  top: 0.25rem;
  left: 0.5rem;
  transform: scale(0.9);
}

.like-button,
.like-button-selected {
  text-shadow: 0px 0px 2px gray;
  color: #ffffff !important;
  z-index: 20 !important;
}

.like-button-sm,
.like-button-sm-selected {
  z-index: 10 !important;
  color: rgb(125, 122, 119, 0.5) !important;
}

.like-button:hover {
  color: red !important;
  text-shadow: none !important;
}
.like-button-selected:hover {
  color: #ffffff !important;
  text-shadow: none !important;
}

.like-button-sm-selected {
  color: red !important;
  transform: scale(0.8) !important;
}

.ad {
  height: 225px;
  width: 200px;
  border: 1px solid rgb(238, 238, 238);

  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 9px 0px;

  border-radius: 12px;
}

.colunm {
  flex-direction: column;
}

.adds {
  gap: 1rem;
}
