* {
  direction: rtl;
}

.ad-container {
  display: grid;
}
.ad-container {
  grid-template-columns: 26.3% 35.4% 35%;
}

.main-title,
.sort-btns-container,
.label,
.input,
.slider-indicators,
.dropdown-btn,
.slider,
.ad-data,
.icon-circle,
.icon-circle-container {
  display: flex;
}
.main-title,
.icon-circle-container {
  align-items: flex-end;
}
.sort-btns-container {
  gap: 0.5rem;
  padding: 1.25rem 0;
}

.icon-circle-container {
  gap: 1.5rem;
  width: 85%;
  padding: 0 2rem;
}
.sort-btns-container,
.label,
.slider-indicators,
.slider-arrows,
.dropdown-btn,
.icon-circle-container {
  align-items: center;
}

.input {
  padding: 0.75rem !important;
}

.label,
.slider-indicators,
.icon-circle {
  justify-content: center !important;
  text-align: center !important;
}

.slide {
}

.slider-arrows,
.dropdown-btn {
  justify-content: space-between !important;
}
.label {
  max-width: 50px;
  text-wrap: nowrap;
}

.ad-price {
  font-weight: 600 !important;
}
.ad-price {
  font-size: 20px;
}

.component-content {
  width: 74.4vw;
  max-width: 1044px;
  margin: auto;
  margin-top: 1rem;
}

.main-title {
  font-size: 24px;
  height: 51.5938px;
  padding: 10px 0;
}

.main-title {
  width: 100%;
}

i.material-icons {
  height: 20px;
  width: 20px;
  transform: translateY(-1px);
}

.input:focus {
  border: 1px solid rgb(54, 54, 54) !important;
  outline: none !important;
}

.input {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  color: rgb(54, 54, 54, 0.4);
}

.ad-container,
.input {
  background-color: rgb(255, 255, 255);
}

.input,
.dropdown-btn,
.ad-size {
  font-size: 16px;
}
.ad-address {
  font-size: 18px;
}

.input,
.dark-circle,
.icon-circle {
  cursor: pointer;
}

.input::placeholder {
  text-align: start !important;
  transform: translateX(20px) !important;
}

.large {
  width: 240px;
}

.dropdown-btn {
  padding: 1px 2px;
  height: 44px;
}

.icon-circle,
.dropdown-btn {
  border: 1px solid #cccccc;
}

.icon-circle {
  width: 48px;
  height: 48px;
}

.ad-container,
.dropdown-btn {
  background-color: #ffffff;
}

.input-container {
  height: fit-content;
}

div {
  /* border: solid 1px red !important; */
}

.slider-container {
  position: relative;
  max-width: 100%;
  margin: auto;
}

.slider {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.slide {
  min-width: 100%;
  transition: transform 0.5s ease;
}

.dot {
  height: 8px;
  width: 8px;
  margin: 0 5px;
  background-color: #cccccc;
}

.dot-active {
  background-color: #ffffff !important;
}

.slider-indicators {
  width: 275px;
  transform: translateY(-28px) !important;
  position: absolute;
  height: 18px;
}

.card-img {
  width: 275px;
  height: 280px;
  border-radius: 0.5rem;
}

.slider-arrows {
  padding: 1rem;
  height: 100%;
  transform: translateY(5px) !important;
}

.arrow-pic {
  width: 30px;
  height: 30px;
}

.dark-circle {
  width: 30px;
  height: 30px;
  background-color: #000000;
}

.dot,
.dark-circle,
.icon-circle {
  border-radius: 50%;
}

.icon-pic {
  transform: scaleX(0.8) scaleY(0.75);
}

.snow-icon {
  transform: scaleX(0.5) scaleY(0.5) !important;
  opacity: 0.8;
}
.bin-icon {
  transform: scaleX(0.7) scaleY(0.6) !important;
  opacity: 0.8;
}
