<div class="component-content">
  <div class="main-title">המודעות שלי</div>
  <div class="sort-btns-container">
    <div class="label">סינון לפי:</div>
    <div class="input-container">
      <button
        id="CategoryType"
        class="input large dropdown-btn"
        type="button"
        (click)="toggleDropdown('')"
      >
        {{ "  קטגוריה" }}
        <i #sortCategoryDropdown class="material-icons">keyboard_arrow_down</i>
      </button>
      <ul *ngIf="false" class="dropdown-menu asset">
        <li
          class="dropdown-item"
          *ngFor="let option of assetTypes"
          (click)="selectOption(option, 'assetType'); setAssetType(option)"
        >
          {{ option }}
        </li>
      </ul>
    </div>
    <div class="input-container">
      <button
        id="CategoryType"
        class="input large dropdown-btn"
        type="button"
        (click)="toggleDropdown('')"
      >
        {{ "  סטטוס" }}
        <i #sortCategoryDropdown class="material-icons">keyboard_arrow_down</i>
      </button>
      <ul *ngIf="false" class="dropdown-menu asset">
        <li
          class="dropdown-item"
          *ngFor="let option of assetTypes"
          (click)="selectOption(option, 'assetType'); setAssetType(option)"
        >
          {{ option }}
        </li>
      </ul>
    </div>
  </div>
  <div>
    <div class="result-list">
      @for (advertisement of authService.UserAdvertisements | async; track
      $index) {
      <div class="ad-container">
        <div class="slider-container">
          <div
            (mouseenter)="showArrow(advertisement.id, true)"
            (mouseleave)="showArrow(advertisement.id, false)"
            class="slider"
          >
            <div class="slider-indicators slider-arrows">
              @if(findIfIsVisibleById(advertisement.id)){
              <span class="dark-circle">
                <img
                  (click)="
                    goToSlide(
                      false,
                      true,
                      advertisement.pictures.length,
                      advertisement.id
                    )
                  "
                  src="assets/images/next-arrow.svg"
                  class="arrow-pic"
                  alt="ad2"
                />
              </span>
              <span class="dark-circle">
                <img
                  (click)="
                    goToSlide(
                      true,
                      false,
                      advertisement.pictures.length,
                      advertisement.id
                    )
                  "
                  src="assets/images/prev-arrow.svg"
                  class="arrow-pic"
                  alt="ad2"
              /></span>
              }
            </div>

            <div class="slide">
              @for (image of advertisement.pictures; track $index) {
              @if($index== this.findAdIndexById(advertisement.id)){
              <img class="card-img" [src]="image.url" [alt]="image" />
              <div class="slider-indicators">
                @for (image of advertisement.pictures; track $index) {
                @if($index== this.findAdIndexById(advertisement.id)){
                <span class="dot dot-active"></span>

                } @else {
                <span class="dot"></span>
                } }
              </div>
              } }
            </div>
          </div>
        </div>
        <div class="advertisement-content">
          <div>
            <div class="ad-data ad-price">
              ₪{{ advertisement.price | number }}
            </div>
            <div class="ad-data ad-address">
              <span>{{ advertisement.assetType }}</span>
              <span>{{ advertisement.city }}</span>
              <span>{{ advertisement.street }}</span>
              <span>{{ advertisement.number }}</span>
            </div>
            <div class="ad-data ad-size">
              <span>{{ advertisement.rooms }}חדרים</span>
              <span> <li></li></span>
              <span>{{ advertisement.totalSquareMeters }} מ"ר</span>
            </div>
          </div>
          <div class="icon-circle-container">
            <div>
              <div>
                <div class="icon-circle">
                  <img
                    class="icon-pic"
                    src="assets/images/edit-pencil.svg"
                    alt="edit-pencil"
                  />
                </div>
              </div>
              <div>עריכה</div>
            </div>
            <div>
              <div>
                <div class="icon-circle">
                  <img
                    class="icon-pic"
                    src="assets/images/upload-arrow.svg"
                    alt="edit-pencil"
                  />
                </div>
              </div>
              <div>הקפצה</div>
            </div>
            <div>
              <div>
                <div class="icon-circle">
                  <img
                    class="icon-pic snow-icon"
                    src="assets/images/snow-svgrepo.svg"
                    alt="edit-pencil"
                  />
                </div>
              </div>
              <div>הקפאה</div>
            </div>
            <div>
              <div>
                <div class="icon-circle">
                  <img
                    class="icon-pic bin-icon"
                    src="assets/images/remove-bin-delete.svg"
                    alt="edit-pencil"
                  />
                </div>
              </div>
              <div>הסרה</div>
            </div>
          </div>
          <div class="stats-information-container">
            <div>
              <div class="stats-information">
                <div>0</div>
                <div class="small-icon-circle light-pink">
                  <img
                    class="icon-pic"
                    src="assets/images/eye-pink.svg"
                    alt="edit-pencil"
                  />
                </div>
              </div>
              <div>צפו במודעה</div>
            </div>
            <div>
              <div class="stats-information">
                <div>0</div>
                <div class="small-icon-circle light-red">
                  <img
                    class="icon-pic"
                    src="assets/images/heart-red-small.svg"
                    alt="edit-pencil"
                  />
                </div>
              </div>
              <div>שמרו אותה</div>
            </div>
          </div>
        </div>
        <div class="ad-content">1</div>
      </div>
      }
    </div>
  </div>
</div>
