* {
  direction: rtl;
}

.ad-container,
.advertisement-content,
.ad-content {
  display: grid;
}
.ad-container {
  grid-template-columns: 28.5% 31.6% 35.32%;
}

.ad-content {
  grid-template-rows: 86.8% 13.2%;
}

.ad-content,
.advertisement-content {
  margin-top: 1rem;
}
.advertisement-content {
  grid-template-rows: 31% 53% 16%;
}

.ad-container {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  height: 312px !important;
}
.ad-container,
.ad-container {
  gap: 1rem;
}

.ad-details {
  height: 43.36px;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.slider,
.slider-container {
  height: 100%;
}

.ad-container,
.ad-details {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 5px 0px;
}

.sort-btns-container {
  gap: 0.25rem;
}
.ad-details-btn {
  gap: 0.2rem;
}

.ad-status-container {
  gap: min(6px, 0.42vw);
}

.slider-arrows {
  padding: 0.5rem;
}

.input,
.ad-status-container {
  padding: 0.75rem !important;
}
.AI-ad {
  padding-bottom: 0.5rem !important;
}
.ad-details,
.ad-data-container {
  padding: 0.5rem;
}
.result-list,
.ad-data-container,
.icon-div,
.stats-information-btn,
.promotion-information-content,
.active-div {
  flex-direction: column;
}
.result-list {
  gap: 40px;
  margin-top: 1.25rem;
}

.main-title,
.sort-btns-container,
.label,
.input,
.slider-indicators,
.dropdown-btn,
.slider,
.ad-data,
.icon-circle,
.icon-circle-container,
.small-icon-circle,
.stats-information,
.stats-information-container,
.result-list,
.ad-data-container,
.dot-symbol,
.icon-div,
.stats-information-btn,
.stats-information,
.ad-details,
.ad-details-btn,
.link-btn,
.promotion-information,
.promotion-information-details,
.info-insight,
.bit-option,
.promotion-information-content,
.promotion-indicators,
.arrows-pic-round-div,
.ad-status-container,
.active-div,
.status-div {
  display: flex;
}
.main-title,
.icon-circle-container {
  align-items: flex-end;
}
.sort-btns-container {
  padding: 1.25rem 0;
}

.icon-circle-container {
  gap: min(1.25rem, 1.43vw);
  padding: 0 min(10px, 0.71vw);
}

.icon-div,
.ad-data-container,
.stats-information-btn,
.ad-data,
.promotion-information-details {
  gap: 0.25rem;
}

.ad-data-container > div {
  flex-wrap: wrap;
}

.link-btn {
  gap: 2px;
}

.sort-btns-container,
.label,
.slider-indicators,
.slider-arrows,
.dropdown-btn,
.icon-circle-container,
.stats-information,
.stats-information-container,
.dot-symbol,
.ad-details,
.bit-option,
.promotion-information,
.promotion-indicators,
.arrows-pic-round-div,
.ad-status-container {
  align-items: center;
}

.stats-information-container {
  gap: 40px;
}

.bit-option {
  gap: 0.25rem;
}

.ad-details,
.promotion-information {
  background-color: rgb(249, 249, 249) !important;
}

.label,
.slider-indicators,
.icon-circle,
.small-icon-circle,
.dot-symbol,
.icon-div,
.ad-details-btn,
.link-btn,
.promotion-information-details,
.promotion-indicators,
.status-div {
  justify-content: center !important;
  text-align: center !important;
}

.dot-symbol {
  padding: 0 0.2rem;
  transform: scale(0.7);
}

#external-link {
  transform: translateY(1.5px);
}
#link {
  transform: translateX(-6px) scaleX(0.9);
}

li {
  list-style: none;
}

.slider-arrows,
.dropdown-btn,
.stats-information-btn,
.stats-information,
.ad-details,
.promotion-information,
.arrows-pic-round-div {
  justify-content: space-between !important;
}
.label {
  max-width: 50px;
}
.ad-address,
.label {
  text-wrap: nowrap;
}

.ad-price {
  font-family: "Arial", sans-serif;
  letter-spacing: -0.02em;
}
.ad-price,
.status-div {
  font-weight: 500 !important;
}

.active-div {
  padding-right: 1rem !important;
}

.upgrade-btn,
.info-insight-text,
.bold,
.AI-ad,
.upgrade-btn-AI,
.status-div {
  font-weight: 600 !important;
}
.ad-price {
  font-size: 20px;
}
.ad-price {
  transform: scaleY(1.07);
}

.component-content {
  width: calc(100vw - 246px);
  margin: auto;
  margin-top: 1rem;
}

.main-title {
  font-size: 24px;
  height: 51.5938px;
  padding: 10px 0;
  margin: 0 1rem 2rem 0;
}

.sort-btns-container {
  margin: 0 1rem 0 0;
}

i.material-icons {
  transform: translateY(-1px);
}
i.material-icons {
  height: 20px;
  width: 20px;
}

.small-icon-circle,
.stats-num {
  height: 24px;
  width: 24px;
}

.stats-num {
  padding-bottom: 1.5rem;
}

#eye-icon {
  transform: scaleX(1.01) scaleY(0.85);
}

.input:focus {
  border: 1px solid rgb(54, 54, 54) !important;
  outline: none !important;
}

.input {
  color: rgb(54, 54, 54, 0.4);
}
.input,
.status-div {
  border: 1px solid rgb(204, 204, 204);
}

.basic-status {
  background-color: rgb(238, 238, 238) !important;
  padding-top: 2px !important;
}

.active-circle {
  transform: translateX(2rem) translateY(-2px);
}

.input,
.status-div {
  border-radius: 4px;
}
.ad-container,
.input,
.ad-details,
.status-div {
  background-color: rgb(255, 255, 255);
}
.status-div {
  padding: 0px 8px;
  height: 26px;
}
.active-circle {
  width: 50px !important;
  height: 50px !important;
}

.input,
.dropdown-btn,
.ad-size,
.icon-circle-container,
.stats-information,
.or-sign,
.info-insight-text,
.AI-ad {
  font-size: 16px;
}

.info-insight-text {
  padding: 0 !important;
  height: fit-content;
  line-height: 1.25 !important;
  word-spacing: -0.05em !important;
}

.ad-address,
.medium-size {
  font-size: 18px;
}

.input,
.dark-circle,
.icon-circle,
.upgrade-btn,
.arrow-pic-round,
.upgrade-btn-AI,
.pointer {
  cursor: pointer;
}

.input::placeholder {
  text-align: start !important;
  transform: translateX(20px) !important;
}

.large {
  width: 240px;
}

.dropdown-btn {
  padding: 1px 2px;
  height: 44px;
}

.icon-circle,
.dropdown-btn {
  border: 1px solid #cccccc;
}

.stats-information {
  font-weight: bold;
}

.icon-circle {
  width: min(48px, 3.42vw);
  height: min(48px, 3.42vw);
}

.ad-container,
.dropdown-btn {
  background-color: #ffffff;
}

.input-container {
  height: fit-content;
}

.slider-container {
  position: relative;
  max-width: 100%;
  margin: auto;
}

.slider {
  overflow: hidden;
  position: relative;
}

.dot {
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #cccccc;
}

.dot-active {
  background-color: #ffffff !important;
}

.red {
  background-color: red !important;
}

.slider-indicators {
  width: 100%;
  height: 18px;
}

.promotion-indicators {
  margin: auto !important;
}

.user-card-img,
.gray-frame,
.user-card-img:hover {
  border-radius: 0.5rem;
}
.user-card-img:hover {
  transform: translateX(-100%) !important;
  display: none;
}

.gray-frame {
  background-color: #eeeeee !important;
}

.user-card-img,
.main-title {
  width: 100%;
}

.slider-arrows {
  transform: translateY(5px) !important;
}

.component-content > * {
  padding: 0 1rem;
}

.slider-arrows,
.user-card-img {
  height: 100%;
}

.info-insight {
  height: 240px;
}
.slider-arrows,
.user-card-img,
.ad-content,
.advertisement-content,
.slider-container {
  height: 280px;
}

.slider-arrows,
.user-card-img,
.ad-content,
.advertisement-content,
.slider-container,
.slider,
.slider-container,
.slider-indicators,
.ad-status-container,
.ad-content {
  min-width: min(275px, 20vw);
  max-width: 275px;
}

.arrow-pic {
  width: 30px;
  height: 30px;
}
.arrow-pic-round {
  width: 35px;
  height: 35px;
}

.arrows-pic-round-div {
  width: 100%;
}

.arrows-pic-round-div-container,
.status-div {
  position: relative;
}

.slider-indicators,
.arrows-pic-round-div,
.ad-status-container,
.active-circle,
#empty-image {
  position: absolute;
}
#empty-image {
  top: 75px;
  right: 64px;
}

.dark-circle {
  width: 30px;
  height: 30px;
  background-color: rgb(0, 0, 0, 0.5);
  transition: all ease-in-out 0.5s;
}

.dark-circle:hover {
  background-color: rgb(0, 0, 0);
}

.upgrade-btn,
.upgrade-btn-AI {
  border-radius: 30px;
}
.upgrade-btn:hover {
  background-color: rgb(10, 61, 143);
}
.upgrade-btn,
.upgrade-btn-AI {
  border: none;
}
.upgrade-btn {
  background-color: rgb(53, 120, 229);
}
.upgrade-btn,
.upgrade-btn-AI {
  color: rgb(255, 255, 255);
}
.upgrade-btn,
.upgrade-btn-AI {
  height: 36px;
}
.upgrade-btn {
  width: 86px;
}
.upgrade-btn,
.upgrade-btn-AI {
  padding: 0px 18px;
}

.ad-details-btn {
  padding: 8px;
}

.dot,
.dark-circle,
.icon-circle,
.small-icon-circle,
.active-circle {
  border-radius: 50%;
}

.light-red {
  background-color: #fee2e4;
}
.light-pink {
  background-color: #f2e4ff;
}

.icon-pic {
  transform: scaleX(0.8) scaleY(0.75);
}
.lg-text {
  transform: scaleY(1.1);
}

.snow-icon {
  transform: scaleX(0.5) scaleY(0.5) !important;
  opacity: 0.8;
}
.bin-icon {
  transform: scaleX(0.7) scaleY(0.6) !important;
  opacity: 0.8;
}

.stats-information-btn {
  height: 46px;
  width: 60px;
}

.stats-information-btn-text,
.light-gray-small-text {
  font-size: 12px;
}
.stats-information-btn-text,
.light-gray-small-text {
  color: #999999;
}

.small-icon-pic {
  height: 20px;
  width: 20px;
}

.green-spaceship {
  width: 70px;
  height: 70px;
  transform: translateY(-0.75rem);
}
.ad-AI {
  width: 8.6vw;
  height: 8.6vw;
}

.bit {
  width: 26px;
  height: 25px;
}
.bit {
  transform: translateY(3px);
}
.underline {
  text-decoration: underline;
}

.promotion-information-content {
  padding: min(2rem, 2.3vw) min(1.5rem, 1.72vw);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.promotion-information {
  padding: 0 1rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.promotion-information,
.promotion-information-content {
  border: 1px solid rgb(222, 222, 222);
}
.promotion-information-content {
  border-bottom: transparent;
}

.turquoise-text {
  color: #52b799;
}

.orange:hover {
  background-color: #d86000;
}
.orange {
  background-color: rgb(255, 113, 0);
}

.move-down {
  transform: translateY(-6px);
}

.component-content {
  padding-bottom: 3rem;
}

@media (min-width: 884px) and (max-width: 1100px) {
  .ad-container {
    justify-content: center;
    gap: 0.5rem !important;
  }

  .status-div {
    text-wrap: nowrap;
    margin: auto;
  }

  .icon-circle-container {
    gap: min(1.25rem, 1vw) !important;
  }
}

@media (width < 1000px) {
  .info-insight-text,
  .icon-circle-container {
    font-size: 14px;
  }

  .icon-circle-container {
    gap: min(1.25rem, 0.75vw);
  }

  .ad-container {
    grid-template-columns: 28.5% 30% 35.32%;
  }
  .status-div {
    padding: 0px 4px;
  }
}

@media (width < 920px) {
  .ad-details,
  .ad-data-container {
    padding: 0;
  }

  .status-div {
    padding: 0px 2px;
  }

  .ad-details-btn {
    font-size: 12px;
  }
  .ad-details-btn,
  .promotion-information > div {
    text-wrap: nowrap;
  }
}

@media (width < 883px) {
  .component-content,
  .sort-btns-container {
    width: calc(100vw - 1rem);
  }

  .ad-details,
  .ad-data-container {
    padding: 0.5rem;
  }

  .status-div {
    padding: 0px 8px;
  }

  .ad-details-btn {
    font-size: 12px;
  }

  .info-insight-text,
  .icon-circle-container {
    font-size: 14px;
  }

  .icon-circle-container {
    gap: min(1.25rem, 1.43vw);
  }

  .ad-container {
    grid-template-columns: 28.5% 31.6% 35.32%;
  }

  .icon-circle {
    width: min(42px, 4.75vw);
    height: min(42px, 4.75vw);
  }

  .slider-indicators {
    width: 100%;
  }
  .slider-arrows,
  .user-card-img,
  .slider-container,
  .slider {
    padding-right: 0.125rem;
  }
}

@media (width < 883px) and (width > 675px) {
  .slider-arrows,
  .user-card-img,
  .slider-container,
  .slider {
    max-width: 215px;
  }
}

@media (width < 675px) {
  .slider-arrows,
  .user-card-img,
  .ad-content,
  .advertisement-content,
  .slider-container,
  .slider,
  .slider-container,
  .slider-indicators,
  .ad-status-container,
  .ad-content {
    min-width: min(215px, 20vw);
  }
  .ad-container {
    grid-template-columns: 45% 50%;
    gap: 1rem;
  }

  .icon-circle-container {
    gap: 1rem;
  }

  .large {
    width: 27vw;
  }

  .ad-content {
    display: none;
  }

  .slider-container,
  .slide {
    width: 100%;
  }

  .light-gray-small-text {
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .icon-circle {
    width: 42px;
    height: 42px;
  }

  .or-sign {
    display: none;
  }

  .ad-details-btn {
    gap: 0.25rem;
  }
  .ad-details-btn {
    padding: 0;
  }

  .ad-details {
    height: fit-content;
  }
  .ad-details {
    display: grid;
  }

  .ad-details-btn {
    justify-content: flex-start !important;
  }

  .light-gray-small-text {
    padding: 0 0.5rem;
  }
}
