* {
  direction: rtl;
}

.ad-container,
.advertisement-content {
  display: grid;
}
.ad-container {
  grid-template-columns: 28.5% 31.6% 34.77%;
}
.advertisement-content {
  grid-template-rows: 31% 53% 16%;
}

.ad-container {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  gap: 1rem;
  height: 312px !important;
}
.add-details {
  height: 43.36px;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.slider,
.slider-container,
.slider-indicators {
  width: 275px;
}
.slider,
.slider-container {
  height: 100%;
}

.ad-container,
.add-details {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 5px 0px;
}

.add-details-btn,
.sort-btns-container {
  gap: 0.5rem;
}

.ad-container,
.slider-arrows {
  padding: 1rem;
}

.input {
  padding: 0.75rem !important;
}
.add-details,
.add-data-container {
  padding: 0.5rem !important;
}
.result-list,
.add-data-container,
.icon-div,
.stats-information-btn {
  flex-direction: column;
}
.result-list {
  gap: 40px;
  margin-top: 1.25rem;
}

.main-title,
.sort-btns-container,
.label,
.input,
.slider-indicators,
.dropdown-btn,
.slider,
.ad-data,
.icon-circle,
.icon-circle-container,
.small-icon-circle,
.stats-information,
.stats-information-container,
.result-list,
.add-data-container,
.dot-symbol,
.icon-div,
.stats-information-btn,
.stats-information,
.add-details,
.add-details-btn,
.link-btn {
  display: flex;
}
.main-title,
.icon-circle-container {
  align-items: flex-end;
}
.sort-btns-container {
  padding: 1.25rem 0;
}

.add-data-container {
  margin-right: 0.25rem;
}

.icon-circle-container {
  gap: 1.5rem;
  width: 85%;
  padding: 0 1rem;
}

.icon-div,
.add-data-container,
.stats-information-btn,
.ad-data {
  gap: 0.25rem;
}

.link-btn {
  gap: 2px;
}

.sort-btns-container,
.label,
.slider-indicators,
.slider-arrows,
.dropdown-btn,
.icon-circle-container,
.stats-information,
.stats-information-container,
.dot-symbol,
.add-details {
  align-items: center;
}

.stats-information-container {
  gap: 3rem;
}
.stats-information-container {
  transform: translateY(-0.5rem);
}

.add-details {
  background-color: rgb(249, 249, 249) !important;
}

.label,
.slider-indicators,
.icon-circle,
.small-icon-circle,
.dot-symbol,
.icon-div,
.add-details-btn,
.link-btn {
  justify-content: center !important;
  text-align: center !important;
}

.dot-symbol {
  padding: 0 0.2rem;
  transform: scale(0.7);
}

#external-link {
  transform: translateY(1.5px);
}
#link {
  transform: translateX(-6px) scaleX(0.9);
}

.move-right {
  transform: translateX(1rem);
}

.slider-arrows,
.dropdown-btn,
.stats-information-btn,
.stats-information,
.add-details {
  justify-content: space-between !important;
}
.label {
  max-width: 50px;
  text-wrap: nowrap;
}

.ad-price {
  font-weight: 500 !important;
}
.ad-price {
  font-size: 20px;
}
.ad-price {
  transform: scaleY(1.07);
}

.component-content {
  width: 74.4vw;
  max-width: 1044px;
  margin: auto;
  margin-top: 1rem;
}

.main-title {
  font-size: 24px;
  height: 51.5938px;
  padding: 10px 0;
}

.main-title {
  width: 100%;
}

i.material-icons {
  transform: translateY(-1px);
}
i.material-icons {
  height: 20px;
  width: 20px;
}

.small-icon-circle,
.stats-num {
  height: 24px;
  width: 24px;
  padding: 2px;
}

.stats-num {
  padding-bottom: 1.5rem;
}

#eye-icon {
  transform: scaleX(1.01) scaleY(0.85);
}

.input:focus {
  border: 1px solid rgb(54, 54, 54) !important;
  outline: none !important;
}

.input {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  color: rgb(54, 54, 54, 0.4);
}

.ad-container,
.input,
.add-details {
  background-color: rgb(255, 255, 255);
}

.input,
.dropdown-btn,
.ad-size,
.icon-circle-container,
.stats-information,
.or-sign {
  font-size: 16px;
}
.ad-address {
  font-size: 18px;
}

.input,
.dark-circle,
.icon-circle {
  cursor: pointer;
}

.input::placeholder {
  text-align: start !important;
  transform: translateX(20px) !important;
}

.large {
  width: 240px;
}

.dropdown-btn {
  padding: 1px 2px;
  height: 44px;
}

.icon-circle,
.dropdown-btn {
  border: 1px solid #cccccc;
}

.stats-information {
  font-weight: bold;
}

.icon-circle {
  width: 48px;
  height: 48px;
}

.ad-container,
.dropdown-btn {
  background-color: #ffffff;
}

.input-container {
  height: fit-content;
}

div {
  /* border: solid 1px red !important; */
}

.slider-container {
  position: relative;
  max-width: 100%;
  margin: auto;
}

.slider {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.dot {
  height: 8px;
  width: 8px;
  margin: 0 5px;
  background-color: #cccccc;
}

.dot-active {
  background-color: #ffffff !important;
}

.slider-indicators {
  transform: translateY(-28px) !important;
  position: absolute;
  height: 18px;
}

.user-card-img {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

.slider-arrows {
  height: 100%;
  transform: translateY(5px) !important;
}

.arrow-pic {
  width: 30px;
  height: 30px;
}

.dark-circle {
  width: 30px;
  height: 30px;
  background-color: #000000;
}

.dot,
.dark-circle,
.icon-circle,
.small-icon-circle {
  border-radius: 50%;
}

.light-red {
  background-color: #fee2e4;
}
.light-pink {
  background-color: #f2e4ff;
}

.icon-pic {
  transform: scaleX(0.8) scaleY(0.75);
}

.snow-icon {
  transform: scaleX(0.5) scaleY(0.5) !important;
  opacity: 0.8;
}
.bin-icon {
  transform: scaleX(0.7) scaleY(0.6) !important;
  opacity: 0.8;
}

.stats-information-btn {
  height: 46px;
  width: 60px;
}

.stats-information-btn-text,
.light-gray-small-text {
  font-size: 12px;
}
.stats-information-btn-text,
.light-gray-small-text {
  color: #999999;
}

.small-icon-pic {
  height: 20px;
  width: 20px;
}

.ad-content {
  background-color: aqua !important;
}
