* {
  direction: rtl;
}

.main-title,
.sort-btns-container,
.label,
.input,
.slider-indicators1 {
  display: flex;
}
.main-title {
  align-items: flex-end;
}
.sort-btns-container {
  gap: 0.5rem;
  padding: 1.25rem 0;
}
.sort-btns-container,
.label,
.slider-indicators1,
.slider-arrows {
  align-items: center;
}

.input {
  padding: 0.75rem !important;
}

.label,
.slider-indicators1 {
  justify-content: center !important;
  text-align: center !important;
}

.slider-arrows {
  justify-content: space-between !important;
}
.label {
  max-width: 50px;
  text-wrap: nowrap;
}

.component-content {
  width: 74.4vw;
  max-width: 1044px;
  margin: auto;
  margin-top: 1rem;
}

.main-title {
  font-size: 24px;
  height: 51.5938px;
  padding: 10px 0;
}

.main-title {
  width: 100%;
}

i.material-icons {
  height: 20px;
  width: 20px;
  transform: translateY(-1px);
}

.input:focus {
  border: 1px solid rgb(54, 54, 54) !important;
  outline: none !important;
}

.input {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  color: rgb(54, 54, 54, 0.4);
}

.ad-container,
.input {
  background-color: rgb(255, 255, 255);
}

.input {
  font-size: 16px;
}

.input {
  cursor: pointer;
}

.input::placeholder {
  text-align: start !important;
  transform: translateX(20px) !important;
}

.large {
  width: 240px;
}

.dropdown-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 2px;
}
.dropdown-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 16px;
  height: 44px;
}

.input-container {
  height: fit-content;
}

div {
  /* border: solid 1px red !important; */
}

.slider-container {
  position: relative;
  max-width: 100%;
  margin: auto;
}

.slider {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.slide {
  min-width: 100%;
  transition: transform 0.5s ease;
  display: none;
}

.slide.active {
  display: block;
}

img {
  width: 100%;
  display: block;
}

.slider-indicators {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.dot {
  height: 8px;
  width: 8px;
  margin: 0 5px;
  background-color: #ddd;
  background-color: #cccccc;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #666;
  background-color: #ffffff;
}

.slider-indicators1 {
  width: 275px;
  transform: translateY(-28px) !important;
  position: absolute;
  height: 18px;
}

.card-img {
  width: 275px;
  height: 280px;
  border-radius: 0.5rem;
}

.slider-arrows {
  padding: 1rem;
  height: 100%;
  transform: translateY(5px) !important;
}

.arrow-pic {
  width: 30px;
  height: 30px;
}

.dark-circle {
  width: 30px;
  height: 30px;
  background-color: #000000;
}

.dot,
.dark-circle {
  border-radius: 50%;
}
