* {
  direction: rtl;
}

.ad-container,
.advertisement-content,
.ad-content {
  display: grid;
}
.ad-container {
  grid-template-columns: 28.5% 31.6% 35.32%;
}
.ad-content {
  grid-template-rows: 86.8% 13.2%;
}
.advertisement-content {
  grid-template-rows: 31% 53% 16%;
}

.ad-container {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  height: 312px !important;
}
.ad-container,
.ad-container {
  gap: 1rem;
}

.add-details {
  height: 43.36px;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.slider,
.slider-container,
.slider-indicators {
  width: 275px;
}
.slider,
.slider-container {
  height: 100%;
}

.ad-container,
.add-details {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 5px 0px;
}

.add-details-btn,
.sort-btns-container {
  gap: 0.5rem;
}

.slider-arrows {
  padding: 0.5rem;
}
.ad-container {
  padding: 1rem 0.5rem 1rem 0;
}

.input {
  padding: 0.75rem !important;
}
.add-details,
.add-data-container {
  padding: 0.5rem !important;
}
.result-list,
.add-data-container,
.icon-div,
.stats-information-btn,
.promotion-information-content {
  flex-direction: column;
}
.result-list {
  gap: 40px;
  margin-top: 1.25rem;
}

.main-title,
.sort-btns-container,
.label,
.input,
.slider-indicators,
.dropdown-btn,
.slider,
.ad-data,
.icon-circle,
.icon-circle-container,
.small-icon-circle,
.stats-information,
.stats-information-container,
.result-list,
.add-data-container,
.dot-symbol,
.icon-div,
.stats-information-btn,
.stats-information,
.add-details,
.add-details-btn,
.link-btn,
.promotion-information,
.promotion-information-details,
.info-insight,
.bit-option,
.promotion-information-content,
.promotion-indicators,
.arrows-pic-round-div {
  display: flex;
}
.main-title,
.icon-circle-container {
  align-items: flex-end;
}
.sort-btns-container {
  padding: 1.25rem 0;
}

.icon-circle-container {
  gap: 1.25rem;
  padding: 0 10px;
  transform: translateY(8px);
}

.icon-div,
.add-data-container,
.stats-information-btn,
.ad-data,
.promotion-information-details {
  gap: 0.25rem;
}

.link-btn {
  gap: 2px;
}

.sort-btns-container,
.label,
.slider-indicators,
.slider-arrows,
.dropdown-btn,
.icon-circle-container,
.stats-information,
.stats-information-container,
.dot-symbol,
.add-details,
.bit-option,
.promotion-information,
.promotion-indicators,
.arrows-pic-round-div {
  align-items: center;
}

.stats-information-container {
  gap: 40px;
}

.bit-option {
  transform: translateY(-6px);
}

.add-details,
.promotion-information {
  background-color: rgb(249, 249, 249) !important;
}

.label,
.slider-indicators,
.icon-circle,
.small-icon-circle,
.dot-symbol,
.icon-div,
.add-details-btn,
.link-btn,
.promotion-information-details,
.promotion-indicators {
  justify-content: center !important;
  text-align: center !important;
}

.dot-symbol {
  padding: 0 0.2rem;
  transform: scale(0.7);
}

#external-link {
  transform: translateY(1.5px);
}
#link {
  transform: translateX(-6px) scaleX(0.9);
}

.move-right {
  transform: translateX(1rem);
}

.slider-arrows,
.dropdown-btn,
.stats-information-btn,
.stats-information,
.add-details,
.promotion-information,
.info-insight,
.arrows-pic-round-div {
  justify-content: space-between !important;
}
.label {
  max-width: 50px;
  text-wrap: nowrap;
}

.ad-price {
  font-weight: 500 !important;
}
.upgrade-btn,
.info-insight-text,
.bold {
  font-weight: 600 !important;
}
.ad-price {
  font-size: 20px;
}
.ad-price {
  transform: scaleY(1.07);
}

.component-content {
  width: 74.4vw;
  max-width: 1044px;
  margin: auto;
  margin-top: 1rem;
}

.main-title {
  font-size: 24px;
  height: 51.5938px;
  padding: 10px 0;
}

i.material-icons {
  transform: translateY(-1px);
}
i.material-icons {
  height: 20px;
  width: 20px;
}

.small-icon-circle,
.stats-num {
  height: 24px;
  width: 24px;
}

.stats-num {
  padding-bottom: 1.5rem;
}

#eye-icon {
  transform: scaleX(1.01) scaleY(0.85);
}

.input:focus {
  border: 1px solid rgb(54, 54, 54) !important;
  outline: none !important;
}

.input {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  color: rgb(54, 54, 54, 0.4);
}

.ad-container,
.input,
.add-details {
  background-color: rgb(255, 255, 255);
}

.input,
.dropdown-btn,
.ad-size,
.icon-circle-container,
.stats-information,
.or-sign,
.info-insight-text {
  font-size: 16px;
}

.info-insight-text {
  padding: 0 !important;
  height: fit-content;
  line-height: 1.25 !important;
  word-spacing: -0.05em !important;
}

.ad-address {
  font-size: 18px;
}

.input,
.dark-circle,
.icon-circle,
.upgrade-btn,
.arrow-pic-round {
  cursor: pointer;
}

.input::placeholder {
  text-align: start !important;
  transform: translateX(20px) !important;
}

.large {
  width: 240px;
}

.dropdown-btn {
  padding: 1px 2px;
  height: 44px;
}

.icon-circle,
.dropdown-btn {
  border: 1px solid #cccccc;
}

.stats-information {
  font-weight: bold;
}

.icon-circle {
  width: 48px;
  height: 48px;
}

.ad-container,
.dropdown-btn {
  background-color: #ffffff;
}

.input-container {
  height: fit-content;
}

.slider-container {
  position: relative;
  max-width: 100%;
  margin: auto;
}

.slider {
  overflow: hidden;
  position: relative;
}

.dot {
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #cccccc;
}

.dot-active {
  background-color: #ffffff !important;
}

.red {
  background-color: red !important;
}

.slider-indicators {
  transform: translateY(-28px) !important;
  height: 18px;
}

.promotion-indicators {
  margin: auto !important;
  transform: translateY(320%) !important;
}

.user-card-img {
  border-radius: 0.5rem;
}

.user-card-img,
.main-title {
  width: 100%;
}

.slider-arrows {
  transform: translateY(5px) !important;
}

.slider-arrows,
.user-card-img {
  height: 100%;
}
.slider-arrows,
.user-card-img,
.ad-content,
.advertisement-content,
.slider-container {
  max-height: 280px;
}
.slider-arrows,
.user-card-img,
.ad-content,
.advertisement-content,
.slider-container,
.promotion-information-content {
  min-width: 275px;
}

.promotion-information-content {
  max-height: 240px;
}

.arrow-pic {
  width: 30px;
  height: 30px;
}
.arrow-pic-round {
  width: 35px;
  height: 35px;
}

.arrows-pic-round-div {
  width: 315px;
  transform: translateY(10%) scaleX(1.125);
}

.arrows-pic-round-div-container {
  position: relative;
}

.slider-indicators,
.arrows-pic-round-div {
  position: absolute;
}

.dark-circle {
  width: 30px;
  height: 30px;
  background-color: rgb(0, 0, 0, 0.5);
  transition: all ease-in-out 0.5s;
}

.dark-circle:hover {
  background-color: rgb(0, 0, 0);
}

.upgrade-btn {
  border-radius: 30px;
}
.upgrade-btn:hover {
  background-color: rgb(10, 61, 143);
}
.upgrade-btn {
  border: none;
}
.upgrade-btn {
  background-color: rgb(53, 120, 229);
}
.upgrade-btn {
  color: rgb(255, 255, 255);
}
.upgrade-btn {
  height: 36px;
  width: 86px;
}

.dot,
.dark-circle,
.icon-circle,
.small-icon-circle {
  border-radius: 50%;
}

.light-red {
  background-color: #fee2e4;
}
.light-pink {
  background-color: #f2e4ff;
}

.icon-pic {
  transform: scaleX(0.8) scaleY(0.75);
}
.lg-text {
  transform: scaleY(1.1);
}

.snow-icon {
  transform: scaleX(0.5) scaleY(0.5) !important;
  opacity: 0.8;
}
.bin-icon {
  transform: scaleX(0.7) scaleY(0.6) !important;
  opacity: 0.8;
}

.stats-information-btn {
  height: 46px;
  width: 60px;
}

.stats-information-btn-text,
.light-gray-small-text {
  font-size: 12px;
}
.stats-information-btn-text,
.light-gray-small-text {
  color: #999999;
}

.small-icon-pic {
  height: 20px;
  width: 20px;
}

.green-spaceship {
  width: 70px;
  height: 70px;
  transform: translateY(-0.75rem);
}

.bit {
  width: 26px;
  height: 25px;
}
.bit {
  transform: translateY(3px);
}
.underline {
  text-decoration: underline;
}

.promotion-information-content {
  gap: 4px !important;
  padding: 2rem 1.5rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.promotion-information {
  padding: 0 1rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.promotion-information,
.promotion-information-content {
  border: 1px solid rgb(222, 222, 222);
}
.promotion-information {
  border-top: transparent;
}

.turquoise-text {
  color: #52b799;
}
