* {
  direction: rtl;
}

.main-title,
.sort-btns-container,
.label {
  display: flex;
}
.main-title {
  align-items: flex-end;
}
.sort-btns-container {
  gap: 0.5rem;
  padding: 1.25rem 0;
}
.sort-btns-container,
.label {
  align-items: center;
}

.label {
  justify-content: center !important;
  text-align: center !important;
}

.component-content {
  width: 74.4vw;
  max-width: 1044px;
  margin: auto;
  /* padding: 1rem 18px 0.25rem 0; */
  margin-top: 1rem;
}

.main-title {
  font-size: 24px;
  height: 51.5938px;
  padding: 10px 0;
}

.main-title {
  width: 100%;
}

i.material-icons {
  height: 20px;
  width: 20px;
  opacity: 0.5;
}

.input:focus {
  border: 1px solid rgb(54, 54, 54) !important;
  outline: none !important;
}

.input {
  background-color: rgb(255, 255, 255) !important;
  border: 1px solid rgb(153, 153, 153, 0.7);
  border-radius: 4px;
}

.input {
  font-size: 16px;
}

.input {
  cursor: pointer;
}

.input::placeholder {
  text-align: start !important;
  transform: translateX(20px) !important;
}

.large {
  width: 270px;
}

.dropdown-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 2px;
}
.dropdown-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 16px;
  height: 42px;
}

.input-container {
  height: fit-content;
}

div {
  border: solid 1px red !important;
}
