<div class="box">
  <img
    routerLink="/"
    class="left-arrow"
    src="assets/images/arrow-left-5.svg"
    alt="yad2"
  />
  <div class="container">
    <div class="left-part">
      <div class="option-img-container">
        <div class="option-text">
          <div>.לקנות מהר, למכור מהר</div>
          <div>.ויש לנו אחלה כלים לזה</div>
        </div>
        <div class="option-images">
          <div>
            <div><img src="assets/images/icon_profile.svg" alt="" /></div>
            <div class="img-text">אזור אישי</div>
          </div>

          <div>
            <div><img src="assets/images/icon_publish.svg" alt="" /></div>
            <div class="img-text">פרסום מודעה</div>
          </div>
          <div>
            <div><img src="assets/images/icon_chat.svg" alt="" /></div>
            <div class="img-text">צ׳אט</div>
          </div>
          <div>
            <div><img src="assets/images/icon_alert.svg" alt="" /></div>
            <div class="img-text">התראות</div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-part">
      <div class="form">
        <div class="logo-link">
          <img src="assets/images/logo-default.svg" alt="" />
        </div>
        <div class="form-container">
          <div class="middleman-link"></div>
          <form [formGroup]="loginForm" (ngSubmit)="handleSubmit()">
            <div class="welcome-text">היי, טוב לראות אותך</div>
            <div class="login-box">
              <div class="form-group">
                <div class="input-container">
                  <div class="label" for="email">מייל</div>
                  <div class="input">
                    <input
                      id="email"
                      type="text"
                      [ngClass]="
                        this.inputsStyleService.changeBorderColor(
                          loginForm.get('email')?.invalid && this.formSubmitted,
                          'input-box'
                        )
                      "
                      formControlName="email"
                      placeholder="yourmail@email.co.il"
                    />

                    <div
                      *ngIf="
                        loginForm.get('email')?.invalid && this.formSubmitted
                      "
                      class="error-message"
                    >
                      @if (loginForm.get("email")?.value === "") {
                        לא לשכוח את המייל
                      } @else if (loginForm.get("email")?.touched) {
                        <span> ?&#64; משהו לא תקין במייל, אולי התפספס</span>
                      }
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="input-container">
                  <div class="label" for="password">סיסמה</div>
                  <div class="input-container">
                    <div class="input password">
                      <input
                        (input)="this.isPasswordIsValid = true"
                        id="password"
                        type="password"
                        [ngClass]="
                          this.inputsStyleService.changeBorderColor(
                            loginForm.get('password')?.invalid &&
                              this.formSubmitted,
                            'input-box'
                          )
                        "
                        formControlName="password"
                        placeholder="הקלדת סיסמה"
                      />
                      <div
                        class="password-exposed-btn-container"
                        (click)="togglePasswordVisibility()"
                      >
                        <img
                          class="password-exposed-btn"
                          [src]="
                            this.inputsStyleService.switchPasswordVisibility(
                              this.isPasswordHidden
                            )
                          "
                          alt=""
                        />
                      </div>
                    </div>
                    <div
                      class="error-message"
                      *ngIf="
                        loginForm.get('password')?.invalid && this.formSubmitted
                      "
                    >
                      @if (loginForm.get("password")?.value === "") {
                        לא לשכוח להזין סיסמה
                      }
                    </div>
                  </div>
                  <div class="orange-label">שכחתי סיסמה</div>
                </div>
              </div>
              <div class="submit-container">
                <div class="submit-button-box">
                  <div class="error-message padding" *ngIf="this.formSubmitted">
                    @if (!this.isPasswordIsValid) {
                      אימייל או סיסמה אינם תקינים
                    }
                  </div>
                  <div class="submit-button-container">
                    <button class="submit-button" type="submit">התחברות</button>
                  </div>
                </div>
              </div>

              <div class="register-box">
                <div class="connect-lable">
                  <div class="line">f</div>
                  <div class="lable-text"><span>או התחברו דרך</span></div>
                  <div class="line">f</div>
                </div>

                <div class="login-container">
                  <div class="button-container">
                    <button class="login-button apple">
                      <div class="img">
                        <span>אפל</span>
                        <img
                          class="social-network-img apple-img"
                          src="assets/images/apple-black.svg"
                          alt=""
                        />
                      </div>
                    </button>
                    <button class="login-button google">
                      <div class="img">
                        <span>גוגל</span>
                        <img
                          class="social-network-img google-img"
                          src="assets/images/google.svg"
                          alt=""
                        />
                      </div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="register-link-container">
              אין לך חשבון?<span class="register-link" routerLink="/register"
                >להרשמה</span
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
