.container {
  background-color: #fff8ef;
  height: 120vh;
  width: 100vw;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-part,
.left-part {
  height: 100%;
  width: 100%;
}

form {
  text-align: start;
  color: rgb(54, 54, 54);
  height: 596.641px;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 10px 0px;
}

.middleman-link,
form {
  width: 73.3%;
  margin-left: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-box {
  font-size: 16px;
  line-height: 18.4px;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(54, 54, 54);
  padding: 10px 15px 10px 35px;
}

.input-box,
form {
  border-radius: 4px;
}

.input-box,
form,
.submit-button {
  background-color: rgb(255, 255, 255);
}

.submit-button {
  font-size: 16px;
  line-height: 18.4px;
  background-color: rgb(255, 113, 0);
  border: 1px solid rgb(255, 113, 0);
  margin: 10px 0px 0px;
  padding: 0px 20px;
  border-radius: 30px;
}

.submit-button,
.input-box {
  height: 50px;
  width: 76.3%;
}

.input-box {
  text-align: right;
}

.button-container button,
.submit-button,
button,
.register-link {
  cursor: pointer;
}

.social-network-img {
  width: 26px;
  height: 26px;
}

.register-link-container,
.register-link,
.welcome-text,
.middleman-link {
  text-align: center;
}

.logo-link {
  padding: 1rem;
  display: flex;
  justify-content: right !important;
  width: 100%;
}

.logo-link img {
  margin-right: 12% !important;
}

div,
form,
img {
  border: solid 1px red !important;
}

form div {
  width: 100%;
}
