.container {
  background-color: #fff8ef;
  height: 100vh;
  display: grid;
  grid-template-areas: "img form";
}

form {
  text-align: start;
  color: rgb(54, 54, 54);
  height: 596.641px;
  width: 510px;
  padding: 35px 35px 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 10px 0px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-box {
  font-size: 16px;
  line-height: 18.4px;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(54, 54, 54);
  padding: 10px 15px 10px 35px;
}

.input-box,
form {
  border-radius: 4px;
}

.input-box,
form,
.submit-button {
  background-color: rgb(255, 255, 255);
}

.submit-button {
  font-size: 16px;
  line-height: 18.4px;
  background-color: rgb(255, 113, 0);
  border: 1px solid rgb(255, 113, 0);
  margin: 10px 0px 0px;
  padding: 0px 20px;
  border-radius: 30px;
}

.submit-button,
.input-box {
  height: 50px;
  width: 440px;
}

.button-container button,
.submit-button {
  cursor: pointer;
}

/* .login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.login-button {
  border: none;
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
}

.login-button img {
  margin-right: 8px;
}

.help-link {
  color: blue;
  text-decoration: none;
  font-size: 14px;
} */
