.container {
  background-color: #fff8ef;
  width: 100vw;
  height: 100vh;
}

.container,
.input,
.submit-button-container,
.login-container,
.button-container,
.form-group,
.button-container,
.img,
.connect-lable,
.option-images,
.left-part {
  display: flex;
  justify-content: center;
  align-items: center;
}

.option-images {
  gap: 4rem;
}

.line {
  height: 1px;
  background-color: rgba(211, 211, 211, 0.5);
  color: transparent;
}
.lable-text {
  text-align: center;
  color: #cccccc;
  font-size: 14px !important;
  text-wrap: nowrap;
  /* margin: 20px 0px 10px; */
}

.img {
  gap: 2px;
}
.form-container {
  margin-top: 2px;
}

.login-box {
  flex-direction: column;
  gap: 2rem;
  margin: auto !important;
}

.right-part,
.left-part {
  height: 100%;
}

.right-part,
.left-part,
.login-container,
.button-container {
  width: 100%;
}

.button-container {
  gap: 1rem;
}

form {
  text-align: start;
  color: rgb(54, 54, 54);
  height: 596.641px;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 10px 0px;
}

.middleman-link,
form {
  width: 73.3%;
  margin-left: 65px;
}

.middleman-link,
form {
  max-width: 510px;
}

.form,
.login-box,
.register-box,
.option-img-container,
.option-images div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.option-images,
.option-img-container,
.option-text {
  align-items: end;
  max-width: 450px;
}

.option-img-container {
  gap: 2rem;
  margin: auto;
}

.option-text div {
  font-size: 36px;
  line-height: 41.4px;
}
.option-images div {
  gap: 1rem;
}

.option-images div img {
  width: 60px;
  height: 60px;
}

.register-box {
  gap: 0.5rem;
  transform: translateY(-12px);
}

.input-box {
  line-height: 18.4px;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(54, 54, 54);
  padding: 10px 15px 10px 35px;
}

.middleman-link,
.input-box,
.label,
.orange-label,
button,
.right-part,
.apple,
.google {
  font-size: 16px;
}

.input-box,
form {
  border-radius: 4px;
}

.input-box,
form,
.submit-button,
.login-button {
  background-color: rgb(255, 255, 255);
}

.submit-button {
  line-height: 18.4px;
  background-color: rgb(255, 113, 0);
  border: 1px solid rgb(255, 113, 0);
  color: #ffffff;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #d86000;
}
.submit-button,
.login-button {
  border-radius: 30px;
  padding: 0px 20px;
  flex: 1 1 0%;
}

.login-button {
  line-height: 18.4px;
  height: 50px;
  border: 1px solid rgb(211, 192, 176);
  margin: 5px 0px 0px;
  max-width: 209px;
}

.submit-button,
.input-box {
  height: 50px;
}

.submit-button,
.input-container,
.login-box {
  width: 84.4% !important;
}

.input-box,
.label {
  text-align: right !important;
  padding-bottom: 0.25rem;
}

.input-box,
.label,
.orange-label,
.submit-button {
  width: 100% !important;
}

.orange-label,
.register-link {
  color: #ff7100;
}

.orange-label {
  padding-top: 1rem;
  font-weight: 600 !important;
}
.button-container button,
.submit-button,
button,
.register-link,
.middleman-link,
.logo-link {
  cursor: pointer;
}

.register-link {
  font-weight: 550;
  padding-right: 4px;
}

.register-link-container {
  margin-top: 20px !important;
}

.social-network-img {
  width: 24px;
  height: 26px;
  padding: 2px;
}

.apple-img {
  transform: translateY(-3px);
}

.google-img {
  transform: translateY(-1px);
}

.register-link-container,
.register-link,
.welcome-text,
.middleman-link {
  text-align: center;
}

.middleman-link {
  padding: 1rem;
}

.welcome-text {
  line-height: 32.4px;
  font-size: 24px;
  padding: 3rem;
  margin-top: 1rem;
}

.logo-link {
  padding: 0 20px;
  padding-top: 28px;
  display: flex;
  justify-content: right !important;
  width: 100%;
}

.logo-link img {
  margin-right: 12% !important;
}

div,
form,
img,
.label {
  /* border: solid 1px red !important; */
}

form {
  transform: translateY(-4px);
}

.label,
.input-container,
.orange-label {
  width: 100% !important;
}

form div {
  width: 100%;
}

input {
  border-color: #cccccc !important;
}

input:focus,
input:hover {
  border-color: #000000 !important;
  outline: none;
}
