.container {
  background-color: #fff8ef;
  height: 120vh;
  width: 100vw;
}

.container,
.input,
.submit-button-container,
.login-container,
.button-container,
.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-part,
.left-part {
  height: 100%;
}

.right-part,
.left-part,
.login-container,
.button-container {
  width: 100%;
}

form {
  text-align: start;
  color: rgb(54, 54, 54);
  height: 596.641px;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 10px 0px;
}

.middleman-link,
form {
  width: 73.3%;
  margin-left: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-box {
  line-height: 18.4px;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(54, 54, 54);
  padding: 10px 15px 10px 35px;
}

.middleman-link,
.input-box,
label,
button,
.right-part {
  font-size: 16px;
}

.input-box,
form {
  border-radius: 4px;
}

.input-box,
form,
.submit-button {
  background-color: rgb(255, 255, 255);
}

.submit-button {
  font-size: 16px;
  line-height: 18.4px;
  background-color: rgb(255, 113, 0);
  border: 1px solid rgb(255, 113, 0);
  margin: 10px 0px 0px;
  padding: 0px 20px;
  border-radius: 30px;
}

.submit-button,
.input-box {
  height: 50px;
}

.input-box {
  text-align: right !important;
}

.submit-button,
.input-container {
  width: 84.4% !important;
}

.input-box,
label {
  width: 100% !important;
}

.button-container button,
.submit-button,
button,
.register-link,
.middleman-link {
  cursor: pointer;
}

.social-network-img {
  width: 26px;
  height: 26px;
}

.register-link-container,
.register-link,
.welcome-text,
.middleman-link {
  text-align: center;
}

.middleman-link {
  padding: 1rem;
}

.welcome-text {
  line-height: 32.4px;
  font-size: 24px;
  padding: 3rem;
  margin-top: 1rem;
}

.logo-link {
  padding: 0 20px;
  padding-top: 24px;
  display: flex;
  justify-content: right !important;
  width: 100%;
}

.logo-link img {
  margin-right: 10% !important;
}

div,
form,
img,
label {
  border: solid 1px red !important;
}

label,
.input-container {
  background-color: aqua !important;
  /* align-items: flex-end !important; */
}

form div {
  width: 100%;
}
