<div class="edit-details">
  <div class="edit-details-container">
    <div class="title">עדכון פרטים</div>
    <div class="user-form">
      <div class="left-side">
        <div class="upload-user-img purple-circle">
          <div class="user-name">שם</div>
          <div class="circle">
            <img src="assets/images/edit-svgrepo-com.svg" alt="" />
          </div>
        </div>
      </div>
      <form class="right-side">
        <div style="font-size: 18px; font-weight: 500; padding: 0.2rem 0">
          פרטים אישיים
        </div>
        <div class="inputs">
          <div class="input-box">
            <label for="">שם פרטי*</label>
            <input [value]="this.$user?.name" type="text" />
          </div>
          <div class="input-box">
            <label for=""> שם משפחה*</label>
            <input [value]="this.$user?.lastName" type="text" />
          </div>
          <div class="input-box">
            <label for="">טלפון נייד*</label>
            <input
              #phoneNumberInput
              style="direction: ltr"
              maxlength="11"
              type="text"
              [(ngModel)]="phoneNumber"
              [value]="phoneNumber | phoneNumberFormat"
              (input)="phoneNumber = phoneNumberInput.value"
            />
          </div>

          <div class="input-box">
            <label for=""> מייל*</label>
            <input [value]="this.$user?.email" type="text" />
          </div>
        </div>
        <div id="birthday-input" class="input-box">
          <label for="birthday">תאריך לידה</label>
          <input
            id="birthday"
            class="date-input"
            type="date"
            placeholder="dd/mm/yyyy"
            [value]="this.formatDateString(this.$user?.birthDate?.toString())"
          />
        </div>
        <div class="birthday-card">
          <div>
            <div>אולי נצליח להפתיע אותך עם</div>
            <div>ברכה ביום ההולדת!</div>
          </div>
          <img
            style="width: 35px; height: 35px"
            src="assets/images/stars.JPG"
            alt=""
          />
        </div>
      </form>
    </div>
  </div>
  <div class="space-block"></div>
</div>
