<div class="edit-details">
  <div class="edit-details-container">
    <div class="title">עדכון פרטים</div>
    <div class="user-form">
      <div class="left-side">
        <div class="upload-user-img purple-circle">
          <div class="user-name">שם</div>
          <div class="circle">
            <img src="assets/images/edit-svgrepo-com.svg" alt="" />
          </div>
        </div>
      </div>
      <form
        [formGroup]="$updatedUser"
        (ngSubmit)="updateUserDetails()"
        class="right-side"
      >
        <div style="font-size: 18px; font-weight: 500; padding: 0.2rem 0">
          פרטים אישיים
        </div>
        <div class="inputs">
          <div class="input-box">
            <label for="name">שם פרטי*</label>
            <input
              formControlName="name"
              #nameInput
              [value]="this.$user?.name"
              (input)="$user ? ($user.name = nameInput.value) : null"
              type="text"
            />
          </div>
          <div class="input-box">
            <label for="lastName"> שם משפחה*</label>
            <input
              formControlName="lastName"
              #lastNameInput
              [value]="this.$user?.lastName"
              (input)="
                $user ? ($user.lastName = lastNameInput.value.toString()) : null
              "
              type="text"
            />
          </div>
          <div class="input-box">
            <label for="phoneNumber">טלפון נייד*</label>
            <input
              #phoneNumberInput
              formControlName="phoneNumber"
              style="direction: ltr"
              maxlength="11"
              type="text"
              [(ngModel)]="phoneNumber"
              [value]="phoneNumber | phoneNumberFormat"
              (input)="
                phoneNumber = phoneNumberInput.value;
                $user ? ($user.phoneNumber = phoneNumberInput.value) : null
              "
            />
          </div>

          <div class="input-box">
            <label for=""> מייל*</label>
            <input
              #emailInput
              formControlName="email"
              [value]="this.$user?.email"
              (input)="$user ? ($user.email = emailInput.value) : null"
              type="text"
            />
          </div>
        </div>
        <div id="birthday-input" class="input-box">
          <label for="birthday">תאריך לידה</label>
          <input
            #birthdayInput
            id="birthday"
            class="date-input"
            type="date"
            placeholder="dd/mm/yyyy"
            [value]="this.formatDateString(this.$user?.birthDate?.toString())"
            (input)="$user ? ($user.birthDate = birthdayInput.value) : null"
          />
        </div>
        <div class="birthday-card">
          <div>
            <div>אולי נצליח להפתיע אותך עם</div>
            <div>ברכה ביום ההולדת!</div>
          </div>
          <img
            style="width: 35px; height: 35px"
            src="assets/images/stars.JPG"
            alt=""
          />
        </div>

        <div class="address-part">
          <div class="address-label">
            <div class="label-address">כתובת</div>
            <div style="color: #999999">
              כדאי למלא את הכתובת, כדי שנוכל לחבר אותה אוטומטית בפעם הבאה
              שתפרסמו מודעה
            </div>
          </div>
          <div class="address-inputs">
            <div class="input-box">
              <label for="">ישוב / עיר*</label>
              <input
                #cityInput
                formControlName="city"
                [value]="this.$user?.city"
                (input)="$user ? ($user.city = cityInput.value) : null"
                type="text"
              />
            </div>
            <div class="house-number">
              <div class="input-box">
                <label for="">רחוב*</label>
                <input
                  formControlName="street"
                  #streetInput
                  class="md"
                  [value]="this.$user?.street"
                  (input)="$user ? ($user.street = streetInput.value) : null"
                  type="text"
                />
              </div>
              <div class="input-box">
                <label for="">מספר בית*</label>
                <input
                  formControlName="houseNumber"
                  #houseNumberInput
                  class="sm"
                  [value]="this.$user?.houseNumber"
                  type="text"
                  (input)="
                    $user ? ($user.houseNumber = +houseNumberInput.value) : null
                  "
                />
              </div>
            </div>
          </div>
        </div>
        <div class="btn-container">
          <button class="cancel-btn">ביטול</button>
          <button type="submit" class="save-btn">שמירה</button>
        </div>
      </form>
    </div>
  </div>
  <div class="space-block"></div>
</div>
