* {
  direction: rtl;
}

div,
button,
form {
  display: flex;
}

.user-form {
  display: grid;
}
.user-form {
  grid-template-columns: 1fr 3fr;
}

.purple-circle,
.circle {
  align-items: center;
  justify-content: center;
}

.left-side {
  justify-content: center;
}

.edit-details-container,
.right-side,
.input-box {
  flex-direction: column;
}

label,
.purple-circle div {
  font-weight: 500;
}

.edit-details {
  width: 100%;
  height: 100%;
}
.edit-details,
.edit-details-container {
  background-color: #f8f8f8;
}

.edit-details-container {
  height: 861px;
  width: 1172px;
}
.edit-details-container {
  margin: 2.25rem 5.5rem 2rem 0;
}

.user-form,
.circle {
  background-color: #ffffff;
}

.circle {
  position: absolute;
}

.purple-circle {
  position: relative;
}

.user-form {
  font-weight: 400;
  background-color: rgb(255, 255, 255);

  height: 777px;
  width: 1044px;
  border: 1px solid rgb(238, 238, 238);
  padding: 42px 0px;
  box-shadow: rgba(107, 107, 107, 0.086) 0px 2px 25px 0px;
  border-radius: 8px;
}

.title {
  font-size: 24px;
  line-height: 32px;
}
.title {
  margin-bottom: 28px;
}

.space-block {
  height: 165px;
}

input {
  font-size: 16px !important ;
}

.purple-circle,
.circle {
  border-radius: 50%;
}
.purple-circle {
  line-height: 21px;

  background-color: rgb(255, 255, 255);

  height: 118px;
  width: 118px;
  border: 2px solid rgb(139, 66, 208);
}

.circle {
  height: 48px;
  width: 48px;
}

.purple-circle div {
  color: rgb(139, 66, 208);
}

.purple-circle div {
  font-size: 28px;
}

.circle img {
  height: 26px;
  width: 26px;
}
.circle img {
  transform: scale(1.4);
}

.circle {
  transform: translateX(95%) translateY(70%) rotate(-0deg);
}

.circle {
  cursor: pointer;
}
.circle {
  border: 1px solid rgb(238, 238, 238);
}

.input-box input {
  line-height: 24px;
  height: 44px;
  width: 283px;
  padding: 8px 12px;
  border: solid 1px #cccccc;
  border-radius: 4px;
}

.right-side,
.input-box {
  gap: 0.25rem;
}

.input-box input:hover,
.input-box input:focus {
  border: 1px solid rgb(54, 54, 54);
}
.input-box input:hover,
.input-box input:focus {
  outline: none;
}
.input-box input {
  padding: 0 1.5rem;
}
