* {
  direction: rtl;
}

div {
  word-spacing: -0.12em !important;
}

div,
button,
form {
  display: flex;
}

.user-form {
  display: grid;
}
.user-form {
  grid-template-columns: 1fr 3fr;
}

.purple-circle,
.circle,
button,
.circle-img {
  align-items: center;
  justify-content: center;
}
.birthday-card,
.success-modal {
  align-items: center;
  justify-content: space-between;
}

.left-side {
  justify-content: center;
}

.edit-details-container,
.right-side,
.input-box,
.birthday-card div,
.address-part,
.address-label,
.upload-profile-image {
  flex-direction: column;
}

label,
.purple-circle div,
.label-address,
button {
  font-weight: 500;
}

.edit-details {
  width: 100%;
}
.edit-details,
.edit-details-container {
  background-color: #f8f8f8;
}

.edit-details-container {
  height: 861px;
  width: 1172px;
}
.edit-details-container {
  margin: 2.25rem 5.5rem 2rem 0;
}

.user-form,
.circle,
.cancel-btn,
#city-option,
.success-loader,
#street-option,
.upload-profile-image-text,
.upload-profile-image {
  background-color: #ffffff;
}

#street-option:hover,
#city-option:hover {
  background-color: #f8f8f8;
}

.btn-container {
  justify-content: end;
}
.btn-container {
  margin-top: 6rem;
  margin-left: 10.25rem;
}

.purple-circle,
.circle-img,
.upload-user-img {
  position: relative;
}

.user-form {
  font-weight: 400;
  background-color: rgb(255, 255, 255);

  height: 777px;
  width: 1044px;
  border: 1px solid rgb(238, 238, 238);
  padding: 42px 0px;
  box-shadow: rgba(107, 107, 107, 0.086) 0px 2px 25px 0px;
  border-radius: 8px;
}

.title {
  font-size: 24px;
  line-height: 32px;
}
.title {
  margin-bottom: 28px;
}

.space-block {
  height: 1123px;
  background-color: rosybrown !important;
}

input {
  font-size: 16px !important ;
}

.purple-circle,
.circle,
.circle-img {
  border-radius: 50%;
}
.purple-circle {
  line-height: 21px;

  background-color: rgb(255, 255, 255);

  border: 2px solid rgb(139, 66, 208);
}

.circle-img,
.purple-circle {
  height: 118px;
  width: 118px;
}

.circle {
  height: 48px;
  width: 48px;
}

.label-address,
button {
  font-size: 18px;
}

button {
  border: none;
}

.purple-circle div {
  color: rgb(139, 66, 208);
}

.purple-circle div {
  font-size: 28px;
}

.circle img {
  height: 26px;
  width: 26px;
}

.circle {
  transform: translateX(95%) translateY(70%) rotate(-0deg);
}

.circle,
button,
.success-modal img,
#city-option,
#street-option,
.upload-profile-image-text {
  cursor: pointer;
}
.circle {
  border: 1px solid rgb(238, 238, 238);
}

.input-box input:hover,
.input-box input:focus {
  border: 1px solid rgb(54, 54, 54) !important;
}
.input-box input:hover,
.input-box input:focus {
  outline: none;
}
.input-box input {
  padding: 0 1.5rem;
}

.inputs {
  column-gap: 3rem;
  row-gap: 1.5rem;
  flex-wrap: wrap;
}

#birthday-input {
  margin-top: 24px;
}

.birthday-card {
  font-weight: 400;
  background-color: rgb(248, 240, 255);
  color: rgb(139, 66, 208);
  height: 40px;

  padding: 0px 10px;
  border-radius: 6px;
  margin: 1.25rem 0 3.5rem;
}
.input-box input,
.birthday-card {
  width: 283px;
}

.birthday-card img {
  margin: 1rem 0;
}

.md {
  width: 200px !important;
}
.sm {
  width: 70px !important;
}

.address-inputs {
  gap: 3rem;
}
.address-inputs {
  position: relative;
}

.house-number {
  gap: 1rem;
}

.right-side,
.input-box,
.address-label {
  gap: 0.25rem;
}

.address-part {
  gap: 1.25rem;
}

.save-btn {
  line-height: 27px;
  text-align: center;
  background-color: rgb(255, 113, 0);

  color: rgb(255, 255, 255);
  height: 48px;
  width: 185px;
  border-radius: 30px;
}

.save-btn:hover {
  background-color: rgb(216, 96, 0);
}

.btn-container {
  gap: 5rem;
}

.error-message {
  color: #ff2a2b;
}

.success-modal img {
  width: 25px;
  height: 25px;
}

#city-option,
#street-option {
  line-height: 21px;

  height: 42px !important;
  width: 100% !important;
}

#city-option,
#street-option {
  align-items: center;
}
#city-option,
#street-option {
  padding: 5px 12px;
}

.select-options {
  background-color: rgb(255, 255, 255);
  max-height: 214px;
  overflow-y: auto !important;
  height: fit-content !important;
  width: 283px;
  margin: 8px 0px 0px;
  padding: 2px 0px;
  top: 68px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 12px 0px;
  border-radius: 4px;
}

.success-loader {
  height: 2px;
  width: 100%;
  transform: translateY(18px) translateX(17px);
}

.success-modal {
  left: 24px;
  bottom: 50px;
  background-color: #363636;
  padding: 12px;
  border-radius: 4px;
  z-index: 1000;
  color: #ffffff;
  height: 43px;
  width: 304px;
  font-size: 16px;
}

.circle,
.success-modal,
.success-loader,
.select-options,
.upload-profile-image,
.user-name,
#profile-img {
  position: absolute;
}

.upload-profile-image-text {
  color: #363636 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  width: 100px !important;
}

#street-option-dropdown {
  width: 200px !important;
  overflow-x: hidden !important;
}

.invalid-input {
  cursor: not-allowed;
  background-color: #f8f8f8;
  color: #b2b2b2;
  font-size: 16px;
}

.input-box input,
.invalid-input {
  line-height: 24px;
  height: 44px;
  padding: 0.5rem 1.5rem;
  border: solid 1px #cccccc;
  border-radius: 4px;
}

.upload-profile-image-text:hover {
  background-color: rgb(249, 249, 249);
}
.upload-profile-image-text {
  height: 31px;
  width: 100%;
}

.upload-profile-image {
  padding-top: 2rem;
}
.upload-profile-image {
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.upload-profile-image {
  padding: 12px 0;
  max-height: 82px;
  align-items: center;
  gap: 2px;
}

.one-option-potion {
  transform: translateY(182%) translateX(15%);
}
.two-option-potion {
  transform: translateY(127%) translateX(19%);
}
.upload-profile-image-text {
  width: 148px !important;
  padding: 5px 15px !important;
}

#profile-img {
  object-fit: cover !important;
  border: transparent !important;
}

#edit-image-exist {
  padding: 0.15rem;
}
