<div class="edit-details">
  <div class="edit-details-container">
    <div class="title">עדכון פרטים</div>
    <div class="user-form">
      <div class="left-side">
        <div class="upload-user-img purple-circle">
          <div class="user-name">שם</div>
          <div class="circle">
            <img src="assets/images/edit-svgrepo-com.svg" alt="" />
          </div>
        </div>
      </div>
      <form
        [formGroup]="$updatedUser"
        (ngSubmit)="updateUserDetails()"
        class="right-side"
      >
        <div style="font-size: 18px; font-weight: 500; padding: 0.2rem 0">
          פרטים אישיים
        </div>
        <div class="inputs">
          <div class="input-box">
            <label for="name">שם פרטי*</label>
            <input
              formControlName="name"
              #nameInput
              [value]="this.$user?.name"
              (input)="$user ? ($user.name = nameInput.value) : null"
              type="text"
              [ngStyle]="{
                borderColor: $updatedUser.get('name')?.invalid
                  ? '#ff2a2b'
                  : '#cccccc'
              }"
              type="text"
            />
            <div
              *ngIf="$updatedUser.get('name')?.invalid"
              class="error-message"
            >
              שם פרטי הוא שדה חובה
            </div>
          </div>
          <div class="input-box">
            <label for="lastName"> שם משפחה*</label>
            <input
              formControlName="lastName"
              #lastNameInput
              [value]="this.$user?.lastName"
              (input)="
                $user ? ($user.lastName = lastNameInput.value.toString()) : null
              "
              type="text"
              [ngStyle]="{
                borderColor: $updatedUser.get('lastName')?.invalid
                  ? '#ff2a2b'
                  : '#cccccc'
              }"
              type="text"
            />
            <div
              *ngIf="$updatedUser.get('lastName')?.invalid"
              class="error-message"
            >
              שם משפחה הוא שדה חובה
            </div>
          </div>
          <div class="input-box">
            <label for="phoneNumber">טלפון נייד*</label>
            <input
              #phoneNumberInput
              formControlName="phoneNumber"
              style="direction: ltr"
              maxlength="11"
              type="text"
              [(ngModel)]="phoneNumber"
              [value]="phoneNumber | phoneNumberFormat"
              (input)="
                phoneNumber = phoneNumberInput.value;
                $user ? ($user.phoneNumber = phoneNumberInput.value) : null
              "
              [ngStyle]="{
                borderColor: $updatedUser.get('phoneNumber')?.invalid
                  ? '#ff2a2b'
                  : '#cccccc'
              }"
              type="text"
            />
            <div
              *ngIf="$updatedUser.get('phoneNumber')?.invalid"
              class="error-message"
            >
              אנא הכנס מספר טלפון נייד תקין
            </div>
          </div>

          <div class="input-box">
            <label for=""> מייל*</label>
            <input
              #emailInput
              formControlName="email"
              [value]="this.$user?.email"
              (input)="$user ? ($user.email = emailInput.value) : null"
              type="text"
              [ngStyle]="{
                borderColor: $updatedUser.get('email')?.invalid
                  ? '#ff2a2b'
                  : '#cccccc'
              }"
              type="text"
            />
            <div
              *ngIf="$updatedUser.get('email')?.invalid"
              class="error-message"
            >
              @if($updatedUser.get('email')?.value === ''){ כתובת מייל הוא שדה
              חובה} @else{אנא הכנס כתובת מייל תקינה }
            </div>
          </div>
        </div>
        <div id="birthday-input" class="input-box">
          <label for="birthday">תאריך לידה</label>
          <input
            #birthdayInput
            id="birthday"
            class="date-input"
            type="date"
            placeholder="dd/mm/yyyy"
            [value]="this.formatDateString(this.$user?.birthDate?.toString())"
            (input)="$user ? ($user.birthDate = birthdayInput.value) : null"
          />
        </div>
        <div class="birthday-card">
          <div>
            <div>אולי נצליח להפתיע אותך עם</div>
            <div>ברכה ביום ההולדת!</div>
          </div>
          <img
            style="width: 35px; height: 35px"
            src="assets/images/stars.JPG"
            alt=""
          />
        </div>

        <div class="address-part">
          <div class="address-label">
            <div class="label-address">כתובת</div>
            <div style="color: #999999">
              כדאי למלא את הכתובת, כדי שנוכל לחבר אותה אוטומטית בפעם הבאה
              שתפרסמו מודעה
            </div>
          </div>
          <div class="address-inputs">
            <div class="input-box">
              <label for="">ישוב / עיר*</label>

              <input
                #cityInput
                id="CityInput"
                formControlName="city"
                [ngModel]="chosenCity"
                placeholder="הזינו טקסט"
                autocomplete="off"
                (input)="
                  this.serchCity(cityInput.value);
                  this.chosenCity = cityInput.value
                "
                (keyup)="
                  this.resetUserAddress(this.checkIfValidCity(chosenCity))
                "
                (focus)="this.isCityDropdownHidden = true"
                type="text"
                [ngStyle]="{
                  borderColor: !this.checkIfValidCity(chosenCity)
                    ? '#ff2a2b'
                    : '#cccccc'
                }"
                type="text"
              />

              <div
                *ngIf="!this.checkIfValidCity(chosenCity)"
                class="error-message"
              >
                ישוב/עיר הוא שדה חובה
              </div>
              @if(this.isCityDropdownHidden && cityInput.value.length > 0){
              <span class="select-options">
                <div
                  id="city-option"
                  #cityOption
                  (click)="
                    this.isCityDropdownHidden = false;
                    cityInput.value = item.city_name_he;
                    this.chosenCity = item.city_name_he;
                    this.cityWasEdited = false
                  "
                  *ngFor="let item of this.$cityOptions"
                >
                  {{ item.city_name_he }}
                </div>
              </span>
              }
            </div>
            <div class="house-number">
              <div class="input-box">
                <label for="">רחוב*</label>
                @if(this.checkIfValidCity(chosenCity)){
                <input
                  id="street"
                  formControlName="street"
                  #streetInput
                  autocomplete="off"
                  placeholder="הזינו טקסט"
                  [ngModel]="chosenStreet"
                  (focus)="this.isStreetDropdownHidden = true"
                  class="md"
                  [value]="this.$user?.street"
                  (input)="
                    this.serchStreet(streetInput.value);
                    this.chosenStreet = streetInput.value
                  "
                  type="text"
                />
                <div *ngIf="this.InvalidStreet" class="error-message">
                  רחוב הוא שדה חובה
                </div>
                } @else {
                <div class="md invalid-input">הזינו טקסט</div>
                } @if(this.isStreetDropdownHidden && chosenStreet.length > 0){
                <span id="street-option-dropdown" class="select-options">
                  <div
                    id="street-option"
                    #streetOption
                    (click)="
                      this.isStreetDropdownHidden = false;
                      this.chosenStreet = item.Street_Name;
                      this.chosenStreet = item.Street_Name
                    "
                    *ngFor="let item of this.$streetsOptions"
                  >
                    {{ item.Street_Name }}
                  </div>
                </span>
                }
              </div>

              <div class="input-box">
                <label for="">מספר בית*</label>
                @if(this.checkIfValidStreet(chosenStreet)){

                <input
                  formControlName="houseNumber"
                  #houseNumberInput
                  placeholder="הזינו טקסט"
                  class="sm"
                  [ngModel]="chosenHouseNumber"
                  type="text"
                  (input)="
                    this.InvalidHouseNumber =
                      +houseNumberInput.value > 0 ? false : true;
                    this.chosenHouseNumber = houseNumberInput.value
                  "
                  [ngStyle]="{
                    borderColor: this.InvalidHouseNumber ? '#ff2a2b' : '#cccccc'
                  }"
                  type="text"
                />
                <div
                  style="width: 70px; flex-wrap: wrap"
                  *ngIf="InvalidHouseNumber"
                  class="error-message"
                >
                  מספר בית הוא שדה חובה
                </div>
                } @else{
                <div class="sm invalid-input">הזינ</div>
                }
              </div>
            </div>
          </div>
        </div>
        <div
          class="success-modal"
          *ngIf="successMessageVisible"
          [@modalEnterExit]="modalState"
        >
          <span> הפרופיל עודכן בהצלחה </span>
          <img
            (click)="this.successMessageVisible = false"
            src="assets/images/close-sm-svgrepo-com-white.svg"
            alt=""
          />
          <div #successLoader class="success-loader"></div>
        </div>
        <div class="btn-container">
          <button class="cancel-btn">ביטול</button>
          <button
            (click)="unloadSuccessLoader()"
            type="submit"
            class="save-btn"
          >
            שמירה
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="space-block"></div>
</div>
