* {
  direction: rtl;
}

div,
button,
form {
  display: flex;
}

.user-form {
  display: grid;
}
.user-form {
  grid-template-columns: 1fr 3fr;
}

.purple-circle,
.circle,
button {
  align-items: center;
  justify-content: center;
}
.birthday-card,
.success-modal {
  align-items: center;
  justify-content: space-between;
}

.left-side {
  justify-content: center;
}

.edit-details-container,
.right-side,
.input-box,
.birthday-card div,
.address-part,
.address-label {
  flex-direction: column;
}

label,
.purple-circle div,
.label-address,
button {
  font-weight: 500;
}

.edit-details {
  width: 100%;
}
.edit-details,
.edit-details-container {
  background-color: #f8f8f8;
}

.edit-details-container {
  height: 861px;
  width: 1172px;
}
.edit-details-container {
  margin: 2.25rem 5.5rem 2rem 0;
}

.user-form,
.circle,
.cancel-btn {
  background-color: #ffffff;
}

.circle {
  position: absolute;
}

.btn-container {
  justify-content: end;
}
.btn-container {
  margin-top: 6rem;
  margin-left: 10.25rem;
}

.purple-circle {
  position: relative;
}

.user-form {
  font-weight: 400;
  background-color: rgb(255, 255, 255);

  height: 777px;
  width: 1044px;
  border: 1px solid rgb(238, 238, 238);
  padding: 42px 0px;
  box-shadow: rgba(107, 107, 107, 0.086) 0px 2px 25px 0px;
  border-radius: 8px;
}

.title {
  font-size: 24px;
  line-height: 32px;
}
.title {
  margin-bottom: 28px;
}

.space-block {
  height: 1123px;
  background-color: rosybrown !important;
}

input {
  font-size: 16px !important ;
}

.purple-circle,
.circle {
  border-radius: 50%;
}
.purple-circle {
  line-height: 21px;

  background-color: rgb(255, 255, 255);

  height: 118px;
  width: 118px;
  border: 2px solid rgb(139, 66, 208);
}

.circle {
  height: 48px;
  width: 48px;
}

.label-address,
button {
  font-size: 18px;
}

button {
  border: none;
}

.purple-circle div {
  color: rgb(139, 66, 208);
}

.purple-circle div {
  font-size: 28px;
}

.circle img {
  height: 26px;
  width: 26px;
}
.circle img {
  transform: scale(1.4);
}

.circle {
  transform: translateX(95%) translateY(70%) rotate(-0deg);
}

.circle,
button,
.success-modal img {
  cursor: pointer;
}
.circle {
  border: 1px solid rgb(238, 238, 238);
}

.input-box input:hover,
.input-box input:focus {
  border: 1px solid rgb(54, 54, 54) !important;
}
.input-box input:hover,
.input-box input:focus {
  outline: none;
}
.input-box input {
  padding: 0 1.5rem;
}

.inputs {
  column-gap: 3rem;
  row-gap: 1.5rem;
  flex-wrap: wrap;
}

#birthday-input {
  margin-top: 24px;
}

.birthday-card {
  font-weight: 400;
  background-color: rgb(248, 240, 255);
  color: rgb(139, 66, 208);
  height: 40px;

  padding: 0px 10px;
  border-radius: 6px;
  margin: 1.25rem 0 3.5rem;
}
.input-box input,
.birthday-card {
  width: 283px;
}

.input-box input {
  line-height: 24px;
  height: 44px;
  padding: 0.5rem 1.5rem;
  border: solid 1px #cccccc;
  border-radius: 4px;
}

.birthday-card img {
  margin: 1rem 0;
}

.md {
  width: 200px !important;
}
.sm {
  width: 70px !important;
}

.address-inputs {
  gap: 3rem;
}

.house-number {
  gap: 1rem;
}

.right-side,
.input-box,
.address-label {
  gap: 0.25rem;
}

.address-part {
  gap: 1.25rem;
}

.save-btn {
  line-height: 27px;
  text-align: center;
  background-color: rgb(255, 113, 0);

  color: rgb(255, 255, 255);
  height: 48px;
  width: 185px;
  border-radius: 30px;
}

.save-btn:hover {
  background-color: rgb(216, 96, 0);
}

.btn-container {
  gap: 5rem;
}

.error-message {
  color: #ff2a2b;
}

.success-modal {
  position: absolute;
  left: 24px;
  bottom: 50px;
  background-color: #363636;
  padding: 12px;
  border-radius: 4px;
  z-index: 1000;
  color: #ffffff;
  height: 43px;
  width: 304px;
  font-size: 16px;
}

.success-loader {
  height: 2px;
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  transform: translateY(18px) translateX(17px);
}

.success-modal img {
  width: 25px;
  height: 25px;
}
