* {
  direction: rtl;
}

.edit-details {
  width: 100%;
  height: 100%;
}
.edit-details,
.edit-details-container {
  background-color: #f8f8f8;
}

.edit-details-container {
  height: 861px;
  width: 1172px;
}
.edit-details-container {
  margin: 2.25rem 5.5rem 2rem 0;
}

.user-form {
  background-color: #ffffff;
}

.user-form {
  font-weight: 400;
  background-color: rgb(255, 255, 255);

  height: 777px;
  width: 1044px;
  border: 1px solid rgb(238, 238, 238);
  padding: 42px 0px;
  box-shadow: rgba(107, 107, 107, 0.086) 0px 2px 25px 0px;
  border-radius: 8px;
}

.title {
  font-size: 24px;
  line-height: 32px;
}
.title {
  margin-bottom: 28px;
}

.space-block {
  height: 165px;
}
