@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@font-face {
  font-family: Rubik;
  src: url(./assets//fonts/rubik/Rubik-Regular.ttf);
}
@font-face {
  font-family: Rubik;
  font-weight: bold;
  src: url(./assets//fonts/rubik/Rubik-Bold.ttf);
}
@font-face {
  font-family: Rubik;
  font-weight: 100;
  src: url(./assets//fonts/rubik/Rubik-Light.ttf);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  color: #363636;
  font-family: Rubik !important;
}

button[mat-menu-item] {
  color: #4a4a4a;
}
button.light {
  font-family: Rubik !important;
  font-weight: 100 !important;
}

* {
  box-sizing: border-box;
}
