@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  color: #363636;
}

button[mat-menu-item] {
  color: #4a4a4a;
}
button.light {
  font-weight: 100 !important;
}

* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
