.rooms-select {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 18px;

  width: calc(100vw - 3rem) !important;

  direction: ltr;
  z-index: 100 !important;
}

.rooms-select button,
.room-btn {
  cursor: pointer;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 50%;
  height: 42px;
  width: 42px;
}

.selected {
  border: 1px solid #ff7100;
}

.mobileContainerSelected {
  background-color: rgb(255, 250, 245);
  border: 1px solid #ff7137;
  display: flex;
  padding: 2px 6px;
  direction: rtl;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  display: none !important;
}

.mobileButtonCss {
  cursor: pointer;
  border: 1px solid #cccccc;
  border-radius: 50%;
  height: 42px;
  width: 42px;
  background: none;
}

.mobile {
  display: none;
}

@media (max-width: 883px) {
  .desktop {
    display: none;
  }

  .rooms-select {
    margin-bottom: 2rem !important;
  }

  .mobile {
    display: block;
  }
}
@media (max-width: 586px) {
  .rooms-select {
    width: calc(100vw - 2rem) !important;
    margin: auto;
    gap: 4px !important;
  }

  .rooms-select {
    padding: 1rem 0 1rem 1rem !important;
  }

  .mobileButtonCss {
    height: 36px;
    width: 36px;
  }
}
