.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

.filter-options {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 45px;
  height: 80vh;
  z-index: 99999 !important;
  border-radius: 12px;
  width: 520px;
  background-color: rgb(255, 255, 255) !important;
}

header {
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-gap: 20px;
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 20.7px;
  opacity: 0.85;
}

header button {
  background-color: rgb(255, 255, 255) !important;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16.1px;
  cursor: pointer;
  border: transparent;
}
.title {
  font-weight: 700 !important;
  font-size: 16px !important;
  opacity: 0.85 !important;
}
.filter-options label {
  display: block;
  margin: 5px 0;
}
.filter-options input[type="number"] {
  width: 60px;
}
.filter-options input[type="text"] {
  width: 100%;
}
.filter-options button {
  margin: 10px 5px;
}

.border {
  border-top: 0px none rgb(54, 54, 54);
  border-right: 0px none rgb(54, 54, 54);
  border-bottom: 1px solid rgb(220, 220, 220);
  border-left: 0px none rgb(54, 54, 54);
  margin-bottom: 2px !important;
}

.body {
  overflow-y: auto;
  flex: 1;
  direction: rtl;
  width: 99% !important;
  margin-right: auto;
}

.body::-webkit-scrollbar {
  width: 6px;
}

.body::-webkit-scrollbar-track {
  background: transparent;
}

.body::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
  background-color: rgb(204, 204, 204) !important;
}

.body::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.add-block {
  height: 106.281px;
  width: 460px;
  border-bottom: 1px solid rgb(238, 238, 238) !important;
  padding: 0px 0px 25px;
  margin: auto;
  margin-top: 1rem;
}

.add-checkboxs {
  width: 460px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 5px !important;
}

input[type="checkbox"] {
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.add-checkboxs label {
  display: flex;
  align-items: center;
  padding: 1;
}

footer {
  padding: 14px 32px;
  height: 69.3906px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: 1px solid rgb(220, 220, 220) !important;
}

footer button {
  font-size: 16px;
  cursor: pointer;
  background-color: transparent !important;
}

.reset-btn {
  font-weight: 400;
  line-height: 18.4px;
  text-decoration: underline solid rgb(54, 54, 54);
  color: rgb(54, 54, 54);
  height: 40.3906px;
  border: transparent !important;
}

.ok-btn {
  margin: 0px 339.016px 0px 0px;
  padding: 10px 20px;
  border: 1px solid rgb(255, 113, 0);
  height: 40.3906px;
  width: 80.6875px;
  text-align: center;
  border-radius: 47px;
  font-weight: 550 !important;
  color: rgb(255, 113, 0);
}

.feature {
  padding: 7.14px 14px;
  border: 1px solid rgb(211, 211, 211);
  background-color: rgb(255, 255, 255);
  border-radius: 3.92px;
  text-align: right;
  font-weight: 400;
  width: 145px;
}

.features {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  right: 0 !important;
  padding: 1rem;
  transform: translateX(20px);
}

.add-features {
  width: 460px !important;
  margin: auto;
  border-bottom: 1px solid rgb(220, 220, 220) !important;
  cursor: pointer;
  padding-top: 2rem;
}

.add-condition {
  height: fit-content !important;
}

.range-slider {
  font-weight: 400;
  padding: 25px 0px;
  padding: 25px 0px;
  height: 171.391px;
  width: 460px;
}

.free-search {
  font-weight: 400;
  font-size: 16px;
  text-align: start;
  height: 95.3906px;
  width: 460px;
  padding: 25px 0px 0px;
}

.text-serch input[type="text"] {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.4px;
  color: rgb(54, 54, 54);
  background-color: rgb(255, 255, 255);
  height: 44px !important;
  width: 436px;
  padding: 0px 11px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 4px;
}
