.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

#x-icon {
  width: 24px;
  height: 24px;
}

.filter-options {
  display: flex;
  flex-direction: column;

  z-index: 99999 !important;
  border-radius: 12px;
  background-color: rgb(255, 255, 255) !important;
}

.filter-options {
  position: absolute;
  height: 88vh;
  top: 0px !important;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 520px;
}

.body {
  flex: 1;
  direction: rtl;
  overflow-y: auto;
  margin-right: auto;
  height: 535px;
  padding-right: 25px;
}

.flex-center,
header div {
  display: flex;
  justify-content: center;
  align-items: center;
}

header,
.body {
  width: 100%;
}
header {
  height: 49.6875px;
}
header {
  position: relative;
}
.close-btn {
  position: absolute;
}
.close-btn {
  top: 10px;
  left: 10px;
}

.font500 {
  font-weight: 500;
}

.font18 {
  font-size: 18px;
}

.font16,
.date-input,
.date-select,
.text-serch input[type="text"],
.free-search,
footer button {
  font-size: 16px;
}

.date-input {
  font-weight: 400;
  color: rgb(54, 54, 54);
  height: 42px;
  width: 201px;
}

.date-select {
  line-height: 18.4px;
  color: rgb(54, 54, 54);
  height: 140.391px;
  width: 460px;
  border-bottom: 1px solid rgb(238, 238, 238);
  border-top: 1px solid rgb(238, 238, 238);
}
.text-serch input[type="text"] {
  margin-top: 8px;
  line-height: 18.4px;
  color: rgb(54, 54, 54);
  background-color: rgb(255, 255, 255);
  height: 44px !important;
  width: 436px;
  padding: 0px 11px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 4px;
}
.free-search {
  font-weight: 400;
  text-align: start;
  height: 95.3906px;
  width: 460px;
  padding: 25px 0px 0px;
}
footer button,
.pointer {
  cursor: pointer;
}
footer button {
  background-color: transparent !important;
}

.header-title {
  margin: auto;
}

.filter-options label {
  display: block;
  margin: 5px 0;
}
.filter-options input[type="number"] {
  width: 60px;
}
.filter-options input[type="text"] {
  width: 100%;
}
.filter-options button {
  margin: 10px 5px;
}

.border {
  border-bottom: 1px solid rgb(220, 220, 220);
  margin-bottom: 2px solid rgb(220, 220, 220) !important;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.body::-webkit-scrollbar {
  width: 6px;
}

.body::-webkit-scrollbar-track {
  background: transparent;
}

.body::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
  background-color: rgb(204, 204, 204) !important;
}

.body::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.add-block {
  height: 106.281px;
  width: 460px;
  border-bottom: 1px solid rgb(238, 238, 238) !important;
  padding: 0px 0px 25px;
  /* margin: auto; */
  margin-top: 1rem;
}

.add-checkboxs {
  width: 460px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 5px !important;
}

input[type="checkbox"] {
  height: 16px;
  width: 16px;
}
input[type="checkbox"]:hover {
  border: 1px solid #ff7100 !important;
  cursor: pointer;
}

.add-checkboxs label {
  display: flex;
  align-items: center;
  padding: 1;
}

footer {
  padding: 14px 32px;
  height: 69.3906px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: 1px solid rgb(220, 220, 220) !important;
}

.reset-btn {
  font-weight: 400;
  line-height: 18.4px;
  text-decoration: underline solid rgb(54, 54, 54);
  color: rgb(54, 54, 54);
  height: 40.3906px;
  border: transparent !important;
}

.ok-btn {
  margin: 0px 339.016px 0px 0px;
  padding: 10px 20px;
  border: 1px solid rgb(255, 113, 0);
  height: 40.3906px;
  width: 80.6875px;
  text-align: center;
  border-radius: 47px;
  font-weight: 550 !important;
  color: rgb(255, 113, 0);
}

.feature {
  padding: 7.14px 14px;
  border: 1px solid rgb(211, 211, 211);
  background-color: rgb(255, 255, 255);
  border-radius: 3.92px;
  text-align: right;
  font-weight: 400;
  width: 145px;
}

.features {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  right: 0 !important;
  padding: 1rem;
  transform: translateX(20px);
}

.add-features {
  width: 460px !important;
  /* margin: auto; */
  border-bottom: 1px solid rgb(220, 220, 220) !important;
  cursor: pointer;
  padding-top: 2rem;
}

.add-condition {
  height: fit-content !important;
}

.t2 {
  margin-block: 16px;
}

.selected {
  border: 1px solid orange;
}

.range-slider {
  font-weight: 400;
  padding: 25px 0px;
  padding: 25px 0px;
  height: 171.391px;
  width: 460px;
}

.date {
  gap: 10px;
  padding: 10px 0px;
  display: flex;
  justify-content: start;
}

.date-container {
  padding-top: 2rem !important;
}

.add-checkboxs input[type="checkbox"],
.add-block input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid lightgray;
  border-radius: 2px;
  position: relative;
  cursor: pointer;
}

.add-checkboxs input[type="checkbox"]:checked,
.add-block input[type="checkbox"]:checked {
  background-color: #d86000;
}

.add-checkboxs input[type="checkbox"]:checked::after,
.add-block input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 4px;
  width: 4px;
  height: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.asset-stete-checkBox input[type="checkbox"] {
  transform: translateY(7px);
}

.date-checkbox {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
