<div class="overlay">
  <div class="filter-options">
    <header>
      <button>X</button>
      <div>סינונים נוספים</div>
    </header>
    <div class="border"></div>
    <div class="body">
      <div class="add-block">
        <span class="title">מאפייני מודעה</span>
        <div class="add-checkboxs">
          <label>
            <input type="checkbox" [(ngModel)]="filters.withImage" />
            עם תמונה
          </label>
          <label>
            <input type="checkbox" [(ngModel)]="filters.onlyCommunities" />
            רק מושבים וקיבוצים
          </label>
          <label>
            <input type="checkbox" [(ngModel)]="filters.withPrice" />
            עם מחיר
          </label>
          <label>
            <input type="checkbox" [(ngModel)]="filters.priceDropped" />
            נכסים שמחירם ירד חדש
          </label>
        </div>
      </div>
      <div class="add-block">
        <span class="title"> מי המפרסם</span>

        <div class="add-checkboxs">
          <label>
            <input
              type="checkbox"
              [(ngModel)]="filters.publisher"
              value="broker"
            />
            תיווך
          </label>
          <label>
            <input
              type="checkbox"
              [(ngModel)]="filters.publisher"
              value="developer"
            />
            יזם/קבלן
          </label>
        </div>
      </div>
      <div>
        <div class="title">מאפייני הנכס</div>
        <label
          ><input type="checkbox" [(ngModel)]="filters.parking" /> חניה</label
        >
        <label
          ><input type="checkbox" [(ngModel)]="filters.elevator" /> מעלית</label
        >
        <label
          ><input type="checkbox" [(ngModel)]="filters.mamad" /> ממ״ד</label
        >
        <label
          ><input type="checkbox" [(ngModel)]="filters.balcony" /> מרפסת</label
        >
        <label
          ><input type="checkbox" [(ngModel)]="filters.airConditioning" />
          מיזוג</label
        >
        <label
          ><input type="checkbox" [(ngModel)]="filters.storage" /> מחסן</label
        >
        <label
          ><input type="checkbox" [(ngModel)]="filters.renovated" />
          משופצת</label
        >
        <label
          ><input type="checkbox" [(ngModel)]="filters.accessible" /> גישה
          לנכים</label
        >
        <label
          ><input type="checkbox" [(ngModel)]="filters.bars" /> סורגים</label
        >
        <label
          ><input type="checkbox" [(ngModel)]="filters.furnished" />
          מרוהטת</label
        >
        <label
          ><input type="checkbox" [(ngModel)]="filters.exclusive" />
          בבלעדיות</label
        >
      </div>
      <div>
        <h3>מצב הנכס</h3>
        <div>
          <label
            ><input type="checkbox" [(ngModel)]="filters.newFromContractor" />
            חדש מקבלן (לא גרו בכלל)</label
          >
          <label
            ><input type="checkbox" [(ngModel)]="filters.new" /> חדש (נכס בן עד
            10 שנים)</label
          >
          <label
            ><input type="checkbox" [(ngModel)]="filters.renovated5Years" />
            משופץ (שופץ ב-5 שנים האחרונות)</label
          >
          <label
            ><input type="checkbox" [(ngModel)]="filters.wellMaintained" /> במצב
            שמור (במצב טוב, לא שופץ)</label
          >
          <label
            ><input type="checkbox" [(ngModel)]="filters.needsRenovation" />
            דרוש שיפוץ (זקוק לעבודת שיפוץ)</label
          >
        </div>

        <!-- Floor -->
        <h3>קומה</h3>
        <div>
          <label
            ><input type="checkbox" [(ngModel)]="filters.basement" />
            מרתף</label
          >
          <label>
            <input
              type="number"
              [(ngModel)]="filters.floorMin"
              placeholder="Min"
            />
            -
            <input
              type="number"
              [(ngModel)]="filters.floorMax"
              placeholder="Max"
            />
          </label>
        </div>

        <!-- Apartment Size -->
        <h3>גודל דירה (במ״ר)</h3>
        <div>
          <input type="number" [(ngModel)]="filters.sizeMin" placeholder="0" />
          +
          <input
            type="number"
            [(ngModel)]="filters.sizeMax"
            placeholder="500"
          />
        </div>

        <!-- Entry Date -->
        <h3>תאריך כניסה</h3>
        <div>
          <input
            type="date"
            [(ngModel)]="filters.entryDate"
            placeholder="dd/mm/yyyy"
          />
          <label
            ><input type="checkbox" [(ngModel)]="filters.immediateEntry" />
            כניסה מיידית</label
          >
        </div>

        <!-- Free Search -->
        <h3>חיפוש חופשי</h3>
        <div>
          <input
            type="text"
            [(ngModel)]="filters.freeSearch"
            placeholder="חיפוש חופשי"
          />
        </div>
      </div>

      <div class="border"></div>
    </div>
    <footer>
      <button (click)="resetFilters()">איפוס</button>
      <button (click)="applyFilters()">אישור</button>
    </footer>
  </div>
</div>
