<div class="overlay">
  <div class="filter-options">
    <header>
      <button>X</button>
      <div>סינונים נוספים</div>
    </header>
    <div class="border"></div>
    <div class="body">
      <div class="add-block">
        <span class="title">מאפייני מודעה</span>
        <div class="add-checkboxs">
          <label>
            <input type="checkbox" [(ngModel)]="filters.withImage" />
            עם תמונה
          </label>
          <label>
            <input type="checkbox" [(ngModel)]="filters.onlyCommunities" />
            רק מושבים וקיבוצים
          </label>
          <label>
            <input type="checkbox" [(ngModel)]="filters.withPrice" />
            עם מחיר
          </label>
          <label>
            <input type="checkbox" [(ngModel)]="filters.priceDropped" />
            נכסים שמחירם ירד חדש
          </label>
        </div>
      </div>
      <div class="add-block">
        <span class="title"> מי המפרסם</span>

        <div class="add-checkboxs">
          <label>
            <input
              type="checkbox"
              [(ngModel)]="filters.publisher"
              value="broker"
            />
            תיווך
          </label>
          <label>
            <input
              type="checkbox"
              [(ngModel)]="filters.publisher"
              value="developer"
            />
            יזם/קבלן
          </label>
        </div>
      </div>
      <div class="add-features">
        <div class="title">מאפייני הנכס</div>
        <div class="features">
          <span class="feature" *ngFor="let item of filters_.propertyFeatures">
            {{ item }}
          </span>
        </div>
      </div>
      <div class="add-block add-condition">
        <div class="title">מצב הנכס</div>
        <div>
          <label
            ><input type="checkbox" [(ngModel)]="filters.newFromContractor" />
            חדש מקבלן (לא גרו בכלל)</label
          >
          <label
            ><input type="checkbox" [(ngModel)]="filters.new" /> חדש (נכס בן עד
            10 שנים)</label
          >
          <label
            ><input type="checkbox" [(ngModel)]="filters.renovated5Years" />
            משופץ (שופץ ב-5 שנים האחרונות)</label
          >
          <label
            ><input type="checkbox" [(ngModel)]="filters.wellMaintained" /> במצב
            שמור (במצב טוב, לא שופץ)</label
          >
          <label
            ><input type="checkbox" [(ngModel)]="filters.needsRenovation" />
            דרוש שיפוץ (זקוק לעבודת שיפוץ)</label
          >
        </div>
        <div class="range-slider">
          <div class="title">קומה</div>
          <div>
            <label
              ><input type="checkbox" [(ngModel)]="filters.basement" />
              מרתף</label
            >
            <label>
              <input
                type="number"
                [(ngModel)]="filters.floorMin"
                placeholder="Min"
              />
              -
              <input
                type="number"
                [(ngModel)]="filters.floorMax"
                placeholder="Max"
              />
            </label>
          </div>
        </div>
        <div class="range-slider">
          <div class="title">גודל דירה (במ״ר)</div>
          <div>
            <input
              type="number"
              [(ngModel)]="filters.sizeMin"
              placeholder="0"
            />
            +
            <input
              type="number"
              [(ngModel)]="filters.sizeMax"
              placeholder="500"
            />
          </div>
        </div>

        <!-- Entry Date -->
        <div class="title">תאריך כניסה</div>
        <div>
          <input
            type="date"
            [(ngModel)]="filters.entryDate"
            placeholder="dd/mm/yyyy"
          />
          <label
            ><input type="checkbox" [(ngModel)]="filters.immediateEntry" />
            כניסה מיידית</label
          >
        </div>

        <div class="free-search"></div>
        <div class="title">חיפוש חופשי</div>
        <div class="text-serch">
          <input
            type="text"
            [(ngModel)]="filters.freeSearch"
            placeholder="חיפוש חופשי"
          />
        </div>
      </div>

      <div class="border"></div>
    </div>
    <footer>
      <button class="ok-btn" (click)="applyFilters()">אישור</button>
      <button class="reset-btn" (click)="resetFilters()">איפוס</button>
    </footer>
  </div>
</div>
