<div class="overlay">
  <div class="filter-options">
    <header>
      <button>X</button>
      <div>סינונים נוספים</div>
    </header>
    <div class="border"></div>
    <div class="body">
      <div class="add-block">
        <span class="title">מאפייני מודעה</span>
        <div class="add-checkboxs">
          <label>
            <input type="checkbox" [(ngModel)]="filters.hasImage" />
            עם תמונה
          </label>
          <label>
            <input type="checkbox" [(ngModel)]="filters.moshavOrKibutz" />
            רק מושבים וקיבוצים
          </label>
          <label>
            <input type="checkbox" [(ngModel)]="filters.hasPrice" />
            עם מחיר
          </label>
          <label>
            <input type="checkbox" [(ngModel)]="filters.pirceDiscount" />
            נכסים שמחירם ירד חדש
          </label>
        </div>
      </div>
      <div class="add-block">
        <span class="title"> מי המפרסם</span>

        <div class="add-checkboxs">
          <label>
            <input
              type="checkbox"
              [(ngModel)]="filters.publisherIsMiddleMan"
              value="broker"
            />
            תיווך
          </label>
          <label>
            <input
              type="checkbox"
              [(ngModel)]="filters.publisherIsContractor"
              value="developer"
            />
            יזם/קבלן
          </label>
        </div>
      </div>
      <div class="add-features">
        <div class="title">מאפייני הנכס</div>
        <div class="features">
          <span class="feature" *ngFor="let item of filters_.propertyFeatures">
            {{ item }}
          </span>
        </div>
      </div>
      <div class="add-block add-condition">
        <div class="title">מצב הנכס</div>
        <div>
          <label class="asset-stete-checkBox"
            ><input type="checkbox" [(ngModel)]="assetState[0]" /> חדש מקבלן (לא
            גרו בכלל)</label
          >
          <label class="asset-stete-checkBox"
            ><input type="checkbox" [(ngModel)]="assetState[1]" /> חדש (נכס בן
            עד 10 שנים)</label
          >
          <label class="asset-stete-checkBox"
            ><input type="checkbox" [(ngModel)]="assetState[2]" /> משופץ (שופץ
            ב-5 שנים האחרונות)</label
          >
          <label class="asset-stete-checkBox"
            ><input type="checkbox" [(ngModel)]="assetState[3]" /> במצב שמור
            (במצב טוב, לא שופץ)</label
          >
          <label class="asset-stete-checkBox"
            ><input type="checkbox" [(ngModel)]="assetState[4]" /> דרוש שיפוץ
            (זקוק לעבודת שיפוץ)</label
          >
        </div>
        <div class="range-slider">
          <div class="title">קומה</div>
          <div>
            <label><input type="checkbox" /> מרתף</label>
            <label>
              <input type="number" placeholder="Min" />
              -
              <input type="number" placeholder="Max" />
            </label>
          </div>
        </div>
        <div class="range-slider">
          <div class="title">גודל דירה (במ״ר)</div>
          <div>
            <input type="number" placeholder="0" />
            +
            <input type="number" placeholder="500" />
          </div>
        </div>

        <div class="date-select">
          <div class="date-container">
            <div class="title">תאריך כניסה</div>
            <div class="date">
              <input class="date-input" type="date" placeholder="dd/mm/yyyy" />
              <label class="date-checkbox">
                <input type="checkbox" />
                כניסה מיידית
              </label>
            </div>
          </div>
        </div>

        <div class="free-search"></div>
        <div class="title">חיפוש חופשי</div>
        <div class="text-serch">
          <input type="text" placeholder="חיפוש חופשי" />
        </div>
      </div>

      <div class="border"></div>
    </div>
    <footer>
      <button class="ok-btn" (click)="applyFilters()">אישור</button>
      <button class="reset-btn" (click)="resetFilters()">איפוס</button>
    </footer>
  </div>
</div>
