* {
  background-color: rgb(54, 54, 54) !important;
  color: #cccccc !important;
  z-index: 40 !important;
  list-style: none !important;
  list-style: none !important;
  text-decoration: none !important;
}

.footer-content {
  direction: rtl;
  text-align: right;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 950px;
  margin: auto;
}

.app-explanation {
  font-weight: 400;
  margin-top: 50px !important;
  margin-bottom: 40px !important;
}

.app-explanation p,
.AllRightAreSave div {
  text-align: center !important;
  margin: 0 !important;
  padding: 0 !important;
  color: rgb(153, 153, 153) !important;
  line-height: 16.1px !important;
}

.AllRightAreSave {
  font-size: 12px;
}
.categories {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  gap: 1rem !important;
  justify-content: space-between !important;
  margin-bottom: 3rem;
  width: 100%;
}

.categories div {
  text-align: start !important;
  padding: 0 !important;
  margin: 0 !important;
}

.category-title {
  font-size: 17px !important;
  font-weight: 500 !important;
  margin-bottom: 0.5rem !important;
  color: #ffffff !important;
}

.two-col {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.line {
  color: transparent !important;
  background-color: #606060 !important;

  margin: 1rem;
  width: 420px;
  z-index: 10000;
}

.footer-links a {
  color: rgb(153, 153, 153) !important;
}

.footer-links {
  display: flex;
  direction: rtl;
  justify-content: space-between;
  gap: 2rem;
}

.footer-links a:hover {
  text-decoration: underline !important;
}

.logos img {
  width: 20px;
  height: 20px;
  background-color: #000000 !important;
}

.logos {
  display: flex;
  gap: 20px;
  margin-bottom: 1rem;
}

.circle {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #000000 !important;
}

.flex-center,
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-img {
  transform: translateX(2px);
}

.version {
  color: #ffffff !important;
  line-height: 16.1px !important;
}

.align-start {
  text-align: start !important;
  width: fit-content;
  margin-right: 60px;
}

.align-text-end li {
  width: fit-content !important;
  margin-right: 75px;
  flex-wrap: nowrap !important;
}

.align-text-center li {
  margin-right: 1.5rem;
}

.font18 {
  font-size: 18px !important;
}

.categories-favorite-page {
  margin-top: 80px;
  margin-bottom: 1.5rem;
  gap: 3rem;
}

.circle {
  cursor: pointer;
}

.font16 {
  font-size: 16px !important;
}
