* {
  background-color: rgb(54, 54, 54) !important;
  color: #cccccc !important;
  z-index: 40 !important;
  list-style: none !important;
  list-style: none !important;
  text-decoration: none !important;
}

.footer-content {
  direction: rtl;
  text-align: right;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-height: 561.4px;
}

.app-explanation {
  font-weight: 400;
  margin: 50px !important;
}

.app-explanation p,
.AllRightAreSave div {
  text-align: center !important;
  margin: 0 !important;
  padding: 0 !important;
  color: rgb(153, 153, 153) !important;
}

.AllRightAreSave {
  font-size: 12px;
}
.categories {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  width: 950px;
  gap: 1rem !important;
}

.categories div {
  text-align: start !important;
  padding: 0 !important;
  margin: 0 !important;
}

.category-title {
  font-size: 18px !important;
  font-weight: 500 !important;
  margin-bottom: 1rem !important;
}

.two-col {
  display: flex;
  justify-content: start;
  gap: 1rem;
}

.line {
  color: transparent !important;
  background-color: #5a5a5a !important;

  margin: 1rem;
  height: 1px;
  width: 420px;
  z-index: 10000;
}

.footer-links a {
  color: rgb(153, 153, 153) !important;
}
