<footer>
  <div class="footer-content">
    <div class="app-explanation">
      <p>
        מחפשים דירות להשכרה? בלוח נכסים להשכרה של יד2 תמצאו בקלות ובמהירות. מאגר
        הנכסים להשכרה הענק והעדכני שלנו עומד לרשותכם – כל
      </p>
      <p>
        שעליכם לעשות הוא להקליד את פרטי הנכס שמעניין אתכם (מחוז, אזור, ישוב, סוג
        נכס, מספר חדרים וכו') ומנוע החיפוש שלנו יסנן עבורכם את המודעות
      </p>
      <p>
        הרלוונטיות ביותר. מחפשים דירה להשכרה באזור ספציפי? לחצו על "הצג על גבי
        מפה" ובחרו באזור הגיאוגרפי שבו אתם מעוניינים למצוא דירה להשכרה.
      </p>
      <p>
        המערכת תסמן עבורכם את מיקומי הדירות הזמינות, ותוכלו להקליק על כל סימון
        כדי לצפות במודעה ובפרטי ההתקשרות עם בעלי הדירה.
      </p>
    </div>

    <div class="categories">
      <div>
        <li class="category-title">נדל"ן</li>
        <li>מכירה</li>
        <li>השכרה</li>
        <li>כונס נכסים</li>
        <li>דירות חדשות</li>
        <li>Yzer - בונים החלטות חכמות</li>
        <li>Yadata - הערכת שווי נכס</li>
      </div>

      <div class="categories-block">
        <li class="category-title two-col align-start">רכב</li>
        <div class="two-col">
          <span>
            <li>פרטיים ומסחריים</li>
            <li>משאיות</li>
            <li>אופנועים</li>
            <li>קטנועים</li>
            <li>כלי שייט</li>
          </span>
          <span>
            <li>מיוחדים</li>
            <li>אביזרים</li>
            <li>מחירון רכב</li>
            <li>מימון רכב</li>
          </span>
        </div>
      </div>

      <div class="categories-block">
        <li class="category-title">יד שנייה</li>
        <li>לכל המוצרים</li>
        <li>ריהוט</li>
        <li>סלולרי</li>
        <li>מוצרי חשמל</li>
        <li>אופניים</li>
      </div>

      <div class="categories-block">
        <li class="category-title">דרושים</li>
        <li>כל הקטגוריות</li>
        <li>חברות מובילות</li>
        <li>דרושים הייטק</li>
        <li>קורות חיים</li>
        <li>מגזין קריירה</li>
        <li>סוכן חכם</li>
      </div>

      <div class="categories-block">
        <li class="category-title">עוד באתר</li>
        <li>חיות מחמד</li>
        <li>בעלי מקצוע</li>
        <li>מגזין יד2</li>
      </div>
    </div>
    <div class="logos">
      <div class="circle"><img src="assets/images/apple.svg" alt="" /></div>
      <div class="circle">
        <img class="google-img" src="assets/images/google-play.svg" alt="" />
      </div>
      <div class="circle"><img src="assets/images/facebook.svg" alt="" /></div>
      <div class="circle youtube-img">
        <img src="assets/images/youtube.svg" alt="" />
      </div>
    </div>

    <div class="AllRightAreSave">
      <div>
        כל הזכויות שמורות לחברת קורל תל מפעילות לוח יד2 - לוח מודעות: דרושים,
        דירות להשכרה, בתים למכירה, בתים להשכרה, העברת בתים, הובלות, לימודים,
        קניות, בעלי מקצוע, אצבע, תיירות ועוד. אין
      </div>
      <div>שימוש בכל התכנים המופיעים בלוח יד2</div>
    </div>
    <div class="line">.</div>

    <ul class="footer-links">
      <li><a href="#">תקנון</a></li>
      <li><a href="#">הצהרת נגישות</a></li>
      <li><a href="#">מדיניות פרטיות</a></li>
      <li><a href="#">מפת האתר</a></li>
      <li><a href="#">צור קשר</a></li>
      <li><a href="#">קריירה ביד2</a></li>
    </ul>

    <p class="version">גרסה:prod</p>
  </div>
</footer>
